[2016-05-02 21:27] wrwilliams opened #1 "test_mem_* fails on 9.2.x"
As per subject.

[2016-05-02 21:27] wrwilliams opened #2 "pc_add_library fails in attach mode on 9.2.x"

[2016-05-02 21:27] wrwilliams opened #3 "pc_tls fails"

[2016-05-02 21:32] wrwilliams opened #4 "InstructionAPI disassembly should match AT&T syntax"
* Addresses should be in bracket/paren form depending on architecture
* Binary functions in SIB expressions should evaluate to commas
* Immediates should get architecture-appropriate decorators
* Implicit operands should be hidden from disassembly
* Most appropriate register name should be chosen based on the instruction
* Dereference sizes should decorate dereferences appropriately.

[2016-05-03 13:30] wrwilliams commented on #1
Appears that we're marking loadsnstores uninstrumentable. So there are two problems:

1) Test should include non-relocatable copies of loadsnstores in its search; the memory instrumentation part of the test depends on whether we can instrument, not how we reach instrumentation
2) We should investigate whether loadsnstores is being misparsed

Also recommend splitting out all of our tests that assum

[2016-05-03 20:34] mxz297 opened #5 "Slicing does not correctly apply ABI"
Currently, the ABI is used to kill registers whenever a call instruction is reached, regardless of whether users want to perform inter-procedural slicing or not.

The correct behavior is to apply ABI along with CALL_FT edges. If the user wants to perform inter-procedural slicing, the slicer should not follow CALL_FT edges.

[2016-05-04 04:32] jdetter opened #6 ""Bad addressing mode!" in F23 libm.so"
Issue from Josh Stone. There are two separate issues here, master has the commits that removed the `am_VR` addressing mode from `instructionAPI`. However, it doesn't have the commits that removed `am_VR` from the addressing modes enum and the instruction table. There are still around 5 instruction in the table in master that have this addressing mode, that was fixed with a commit on the VEX branch

[2016-05-04 06:44] jdetter commented on #6
The overview of the problem is here in `InstructionDecoder-x86.C`:

[code]

if `doIA32Decode` is called and it contains an invalid prefix, it will cause the instruction to have a nullptr as it's instruction table entry. This caused a null pointer dereference in `decodeOperands`. Fixed with adding extra checks to `decodeOperands`.

[2016-05-04 06:44] #6 closed

[2016-05-04 18:00] wrwilliams commented on #1
Loadsnstores is being misparsed, and it appears to be because of a VEX decoding bug. John, can you verify that your VEX fixes also result in the memory tests running cleanly?

[2016-05-04 18:45] cuviper opened #7 "LivenessAnalyzer::isMMX assertion failure"
Using the VEX branch (commit 0e9c1b1af9d2a263b34a0630751d2cecfa3cae05), I've triggered this assertion:

    Assertion `((machReg.val() & x86::MMX) == x86::MMX) == ((machReg.val() & x86_64::MMX) == x86_64::MMX)' failed.

`x86::MMX` is `0x60000`, `x86_64::MMX` is `0x90000`, and that value is `0x18062001`.

You can reproduce with the following C++11 program:

mutatee: [stap.gz](https://github.com/dyn

[2016-05-04 19:17] jdetter commented on #1
How do I run the test?

[2016-05-04 19:52] wrwilliams commented on #1
Check out the testsuite repo (sibling of this one). Configure it against your installed copy of dyninst, build, and install it; this will give you a testsuite/ directory in your dyninst/bin install location. In the test suite, run 'test_driver -test test_mem_1'. You'll need your library search path to include your dyninst library directory and DYNINSTAPI_RT_LIB pointing to the libdyninstAPI_RT.so

[2016-05-04 20:53] jdetter commented on #7
This was probably caused by me merging master into VEX, I should have this figured out pretty quickly.

[2016-05-04 21:01] mcfadden8 opened #8 "./runTests -test test1_1 fails on ppc64 platform"
[ppc64.verbose.debugstartup.txt](https://github.com/dyninst/dyninst/files/249567/ppc64.verbose.debugstartup.txt)
[ppc64.verbose.txt](https://github.com/dyninst/dyninst/files/249566/ppc64.verbose.txt)

test1_1 causes a core dump (I can provide that if needed).  The two log
files attached are from two separate runs.  One with and one without
DYNINST_DEBUG_STARTUP set.

[2016-05-04 21:02] mcfadden8 commented on #8
From Bill Williams:
The debugging asserts in emitElf64.C at lines 2123 and 2127 should go away; they're *obviously* x86-only sanity checks.

[2016-05-04 21:02] mcfadden8 commented on #8
I removed those lines, recompiled and seem to have made it to the next
layer of the onion.  The test still fails.  Logs attached.
[ppc64.verbose.debugstartup(1).txt](https://github.com/dyninst/dyninst/files/249572/ppc64.verbose.debugstartup.1.txt)
[ppc64.verbose(1).txt](https://github.com/dyninst/dyninst/files/249573/ppc64.verbose.1.txt)

[2016-05-04 21:10] wrwilliams commented on #8
This next layer is fixed in a patch @morehouse will be sending up.

[2016-05-04 21:18] mcfadden8 commented on #8
Okay, will the patch be in dyninst or testsuite?

Also, will you be providing the dyninst patch to emitElf64.C from above?

[2016-05-05 14:11] wrwilliams commented on #8
Dyninst; commit ID is b3abbed and can be cherry-picked from the sfm branch.
I can commit the assertion cleanup once I get into the office today.

[2016-05-05 16:22] morehouse commented on #8
The patch has been applied to master and v9.2.x.  Could you try the test on ppc64 again?

[2016-05-05 17:40] jdetter commented on #7
Are you using GCC 5.3.1 to compile both dyninst and your tester? I'm having trouble getting the reproducer built when using 5.3.1.

[2016-05-05 17:51] cuviper commented on #7
Yes, Fedora 23's GCC 5.3.1.  What trouble are you having?  Just a wild guess, you probably need to enable `-std=c++11` because I did use newer features.  My command looks something like:

    g++ -g -Og -std=c++11 -I $DYN_INC -L $DYN_LIB bpatch-nop.cxx -ldyninstAPI -o bpatch-nop

[2016-05-05 21:08] mcfadden8 commented on #8
The behavior has changed but unfortunately the test is still not working on ppc64.  Instead the test seems to just hang.

Please see the following attached logs:
[ppc64.verbose.debugstartup(2).txt](https://github.com/dyninst/dyninst/files/251210/ppc64.verbose.debugstartup.2.txt)
[ppc64.verbose(2).txt](https://github.com/dyninst/dyninst/files/251209/ppc64.verbose.2.txt)

[2016-05-05 21:16] wrwilliams commented on #8
...14 call edges in _start? That's unusual, and either a sign that the toolchains have passed us by or that something is *really* confused.

There's a CFG generating example in the parseAPI docs; I'd be interested to see what we turn up for _start as compared with an objdump log.

[2016-05-05 21:21] mcfadden8 commented on #8
Is there something specific you would like for me to provide or is this question directed at someone else?

[2016-05-05 21:27] wrwilliams commented on #8
Sorry, yes, I can be more specific.

objdump -d dyninst_cxx_group_test.dyn_g++_64_none_none and cut out _start; that's what we're trying to parse to find main's entry point.
parseAPI/doc has a file, example.cc, that can be built as a standard mutator (-I/path/to/dyninst/include -L/path/to/dyninst/lib -lparseAPI). It takes a binary and outputs its CFG in dot form. There should be a subgraph for _st

[2016-05-05 21:39] mcfadden8 commented on #8
I've not used gists before so I don't know how to link to them from here.

Here is objdump output:
  1 000000001000463c <._start>:
  2     1000463c:  7c 29 0b 78    mr      r9,r1
  3     10004640:  78 21 06 e4    rldicr  r1,r1,0,59
  4     10004644:  38 00 00 00    li      r0,0
  5     10004648:  f8 21 ff 81    stdu    r1,-128(r1)
  6     1000464c:  7c 08 03 a6    mtlr    r0
  7     10004650:  f8

[2016-05-05 21:47] wrwilliams commented on #8
That's about as simple as it gets...that's not even an indirect tail call, that's a regular and boring tail call. The parser should say that _start is a single block ending in a tail call, which we should follow to libc_start_main and thence to the code that reads the pointer to main. And none of that is code that should have changed, except inasmuch as x86 parsing changes have had unsavory implic

[2016-05-05 21:50] wrwilliams opened #15 "Line info gets misfiled into incorrect Modules"
Reproducer: ask each module in libcommon.so for its line information. A tremendous number of file/line pairs that are nowhere in the include chain for serialize-xml.C nonetheless are assigned to that module.

[2016-05-05 22:10] mcfadden8 commented on #8
[My first gist attempt for requested objdump and CFG](https://gist.github.com/mcfadden8/46d152dcf9a331d052fbd5732d792b10)

[2016-05-05 22:16] wrwilliams commented on #8
Came through nice and clear. Thanks.

On Thu, May 5, 2016 at 5:10 PM, Marty McFadden <notifications@github.com>
wrote:

[2016-05-06 01:13] pefoley2 opened #16 "Missing htobe32 function under Visual Studio"
Broken by https://github.com/dyninst/dyninst/commit/080b3fac7422dc84c6e0d8a163fec12d8a3f002f#diff-79cd8ea5743e12f03821c4269fae3431R276
Visual Studio does not define a htobe32 function as far as I can tell.

[2016-05-06 01:19] pefoley2 opened #17 "Bundling cvconst.h"
On Windows, dyninst currently requires the DIA sdk for cvconst.h
Microsoft has recently released this header under the MIT licence at https://github.com/Microsoft/microsoft-pdb/blob/master/include/cvconst.h.
Might it make sense to bundle this header with dyninst to avoid the dependency on the DIA sdk being installed?

[2016-05-06 15:42] jdetter commented on #7
Sorry this took so long to fix, I had some really nasty issues with dyninst and gcc/libboost. This specific issue has been fixed, however I am now hitting a new assert that I think @wrwilliams  should take a look at.

[code]

[2016-05-06 16:01] pefoley2 opened #20 "Enable build only if .travis.yml is present option for repo"
See https://travis-ci.org/dyninst/dyninst/builds/128331714

[2016-05-06 16:05] wrwilliams commented on #7
That suggests something mismatched between the RTlib and Dyninst. Dyninst expects there to be a publicly visible dyn_sigaction and dyn_signal in its RTlib (on *nix) and will assert if it doesn't find one. Should be straightforward to diagnose in more detail with ~5-10 minutes on your VM.

[2016-05-06 16:07] wrwilliams commented on #20
Fixed.

[2016-05-06 16:07] #20 closed

[2016-05-06 16:17] jdetter commented on #7
So this is an environment issue and not a dyninst issue?

[2016-05-06 16:26] wrwilliams commented on #7
I'm still betting it's a Dyninst issue: either the RT is misbuilt and not exporting dyn_*, or findFunction is not finding what it ought to in the RTlib (possibly because of bad logic, possibly because it's not actually looking in the RTlib).

[2016-05-06 16:46] pefoley2 opened #21 "getABIVersion() not defined in Object-nt.h"
Broken by https://github.com/dyninst/dyninst/commit/6dd97f53de96d9bbe38f23626c84811624d0d74e
getABIVersion() is only implemented for elf objects.

[2016-05-06 17:42] mcfadden8 opened #23 "BPatch_function.C.o build failure on PPC64le"
Note (builds okay on x86_64).

I am seeing the following build failure:

[ 65%] Building CXX object dyninstAPI/CMakeFiles/dyninstAPI.dir/src/BPatch_function.C.o
In file included from /g/g0/martymcf/dyninst/dyninst/dyninstAPI/src/parse-cfg.h:49:0,
                 from /g/g0/martymcf/dyninst/dyninst/dyninstAPI/src/function.h:43,
                 from /g/g0/martymcf/dyninst/dyninst/dyninstAPI/src/BP

[2016-05-06 17:49] wrwilliams commented on #23
Missing a "using std::vector" there. @pefoley2, mind working with Marty on cleaning this up?

[2016-05-06 17:55] pefoley2 commented on #23
Sure, should be fairly straightforward.

[2016-05-06 18:00] mcfadden8 commented on #21
Argh.  I renamed the method and forgot to change the virtual one in Object.h.  Patch is here: [https://github.com/dyninst/dyninst/pull/24](https://github.com/dyninst/dyninst/pull/24)

Unfortunately, I do not have a Windows machine to test this.  Can someone try it to make sure it works?

[2016-05-06 18:04] pefoley2 commented on #21
https://ci.appveyor.com/project/wrwilliams/dyninst/build/1.0.6 shold let you know if the fix compiles properly.

[2016-05-06 18:09] pefoley2 commented on #23
Above PR should fix this.

[2016-05-06 18:22] mcfadden8 commented on #23
Yes, I applied the fix locally and confirmed that it now builds successfully.

[2016-05-06 18:25] mcfadden8 commented on #21
Please do not merge this patch yet.  I have discovered some (PPC64LE) proccontrol test problems and I need to determine whether it is related to this change or to others that have gone in to the tree.

[2016-05-06 18:29] pefoley2 commented on #21
I'm assuming you mean this error?
[  6%] Building CXX object CMakeFiles/testproccontrol.dir/src/proccontrol/proccontrol_comp.C.o
/home/peter/testsuite/src/proccontrol/proccontrol_comp.C: In member function ‘uint64_t ProcControlComponent::adjustFunctionEntryAddress(Dyninst::ProcControlAPI::Process::const_ptr, uint64_t)’:
/home/peter/testsuite/src/proccontrol/proccontrol_comp.C:343:16: error: ‘class

[2016-05-06 19:44] wrwilliams commented on #16
I can't find a clean endian swap outside of the network code either; boost has one but it's new in 1.58 (which is too new for us to depend on IMO). htonl will IIRC drag in a WinSock link dependency, which is absurd for an endian swap. Probably best addressed with the byte shuffling code that was there before, as Windows (in versions we support, at least) is guaranteed little-endian for the foresee

[2016-05-06 19:49] pefoley2 commented on #16
It looks like the "before" was simply not calling that function.
Maybe just ifdef it out if os==windows?

[2016-05-06 20:12] pefoley2 opened #26 "Warnings not being properly disabled under Visual Studio"
The /wd flags in warnings.cmake are being outputted to the .vcxproj files, but not passed down to the cl.exe command line, causing a flood of warning spam.

[2016-05-07 16:44] #23 closed

[2016-05-07 16:47] #21 closed

[2016-05-09 16:48] wrwilliams opened #29 "Dataflow documentation: Intro/Abstractions"
Needs to be written.

[2016-05-09 16:48] wrwilliams opened #30 "Dataflow documentation: Slicing and SymEval"
Needs to be written

[2016-05-09 16:48] wrwilliams opened #31 "Dataflow documentation: Stack Analysis"
Needs to be written

[2016-05-09 16:59] wrwilliams opened #32 "PLT entries misparsed on ARM"
Our PLT parsing mechanism on ARM is not doing the right thing, and is quite brittle. We should follow what the linker does in its generation of PLT stubs rather than relying on magic numbers/sizes/instruction sequences wherever possible.

[2016-05-09 17:07] wrwilliams commented on #17
Quite likely sensible, and IIRC dbghelp.dll is part of a regular Windows install. I think give it its own directory with MS copyright and license files, and clean out the configuration option.

[2016-05-09 20:03] pefoley2 commented on #17
Resolved by #18

[2016-05-09 20:26] wrwilliams commented on #8
Is the system that's producing this bug running the v2 ABI?

[2016-05-09 20:27] mcfadden8 commented on #8
No it it not.  It is running Big Endian and is still running v1.

[2016-05-09 20:34] wrwilliams commented on #8
Then this is definitely still a fix for 9.2, not a defer until we properly handle ABIv2.

DYNINST_DEBUG_STARTUP has told me all it can (and I misread the initial startup logs; we're allowed to be confused by libc's _start function, but not the executable's); DYNINST_DEBUG_INST looks like the next place to look for useful data.

If this is on vulcan (or any other CZ machine sharing that filesystem?

[2016-05-09 20:46] mcfadden8 commented on #8
Okay, these particular tests are being run on the restricted network.  Vulcan should work and I believe you should be able to git clone directly from github (I am able to at any rate)?

[2016-05-09 20:52] wrwilliams commented on #8
Also true. I presume your fork is up-to-date?

[2016-05-09 20:56] mcfadden8 commented on #8
Pretty close.  I haven't pull over the three commits you just did yet.

[2016-05-09 21:40] mcfadden8 commented on #8
FYI,

When I run this on Vulcan, I get slightly different results:

./runTests -test test1_1
TEST                       COMP   OPT  ABI MODE     THREAD  LINK    PIC     RESULT
test1_1                    g++    none 64  create   NA      dynamic nonPIC  PASSED
test1_1                    g++    none 64  rewriter NA      dynamic nonPIC  CRASHED (Group Teardown)

[2016-05-09 22:16] wrwilliams commented on #8
Very interesting; there's some environmental difference on the RZ machine that's screwing up create. Do you know if that's one I can get access to?

[2016-05-09 22:18] wrwilliams commented on #15
Description is incorrect. The line info is going into the correct module; it's the functions that are going into incorrect modules, and so when we search for line info in the function's "containing module", we find nothing relevant. Investigation continues...

[2016-05-09 22:24] mcfadden8 commented on #8
I believe so yes.  The machine is rzuseq.

[2016-05-09 22:42] mcfadden8 commented on #8
Something has changed over the last 5 days.   After pulling over all of the latest and greatest, both machines are producing the same results which are both different from what was originally reported.

Here is what I see now on both Vulcan and Useq:
$ ./runTests -test test1_1
TEST                       COMP   OPT  ABI MODE     THREAD  LINK    PIC     RESULT
test1_1                    g++    none

[2016-05-10 00:13] wrwilliams commented on #8
Okay, good. I'm getting the same thing on vulcan, and it looks like all our rewriter tests are producing broken binaries. This is not a surprise, given that I refactored that code pretty heavily. I'm going to get a more useful set of issues from my current test run, split things out, and close this one.

And yes, I can get to rzuseq but there's no point if it and vulcan are in sync with each other

[2016-05-10 00:16] wrwilliams opened #33 "test1_33 fails on ppc64"

[2016-05-10 00:16] wrwilliams opened #34 "rewriter tests fail/crash on ppc64"
Something is systemically wrong with rewriting on this platform.

[2016-05-10 00:17] wrwilliams opened #35 "Test 4_1, 4_2, and 4_4 fail on ppc64"
Reproduced on vulcan. All modes. 4_3, oddly, passes.

[2016-05-10 00:19] wrwilliams opened #36 "ptrace_peektext failing and producing spam in thread tests"
Tests are passing, though. Definitely happens on ppc64, and IIRC also on x86.

@cuviper, mind taking a look at this one and seeing whether we should swallow the warning, handle the failure better, or both?

[2016-05-10 00:21] wrwilliams commented on #33
Obsoleting #8.

[2016-05-10 00:23] wrwilliams commented on #8
Replaced by #33, #34, #35, #36.

[2016-05-10 00:23] #8 closed

[2016-05-10 00:25] wrwilliams commented on #33
Jump table parsing is failing. Will get a parse log and toss it in gist tomorrow.

[2016-05-10 00:28] wrwilliams commented on #35
All of these are due to a broken exit callback and not receiving the exit code correctly.

[2016-05-10 01:32] cuviper commented on #36
I can look, but I need more info.  A quick smoke test of `test_thread_1` through `_8` looks fine here on x86_64 Fedora 23.  What OS/kernel/arch is having trouble? With what test args?

[2016-05-10 14:45] mxz297 commented on #33
I think I know the problem here. Currently parseAPI will invoke the new jump table parsing on every platform, which will then invoke the instruction semantic engine on Power or ARM and will fail miserably. I will get this fixed soon.

[2016-05-10 15:17] mxz297 commented on #33
The fix is in #37.

[2016-05-10 15:21] mxz297 commented on #32
Fix this issue by skipping the first two plt entry size on ARM #37.

This is not the ideal fix, but our alternative does not work. We tried to look up symbols in the .dynsym section to locate the address of a PLT stub, but this method would fail as there could be a PLT stub and a function in .text and these two have the same name; the symbol in .dynsym points to the function entry in the .text sec

[2016-05-10 18:04] jdetter commented on #7
@wrwilliams When I run the reproducer, the first message that comes out is:

[code]

Do you know how I could fix this?

[2016-05-10 18:11] mxz297 commented on #7
@jdetter Set DYNINSTAPI_RT_LIB to point to the full path of your installed libdyninstAPI_RT.so. You need the full path of the dyninst runtime rather than just the directory containing the libdyninstAPI_RT.so.

[2016-05-10 18:13] jdetter commented on #7
I think I found it, building the 32 bit version of RTlib is disabled by default by CCMake.

@mxz297, thanks! If enabling the 32 bit version RTlib doesn't work I will try that.

[2016-05-10 18:50] jdetter opened #38 "Master not building with boost 1.58.0 (undefined references)"
When building master, I am now having an issue with building against boost 1.58.0. I have also merged master into VEX and I am having the same issue. Are we no longer supporting libboost 1.58.0?

[code]

[2016-05-10 18:57] cuviper commented on #38
Most likely from ee24199bd02fe268f635c8cf700989d07c9d4737, which claimed to *solve* linking problems.
cc @mcfadden8

[2016-05-10 19:02] mcfadden8 commented on #38
Those are the errors I saw and reported (via email) and removing those lines as prescribed by @wrwilliams did solve the problems for me on multiple platforms.  Which version of master branch is being run?

[2016-05-10 19:07] cuviper commented on #38
FWIW master (aec8864643991cecd850ef692ddfee79a4498ffd) links fine for me on Fedora 23 x86_64 with boost-1.58 et al.

[2016-05-10 19:10] mcfadden8 commented on #38
I noticed these errors after picking up 4c6360a9a0bf6b3cb2a54508b1b155e672ddd47e

[2016-05-10 19:13] jdetter commented on #38
Master was at 015583ff65350606b90c1fc0c36999a780531d90 when I merged it into VEX. I will try to pull and rebuild.

[2016-05-10 19:25] cuviper commented on #36
OK, I've reproduced this with `test_thread_1` on PPC64, both RHEL6 and RHEL7.  It repeats:

[code]

According to the ptrace manpage:

       EIO    request is invalid, or an attempt was made to read from or write
              to  an  invalid area in the parent’s or child’s memory, or there
              was a word-alignment violation, or an invalid signal was  speci-
              fied during a r

[2016-05-10 19:37] wrwilliams commented on #36
And the PPC standard stepper is designed to allow failures in memory reads, treating them as errors.
We probably should get rid of the warning spam; ProcControl users can attempt to read arbitrary addresses (as is the case here), and we should simply return errors when we detect them.

[2016-05-10 19:41] wrwilliams commented on #33
Are our powerpc semantics not sufficient to cover jump tables, are they incompatible enough that the new algorithm can't use them, or is the algorithm itself not handling some common PPC idiom? This *should* work.

ARM not working is obviously not relevant, as we're not claiming to have a complete ParseAPI port for this release.

[2016-05-10 20:13] jdetter commented on #38
Successful build with latest pull from master.

[2016-05-10 20:13] #38 closed

[2016-05-10 20:24] mxz297 commented on #33
For power, we currently have 32-bit instruction semantics and nothing for 64-bit instruction semantics. So the new jump table code should work for ppc32, but not ppc64.

The new jump table code was going to be invoked on ppc64 and ARM, which causes crashes. I changed jump table parsing on power to use the old heuristics and to simply give up on ARM.

I see your point that the new jump table code s

[2016-05-10 20:32] cuviper commented on #36
OK, what's your preference -- comment out? `#ifdef PTRACE_DEBUG`? remove altogether?

[2016-05-10 20:42] wrwilliams commented on #33
I'll see if I can check ppc32 on vulcan.

Next question: does the newest ROSE have ppc64 semantics in any useful form? More generally, can you write up issues on non-x86 jump table parsing and what we need in order to move it to the new algorithm and create a non-9.2 milestone for them?

[2016-05-10 20:44] wrwilliams commented on #36
I think treat as low-level debug output (so ptrace_cerr/ptrace_printf for now, tuned even lower if/when we get a real logger in place).

[2016-05-10 20:50] mplegendre commented on #36
I'd suggest just killing the prints.  At that level debugging prints will be too noisy.  Higher-level code in ProcControlAPI will log real read/write errors with more context in its debugging output.

This isn't the first time someone left debugging prints in that spot.  I've typically just killed the prints there before.

[2016-05-10 20:53] wrwilliams commented on #36
Listen to Matt on this one, then. It's been a while since I had the (dis)pleasure of debugging via proccontrol logs, but absolutely if we've got more context higher up we should use that instead.

[2016-05-10 21:33] jdetter commented on #7
Even after remerging with master, enabling 32 bit RTlib, and setting the environment variable I am still getting the same assert. I will have to look at this with either @wrwilliams or @mxz297.

[2016-05-10 23:29] #36 closed

[2016-05-10 23:30] wrwilliams commented on #7
gist me a DYNINST_DEBUG_STARTUP log (set in environment) and I'll see what's going on here.

[2016-05-10 23:51] jdetter commented on #7
I figured it out from the log, I was setting `DYNINSTAPI_RT_LIB="/usr/lib"` instead of the actual library. The reproducer binary now runs to completion with no warnings or errors.

Here is the failure log if you're interested:

[code]

And here is the log after correctly setting the environment variable:

[code]

[2016-05-10 23:51] #7 closed

[2016-05-11 00:42] jdetter commented on #1
I found the source of the issue, I should have it figured out by tomorrow morning.

[2016-05-11 14:27] pefoley2 opened #40 "MachRegister::getReturnAddress not implemented on x86/x86_64"
I'm trying to manually create a Stackwalker::Frame object by passing in ra, sp and fp.
It appears that MachRegister::getReturnAddress is the best way to get the ra register, but it's not currently implemented on x86. Is there another way to get the necessary context to create a frame object?
For reference, I'm trying to get the parent function from within a snippet inserted at the entry point of t

[2016-05-11 15:03] wrwilliams commented on #40
Is this in a rewritten binary? There's a stepper in Dyninst itself that will handle this, but it depends on the mutator knowing where it's put things. Alternately, you can force the rewriter (or Dyninst in create/attach mode, for that matter) to emit stack frames (there's a BPatch flag for that).

I should also note that the ARM-only interface there is deliberate. Unlike x86 (but like power) the A

[2016-05-11 16:09] pefoley2 opened #41 "dyninstAPI documentation typo"
In the description of the BPatch class, the documentation contains the api call
void setInstrStackFrame(bool) instead of void setInstrStackFrame**s**(bool)

[2016-05-11 16:23] pefoley2 commented on #40
I'm now calling setInstrStackFrames(true), but I'm still not getting the function names for runtime rewriting, and the rewritten binary is crashing with:

Program received signal SIGSEGV, Segmentation fault.
__memcpy_sse2_unaligned () at ../sysdeps/x86_64/multiarch/memcpy-sse2-unaligned.S:168
168     ../sysdeps/x86_64/multiarch/memcpy-sse2-unaligned.S: No such file or directory.
(gdb) bt
#0  __mem

[2016-05-11 17:34] pefoley2 commented on #40
I got a stackwalker debug log and it looks like the addresses are somehow getting messed up. http://termbin.com/8beh
e.g. [walker.C:524] - Returning frame with RA 50001247, SP 7ffd595eebe0, FP 7ffd595eedf0

[2016-05-11 17:44] pefoley2 commented on #40
Is there a way to get a valid RA on x86 so that i can lookup the function name?

[2016-05-11 18:18] wrwilliams commented on #40
That's one of the points of the Dyninst internal instrumentation stepper. We don't actually preserve how we've relocated code when we rewrite. There should be symbols corresponding to the relocated function, though. And that RA looks quite likely to be somewhere in .dyninstInst (at a guess, the section starts at 0x50000000?)

[2016-05-11 18:35] pefoley2 commented on #40
Ah, that makes sense.
What I'm really trying to track is the relationships between functions by figuring out the name of the function which called foo(). Is there a good way to track this information? Unfortunately the various APIs I've looked at so far haven't worked.

[2016-05-11 18:42] wrwilliams commented on #40
Statically, build a call graph. Dynamically, do stackwalking, but ideally on as unperturbed an application as possible.

[2016-05-11 18:55] pefoley2 commented on #40
I guess the problem is most likely that I'm inserting multiple snippets at both the entry and exit points of each function in the program I'm instrumenting. What I'd like to be able to do is distinguish between a()->b() and c->b(), but it doesn't seem like the existing APIs let you climb out of a snippet in the called function to figure out what the original caller function was.

[2016-05-11 18:58] cuviper commented on #40
If you only care about entry and exit, can you just instrument the call site?

[2016-05-11 19:09] pefoley2 commented on #40
Yeah, I'm going to try that next.

[2016-05-11 20:39] jdetter commented on #1
We are passing all of the memory tests, however we are failing 11 of the other tests on intel.

Gist: https://gist.github.com/jdetter/d1516531aac51731a91626f4a113ef11

[2016-05-11 20:55] wrwilliams commented on #1
Okay. For test_pt_ls you should confirm that parseThat is not in your path, fix that, and rerun. The test5 series in rewriter mode is a new set of failures compared to master AFAIK. Run the individual ones with -verbose -log and see what turns up.

Overall this looks promising, though.

[2016-05-12 17:57] jdetter commented on #1
To confirm, `parseThat` should not be in my path right? Even when I removed it from my path, it still didn't pass unfortunately. I am working on the series 5 tests now.

[2016-05-12 18:06] jdetter commented on #1
All of the series 5 tests have similar output to this:

[code]

They all complain about logstatus not being a defined symbol.

Full test5_1 failed log:

[code]

[2016-05-12 18:23] wrwilliams commented on #1
parseThat *should* be in your path; historically failures have been because it's not.

Re: test5_*: set DYNINST_REWRITER_NO_UNLINK=1 in your environment. That will preserve the rewritten binaries in a binaries/ directory. We can go from there (probably interactive becomes most efficient at that point).

[2016-05-12 18:49] jdetter commented on #1
The rewriter portion of the test is passing now for test_pt_ls, however series 5 tests are failing. I have now potentially run into a slicing issue, which I will make as a separate issue.

[2016-05-12 19:06] jdetter opened #44 "Possible slicing/frame issue"
While dissassembling `stdlibc++.so` on Fedora 21, I ran into an issue with an instruction (non VEX) we didn't have implemented (`rdrand`). I implemented that instruction and now it appears dyninst is running into a slicing issue.

The binary I am disassembling is available [here](http://cs.wisc.edu/~detter/libstdc++.so).

The function that contains the issue starts at 0x8d710. Dyninst knows that t

[2016-05-12 19:07] jdetter commented on #1
I am running into a really nasty issue with a LOCK prefixed instruction that won't disassemble, I will hopefully have it figured out by today or tomorrow.

[2016-05-12 19:25] morehouse commented on #31
Wrote the initial documentation and pushed to v9.2.x.  If all looks good, you can close this issue.

[2016-05-12 19:38] mxz297 commented on #44
After some careful looking, I don't believe this is an issue. The function truly starts at 0x8d710 and then it jumps to 0x8d6f0. This jump at 0x8d6f0 may or may not in fact be a tail call, but at least our current tail call identification code says it is not a tail call. Therefore, code at 0x8d6f0 is also considered parts of the function starting at  0x8d710.

The takeaway is that Dyninst allows t

[2016-05-12 19:38] #44 closed

[2016-05-12 19:38] cuviper commented on #44
Well, objdump is not trying to be clever about where the function ends.  It just splits based on the symbol table, and the stripped binary doesn't tell about unexported symbols.  Your file has one symbol at `8d710` and another at `8d760`, so that's all objdump considers.

So I guess `dyn_dump` is trying to be more clever.  It doesn't know that `8d6f0` was originally an unexported function, but fro

[2016-05-12 19:44] cuviper commented on #44
If you had `libstdc++.so`'s debuginfo, from `gcc-base-debuginfo`, then hopefully `dyn_dump` would now see those unexported functions and realize all of the tail calls.
(But objdump doesn't implicitly read debuginfo, only the object at hand.)

[2016-05-13 14:44] wrwilliams commented on #31
Incorporated in #45. If proofreading turns up areas we need to expand or fix, create new issues for those.

[2016-05-13 14:44] #31 closed

[2016-05-13 17:58] wrwilliams commented on #33
Update: ppc32 is not practical for us to test. A naive implementation of ppc64 based on only what's in ppc32 is missing many critical instructions. Separate out the reversion to the old jump table algorithm from #37 and merge to master. I can create a new issue for the ppc64 semantic bits that are missing.

[2016-05-13 17:58] #33 closed

[2016-05-13 18:00] wrwilliams commented on #40
Alternately (and faster), your entry/exit snippets can store the current context in (possibly per-thread) mutatee-side data structures and build your calling context trees that way.

Closing this as the discussion has gone far afield from the original issue, which I'm stamping "by design".

[2016-05-13 18:00] #40 closed

[2016-05-13 19:14] cuviper opened #48 "ERROR: failed bind/eval"
I'm seeing a lot of these errors:

[code]

FWIW, the two places this error is printed in `Movement-adhoc.C` are not new.

Using master (4b3163b2 + #46 + #47) on Fedora 23 x86_64.

[2016-05-13 19:58] wrwilliams commented on #48
This crept in as I cleaned out the ppc32/ppc64 mess; it appears there must be something rotten on x86 as well. It should just be something using x86 when it should be using x86_64; I'll try to track it down.

[2016-05-13 21:01] #48 closed

[2016-05-13 23:06] jdetter commented on #1
test `test_pt_ls` passing for the rewriter portion, still failing for the create portion. All other tests are unchanged (failing 9 now). However, `runTests --all` finishes with this:

[code]

[2016-05-13 23:15] jdetter commented on #4
Should we make a separate branch for this since it's not going into 9.2.x?

[2016-05-14 00:07] wrwilliams commented on #4
Sure. We can of course make incremental changes and port them over but this deserves a topic branch.

[2016-05-14 01:58] jdetter commented on #4
Made new branch `att_syntax`, I will start working on this this weekend.

[2016-05-14 02:01] jdetter commented on #1
Since the mem tests are now passing, I think we should move this into separate issues.

[2016-05-14 02:01] #1 closed

[2016-05-14 02:03] jdetter opened #50 "Master timeout on test4_2 and test4_4 on Fedora23"
`test4_1` and `test4_3` pass and finish quickly, however `test4_2` times out:

[code]

[2016-05-14 15:49] wrwilliams commented on #50
So fork and/or exit callbacks may be more generally broken than just PPC. Good to know.

Just to double-check: this does, or does not, happen on the same system on master?

[2016-05-16 15:01] jdetter commented on #50
I am getting the same behavior with `test4_2` and `test4_4` on the master branch on my machine. It also looks like master is missing a lot of the addressing mode fixes because a lot of bad addressing mode asserts are thrown during the other tests.

[2016-05-16 15:04] jdetter commented on #50
Gist of master run on `5/16/2016 at 10:00 AM`: https://gist.github.com/jdetter/7f048ffcef511969e4e248d2e55c9e2d

[2016-05-16 16:19] wrwilliams commented on #50
Seems likely there's something non-trivially different on your development box, then. What's the diff from RHEL6, gcc5.3, glibc 2.12, kernel 2.6.32?

[2016-05-16 16:23] jdetter commented on #50
Basically everything:

[code]

I will retry both VEX and master on the instructional machines.

[2016-05-17 13:29] wrwilliams commented on #35
Needs a cross-check against #50 to see whether there's any common root cause.

[2016-05-17 15:45] jdetter commented on #35
Did the test finish due to failure or due to a timeout?

[2016-05-17 16:10] wrwilliams commented on #35
On ppc, they're straight failing. Do we get meaningful output on x86 if they're run individually with -verbose -log?

[2016-05-17 17:37] jdetter commented on #35
On Fedora 23, it wouldn't terminate even after 20 minutes of run time:

[code]

I'm rebuilding dyninst on the instructional machines with `-std=c++11` to fix the build issues we talked about. I will have testsuite results from that soon.

[2016-05-17 17:38] jdetter commented on #50
On Fedora 23, it wouldn't terminate even after 20 minutes of run time:

[code]

I'm rebuilding dyninst on the instructional machines with `-std=c++11` to fix the build issues we talked about. I will have testsuite results from that soon.

[2016-05-17 17:38] jdetter commented on #35
Posted in #50.

[2016-05-17 20:44] pefoley2 commented on #16
A cherry-pick of https://github.com/dyninst/dyninst/pull/19/commits/154b0307ac4d1c1a21f8cb4d02634b1ed5d35270 should resolve this issue.

[2016-05-17 20:52] jdetter opened #52 "Rewriting of binaries with GNU_RELRO segment fails on master"
[code]
Gist of debugging output available here: https://gist.github.com/jdetter/03f64facb53081cd19ae9ede5a5e5657

[2016-05-18 16:02] wrwilliams commented on #52
@jdetter: please retitle to "Rewriting of binaries with GNU_RELRO segment fails on master"
@cuviper: can you give this a sanity check? Valgrind says that we're writing uninitialized memory (allocated as part of a loadable segment) to disk; that memory is showing up (per readelf) at the end of the phdrs and stomping the GNU_RELRO entry. But my math says there shouldn't be a collision, SYMTAB_DEBUG_

[2016-05-19 14:16] jdetter commented on #50
Update for @wrwilliams, all proccontrol tests pass:

[code]

[2016-05-19 14:34] jdetter commented on #50
Now for whatever reason I'm failing all of the rewriter tests. All of the create tests that were passing before are still passing, however the rewriter tests are all failing.

[2016-05-19 14:35] wrwilliams commented on #50
Do you still have the local changes from working on test5_*? Back those out and sanity check.

[2016-05-19 14:41] jdetter commented on #50
Yup, that was the issue.

[2016-05-19 14:42] wrwilliams commented on #50
Well, good to know they're not going to work at all. :)

[2016-05-19 15:04] jdetter commented on #50
After running all of the tests again, and skipping test4*, I figured out that all of the fork tests are timing out as well.

[2016-05-19 15:32] jdetter opened #53 "Segfault when parsing binary with no functions"
This is a low priority issue, however parsing `crtend.o` on Fedora23 causes Dyninst to segfault. It is caused by the Block deconstructor:

[code]

It would appear `_obj` contains junk here.

**Valgrind output**

[code]

[2016-05-19 15:52] jdetter commented on #50
I think `test4_2` is waiting on a condition variable forever. Here is the gdb stack trace:

[code]

[2016-05-19 16:35] jdetter commented on #50
@wrwilliams  Debug Output (gist):

https://gist.github.com/jdetter/b8f50963401165a1d034a622122e65a0

[2016-05-19 16:39] jdetter commented on #3
I am passing this on VEX:

[code]

[2016-05-19 16:55] cuviper commented on #52
Sure, I will take a look.

[2016-05-19 17:11] wrwilliams commented on #50
Huh. That's an alleged continue that's not continuing.

Drop a ptrace_printf in proccontrol/src/linux.C after the ptrace call at 3349, and see whether we're actually sending the ptrace command. The last log message we have/expect is from a thread that's not actually the one true ptrace thread, and the simplest explanation is that we're never actually making the ptrace call that we say we are...if

[2016-05-19 17:18] jdetter commented on #50
Is ptrace_printf a function? I'm getting a not declared in scope error.

[2016-05-19 17:22] wrwilliams commented on #50
Sorry, pthread_printf.

[2016-05-19 17:28] wrwilliams commented on #3
Single-process single-thread is not a meaningful test here (the SPST under thread). If you run multithreaded (I think it's -mt, but -test pc_tls -all will get it for sure) you should see a bunch of failures on threads other than the main one; the failure mode has been that each thread grabs the TLS value that we expect from the first one.

[2016-05-19 17:32] jdetter commented on #3
Gist with ptrace printout:

https://gist.github.com/jdetter/69624b87944831350684a2266134a4e9

[2016-05-19 17:33] jdetter commented on #50
Gist with ptrace printout:

https://gist.github.com/jdetter/69624b87944831350684a2266134a4e9

[2016-05-19 17:43] wrwilliams commented on #50
...it is? I don't see anything corresponding to the ptrace calls that do go through on initial read.

[2016-05-19 17:51] jdetter commented on #50
I think I accidentally gave you the same log twice, my bad. Here is the actual log:

https://gist.github.com/jdetter/a625918d170b51cd808a7d3849c471ff

You can see my ptrace printout towards the end.

[2016-05-19 18:00] wrwilliams commented on #50
That looks like logging to stdout and not stderr...we need the insta-flush to get meaningful ordering.

[2016-05-19 18:07] jdetter commented on #50
I combined the outputs using:

[code]

Do you want them separate or together? Also do you want me to run again with I/O buffering turned off?

[2016-05-19 18:09] wrwilliams commented on #50
Together, no buffering.

[2016-05-19 18:29] jdetter commented on #50
Ok, so I didn't know all of the debug output was actually coming out of stderr already, so I just changed my printf to print to standard error. This should be completely unbuffered and in order:

https://gist.github.com/jdetter/c362e2d996624ff172cf6ae894ce8373

[2016-05-19 18:37] wrwilliams commented on #50
Well, we called ptrace, it returned no error, and the process didn't continue...that's what we technically describe as 'bad'.

Can you get a comparison log (with the same post-ptrace spam) from a RHEL6 machine where this passes?

[2016-05-19 19:00] jdetter commented on #50
It's very interesting that this test passes on the CSL machines but not on Fedora 23. I'm guessing it's because the CSL is still running 2.6.32 and I'm running 4.4.9 which is a pretty huge version gap. Something small may have changed in the kernel behavior.

Gist of CSL log: https://gist.github.com/jdetter/67243a5e81c3de6e04366188d193ab81

uname output Fedora 23:
[code]

uname output galapagos-12

[2016-05-19 19:13] jdetter commented on #3
Very interesting. I actually pass all of the tests on Fedora 23. However, I get a flood of warnings and failures running on the RHEL 6. Seems like another case where Fedora 23 and RHEL6 are not giving us the same behavior.

[code]

[2016-05-19 19:18] jdetter commented on #17
Can this be closed?

[2016-05-19 19:27] wrwilliams commented on #50
So the generator thread isn't entering hasLiveProc on the 4.4 machine...can you get an all-thread stack trace from where it's hanging? (thread apply all bt)

[2016-05-19 19:42] pefoley2 commented on #17
Not till the change has actually been merged into master, it's still just a pull request currently.

[2016-05-19 19:43] jdetter commented on #50
Entire backtrace:

[code]

[2016-05-19 20:17] wrwilliams commented on #50
Ugh. The condition variable broadcast towards the end of intCont should be pushing the generator loop around again from its condition variable wait, and the procpool CV has been waiting in both cases for quite some time.

Sanity-check time: is this a boost version issue and not a kernel version issue? The sequence of ptrace events looks equivalent up until the point where we just...don't.

[2016-05-19 20:34] jdetter commented on #50
What version of boost is installed on the CSL machines? I can build that from source and retry.

[2016-05-19 20:40] wrwilliams commented on #50
1.41 is what's in /usr.

[2016-05-19 20:42] jdetter commented on #50
Ok, I'm going to try `1.41`, if it finishes compiling before 6pm I will have the results tonight.

[2016-05-19 21:04] pefoley2 commented on #17
Rather than blocking on the whole pr, you could just cherry-pick https://github.com/dyninst/dyninst/pull/18/commits/682e01e12fbc2370350d5d10f7b33a52c01dce00

[2016-05-20 12:47] mxz297 commented on #53
I can take a look at this issue. Can you @jdetter share this particular version of crtend.o with me ?

[2016-05-20 14:39] jdetter commented on #53
Here is the relevant bit of the reproducer:

[code]

And here is the binary: http://cs.wisc.edu/~detter/crtend.o

[2016-05-20 15:58] jdetter commented on #50
I have been trying to build libboost without any luck. The boost thread and system libraries aren't getting built so I figured out that you can't build this version of boost with any GCC 4.7 or newer so I have to rebuild with an older GCC.

StackOverflow: http://stackoverflow.com/questions/8297652/error-boost-disable-threads

[2016-05-20 19:50] cuviper commented on #52
See #54 and dyninst/testsuite#7 for valgrind fixes, but that was a red herring.

[2016-05-20 21:02] jdetter commented on #52
I am building #54 and I will see if we are passing the series 5 tests.

[2016-05-20 21:07] cuviper commented on #52
They're still failing for me, but they're clean now as far as valgrind is concerned.

[2016-05-20 21:15] jdetter commented on #52
Does the rewriter still put junk into the program header table?

[2016-05-20 21:22] cuviper commented on #52
Yep:

[code]

[2016-05-20 21:44] wrwilliams commented on #52
The first chunk of mysterious hex, in ascii, is:
s.46-68x-xunil-ds.46-68x

Looks to me like it's a substring of the interp (d-linux-x86-64.s) reversed and repeated, somehow. And the PHDR/INTERP offset difference does not correspond to the virtual/physical address difference...INTERP needs to move up a page in the file. It's obviously going to be something in the section layout code...

[2016-05-20 22:02] cuviper commented on #52
Ha, I just realized this too!  INTERP at 0x238 is after the 64-byte EHDR + 9 * 56-byte PHDRs.  It did not shift in the rewritten binary, so the 10th PHDR overlaps it.

[2016-05-20 22:11] cuviper commented on #52
I think the apparent reversing is just little-endian byte swaps, and perhaps repeating is from some offset math in libelf.  Open the binary in a hex editor, and see 0x238 is clearly just the INTERP string.

[2016-05-20 22:22] cuviper commented on #52
I get zero for `library_adjust` here:

[code]

[2016-05-20 22:28] cuviper commented on #52
RE shifting INTERP up a page, note you also left this comment:

[code]

[2016-05-21 03:34] wubingwang opened #55 "lei1114"

[2016-05-21 13:12] #55 closed

[2016-05-23 15:39] jdetter opened #56 "Mask register operands for 9.2.X release?"
I think we should either add a `MaskRegister` class or add functionality to the current `Register` class in `InstructionAPI` so that we can deal with the syntactical differences between mask register operands and normal register operands. This will make it much easier for us to output our instructions in AT&T syntax. The only major changes to the `Register` would be adding a property (something li

[2016-05-23 16:33] jdetter commented on #50
After more debugging, this is looking like it is possibly related to #52. `PatchAPI::Patcher` is hanging somewhere in `patchAPI/src/Command.C:97`.

[2016-05-23 17:11] wrwilliams commented on #56
Add a MaskRegister class that formats appropriately, and you shouldn't need to mess with properties.

[2016-05-23 17:24] #56 closed

[2016-05-23 18:58] wrwilliams commented on #50
#52 is a red herring for sure; this is create/attach-only and #52 is rewriter-only. Do we know that the patcher thread is active? Based on what we'd seen previously, it seems more likely that the patcher thread is starved due to a lack of events from the process.

[2016-05-25 18:58] cuviper commented on #52
I think I've got INTERP shifted correctly -- see my [issue52](https://github.com/cuviper/dyninst/tree/issue52) branch ([comparison](https://github.com/dyninst/dyninst/compare/master...cuviper:issue52?expand=1)).

However the test *still* fails.  There's no obvious corruption in the headers now, but it appears that the dynamic linker can't find a few symbols for some reason.

[code]

But all three

[2016-05-25 19:58] wrwilliams commented on #52
I know I've seen this before and my off-the-cuff recollection is that there's likely non-printable garbage at the end of the symbol needed such that it doesn't match the symbol provided. Unfortunately I don't remember where it came from (nor is it guaranteed to be the same problem). But check the strings carefully.

[2016-05-25 20:39] cuviper commented on #52
The strings look OK -- at least, every place they appear in the binary has a `NUL` terminator.

It appears `.rela.dyn` is corrupted.  See how the four `X86_64_COPY` entries kept the same offset but changed value and name.  The first new name is a weak `W` symbol that can probably be resolved elsewhere, and the other three match my `ldd -r` failures.   But I expect these shouldn't have changed at a

[2016-05-25 21:11] cuviper commented on #52
All of these `.rela` swaps correspond to matching indexes in the old and new `.dynsym` tables.  For example, `stdout` was at index 202 but moved to 215, and the new 202 is `test_fails`.

[2016-05-25 22:48] cuviper commented on #52
There's a comment in `createSymbolTables` stating that `.dynsym` is not meant to be regenerated, only appended.  However, I'm seeing extra symbols inserted in the table for alternate constructors and destructors.

For example, the original dynsym has `_ZN15derivation_testD0Ev`, but in the rewritten binary there is a sibling `_ZN15derivation_testD4Ev`.  They have the same `getIndex()` result, so wh

[2016-05-25 23:49] wrwilliams commented on #52
Cute. And yes, we do not want to pollute dynsym with debugging info.

[2016-05-26 00:42] cuviper commented on #52
AFAICT in `Aggregate::addMangledName()`, if the thing has any dynamic symbol already defined, then the new name is also added as a dynamic symbol.  Perhaps some new method is needed for the dwarf-walker to use which doesn't do this?

[2016-05-26 12:24] wrwilliams commented on #52
Yeah, I see the problem here and its genesis. I should have useful thoughts by the time I get to the office and look at code in-depth.

[2016-05-26 16:00] wrwilliams commented on #52
Okay, here's what existed previously, why it was wrong, and how to make it right:

Previously, when we added names to Aggregates from DWARF we'd add them, demangled, as pretty or typed names, and not create new symbols for them. When we went to lazy demangling and every name (outside of inlines) backed by a symbol, I threw everything in as mangled and symbol-backed.

What we actually want, I belie

[2016-05-26 17:03] wrwilliams commented on #15
Update on this one: I've got a solution that does significantly better (about 10 lines of line info that aren't turning up properly in libcommon.so) but has a double-free from libdwarf lurking. Once I get that fixed and regression tests run, this should be ready for a commit that's a substantial improvement.

[2016-05-26 18:30] cuviper commented on #52
What if we let it be `Symbol`-backed, but mark that such that it won't go in either `.symtab` or `.dynsym`?  Something like `Aggregate::addDebugName()` (or a defaulted `isDebug` parameter on the existing `add*Name` methods), create a `Symbol` with a new `bool isDebug_=true`, then let `Symbol::isInSymtab()` and `Symbol::isInDynSymtab()` both return false for debug symbols.

I know `Symbol` and `Agg

[2016-05-26 22:03] wrwilliams commented on #52
I don't see an immediate problem (nor do I see a problem with the interface being public)--give it a shot and see how it works.

[2016-05-27 00:23] jdetter opened #58 "Symtab can't find any functions without libc"
I have had this issue in the past when compiling assembly files without linking against the C standard library. Compiling this source with the standard C library and changing `_start` to `main` works, however just compiling `_start` with no standard C library doesn't seem to work.

The program I'm using (`dyn_dump`) can be downloaded [here](http://cs.wisc.edu/~detter/dyn_dump.cpp)

__asm.S:__
[cod

[2016-05-27 16:28] jdetter commented on #58
It looks like ParseAPI isn't seeing the symbol for the function. So this issue is probably in SymtabAPI right?

[code]

[2016-05-27 17:12] cuviper commented on #58
FWIW, that's not even a valid `_start` -- it will segfault when it tries to pop the return address to the non-existent caller.  You have to make an exit syscall to leave.

I wouldn't be surprised if `_start` is getting special treatment in general.  I know dyninstAPI applies some heuristics in `image::findMain`, at least.

[2016-05-27 17:36] jdetter commented on #58
@cuviper If I rename `_start` to `main` and instead compile with a wrapper like this:

[code]

I'm still unable to get any functions. Both `_start` and `main` are in the symbol table for the elf binary.

[2016-05-27 18:20] #52 closed

[2016-05-27 19:34] mxz297 commented on #32
#37

[2016-05-27 19:34] #32 closed

[2016-05-27 19:37] #15 closed

[2016-05-27 19:39] wrwilliams commented on #34
The tramp guard locking functions we're executing are junk; the ones I get from disassembling the RTlib look good.

[2016-05-27 19:39] jdetter commented on #58
@wrwilliams  The binary I am producing has no data section, and when `load_object` in `symtabAPI/src/Symtab.C` hits this logic:

[code]

the parsing aborts and no symbols are parsed. Is there any way for the parsing to continue without a data section?

[2016-05-27 19:42] cuviper commented on #58
My comment was a very tangential "FWIW" - I didn't expect that to solve the actual issue.

[2016-05-27 19:46] wrwilliams commented on #58
Working with a binary that has no data section makes a lot of higher-level operations potentially unsafe, but there's no internal state I can see that would make that automatically break.

I'd consider it much safer to ensure that your test binaries have a trivial .data section, as this is not a blocker for almost all non-testing use.

[2016-05-27 19:49] wrwilliams commented on #3
Ah, my memory is refreshed: I am failing this in 32-bit mode, where we don't have a working libthreaddb. Closing and opening a testsuite-oriented bug, as it's a problem with the test suite's ability to match "valid mode for test", "valid way to build tests on this system", and "valid way to build *this* test on this system".

[2016-05-27 19:52] wrwilliams opened #62 "Test suite does not dynamically adjust test lists based on build environment"
pc_tls is our prototypical example here. The problem, in short:
- We have a 32-bit build environment present
- We have thread_db present
- We lack a 32-bit thread_db

pc_tls expects that if thread_db is present, it may run, and that it may run in all valid run modes for the test/system statically. We don't want to say that thread_db is intrinsically required for all 32-bit tests, nor do we want to

[2016-05-27 19:52] #3 closed

[2016-05-27 19:54] wrwilliams commented on #2
Can no longer repro this; closing.

[2016-05-27 19:54] #2 closed

[2016-05-27 19:56] wrwilliams commented on #16
Fixed on master, as we've reverted to byte-swapping.

[2016-05-27 20:01] pefoley2 commented on #16
Still seems to be an issue at https://github.com/dyninst/dyninst/blob/master/dataflowAPI/src/RoseInsnFactory.C#L276

[2016-05-27 20:23] jgerie opened #63 "walkSingleFrame against external process crashes on Windows"
I want to use DynInst to walk the stack and get better results than the Microsoft CaptureStackBackTrace() function. That function loses track of the backtrace in programs that don't have standard call frames, and other unusual situations.

I wrote a very basic test program to get used to the stackwalkAPI, but the program crashes with an infinite loop the first time I call walkSingleFrame. Looking

[2016-05-27 20:48] jgerie opened #64 "walkSingleFrame run against local process on WIndows crashes"
This is a variation on issue #63 which I reported. My ultimate goal is to walk the stack in the local process, not in an external process. When I try my test program against the local process, the first call to walkSingleFrame dies with:

Program: StackTest.exe
File: f:\dd\vctools\crt\crtw32\misc\dbgheap.c
Line: 1424

Expression: _pFirstBlock == pHead

My test program is:
[self_stackwalk.txt](http

[2016-05-27 20:53] #58 closed

[2016-05-29 01:22] jdetter opened #65 "Segfault during PIE rewriting"
Submitted via the dyninstapi mailling list:

In the latest version of Dyninst, rewriting a PIE binary (not a library) results in an executable that immediately segfaults. This happens even if no instrumentation was done at all. Simply opening the binary and saving it reproduces the problem. Here's a sample backtrace:

dl_main at rtld.c:172
_dl_sysdep_start at ../elf/dl-sysdep.c:249
_dl_start_final

[2016-05-30 14:26] wrwilliams commented on #65
Should be fixed as of d737198ad43248ce1db452190f758acb6de9a4c7, but reopen if it's not.

[2016-05-30 14:26] #65 closed

[2016-05-31 15:30] jdetter opened #66 "decodeOneOperand() called with unknown addressing method 18"
Via dyninst api mailing list:

Calling getProcedures() on the default module of a stripped PIE results in an assertion failure at common/src/arc-x86.C:7993. It seems that the heuristic gap parser is trying to decode the assembly as x86_32 instead of x86_64 (I may be wrong though). Exact stack trace is attached.

This is triggered by simply opening the binary, getting the default module, then calli

[2016-05-31 15:59] jdetter opened #67 "Dyndwarf assert thrown on latest master"
After pulling and rebuilding, I am getting the following assert thrown on master:

__Abort message:__
[code]

__Stack trace:__
[code]

[2016-05-31 15:59] jdetter commented on #67
@wrwilliams could you take a look at this?

[2016-05-31 16:02] jdetter commented on #66
I think Mohamed isn't using the latest master, this is most likely an old issue.

[2016-05-31 18:22] wrwilliams commented on #67
Will do.

[2016-05-31 18:49] wrwilliams commented on #67
Can't repro this with my /bin/bash; are you sure this is a clean build on your end? (Feel free to drop your bash in a convenient location so I can cross-check in the meantime.)

[2016-05-31 19:19] jdetter commented on #67
This must have been the result of a dirty build, I did a `make clean all` and everything is working again.

[2016-05-31 20:18] wrwilliams commented on #35
@cuviper: this looks like it could be the same sort of issue as the older x86 test4 issues you wrote about here: https://blog.cuviper.com/2013/11/25/systemtap-monitoring-ptrace-activity/ only at exit time. Kernel 2.6.32 on ppc64; the same kernel on x86_64 is behaving as expected. strace is getting sane exit codes back, so it can't be anything completely broken in ptrace, and we aren't instrumentin

[2016-05-31 21:15] jdetter commented on #66
Mohamed is running into this bug again on the master branch, however I am not able to reproduce this.

[2016-05-31 21:21] jdetter commented on #66
`am_T` is missing from the switch in `InstructionDecoder-x86.C`. I'm not sure how it got removed but I should have a fix for this soon.

[2016-05-31 21:33] cuviper commented on #35
Good thing I wrote that blog post, so I can recall it more easily. :)

When you say 2.6.32, is this RHEL6?  FWIW in that prior issue, RHEL6 was unaffected due to its utrace adding a delay in firing off the ptrace fork events.  It still could be a similar issue though, and perhaps that old systemtap script is a good start.

I can grab a ppc64 machine from one of our labs to play with this...

[2016-05-31 22:03] wrwilliams commented on #35
RHEL6 locally (x86) and CHAOS5 at LLNL (ppc64), which I think is RHEL6-based.

[2016-05-31 22:11] wrwilliams commented on #64
In order to use C++ interfaces across a module boundary, the caller and callee need to be built with matching configurations--first-party stackwalking with a debug build of Dyninst will need to be linked into a debug build of your target application, and likewise for release. I have seen this behavior before as a result of this problem--destructors, copy constructors, or uses of variables breaking

[2016-05-31 22:16] wrwilliams commented on #63
As per email conversation: the Walker factory functions do not detect and set the executable name automatically, which breaks their automatic construction of a symbol reader. There are three items to fix here: the documentation should use the more practical construction examples of newWalker(pid, "exe_name"), newWalker("exe_name"), and newWalker("exe_name", argv). The constructors that do not set

[2016-06-01 01:17] cuviper commented on #35
This is an endian issue, oddly enough.  We get a proper-looking `unsigned long` wait status from `PTRACE_GETEVENTMSG`, then use `WEXITSTATUS` on it.  That looks like:

[code]

And `__WAIT_INT` gets fancy under glibc's `__USE_BSD`, later called `__USE_MISC`, which are features enabled by default.

[code]

So we hit the latter version.  Under 64-bit big-endian ppc64, that ends up reading the int fro

[2016-06-01 01:39] cuviper commented on #35
With #69, all of these tests pass for me on RHEL6 ppc64.

However, I'm also seeing the effects of #50 on Fedora 23 x86_64.  The same endian issue would not apply, so that will require a different investigation to fix.

[2016-06-01 10:39] ea opened #70 "symtabAPI fails to link on 32bit linux"
Hi,

I've just noticed that symtabAPI fails to link on pure 32bit system.
It is due to recent addition of the following code
[code]

In Object-Elf.C . When linking, added code now references emitElf64 object file which isn't built in 32bit  build config due to this in CMakeLists.txt :

[code]

emitElf-64.C is added to the list of sources on x86_64 build targets, yet x86 build target will require i

[2016-06-01 14:41] #35 closed

[2016-06-01 14:43] wrwilliams commented on #70
Your fix is correct, modulo a global rename (emitElf64->emitElf). I can get that cleaned up.

[2016-06-01 16:44] jdetter commented on #66
This has been resolved.

[2016-06-01 16:44] #66 closed

[2016-06-01 17:08] jdetter commented on #50
Very interesting update, all of these tests pass on Ubuntu 16.04 server addition. I will check library versions and see what's going on.

[2016-06-01 17:17] jdetter commented on #62
These are the only tests failing on Ubuntu 16.04, can these be ignored due to this issue?
[code]

[2016-06-01 17:25] jdetter commented on #50
My Ubuntu 16.04 is running Linux 4.4.0 and Boost 1.58, I will try boost 1.58 on Fedora and see if it works.

[2016-06-01 17:44] cuviper commented on #50
Mine has kernel-4.4.9-300.fc23.x86_64 and boost-1.58.0-11.fc23.x86_64, and it hangs.

[2016-06-01 17:47] jdetter opened #71 "parseThat not outputting executable binary (Exec format error)"
Mohamed is having an issue where he runs:

[code]

and the output binary `ssh-dyn` will not execute due to an exec format error. The header information looks correct to me so I'm not sure why exec won't take it:

[code]

Ubuntu's version of `/usr/bin/ssh` can be found [here](http://cs.wisc.edu/~detter/ssh)
The `ssh-dyn` binary generated by parseThat can be found [here](http://cs.wisc.edu/~detter/s

[2016-06-01 17:49] jdetter commented on #71
@wrwilliams or @cuviper do you see anything wrong with the header? Here is a gist of the full `readelf` output for `ssh-dyn`:

https://gist.github.com/jdetter/8b2268edf4a61190848b358863ae12cd

[2016-06-01 18:03] cuviper commented on #71
Looks like the interp adjustments are still not right.  The section header shifted by a page size without changing for the extra phdr, and the program headers also got a bad page size update.

[code]

[code]

[2016-06-01 18:15] jdetter commented on #71
Would you have time to try to fix this? You have a much better idea of what's going on.

[2016-06-01 18:18] wrwilliams commented on #50
I'm going to try RHEL6 with boost 1.58 and see what that does, for the additional data point. But I think John's on the right track with library versions or something else system-environmental that's not playing nicely with newer boost versions.

[2016-06-01 18:20] jdetter commented on #50
I tried both Fedora's `boost-1.58.0-11.fc23.x86_64` and building `libboost 1.58` from source on Fedora and both of them hang. Could this potentially be a kernel issue? I could try running Linux 4.4.0 on Fedora.

[2016-06-01 18:24] cuviper commented on #71
I'll give it a shot.

[2016-06-01 18:29] wrwilliams commented on #62
Is there no static libthread_db.a on the system? If so, then yes.

A -verbose -log run should show all threads with the same TLS value as the first one, rather than an increasing series, if this is indeed what's wrong. Otherwise it needs investigation.

[2016-06-01 18:49] jgerie commented on #63
As you suggested, I changed my program to get the file name of the external process and use the newWalker(pid, exe_name) factory function:
[simple_stackwalk_wexe.txt](https://github.com/dyninst/dyninst/files/294126/simple_stackwalk_wexe.txt)

The results are the same - the program dies on the first call to walkSingleFrame. The error and stack trace from the debugger are the same.

The stackwalk de

[2016-06-01 19:05] jgerie opened #72 "walkSingleFrame against local process crashes on Windows"
This is a variation on issue #63 which I reported. My ultimate goal is to walk the stack in the local process, not in an external process. When I try my test program against the local process, the first call to walkSingleFrame dies with:

(1fd0.38c0): Access violation - code c0000005 (first chance)

My test program is below. Base on the response on issue #63, I am calling Walker::newWalker(std::st

[2016-06-01 19:07] jgerie commented on #64
Thanks. I fixed the compile switches and this problem has disappeared. I am closing this issue. But I also opened issue #72 - a problem in walking the local process stack that surfaces after this configuration mismatch issue is fixed.

[2016-06-01 19:07] #64 closed

[2016-06-01 21:28] cuviper commented on #50
Pushed e09b7e8db7b04d4fd530088cad07a0b1a1b419ef for a valgrind error during this test, "Conditional jump or move depends on uninitialised value(s)", but that changes nothing about the hang.

[2016-06-01 21:43] wrwilliams commented on #50
Can confirm that kernel 2.6.32/boost 1.58 passes test4_*. John, is my memory correct that boost 1.55 is known working on 4.4 kernels?

[2016-06-02 13:47] jdetter commented on #50
@wrwilliams I've had issues getting 1.55 to work on Fedora 23, I'll give it another try.

[2016-06-02 16:47] #70 closed

[2016-06-02 18:16] jdetter commented on #67
I am running into this issue when running with boost 1.55.

Here is the gist of runTests: https://gist.github.com/jdetter/c7e8f7df7eac742cbe2148ac7e73c242

[2016-06-02 19:34] wrwilliams commented on #67
Same call stack as before, or no?

[2016-06-02 22:55] cuviper commented on #50
After dancing around possible kernel/boost/convar issues for a while, I came back to https://github.com/dyninst/dyninst/issues/50#issuecomment-220390532

A `PTRACE_CONT` that appears ineffective -- let's see why.  A systemtap script on the scheduler and a few syscalls led me to this trace snippet:

[code]

So 29808 issues `PTRACE_CONT` on 29810, and it *does* soon get scheduled onto cpu 3.  But th

[2016-06-03 00:25] cuviper commented on #50
I checked Ubuntu 16.04 for glibc, and they have 2.23.  Those [release notes](https://www.sourceware.org/ml/libc-alpha/2016-02/msg00502.html) do mention a few malloc bugs fixed, including one deadlock.

So I tried with the imminent Fedora 24, which also has glibc-2.23, but the story is unchanged.

[code]

But even if this had worked, calling malloc in the middle of fork's operations is never going

[2016-06-03 01:09] cuviper commented on #50
Here's my systemtap script, if you want to try it.  It's not my prettiest, but it has proved useful here...
https://gist.github.com/cuviper/de7584062319204b9cf0969b3392aa12

[2016-06-03 09:42] jdetter commented on #67
It would appear so, it is a bit longer but it ends the same:

[code]

[2016-06-03 10:38] jdetter commented on #67
This is kind of impeding my development so I'll start looking into this as well.

[2016-06-03 10:47] jdetter commented on #67
This is being set off by the latest version of dwarf. It throws the exception when an error argument isn't passed and an error occurs. I added the error pointer argument and everything is working again. @wrwilliams do you care if I push this to master or do you want a pull request?

[2016-06-03 10:48] jdetter commented on #67
This is the patch:

468101b947454a9cca34fa38d396955edb65884b

[2016-06-03 15:59] wrwilliams commented on #67
OK to push.

[2016-06-03 16:32] wrwilliams commented on #50
So it looks to me like by virtue of moving from "post-fork == exit point of fork()" to "post-fork == ptrace's post-syscall event for clone" we've gotten into this mess. We must be in a state when the user gets a post-fork callback where they can install or remove instrumentation, which means we must be able to malloc; if that's not possible at ptrace's post-fork point, we need to go back to breakp

[2016-06-03 16:35] jdetter commented on #67
Fixed.

[2016-06-03 16:35] #67 closed

[2016-06-03 16:48] mplegendre commented on #50
I'm coming in a little late, and am perhaps missing something, but isn't it sufficient to remove the malloc calls in the RT library that Josh identified?  As he said, that's very dangerous.  This code will always have the potential to be a race-condition that hangs/crashes, even if you move the post-fork point to some place where it's not hanging now.

[2016-06-03 17:30] wrwilliams commented on #50
The top-level BPatch fork callback needs to be able to instrument, which means we need to be able to allocate more instrumentation heap if needed in the RTlib from that callback. There's probably also a bug in inferior malloc; a run with (only) DYNINST_DEBUG_INFMALLOC enabled should shed some light there. We really shouldn't be hitting os-level malloc with the static heaps sitting right there and

[2016-06-03 17:37] cuviper commented on #50
[code]

[2016-06-03 17:52] cuviper commented on #50
As for alternate implementations of DyninstAPI's fork callbacks, perhaps libdyninstAPI_RT could use soft breakpoints from its own `pthread_atfork` callbacks?  As long as this is registered after libc's own initialization, then it should be called outside of malloc's locks.  But maybe a pthread dependency is too much here.

[2016-06-03 18:18] cuviper commented on #50
That 1MB allocation is coming from `AddressSpace::generateCode`, asking for just 17 bytes, but near the original code at `0x402bf2`.  The static heap is far far away from there.  So instead we get this `inferiorMallocDynamic(HEAP_DYN_BUF_SIZE, lo, hi)`.

[2016-06-03 18:42] cuviper commented on #50
`DYNINSTheap_useMalloc` is actually false on Linux, BUT the first thing `DYNINSTos_malloc` does is `alloc(sizeof(heapList_t))`.  If that node was just allocated in the same chunk as the requested memory, perhaps at its end, then we could avoid libc malloc altogether.

Well, it's not quite that simple, as `DYNINSTgetMemoryMap` also uses `malloc`.  But we could rework that too, I think.  The whole c

[2016-06-03 18:51] cuviper commented on #50
AFAICS the glibc `mmap` wrapper is uninteresting on Linux, FWIW.  No locking or anything like that.

[2016-06-03 19:11] cuviper commented on #50
Another idea -- if `inferiorMallocDynamic` can determine that the mutatee is currently sitting at an unsafe PC, perhaps excluding all of `libc` to be safe, then it could bail right away.  Then in this case we'd trickle down to `RemoveRangeConstraints` for an unconstrained malloc, which can succeed from the static heap.

[2016-06-03 19:12] mxz297 commented on #30
Draft on master.

[2016-06-03 19:12] #30 closed

[2016-06-03 19:12] mxz297 commented on #29
Draft on master.

[2016-06-03 19:12] #29 closed

[2016-06-03 19:13] wrwilliams commented on #50
Okay, I'm going to make a list of things we know are broken (or potentially broken):

1) User-level fork callback is delivered at a point that's unsafe; needs to be at the actual exit point of fork().
2) RTlib allocation chain is not as signal-safe as it ought to be: get rid of mallocs
3) RTlib should, if we can finagle this, be loaded explicitly near the text section of the executable; the static

[2016-06-03 20:07] cuviper commented on #50
BTW, my analysis doesn't square with @jdetter's https://github.com/dyninst/dyninst/issues/50#issuecomment-220431274, because that generator thread is waiting for a condvar, and mine is in `wait4`/`waitpid` stuck until the infmalloc completes.  So there may be other issues still lingering.

At least on my system, if I hack out the constrained `inferiorMallocDynamic` so it falls down to unconstraine

[2016-06-03 20:41] wrwilliams commented on #50
In dyninst's linux.C, the useBreakpoint/useCallback functions should govern whether we use function entry/exit or syscall entry/exit as our event sources for various types of events, respectively. If we move post-fork/post-exec to useBreakpoint, that should be a clean fix for 1) above, which should in turn move the mallocs out of fork's locked section. I'm going to give that a spin to make sure it

[2016-06-03 20:49] cuviper commented on #50
How can you possibly use a breakpoint for post-exec?  A new process won't have former breakpoints, of course.  But for the same reason, I don't think the same signal-safe concerns apply to exec.

[2016-06-03 20:54] wrwilliams commented on #50
...you're not wrong; I'm a bit fried.

[2016-06-03 22:58] mplegendre commented on #50
Josh, we've had to worry about the signal-safety of mmap for some of our sampling-based tools.  As you mention, it's not guaranteed safe by posix, but on Linux it's remained reliably safe in practice for as long as I know of.  It may be worth invoking it from a syscall rather than the glibc wrappers to be extra safe against future glibc changes.

Bill, I don't think you can safely achieve "Dyninst

[2016-06-06 19:38] wrwilliams commented on #50
I've got a patch for the RTlib that removes all dynamic memory allocation along the mmap path
[bug50_patch.txt](https://github.com/dyninst/dyninst/files/301197/bug50_patch.txt)

This should also be a lot more efficient (and it's cleaner code by far)--we were parsing /proc/self/maps in a quite antiquated and baroque fashion when we could just as well have used scanf and fgetc (as we now do). We kee

[2016-06-06 19:54] cuviper commented on #50
Well, beware that `fopen`, `fclose`, `fscanf`, and `fgetc` are all missing from the signal-safe list.  I can give it a run to be sure, but I'd be *really* surprised if `fopen` doesn't `malloc`, since it returns `FILE*`.

[2016-06-06 20:00] cuviper commented on #50
You also left the `heap = malloc(size_heap);` in place.

While I'm thinking of it, is it guaranteed that all threads are frozen while running this?
If not, reading `/proc/self/maps` and forcing `MAP_FIXED` from that is really racy...

[2016-06-06 20:04] jdetter commented on #50
It appears I am still getting the same deadlock as before

[2016-06-06 20:05] cuviper commented on #50
Perhaps it would be easier to just replace `DYNINSTos_malloc` with `DYNINSTos_mmap`, and let the mutator figure out the details?

[2016-06-06 20:09] cuviper commented on #50
Yep, `fopen` is a problem:

[code]

[2016-06-06 20:11] wrwilliams commented on #50
@cuviper: this is a synchronous iRPC (and should only be run from same), so yes, the reading /proc/self/maps should be safe in principle. You're not necessarily wrong re: letting the mutator mmap things directly, though. The `heap=malloc(size_heap)` should only be on the path that explicitly uses malloc; if that's not the case I missed something. I can try to get this working using open/read/sscan

[2016-06-06 20:13] jdetter commented on #50
Could someone make a git patch for that?

[2016-06-06 20:17] cuviper commented on #50
Ah, right, I forgot about `DYNINSTheap_useMalloc()` when reading your patch.  Looks like only vxworks returns true for that.

@jdetter, this is all I did to hack it:

[code]

[2016-06-06 20:18] jdetter commented on #50
@cuviper Thanks!

[2016-06-06 20:18] wrwilliams commented on #50
Heh, and here I was going to suggest reordering the enum at the top of that chunk. :)

[2016-06-06 20:23] jdetter commented on #50
@wrwilliams yup my `test4_2` passes with @cuviper 's patch.

[2016-06-06 20:24] wrwilliams commented on #50
Okay, good to know. Is it worth fighting with zero-alloc smart mmap, or should we just let the mutator have the smarts and make the RTlib mmap wrapper dumb like rock?

[2016-06-06 20:27] cuviper commented on #50
Async-signal-safety is hard -- I vote for making RTlib dumber.

[2016-06-06 21:04] wrwilliams commented on #50
Okay, what if the RTlib gets only modestly dumber, like so:
`  } else { /* use mmap() for allocation */
    Address lo = (Address) lo_addr;
    Address hi = (Address) hi_addr;
      heap = mmap(lo, size, PROT_READ | PROT_WRITE | PROT_EXEC, MAP_ANONYMOUS, -1, 0);
      if(heap < lo || heap > hi) {
          munmap(heap, size);
          return NULL;
      }
    node = (heapList_t *)heap;

    /* de

[2016-06-06 21:34] cuviper commented on #50
That looks like a reasonable approach.  Note however that the kernel only tries the hint address if it's not NULL, so the `lo_addr` given from `0x0 - 0x7fffffff` won't be useful.  It also only tries exactly there, nothing nearby, before it moves on to a more general mmap.  So it might be worth semi-randomly poking a few attempts in the requested range before giving up.

I'd think that the new chun

[2016-06-06 21:50] wrwilliams commented on #50
Thanks, Josh. I'm continuing to poke at this; should have something that's actually working sanely by tomorrow. There are more bits that are recyclable than I thought; it's just the "read /proc/maps and be smart" approach that needs to get jettisoned.

[2016-06-07 01:02] cuviper commented on #50
I'm still curious about Ubuntu 16.04.  I finally booted a VM here, and sure enough it passes fine.  However, if I feed it `LD_PRELOAD` for either jemalloc or tcmalloc, it hangs too.  So there's clearly something different in Ubuntu's glibc build, but I'm still not sure what.  (It doesn't *really* matter, because we know that malloc in this context is fraught with danger, but I'd like to track this

[2016-06-08 00:00] cuviper commented on #50
To close the Ubuntu mystery, it is able to allocate from the special arena in `ATFORK_ARENA_PTR` without deadlocking.  But upstream this arena was removed by [commit 8a727af925be](https://sourceware.org/git/?p=glibc.git;a=commitdiff;h=8a727af925be63aa6ea0f5f90e16751fd541626b) in the series of fixes for [bz19431](https://sourceware.org/bugzilla/show_bug.cgi?id=19431), and these were backported to b

[2016-06-08 16:03] wrwilliams commented on #50
New patch to try out is here:
[remove_mallocs.txt](https://github.com/dyninst/dyninst/files/305177/remove_mallocs.txt)

This works locally and has sane behavior on the constrained low heap as well as the constrained higher heaps. I haven't pruned the nontrivial amount of dead code that this creates yet, but aside from that this should be ready for master if it passes for both Josh and John's envir

[2016-06-08 17:22] jdetter commented on #71
Mohamed is looking for an update on this, I told him were all busy looking at the test4_2 issue but after that someone will have time to look at this.

[2016-06-08 18:28] cuviper commented on #50
It all passes here, but I have some review notes:

- There's a remaining `free(node)` for a misaligned size.
- It seems like the allocated size should increase for the `heapList_t`, rather than losing that space from `heap.len` (i.e. we should return at least `nbytes`).  But that's debatable.
- The malloc case needs more adjustments for having the interior `heapList_t`. (or just nuke this and vxwo

[2016-06-08 18:32] wrwilliams commented on #50
Okay, most of these are fixable pretty easily. I'll revise and repost in a bit.

[2016-06-08 18:44] cuviper commented on #71
Yes, sorry about that, the runtime hangs were more pressing to me.  I think we've got a handle on that though, so I'll get back to this one.  I'm going to see if I can simplify this logic to just "interp goes directly after phdrs, no matter what."

[2016-06-09 00:05] jmellorcrummey opened #79 "Problems with Instruction API parsing x86-64 binaries: sqrtsd"
The current master version of dyninst has problems parsing several instructions in x86-64 binaries. Below, I provide an example of an instruction that failed to parse (the first instruction) and the instruction following. This example was uncovere using the checkparse regression test developed at Rice and provided to Wisconsin.

**Application example: soliton**

problematic instructions:
`

[2016-06-09 00:37] jmellorcrummey opened #80 "Problems with Instruction API parsing x86-64 binaries: xhpl executable"
The current master version of dyninst has problems parsing several instructions in x86-64 binaries. These examples of problems were identified using the checkparse regression test developed at Rice and provided to Wisconsin.

**Application example: xhpl**

The x86-64 xhpl binary may be found here: http://www.cs.rice.edu/~johnmc/tmp/xhpl

problematic instructions:
[code]

Attached is the full repor

[2016-06-09 13:34] mxz297 commented on #80
My preliminary investigation found two issues:

1. Jump table analysis was over-approximating the size of a jump table, which led to one of the many "xed decode error;no instruction at address" reports. It appears to me that our x86-64 instruction semantics missed semantics for "cmove" and in this case understanding "cmove" correctly is essentail to precisely determine the table size. I will conti

[2016-06-09 15:34] wrwilliams commented on #50
Fixed by #76

[2016-06-09 15:34] #50 closed

[2016-06-09 15:34] wrwilliams commented on #16
Fixed by #77.

[2016-06-09 15:34] #16 closed

[2016-06-09 20:01] jdetter commented on #80
Yup, I'll look into it.

[2016-06-09 20:22] jdetter commented on #80
I have fixed the assert issue, it was an issue with the r8-r15 64 bit registers being accessed from the VEX prefix. I am working on the instruction length fixes now.

[2016-06-09 20:29] jdetter commented on #79
@jmellorcrummey  It is possible for me to have access to the binary for this?

[2016-06-09 21:12] mcfadden8 opened #81 "runTest -test pc_addlibrary fails/dumps core (actually, none of the proccontrol tests run)"
It has been a while since I cloned form master, so I did today and noticed that the master branch as of 3c38960b1e468579cdb62f67d5f123ea6c2463c8 fails many/most of the tests in testsuite.  I will attempt to go back in time to see if I can locate when the problem may have been introduced.

I included the [stack trace](https://gist.github.com/mcfadden8/97d8bdd671fb266308e8df4c706482fc) for review.

[2016-06-09 22:01] wrwilliams commented on #81
@jdetter has seen this before, and I thought we'd gotten it fixed solidly. The problem here is that the newest libdwarf no longer accepts a NULL DwarfErr argument where it previously did.

Time for a thorough code audit for DwarfErr parameters...

[2016-06-09 22:03] wrwilliams commented on #79
I have this binary and can make it accessible assuming that's okay with @jmellorcrummey, but generally I'd prefer that we cons up some trivial test cases for these rather than relying on particular binaries.

[2016-06-09 22:04] jmellorcrummey commented on #79
I already forwarded the binary to John off list.
--
John Mellor-Crummey         Professor
Dept of Computer Science    Rice University
email: johnmc@rice.edu      phone: 713-348-5179

[2016-06-09 22:06] wrwilliams commented on #79
Thanks, John. And @jdetter, the trivial test case comment still stands. :)

[2016-06-09 22:20] mcfadden8 commented on #81
If it helps, this problem seems to have been introduced in the master branch as of df1523dd4003107b959046dd047402642f530c43.  Previous versions of the branch do not seem to exhibit the problem.

[2016-06-09 22:33] jdetter commented on #79
@bill I have a source file with all of the VEX instructions in it that I've been using for testing, however there isn't a way to force GCC to use a specific VEX prefix for an instruction so for most of the issues we see are just missing entries in the tables where I couldn't produce that instruction with that prefix. Most of these issues can be fixed by copying table rows for the missing instructi

[2016-06-09 22:37] jdetter commented on #81
This is the issue I was having with the newest version of libdwarf. It should have been fixed by 468101b947454a9cca34fa38d396955edb65884b. Could you try running this with an older version of libdwarf and see if the problem persists?

[2016-06-09 22:48] jdetter commented on #80
@jmellorcrummey I have uploaded some significant fixes for your binaries. Do you think you could regenerate the report to see what the remaining problems are? The report output was really helpful.

[2016-06-09 23:11] mcfadden8 commented on #81
Is there a specific revision version I should try?  I'm not sure what the 'newest version' of libdwarf is that contains the DwarfErr changes, nor do I know what an 'older version' is :-).

[2016-06-09 23:14] jdetter commented on #81
Could you give `dwarf-20150915` a try?

Download: https://www.prevanders.net/libdwarf-20150915.tar.gz

[2016-06-09 23:23] jmellorcrummey commented on #80
I’ll do that tonight. I’ll also send you my new testing harness (off list).
--
John Mellor-Crummey         Professor
Dept of Computer Science    Rice University
email: johnmc@rice.edu      phone: 713-348-5179

[2016-06-09 23:30] jmellorcrummey commented on #80
Are your fixes in the VEX branch or master?
--
John Mellor-Crummey         Professor
Dept of Computer Science    Rice University
email: johnmc@rice.edu      phone: 713-348-5179

[2016-06-09 23:32] jdetter commented on #80
They are on the VEX branch.

On my end there are still a significant amount of issues but much less than before. There's an issue with VEX instructions prefixed with a REX prefix. I should have that figured out soon.

[2016-06-10 00:16] mcfadden8 commented on #81
It still crashes with dwarf-20150915 (stack trace is here: https://gist.github.com/mcfadden8/58ac804cac162b58113c5643f21a3577)

[2016-06-10 00:21] jdetter commented on #81
Could you provide us with some of your library/toolchain versions?

- Linux Distribution
- GCC
- Binutils/iberty
- libboost
- elfutils/libelf

I will try to reproduce the error and see if it's a permutation of the error we were having before.

[2016-06-10 00:38] jmellorcrummey commented on #80
With your changes in the VEX branch, the situation is much improved for me for xhpl and several of the other test cases that I provided.

Error reports for troublesome binaries (measured by wc)

Before:
    75    522   9647 v1/hpgmg-fv.report.txt
     1      9    124 v1/lulesh-RAJA-parallel.exe.report.txt
     6    154   1710 v1/mhdshock.report.txt
     6    154   1710 v1/pulse.report.txt
     6

[2016-06-10 00:42] mcfadden8 commented on #81
RHEL 7 (Linux 3.10)
gcc (GCC) 4.9.3
binutils-devel.x86_64 2.23.52.0.1-55.el7
boost.x86_64 1.53.0-25.el7
elfutils.x86_64  0.163-3.el7

[2016-06-10 09:56] jdetter opened #83 "Dyninst parsing part of function multiple times"
In one of John Mellor-Crummey's binaries, there is a function that has parts that Dyninst is parsing multiple times, sort of in a loop.

Basically, the `dyn_dump` output looks like this:

[code]

We then start parsing the area near `0x46c2a0` repeatedly. We somehow make it out of this parsing loop and get to the actual end of the function.

If you look at the addresses on the left in the full gist

[2016-06-10 10:03] jdetter commented on #83
@mxz297 do you think you could take a look at this parsing issue? I can share the binary with you over email if you need it (it was given to me by John Mellor-Crummey for internal use only).

`dyn_dump` binary download: http://cs.wisc.edu/~detter/dyn_dump
`dyn_dump` source download: http://cs.wisc.edu/~detter/dyn_dump.cpp

[2016-06-10 11:43] mxz297 commented on #83
Yes. I will take a look at this issue.

[2016-06-10 11:45] jdetter commented on #83
@mxz297 thank you, I will be in the office at 9am if you need anything from me.

[2016-06-10 12:30] jdetter commented on #80
Your binary exercised and issue in our table that was kind of complicated. It seems to have opened up a can of worms in our decoding tables.

The bad news is that we were decoding a significant amount of instructions (non VEX) completely wrong, and potentially with buffer overreads. The good news is that the rows are very straight forward to fix and I should be able to make a ton of progress on th

[2016-06-10 13:17] #79 closed

[2016-06-10 13:27] mxz297 commented on #80
Updates on jump table analysis. I get the one I mentioned above fixed, but I found several other issues about jump table analysis. Basically, if I found overlapping instructions in an executable and if the overlapping instructions have incoming edges from jump tables, it is probably that the jump table analysis is doing something wrong. I think if I get these issues resolved, we should see much fe

[2016-06-10 15:06] jmellorcrummey commented on #83
I hope you are not basing this problem report on behavior of a loop based on behavior of the checkparse program I provided, which mistakenly scans each basic block once per outgoing edge.

[2016-06-10 15:20] jdetter commented on #83
Yeah... I just talked with Xiaozhu and we think that my disassembler is just outputting assembly from blocks that overlap.

[2016-06-10 15:22] mxz297 commented on #83
I just confirmed that this issue was caused by bogus overlapping instructions and has been fixed on my end. When I am done with all the issues of jump table analysis, I should be able to close this.

[2016-06-10 16:31] jdetter commented on #80
@jmellorcrummey the current master should contain a ton of instruction fixes. Could you run your report program again and post the results as a gist? The full report was really helpful for finding the locations of the problem instructions.

[2016-06-10 16:48] #83 closed

[2016-06-10 20:15] jmellorcrummey commented on #80
Full issues with xhpl and test binaries provided are listed below. Things are much better:

[code]

[code]

[2016-06-11 16:29] pefoley2 opened #86 "Build failure on windows"
https://github.com/dyninst/dyninst/commit/3c38960b1e468579cdb62f67d5f123ea6c2463c8 broke the windows build.

C:\Users\Peter\Source\Repos\dyninst\common\src\addrtranslate-win.C(173): error C2440: 'return': cannot convert from 'HMODULE (__stdcall *)(LPCSTR,HANDLE,DWORD)' to 'Dyninst::Address'

Looks like AddressTranslateWin::getLibraryTrapAddrSysV needs to be changed, but I'm not sure what the corre

[2016-06-11 23:50] wrwilliams commented on #86
Reinterpret cast on the function pointer should be good there. If there's not a patch waiting Monday I'll get it then.

[2016-06-12 15:15] #86 closed

[2016-06-13 12:01] #71 closed

[2016-06-13 12:08] wrwilliams commented on #80
Looks like the matching errors in that output (XED and IAPI agree there's no instruction) should mostly be over approximated jump tables or other extra blocks; does that match up with the objdump/manual analysis view of the world?

[2016-06-13 12:19] mxz297 commented on #80
Until now, my fixes should eliminated all over-approximation or wrong calculation of jump tables. However, after I pull current master to my local branch, I observed new instruction decoding problems, where several move instructions that load the table input were decoded as arpl instruction. I am able to reproduce this decoding error with the VEX branch, so I think John's previous fixes accidental

[2016-06-13 16:36] jdetter commented on #80
I'm still working on the instruction Xiaozhu sent me. It's an instruction in the `oneByteMap` that  has a completely different meaning if it's `0x66` prefixed. We don't have a way to differentiate these instructions from the `oneByteMap`. We do this in the other tables with the sseMap, sseMapBis and sseMapTer tables that come after the twoByteMap, threeByteMap and threeByteMap2.

@wrwilliams any s

[2016-06-13 16:43] mxz297 opened #88 "New instruction decoding problem in master branch"
In the xhpl binary provided from Rice, objdump shows the following instruction at the given address:

`9aeef7:       49 63 fa                   movslq %r10d,%rdi`

Current master branch decodes the instruction as

`9aeef7 : arpl R10W, DI`

[2016-06-13 16:44] mxz297 commented on #80
I opened a new issue with more details about this problem #88.

[2016-06-13 16:48] jdetter commented on #88
The issue is, `arpl` is a oneByteMap instruction that becomes `movslq` when it is REX prefixed. We don't have any way of differentiating between REX and non REX prefixed instructions.

[2016-06-13 19:39] jdetter commented on #81
I wasn't able to reproduce this under a similar config, @mcfadden8 are you still having this issue with a clean build?

[2016-06-13 20:09] jdetter commented on #80
I have created a new branch for the fixes for these issues, `release9.2/fixes/mellor-crummey-binaries`. The branch will be merged and deleted when the issues are fixed (hopefully in time for 9.2.X).

[2016-06-13 20:38] mxz297 commented on #88
Current fix seems to lead to an assertion failure at
`4591c1:       48 63 ff                movslq %edi,%rdi`

[2016-06-13 21:18] jdetter commented on #88
Could you post that stacktrace of your issue? I'm getting an assert in instructionAPI and I think your assert was in common.

[2016-06-13 21:22] mxz297 commented on #88
Here it is.

[code]

[2016-06-13 21:26] jdetter commented on #88
I think I figured it out, there was a table indexing issue where the decoder went passed the end of the table (oops).

[2016-06-13 21:46] mxz297 commented on #88
We are moving on the right direction, but not there yet. Objdump shows:

`9b4da2:       4c 63 cb                movslq %ebx,%r9`

I got

`9b4da2 : movslq RBX, R9`

The operand order and the operand size (ebx vs rbx) seem different.

[2016-06-13 21:52] jdetter commented on #88
You're right, I added them in AT&T syntax order and dyninst was uses Intel order.

[2016-06-13 21:54] jdetter commented on #88
I don't think there will be any semantics for that instruction because I just added it to dyninst, is that okay?

[2016-06-13 22:12] jdetter commented on #88
After adding that change, I am now getting an assert in the x86 instruction semantics:

[code]

[2016-06-13 22:48] mcfadden8 commented on #81
That is really strange.  It is 100% reproducible for me.  I removed all directories and did a new git of  [dyninst](https://github.com/dyninst/dyninst/commit/030131678e0b616573acc93fa1259d415b33765b) and [testsuite](https://github.com/dyninst/testsuite/commit/d818b7d50cefccb32b67d7b93a969a810a8ac406) and the failure still occurs.

When I go back to version 85cebd3b810e0535bd48275276887453c9b13903

[2016-06-13 23:39] wrwilliams commented on #81
https://www.prevanders.net/dwarfbug.html

...apparently there are *two* bugs/incompatibilities in dwarf_next_cu_header_c, and we weren't calling that version of it before. A sufficiently large DWARF record can crash some libdwarf builds. Does this persist with the absolute latest libdwarf snapshot?

Almost certainly not a Dyninst bug, but we'll need to warn for it.

[2016-06-14 00:13] mcfadden8 commented on #81
Unfortunately, this still fails even with the June 13, 2016 revision of the libdwarf builds.  I just cloned from git://git.code.sf.net/p/libdwarf/code:

commit e7ffc32fb992308fa3b534f498a89d2db05f795f
Author: David Anderson <davea42@earthlink.net>
Date:   Mon Jun 13 12:16:34 2016 -0700

    Use a new cfa function interface for 10% reduction of cpu
    in common case.
    dwarfdump/print_frames.c

[2016-06-14 12:56] jdetter commented on #81
@mcfadden8 The first commit in the log, does your build work with that commit or is that the commit that causes it to not work?

[2016-06-14 12:56] #88 closed

[2016-06-14 13:37] jdetter opened #89 "Multiple testsuite failures on VEX"
Issue found by Xiaozhu on VEX:

I tested our current fixes against many x86 and x64 binaries. I didn't observe any wrong behavior. However, I ran dyninst testsuite our last. It failed test_instruction_farcall. Could take you a look at this failure?

[2016-06-14 13:38] jdetter commented on #80
It appears all of the instructions are now fixed on my end, however we are having a new issue on VEX that I'm looking into. #89 Hopefully this issue will be fixed by today so that you can give this another try.

[2016-06-14 14:00] jdetter commented on #89
This has been fixed.

[2016-06-14 14:00] #89 closed

[2016-06-14 14:11] jdetter commented on #34
@wrwilliams was this fixed for ppc64? I think we fixed a similar issue on x86_64.

[2016-06-14 14:19] jdetter opened #90 "amd64_7_arg_call passing, then segfaulting from shared pointer on VEX"
The `amd64_7_arg_call` test passes, but then somehow gets a segfault when releasing a libboost shared pointer. I ran into this with boost version 1.58.

[code]

[2016-06-14 14:34] jdetter commented on #90
This does not affect the master branch.

[2016-06-14 14:39] mcfadden8 commented on #81
@jdetter Sorry for the confusion.  @wrwilliams had asked me to try the absolute latest libdwarf snapshot.  I provided the log to show which snapshot I pulled.  And the problem still occurs with the latest snapshot libdwarf.

[2016-06-14 14:48] jdetter commented on #81
Ah okay

[2016-06-14 15:14] jdetter commented on #81
To confirm, df1523dd4003107b959046dd047402642f530c43 breaks your build?

[2016-06-14 15:29] mcfadden8 commented on #81
Correct.

[2016-06-14 15:29] jdetter commented on #81
Ok, I'm building on an actual RHEL7 machine now so hopefully I'll be able to reproduce this and get it fixed.

[2016-06-14 15:55] mxz297 commented on #80
@jmellorcrummey We have pushed various fixes that should clear most of your error reportings. Could you test it soon to see how it works? Your feedback is important as we try to determine whether these fixes should be included in Dyninst 9.2 release.

[2016-06-14 16:02] jmellorcrummey commented on #80
what branch has the fixes you would like me to evaluate?

[2016-06-14 16:02] mxz297 commented on #80
VEX. I am sorry that I forgot to mention this.

[2016-06-14 16:32] wrwilliams commented on #34
I haven't checked recently, but that's on today's list.

[2016-06-14 16:48] jmellorcrummey commented on #80
The new result is much better! My tests still show a few issues with hpgmg-fv:

[code]

[2016-06-14 17:21] jdetter commented on #80
I don't see an issue with the `jmp` instructions as far as decoding goes, @mxz297 would those be an issue on your end?

[2016-06-14 17:26] mxz297 commented on #80
I will take a look at this too. You @jdetter can start with address `a4f6ae`, which you can see through objdump.

[2016-06-14 17:31] jdetter commented on #80
I just pushed fixes to VEX for the problem SSE instructions  e71593fde90d2b0e8e46411c9d765747d6ce4b3f

[2016-06-14 17:44] jmellorcrummey commented on #80
That led to a build failure for me:

/home/johnmc/Documents/pkgs-src/dyninst/common/src/arch-x86.C:5639:63: error: 'Eq' was not declared in this scope
         { e_pextrd_pextrq, t_sse_ter_mult, SSET16_66, true, { Eq, Vdq, Ib }, 0, s1W2R3R },

[2016-06-14 17:49] jdetter commented on #80
Yup that's what I get for not rebuilding, sorry about that! 36911135c1baeef12b1a79c4a38d095543ddf06a will fix the build issue.

[2016-06-14 17:56] jdetter commented on #81
Hmmm, very interesting. So I get a couple of testsuite failures with this configuration, however my proccontrol tests look fine. I will retry with latest libdwarf to see if I can get your libdwarf issue.

Here is my config:

[code]

Test output:
[code]

[2016-06-14 18:07] jdetter commented on #80
@mxz297 is taking a look at why the jump instructions aren't behaving nicely.

[2016-06-14 18:16] jdetter commented on #81
Actually, I just realized the repository I was using was behind by over 150 commits, so I am doing a fresh clone and retrying the tests.

[2016-06-14 18:18] mcfadden8 commented on #81
Okay thanks, I was going to attempt to provide you with more environment information, but I'll wait a bit.

[2016-06-14 18:29] jdetter commented on #90
@mxz297 It appears that before 015ce98dc4be967b87d89692f6b0e3eae0ac55d4 we pass these tests, however afterwards we don't pass the tests. Could you take a look at this after you're done with #80?

[2016-06-14 18:45] jdetter commented on #81
@mcfadden8 do you have any issues building the latest master with this configuration?

[2016-06-14 18:58] mxz297 commented on #80
@jmellorcrummey For the following two reporting
[code]

Dyninst shows that they are `jmp 0` and Objdump shows that they are `jmpq   0 <USE_REG>` too. So, in these cases, we are reporting what the binary says...

I am continuing on other reports.

[2016-06-14 19:17] jdetter commented on #81
So it turns out I'm having major corruption issues with AFS right now. Every time I clone dyninst, one of the header files keeps reverting to an older version. I will recompile on another machine and copy over the libraries and hopefully have something for you today.

[2016-06-14 19:26] jmellorcrummey commented on #80
I don't dispute the decoding on these two instructions. I am concerned about the CFG though. For the first, the snippet around the instruction of interest is:

[code]

My debugging harness shows the jmpq 0 to be the last instruction in a basic block with a DIRECT edge to sink. Isn't "jmpq 0" the equivalent of a control flow no-op? As I read the Intel instruction set manual, a jump with a relative

[2016-06-14 19:31] mxz297 commented on #80
I see. Let me explain this a little bit more. When I say `jmp 0` from Dyninst or Objdump, the 0 is not the relative offset of the jump. The 0 is the calculation result of RIP+ offset. So, if this instruction is executed, the control flow will go to virtual address 0 and segfault. That's why Dyninst says it goes to sink.

[2016-06-14 19:59] jmellorcrummey commented on #80
I studied the situation a bit more and I agree. This is sure a strange instruction to have in the middle of a procedure!

[2016-06-14 20:03] mcfadden8 commented on #81
Hi @wrwilliams, I have reproduced this on [cab ](https://gist.github.com/mcfadden8/acc748f322c7906d194d235cfa283c87)(see linked gist for configuration information).

[2016-06-14 20:50] jdetter commented on #80
Bart is deciding whether or not these fixes are going into the 9.2.X release. The faster we get these cleaned up the more likely it will be for these changes to make it in. I think all of us would really like to see these fixes get into 9.2.X.

I sent mail offline so Bart can see the progress on this issue.

If there is anything left that I can help with please let me know right away. I will be wa

[2016-06-14 20:57] mxz297 commented on #80
@jmellorcrummey Finally I pushed extra fixes that should eliminate all error reportings. All fixes are on VEX branch.

We spent some time on the `jmp 0`. By comparing the binary code and the source code, we think the jump should be a tail call to `__pthread_clock_gettime`. And we find that the symbol table says:

`25745: 0000000000000000     0 NOTYPE  WEAK   DEFAULT  UND __pthread_clock_gettime`

[2016-06-14 21:01] jmellorcrummey commented on #80
Your explanation makes a lot of sense. It seems a miracle that the linker didn't balk!

[2016-06-14 21:18] wrwilliams commented on #34
There's TOC glue code that doesn't line up with what we expect for either PPC ABI (v2 we'd expect that the local and global entries are contiguous and they're not, v1 we'd expect that there's not two separate entry points and there are). I think this is a won't fix until we work out the full implications of PPC ABI v2; removing from milestone but leaving open.

[2016-06-14 21:21] jdetter commented on #41
Fixed by 73da5f143551ea4311a14c310372c82c17c90d75

[2016-06-14 21:22] jdetter commented on #41
VEX will hopefully be merged into master before the release of 9.2.X. If this is not the case, I will make a pull request to cherry pick this documentation fix into master for the release.

[2016-06-14 21:26] jdetter commented on #90
@mxz297 you were right, recompiling the testsuite resolved these issues. I will do a full run to see if we are passing the entire testsuite.

[2016-06-14 21:26] #90 closed

[2016-06-14 21:41] mcfadden8 commented on #34
Hi @wrwilliams,

for ABIv2, what is an example of when local and global entries are not contiguous?

[2016-06-14 21:46] jmellorcrummey commented on #80
Everything looks good on the VEX branch relative to my test cases. You guys made enormous progress over the last week. Thanks for thoroughly addressing the issues that I reported!

[2016-06-14 22:04] wrwilliams commented on #34
...I'm not 100% positive what I'm seeing, but here are the relevant snippets from our runtime library, which exports DYNINST_unlock_tramp_guard:

[code]

[2016-06-14 22:06] wrwilliams commented on #80
The linker didn't balk because it's a weak symbol, but sheesh. This code is indeed stupid.

[2016-06-14 22:10] wrwilliams commented on #81
I can also repro on cab with a debug build with the stock libdwarf, so it would appear to run forward and backward a long ways in libdwarf versions.

@jdetter and I did notice that you're building debug configs, while we're building RelWithDebInfo by default; this means that while there will be debug info for the test suite in both cases, there will be significantly *different* debug info for debu

[2016-06-14 22:54] mcfadden8 commented on #81
Thanks @wrwilliams,

When I build with RelWithDebInfo, the tests work again.

Marty

[2016-06-15 00:36] wrwilliams commented on #81
Great. One mystery solved, at least. You care which of us writes up the bug report for the libdwarf team?

I'll see if I can find any sane sort of workaround for this, but it's been a time bomb for >2 years waiting for the right binary to have Symtab type parsing invoked on it...

[2016-06-15 01:10] pefoley2 opened #92 "dyninstAPI_RT build failure on Windows"
Introduced by https://github.com/dyninst/dyninst/commit/ce99292ae64edc87665ea5de19a6036fa376ac0d

1>  RTheap.c
1>C:\Users\Peter\Source\Repos\dyninst\dyninstAPI_RT\src\RTheap.c(286): warning C4047: '=': 'heapList_t *' differs in levels of indirection from 'Address'
1>C:\Users\Peter\Source\Repos\dyninst\dyninstAPI_RT\src\RTheap.c(294): warning C4047: 'function': 'Address' differs in levels of indire

[2016-06-15 01:20] cuviper opened #93 "Rewritten libc.so is not usable"
On Fedora 23, I can "run" libc to get simple version info:

[code]

If I do a null rewrite, the result crashes:

[code]

In GDB:

[code]

There are a lot of errors from elfutils' `elflint`:

[code]

I'm sure some of this can be deemed harmless, but the "out of bounds" messages are troubling.

[2016-06-15 01:23] cuviper commented on #93
Dump of `eu-readelf -a`: [pt-libc.so--readelf-a.txt](https://github.com/dyninst/dyninst/files/315266/pt-libc.so--readelf-a.txt)

[2016-06-15 13:52] wrwilliams commented on #92
Should be safe to declare heap as an address in DYNINSTos_malloc, rather than as a void*, which will make the pointer math behave.

[2016-06-15 14:36] wrwilliams commented on #93
The FINI entry in dynamic looks to be off by a page, and obviously we didn't correctly update _DYNAMIC_ either--which AFAIK should be harmless by spec, but some jerk probably uses the symbol and not the headers for something. I can't tell immediately if init is also wonky but the crash suggests that's likely.

I don't *think* this is a regression; libc is much easier to rewrite so it's usable as a

[2016-06-15 15:16] mxz297 commented on #80
Great to know that all your test cases are good!

[2016-06-15 15:16] #80 closed

[2016-06-15 16:39] jdetter opened #94 "pc_fork_exec failure on master and VEX"
I believe we decided that `test_pt_ls` isn't relevant for `x86_64`, however there are other failures.

__System information__

[code]

__Dyninst configuration__
Dyninst install directory was `/usr`
`LD_LIBRARY_PATH` was set to dyninst lib install directory (`/usr/lib`)
`DYNINSTAPI_RT_LIB` was set correctly (`/usr/lib/libdyninstAPI_RT.so`)
The commit I used for this test (VEX branch): 7ce040d6bc2c9

[2016-06-15 16:40] jdetter commented on #94
I will also run the testsuite on master so we can compare the behavior.

[2016-06-15 16:51] cuviper commented on #93
It's not *just* running as an executable that's busted, but that's a convenient way to test its viability.  It also crashes under `LD_PRELOAD=pt-libc.so /bin/ls`.

I think all the `.tdata` and `.tbss` errors are also a serious problem, as these are TLS addresses.  It looks like these are getting the page adjustment when they shouldn't, as in this case their "addresses" are really just offsets in t

[2016-06-15 17:01] wrwilliams commented on #93
The TLS stuff I'm pretty sure is a regression, now that you mention it. And the hash isn't properly reconstructed, which is also a regression AFAIK.

It'd be instructive to see equivalent reports from a non-PIE executable with/without TLS and a PIE executable with/without TLS.

[2016-06-15 17:15] jdetter commented on #94
@wrwilliams same behavior after reboot.

[2016-06-15 17:58] mxz297 commented on #94
I will see if I can reproduce these errors

[2016-06-15 18:11] wrwilliams commented on #93
I'm building from master immediately before your latest, and will post comparison lints as I generate them.

[2016-06-15 18:23] melsabagh opened #96 "Rewritten binary dies with SIGILL"
On Ubuntu 16 x64, rewriting whetstone-double (from UnixBench) with anything besides null instrumentation results in illegal instructions:

[code]

Running the rewritten binary fails with SIGILL:
[code]
[code]

Valgrind also fails to uplift the assembly to its IR, at the same offset. The sequence of offending instruction bytes are:
[code]

The springboard debug output shows the following:
[code]
He

[2016-06-15 18:45] wrwilliams commented on #96
Is this a regression recently introduced or a long-standing bug? We've had a lot of churn in instruction decoding recently.

[2016-06-15 18:51] wrwilliams commented on #93
Using a simple openFile/emit mutator as of commit 4b099dabdfb4f2ced3bc699ef2343a82767d5566, I get the following:

null-rewrite /bin/ls ls-rw; eu-elflint ls-rw
section [27] '.bss' has wrong type: expected NOBITS, is PROGBITS
section [28] '.gnu.conflict': relocations are against loaded and unloaded data
loadable segment [3] is executable but contains no executable sections
section [32] '.gnu.version

[2016-06-15 19:03] melsabagh commented on #96
I'd say a regression. I used Dyninst successfully with UnixBench in the past (Dyninst 8.1, iirc).

[2016-06-15 19:24] jdetter commented on #94
@mxz297 Could you take a look at the log I generated for master and see how it compares to your master? I'm still trying to get environment issues figured out.

[2016-06-15 20:02] wrwilliams commented on #96
VEX is more advanced than master on some instruction decoding issues that could be affecting relocation. This failure is on 030131678e0b616573acc93fa1259d415b33765b, right?

[2016-06-15 20:08] jdetter commented on #94
I just realized I built my dyninst as a debug build, which has been exercising #81. I will recompile without debug and hopefully have more meaningful output.

[2016-06-15 20:17] wrwilliams commented on #81
Yeah, there's not a good workaround here. Reported to libdwarf, decision pending on what they send back. In the worst case I can ensure that this code path gets cut off unless someone asks explicitly for type parsing, which puts us in a position no worse than we were before df1523d.

[2016-06-15 20:47] melsabagh commented on #96
The failure is on master, and I can reproduce it before 0301316. In fact, the 9.1.0 tar ball from dyninst.org has the same issue.

[2016-06-15 20:49] jdetter commented on #94
My last run was MUCH better. The gist for __VEX__ has been updated.

[2016-06-15 21:46] wrwilliams commented on #94
Okay, that is progress. I'm reproducing add_symbols failures on master, too. I am not reproducing pc_fork_exec, though. Can you run that with -verbose -log and post output?

[2016-06-15 21:48] jdetter commented on #94
@wrwilliams  So, I am only failing the attach portions, is there anyway for me to just run the attach?

[code]

[2016-06-15 21:56] wrwilliams commented on #96
I'm amazed that 8.1 worked at all here, truth be told--though that's likely to have been on older compilers with less demanding instructions generated.

Do you mind sending over/posting the offending binary? We've got a few tools kicking around that will let us verify decoding/parsing fixes pretty easily, and I want to ensure that we're not fighting with the toolchain to get it to give us the prec

[2016-06-15 21:57] wrwilliams commented on #94
-attach should do the trick.

[2016-06-15 21:58] jdetter commented on #94
Ok, here is the log:

[code]

[2016-06-15 22:02] wrwilliams commented on #94
Well, that's fascinating. We should have a mutatee name for launching the process to attach to, but somehow you don't have one here.

If you grab a log with DYNINST_DEBUG_PROCCONTROL=1 I can sift through that spam and see if there's anything real, but this looks like something broken in infrastructure and/or environment. Weird.

[2016-06-15 22:09] jdetter commented on #94
Here is the proc control debug output for `pc_fork_exec`: https://gist.github.com/jdetter/6149f2fd5a60adb3b7f4d97815492643

Is `execv` suppose to be a binary on my machine or something?

[2016-06-15 22:13] jdetter commented on #94
Very strange, on Ubuntu with the VEX branch, I pass all tests except:

[code]

I even pass the add symbols test.

[2016-06-15 22:25] wrwilliams commented on #94
That's a missing static libthread_db, similar to the missing 32-bit case.

execve is one of the variants of the exec system call, and it looks like while we should be execing "pc_exec_targ" we're execing an empty string? Not sure, but something's weird. Let's compare against create mode's proccontrol debug...

[2016-06-15 22:32] jdetter commented on #94
Create output: https://gist.github.com/jdetter/affce8b8bc35ce6dfdd3ba8478ba3bde

[2016-06-15 22:38] mxz297 commented on #94
@wrwilliams I am still seeing 32-bit test_thread_5 and test_callback_2 failing. But this time, we have meaningfully debug log. For test_thread_5, It says "unexpected message size 12 not 16".

The complete log is at https://gist.github.com/mxz297/ddc74c75cbd8a2005354026f5935c9bb

[2016-06-16 00:08] cuviper opened #98 "Infinite recursion in TLS tramp guard"
Using systemtap, I have tried to instrument the `mutex_entry` static probe point in `libpthread.so`.  When any new thread tries to take a lock, it recurses on itself until the stack overflows.  The sequence looks something like:

- Thread reaches the `mutex_entry` address and starts the instrumentation.
- We call `DYNINST_lock_tramp_guard()` to make sure we aren't recursing.
- This accesses the TL

[2016-06-16 00:13] cuviper commented on #98
I'll work on getting an easy reproducer for this scenario, but I wanted to get this problem description up now so others can start thinking about it.

Another troublesome aspect is that the thread's SIGSEGV leads to the mutator stalling too.  I haven't characterized that issue yet though.

[2016-06-16 01:09] wrwilliams commented on #94
@mxz297 Are you certain the test suite is built against a current version of dyninst/same compiler/same ABI, even for its 32-bit mutatees? The user event callback code hasn't changed that I know of, and I'm not reproducing it.

@jdetter I think we can get something marginally more useful out of the mutatee output here. I'd say strace, following forks, but I seem to recall that doesn't play nice wi

[2016-06-16 01:48] jdetter commented on #94
@wrwilliams how would I use strace on only the mutatee and not the mutater?

[2016-06-16 03:25] melsabagh commented on #96
Sure. Please find the whetstone-double binary here: https://drive.google.com/open?id=0B6-MqOZU2uAec2xlZGoyajVwbTg

[2016-06-16 14:23] wrwilliams commented on #98
Two questions to think about: is it preferable to pay the costs for safety at mutator design time, at instrumentation time, or at run time, and do we need a solution to scale to an arbitrary number of threads?

[2016-06-16 14:26] wrwilliams commented on #94
I was going to say "you wouldn't" but that's both flippant and wrong. In the test suite's proccontrol_comp.C class, there's code that creates mutatee processes; it should be simple to hack that so that instead of creating a mutatee directly, it creates 'strace mutatee'. Probably still doesn't behave well, but it's worth the quick experiment.

[2016-06-16 14:31] wrwilliams commented on #96
@jdetter I'm going to run this through John M-C's tool and see what shakes out; will let you know if I find bad decodes.

[2016-06-16 16:17] jdetter commented on #94
Where do we call ptrace on the Mutatee?

[2016-06-16 16:19] jdetter commented on #94
Oh, I see what you're saying. I'll try that.

[2016-06-16 16:30] jdetter commented on #94
@wrwilliams is this sufficient?
[code]

[2016-06-16 16:36] jdetter commented on #96
Ok, sounds good!

[2016-06-16 16:48] wrwilliams commented on #96
No bad decodes here; it looks like we're screwing something up in our PC-relative transformations during relocation. This stretch is where things go sideways:

400bb6:       c5 fb 10 15 ca 30 00    vmovsd 0x30ca(%rip),%xmm2        # 403c88 <_IO_stdin_used+0x208>
  400bbd:       00
  400bbe:       c4 e1 e3 2a 1d 79 46    vcvtsi2sdq 0x204679(%rip),%xmm3,%xmm3        # 605240 <rusage>
  400bc5:

[2016-06-16 17:12] jdetter commented on #94
I finally got this to work. I forgot that it was the attach tests that were failing. Anyway, here is the log: https://gist.github.com/jdetter/3cd01d847e60743cd43b430fd1f26a08

do you want me to do a run with any debug output?

[2016-06-16 17:21] cuviper commented on #94
So, as you've found, both strace and dyninst use ptrace.  Since that's an API with one master, they can't be attached simultaneously.  We actually have an ongoing project to (1) enable multi-client gdbserver, (2) implement gdbserver on dyninst, and (3) port tools like strace onto gdbserver.  But we're still in too early stages to make this generally useful yet.

Until that bears fruit, I would sim

[2016-06-16 17:24] jdetter commented on #94
@cuviper ohhhh, so basically the test will never run properly because dyninst is attached to strace and strace is attached to the Mutatee?

[2016-06-16 17:38] cuviper commented on #94
Correct - the mutator has no control over the mutatee.  Well, unless it instrumented control *though* the strace process, which is possible but well beyond the sort of diagnostic hack you're trying here.

[2016-06-16 18:06] cuviper commented on #98
It would be an extremely high burden to design our mutator without any potential recursion, so that tramp guards could be disabled.  Especially since systemtap gives the user a lot of freedom in what to do in their instrumentation.  The only other option I see from the mutator design is to forbid instrumenting anywhere in the `__tls_get_addr` chain -- we might have to do that, but `mutex_entry` su

[2016-06-16 18:29] wrwilliams commented on #98
Bart and I had a talk about this; all solutions we have come up with thus far are kind of gross. Recall that we do have the ability to instrument or execute RPCs at thread creation time. So here's what I can figure as our options, in two orthogonal sets:

TLS CREATION TIME
1) Force TLS for the new thread to be created at thread creation, and in a safe manner
2) Allow TLS to be created as it's used

[2016-06-16 20:04] cuviper commented on #98
There's a similar sort of problem with signal handlers that use TLS variables.  The general advice there is to touch TLS early in each thread before a signal can get to it.

The safe way in this case seems like it would require freezing all threads, removing or disabling ld/libc/libpthread instrumentation, touch TLS in the new thread, re-instrument and resume.  A rather heavy solution.

That sound

[2016-06-16 21:22] jdetter commented on #94
Is there anyway for me to make the test output go to standard err instead of a log file?

[2016-06-16 21:45] wrwilliams commented on #94
test_driver -test <test> -verbose -log should by default send everything to stderr

[2016-06-16 23:10] jdetter commented on #96
I can see a couple of issues here, especially this copy opcode logic:

[code]

VEX prefixed instructions never start in the oneByteMap and rarely do they start in the twoByteMap. @wrwilliams  Why can't we just call ia32_decode() on this instruction to get the length?

[2016-06-16 23:52] wrwilliams commented on #96
Speed is why we're trying to avoid it, but there's no reason not to replace that sludge with something sane. I'd rather be slow than wrong here.

[2016-06-17 00:41] cuviper opened #100 "SIGSEGV in a thread hangs the mutator"
This was a side issue noted from #98.  A `SIGSEGV` in one thread will kill the whole process, but Dyninst hangs.  Consider this program as a mutatee:

[code]

We can try to run through `parseThat`, and it hangs:

[code]

If I move the segfault into the main thread, it cleans up properly:

[code]

[2016-06-17 01:05] jdetter commented on #96
I agree, but I can also see how this would speed up rewriting by quite a bit. I could add separate logic for VEX and it would still be correct, and fast, or we could swap it out and go with ia32_decode, which is the cleaner and safer solution in my opinion. Either solution is fine with me.

[2016-06-17 12:33] wrwilliams commented on #96
Let's get clean and safe working first. If we're going to go for a fast approach it should ideally get redesigned so that there's common code between the normal decoding and the fast translation path; otherwise we're setting up the exact same bug in the future.

[2016-06-17 14:55] wrwilliams commented on #100
Note that parseThat is hanging because its mutator process (don't ask why it spawns a process for the mutator, I don't know) is asserting (signal 6). So if we can get at the assert, that should shed light on things.

[2016-06-17 15:51] jdetter commented on #96
We don't keep track of the amount of opcode bytes in `ia32_decode`, we only keep track of prefix bytes and total instruction length. @wrwilliams We already have `ia32_decode_prefixes`, should we just rip out the opcode decoding from `ia32_decode` and make an `ia32_decode_opcode`?

[2016-06-17 15:53] wrwilliams commented on #96
Sounds sensible to me.

[2016-06-17 15:56] cuviper commented on #100
True, although that assert doesn't show until after the timeout SIGINT is delivered.

[2016-06-17 16:01] wrwilliams commented on #100
...why *is* our handler thread trying to recurse, though?

[2016-06-17 16:23] wrwilliams commented on #81
After discussion with Dave Anderson, this is not a libdwarf bug but subtle memory corruption in Dyninst; one should not take a reference to a Dwarf_Dbg handle. Fixed by ada1d1.

[2016-06-17 16:23] #81 closed

[2016-06-17 17:51] #98 closed

[2016-06-17 18:12] wrwilliams commented on #93
...curiouser and curiouser. With glibc 2.12:

bill@follis] (835)$ ./pt-libc.so
GNU C Library stable release version 2.12, by Roland McGrath et al.
Copyright (C) 2010 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.
There is NO warranty; not even for MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE.
Compiled by GNU CC version 4.4.7 20120313 (Red Hat 4.

[2016-06-17 19:04] jdetter commented on #96
I'm making a lot of progress on this, it just took me a while to get all of the compiler issues figured out. I should have something pushed to VEX soon to fix this.

[2016-06-17 19:18] jdetter commented on #96
@wrwilliams what is the first argument to `ia32_decode`, capa, supposed to do?

[2016-06-17 19:37] wrwilliams commented on #96
Mask of decoder capabilities that we want to enable. Shouldn't need anything more than location decoding/prefix decoding to make this work; check the IA32_CAPA_* defs in arch-x86.h (IIRC) for the list.

[2016-06-17 19:38] jdetter commented on #96
@wrwilliams ok great, thanks!

[2016-06-17 19:54] jdetter commented on #96
@wrwilliams Are we going to try to squeeze this into 9.2.X? This has been kind of a large overhaul in `arch-x86.C`

[2016-06-17 19:58] wrwilliams commented on #96
I'd really like it if we can; it's a pretty big hole in functionality.

[2016-06-17 20:10] jdetter commented on #93
Is this related to #96 ?

[2016-06-17 20:18] wrwilliams commented on #100
Okay, parseThat -S is far more useful here; it gives us the view directly from the mutator. What I'm seeing is that the ptracer thread is still around, the generator and handler have exited, and nobody's actually kicked the main thread out of its waitAndHandleEvents call yet.

[2016-06-17 20:19] wrwilliams commented on #93
Unlikely. This is producing a badly laid-out ELF file, not bad code, as far as I can tell.

[2016-06-17 20:38] wrwilliams commented on #100
Our handler thread and generator thread both vanish quietly along paths that shouldn't.

[2016-06-17 20:45] wrwilliams commented on #100
Understood; I'm just trying to separate the oddities from the real bugs.

I'm not seeing actual thread exits for handler/generator under strace, but gdb isn't picking up the threads when we break in during the hang. Which means either my interpretation of the data is bad, or something really weird (and probably should-be-impossible) is going on.

Mind trying with -S under systemtap so we can see m

[2016-06-17 21:57] mcfadden8 commented on #81
Thanks!

This is working now.

[2016-06-17 22:19] cuviper commented on #100
Here's a pretty thorough trace, hope it's not too much.  I've included `kprocess` events (~= user threads), signals, waits, and `PTRACE_CONT`.

[code]

Here it hangs.  I'm guessing it's hoping for 6901 to report in another wait return?

For completeness, here's what happens after I hit Ctrl-C:

[code]

So the only further action on 6901 is to actually exit from that SIGSEGV.

---

Running on it's

[2016-06-17 22:36] wrwilliams commented on #100
So the threads are still hanging out but gdb doesn't believe they are (for me, at least). 6895-6898 should be the main, ptracer, generator, and handler thread in I believe that order ordinarily, and they've only seen a sigstop if I'm reading this right. And I presume that the release calls are continues.

Do you get a 4-thread backtrace with gdb (in which case there's something weird with my debug

[2016-06-17 22:37] cuviper commented on #93
If that was RHEL6, your libc-2.12.so has most likely been given a load address from prelink.  Try running `prelink -u /lib64/libc-2.12.so`, then run the experiment again.  That makes a difference for me, at least -- the prelinked file runs ok after rewriting, and the "raw" one crashes after rewriting.

[2016-06-17 22:49] cuviper commented on #100
The `kprocess.release` is when the task is entirely dead and getting reaped, following the `kprocess.exit` that merely made it a zombie.  So for instance, 6899 exited a few lines before the hang, but it wasn't released until the very end of that trace - reaped by systemd since I had already killed the actual parent.

I get all 4 threads in gdb:

[code]

[2016-06-17 22:58] wrwilliams commented on #100
@mxz297 and I have been on the trail of other proccontrol bugs this afternoon, mostly Windows-specific, but there may be some overlap here. This certainly looks like our standard starvation because we forgot to continue...something...that's the common proccontrol failure mode.

[2016-06-18 00:04] cuviper opened #101 "RHEL6 "cannot allocate memory in static TLS block""
The change to static TLS in #99 doesn't seem to work on RHEL6 for LD_PRELOAD.

[code]

All of these tests pass on RHEL7 and Fedora 24.  It's curious to me that this fails only on create mode (with `LD_PRELOAD`), but it's fine on attach (with injected `dlopen`).

This can even be seen for a trivial preload:

[code]

[2016-06-18 00:18] cuviper commented on #101
Ouch -- see glibc [PR14898](https://sourceware.org/bugzilla/show_bug.cgi?id=14898) and its fix in commit [67cbf9a2a9e89](https://www.sourceware.org/git/gitweb.cgi?p=glibc.git;a=commitdiff;h=67cbf9a2a9e8953aa7ea875938d6646727c71aaa).

It's enough to just make the TLS variable bigger than a single byte -- as `short` it's fine.  Whew.

[2016-06-18 00:31] #101 closed

[2016-06-20 12:26] jdetter commented on #96
I've got this to the point where RIP relative instructions are getting rewritten properly, however the binary is still getting a segfault when being run after being rewritten. @wrwilliams I'll probably need more help with this to figure out what the other problems are.

[2016-06-20 13:00] wrwilliams commented on #96
If you're rewriting with parseThat, its run hunt mode will be helpful...automatic binary search for the problematic (set of) instpoints that cause a crash. Set that going and see what it turns up; should be pretty quick as whetstone's nice and small.

[2016-06-20 13:21] jdetter commented on #96
Ok awesome, I started working super early today because I have some UPL stuff I need to do around noon, but I should be back in my office around 2PM. I'll see how many more rewriter bugs I can get figured out today, if I get completely stuck I'll let you know but so far the bugs I've run into haven't been that bad.

[2016-06-20 15:35] wrwilliams commented on #93
No prelink on my system available to prelink -u, but libc does have a non-zero-based virtual address layout.

[2016-06-20 16:56] cuviper commented on #93
Odd.  I don't know how that would happen except by prelink.

[2016-06-20 17:37] cuviper commented on #93
Anyway, having that non-zero load address makes a big difference in rewriting thanks to:

[code]

[2016-06-20 18:33] jdetter commented on #96
Do you want me to come up to your office or do you want me to post a summary here?

[2016-06-20 18:45] cuviper commented on #93
Sorry, that's followed by:

[code]

So really the difference is that `library_adjust` page when the load address is zero.

[2016-06-20 18:46] wrwilliams commented on #96
Drop by when you get a chance.

[2016-06-20 20:03] jdetter commented on #96
Well, I'm really not surprised were crashing with the latest VEX build. This is what we start with:

[code]

and we turn it into:

[code]

The extra `0xFF` at the beginning of the instruction after the `vmovsd` turns what should have been a `mov` into a `decl`. @wrwilliams Does this mean we were one short on the length of `vmovsd` during rewriting?

[2016-06-20 21:25] wrwilliams commented on #100
Fun data point here: Xiaozhu built a C++ version of the test mutatee and was not able to reproduce this (including on my development box). Does that suggest any particular behavioral differences to anyone?

[2016-06-20 21:53] cuviper commented on #100
I don't see any behavioral difference between compiling with `gcc` or `g++`.
(my command line: `g++ -pthread segv-thread.c -o segv-thread`)

[2016-06-20 22:03] wrwilliams commented on #100
The obvious binary level difference seems to be the presence of [de]register_tm_clones in the mutatee that works; we're still trying to nail down how the build differs. Could be timing changes. Any lock that's held when a thread crashes should be released by the kernel, right?

[2016-06-20 22:23] cuviper commented on #100
The kernel does not release locks.  If it was a robust mutex (not the default) then the kernel will mark it with `FUTEX_OWNER_DIED`, and the next attempt to lock the same will get `EOWNERDEAD`.  The lock can be cleaned up with `pthread_mutex_consistent()`.

[2016-06-20 22:24] wrwilliams commented on #100
My build line was gcc segv-thread.c -o segv-thread -lpthread, which should be equivalent to yours, I think.

I'm really suspecting that there's some hidden mutatee-side deadlock going on, FWIW.

[2016-06-20 22:58] cuviper commented on #100
The thread died as soon as it got that `PTRACE_CONT` with `SIGSEGV`, and the main thread got a `SIGKILL` right after, because one death kills everything.  So what are you expecting the mutatee to be doing?

[2016-06-20 23:00] wrwilliams commented on #100
I had been expecting the main thread to be hanging out waiting for a lock (e.g. in exit instrumentation) that it never would acquire, but SIGKILL really should put paid to that notion, it's true.

[2016-06-20 23:38] cuviper commented on #100
If I hack out the option `PTRACE_O_TRACEEXIT`, then everything finishes properly.

If I use gdb in the ptrace thread to inject a `PTRACE_CONT,0` on the thread that had reported `PTRACE_EVENT_EXIT`, then this also finishes properly.  This seems consistent with the manpage, which states:

As near as I can make out, what happens here is:
- sub thread raises `SIGSEGV`
- the mutator is notified and del

[2016-06-21 16:50] wrwilliams commented on #100
syncRunState should IIRC only be trying to stop everything via SIGSTOP if we're trying to deliver an exit callback. Exit callbacks are *not* normal callbacks re: what can actually be done from them; is PTRACE_EVENT_EXIT a sufficient guarantee that all threads of the tracee are either dead or signal-delivery-stopped such that we can deliver a callback safely in this context?

[2016-06-21 18:17] cuviper commented on #100
Between the "Death under ptrace" section of the manpage and the notes in the "BUGS" section about `SIGKILL`, I don't feel very comfortable making any promises about the order here.  But in general, no, a `PTRACE_EVENT_EXIT` could simply be one thread's normal exit while the process continues.

It looks like `SIGSEGV` is sending that thread into the kernel's `do_coredump()`, which calls `coredump_w

[2016-06-21 20:00] wrwilliams commented on #100
Hrm. I thought we could at least be sure that `PTRACE_EVENT_EXIT` on the main LWP was going to be a whole-process exit; certainly our decoder logic attempts to map `PTRACE_EVENT_EXIT` to the appropriate thread/process level exit decision. And I don't think we can get into the bad state here without a user-level process exit callback present (need to verify, but that should be a trivial change to p

[2016-06-21 20:11] jdetter commented on #41
fixed by #102

[2016-06-21 20:11] #41 closed

[2016-06-21 21:35] cuviper commented on #100
I tried another experiment where the thread calls `_exit(0)` instead, so there's no coredump interference.  Both threads generate `PTHREAD_EVENT_EXIT`, but it is not consistent in the order these are delivered.  Most of the times I tried, the main thread reported first, and everyone was happy.  One time they were reversed though, and I saw one thread try to send that `SIGSTOP` at the same the othe

[2016-06-21 23:27] jdetter commented on #96
@melsabagh The fixes for this are now on the VEX branch. They should be merged into master this week.

[2016-06-22 16:10] wrwilliams commented on #100
We're expecting, at a minimum, that there will be some ptrace event for the child after we send it a SIGSTOP if we haven't already seen its LWP exit. That may be the stop, it may be LWP death, it may be a different signal, but we expect *something* coming back from ptrace (or I suppose already in the ptrace event queue). It appears that expectation is not a valid one, though, and that the LWP exit

[2016-06-22 16:37] cuviper commented on #100
The latter -- that LWP exit is coming, just not guaranteed in any order.  Although in the manpage it also sounds like `SIGKILL` can't be promised to generate an exit either, even though it does for now.  Actually, life here might be easier if it *didn't*, because then `coredump_wait` wouldn't get stuck on those ptrace events for other threads.  (You'd just get `ESRCH` for those killed.)  Alas.

No

[2016-06-22 16:47] wrwilliams commented on #93
Mind sending over clean libc, rewritten libc, and a SYMTAB_DEBUG_REWRITE log? I can poke around at where we're screwing up the layout this time...

[2016-06-22 17:20] jdetter commented on #93
@wrwilliams are we going to try to sneak this potential fix into 9.2.x?

[2016-06-22 17:37] wrwilliams commented on #93
Unknown, depends on magnitude of fix and degree of difficulty to find.

[2016-06-22 17:59] cuviper commented on #93
[issue93-libc-sampler.zip](https://github.com/dyninst/dyninst/files/328438/issue93-libc-sampler.zip)
- `libc-2.12.so` is from `glibc-2.12-1.192.el6.x86_64`
  - `libc-2.12.so-prelinked` is the same with prelink applied
- `libc-2.17.so` is from `glibc-2.17-105.el7.x86_64`
- `libc-2.23.so` is from `glibc-2.23.1-8.fc24.x86_64`
- for each libc, I ran `parseThat -i0 --binary-edit=${libc}-rewritten ${lib

[2016-06-22 18:08] jdetter opened #103 "Cross platform mutatee support"
Dyninst doesn't have support for mutating binaries that will not run on the current host. For example, a 32 bit x86 host can't rewrite an x86_64 binary. However, we do have support for rewriting x86 binaries on an x86_64 host.

To my knowledge, we also don't support cross platform mutatees between Intel and ARM platforms, which could be a nice feature.

[2016-06-22 19:45] wrwilliams commented on #93
After a fix that leaves STT_TLS symbols' offsets alone, as they're TLS-section relative and not file-relative:

[bill@coriander] (6)$ eu-elflint tls-fixed-libc.so
section [23] '.tdata': thread-local data sections address not zero
section [24] '.tbss': thread-local data sections address not zero
section [36] '.dyninstInst' is both executable and writable
section [36] '.dyninstInst' is executable in

[2016-06-22 20:00] cuviper commented on #93
Do use the flag on `eu-elflint --gnu-ld`, because there are [known oddities](https://fedorahosted.org/elfutils/wiki/ElflintGNU) that dyninst doesn't need to worry about fixing.  However, it might also be worth reviewing those oddities to see if we might be rewriting them into a form that actually breaks.

[2016-06-22 20:05] wrwilliams commented on #93
Thanks; that's much better:

[bill@coriander] (13)$ eu-elflint --gnu-ld tls-fixed-libc.so
section [36] '.dyninstInst' is both executable and writable
section [36] '.dyninstInst' is executable in nonexecutable segment 3
section [37] '.hash': hash bucket reference 1020 out of bounds
section [37] '.hash': hash bucket reference 1021 out of bounds
section [38] '.dynsym': symbol 1: local symbol outside

[2016-06-22 20:28] cuviper commented on #93
It looks like those sections changed their indexes by 11, but the symbol value didn't follow.  So only the first 11 look like they're out of range.

[code]

So symbol 46 `gnu.warning.re_max_failures` didn't get linted because it happens to fall in the new section 46 `.gnu.warning.sigstack`.  It ought to point to section 57 though.

Here's the original:

[code]
(the original SECTION entries weren't

[2016-06-22 20:52] wrwilliams commented on #93
So for SECTION symbols, we should have what, offset = start of section, value = shdr index, name = section name? And do we have to update anything that derives from these symbols, or is this sufficient?

[2016-06-22 21:00] wrwilliams commented on #100
I have a simple and elegant solution, which may also be wrong...

We should get one LWP exit per LWP in the process, regardless of the order in which we receive them. Is there any good reason not to replace this:

[code]

with this:

[code]
in the decoder, delaying process exit until we're exiting our last LWP (in whatever order)?

[2016-06-22 21:30] cuviper commented on #93
The `st_value` appears to be the section address, which we are already fixing for the page offset.  The `st_name` isn't set to anything for SECTION symbols in the original.  I don't know if that matters.  The `st_shndx` is specifically what we missed here, and I don't think that's specific to SECTION symbols.

FWIW, the working prelinked libc also has these SECTION errors, so don't count on that b

[2016-06-22 21:53] jdetter opened #104 "Testsuite failures on master/VEX for 32 bit platform"
We have quite a few failures on master and VEX on 32 bit Ubuntu 16.04 Server. There appears to be at least one issue in proccontrol. I am still investigating the other crashes (series 1, 2 and 5).

Master gist: https://gist.github.com/jdetter/5b48a09ef827ad90e07a499c304750ee

__environment:__
[code]

[2016-06-22 21:53] jdetter commented on #104
@mxz297 Are you seeing these failures on Windows?

[2016-06-22 21:56] cuviper commented on #100
What interaction is the user expecting to be possible in this callback?  If it's just reading memory, then the particular thread doesn't matter.  If they want to read registers or TLS, then the thread matters, but I don't know that we can make any promises.

It sounds like with `SIGKILL` we're not *guaranteed* to see every `PTRACE_EVENT_EXIT`, but it does work that way now. (`do_exit` is called fo

[2016-06-22 22:36] jdetter commented on #104
Series tests failures fail pretty quick:

[code]

[code]

[2016-06-23 18:55] wrwilliams commented on #100
AFAIK the user should be able to read memory and get the process exit code.

Unfortunately, at least on RHEL6 the above is simple, obvious, and wrong--we convert the main thread's death to a user thread death followed by an lwp death. However, we've got callbacks for those as well, and they attempt to stop the main thread (okay) and the subthread that's SEGVing (not okay).

Log at the point of han

[2016-06-23 19:02] wrwilliams commented on #93
The dyninstInst bit is a red herring; it's a zero size section in this instance. The other three are certainly noteworthy.

[2016-06-23 20:51] jdetter commented on #94
So the issue is in the mutatee:

[code]

The `pc_exec_targ` executable isn't found by `execv`. An `ls` of the install directory yielded:

[code]

Was our mutatee suppose to append the other testing information to `pc_exec_targ`? Or was there supposed to be some sort of symbolic link setup or something? @wrwilliams or @cuviper any idea?

[2016-06-23 21:03] cuviper commented on #100
I wasn't sure if every thread will exit with the true process exit code, but it appears that they do.

I'm not sure of any workaround here.  Letting the user take any control during a `PTRACE_EVENT_EXIT` seems prone to this sort of stuck state.  Perhaps we should use a breakpoint form of pre-exit for normal exits, and forget about catching signaled exits?  (You'd still get the normal WIFSIGNALED w

[2016-06-23 21:35] wrwilliams commented on #93
Fixed the FINI problem, which leaves us with the following:

(gdb) bt
#0  _dl_relocate_object (scope=0x7ffff7e444e0, reloc_mode=<value optimized out>, consider_profiling=0) at dl-reloc.c:242
#1  0x00007ffff7c268a3 in dl_main (phdr=<value optimized out>, phnum=<value optimized out>, user_entry=<value optimized out>, auxv=0x1) at rtld.c:2262
#2  0x00007ffff7c390ae in _dl_sysdep_start (start_argptr=<

[2016-06-23 22:07] cuviper commented on #93
Can you share your changes so far?

[2016-06-23 22:16] wrwilliams commented on #93
Sure, though the fini fix seems to be raising more problems than it solves, so I'm omitting that. The general idea is to apply library_adjust properly to the new dynamic entries we create, because our order of generation is DT_NEEDED list, then new entries, then old entries with appropriate modifications, and we never actually modify the new entries to account for any changes we've made to the lay

[2016-06-23 22:17] wrwilliams commented on #94
Um. Either we should be generating a symlink or we should be picking up the decoration from the mutatee name and copying it over; I'd prefer the latter for simplicity (and matching what the mutator's doing IIRC).

[2016-06-23 22:21] jdetter commented on #94
Ok, I will make a new branch for this in testsuite and make a pull request when it's fixed.

[2016-06-23 22:24] wrwilliams commented on #93
Oh, and my spider sense tells me that the DYNAMIC symbol not matching the new DYNAMIC section is finally coming back to haunt us--someone's doing a lookup based on the symbol and things go sideways from there.

See this comment in emitElf-static.C:
[code]

[2016-06-23 22:32] cuviper commented on #94
When I trace the actual `syscall.execve` in stap, it looks 'decorated" to me:

[code]

What are you expecting?  Or what problem do you see?

[2016-06-23 22:35] jdetter commented on #94
are you sure you're running with `-attach`? My stap script ends with this:

[code]

Here is the whole script (please excuse my system tap ignorance):

[code]

[2016-06-23 22:39] jdetter commented on #94
The setup for `execname` is here. For whatever reason we do a `strdup` of `gargv[0]` and then `strcpy` into that, which looks very fishy to me.

[code]

[2016-06-23 22:43] cuviper commented on #94
I think that fishy part is just clobbering "pc_fork_exec" into "pc_exec_targ".  And it's a `strncpy` with an exact number of bytes, so it won't copy a NUL in there.  (But `memcpy` is better for exact lengths.)

[2016-06-23 22:46] jdetter commented on #94
Couldn't that just be replaced with:
[code]

[2016-06-23 22:47] cuviper commented on #94
I wasn't using `-attach` before, oops.  Using your exact script, now I see that `pc_fork_exec.[...]` goes through the whole `PATH` with `ENOENT` before it tries the current directory, but that's ok.  Then the final step looks fine:

[code]

[2016-06-23 22:49] jdetter commented on #94
Somehow on my system I'm not getting the decoration, do you see where is that added to `exec_name`? It also appears that `exec` is not searching my path for whatever reason.

[2016-06-23 22:56] cuviper commented on #94
I assume it starts from the `gargv[0]` like "pc_fork_exec.dyn_g++_64_none_none", then just wants to clobber the first part with "pc_exec_targ" to get "pc_exec_targ.dyn_g++_64_none_none".

FWIW I don't get a PATH search on the "pc_exec_targ" part, just for "pc_fork_exec".

If all else fails, sprinkle the code with `printf` and see what comes out...

[2016-06-23 23:01] cuviper commented on #94
I kind of wonder if your `strncpy` is trying to be cute and force a `'\0'` on there despite your wishes.  That would have to write past the specified length though, so I doubt it.

[2016-06-23 23:04] jdetter commented on #94
@cuviper that is a really really good point.

[2016-06-23 23:07] jdetter commented on #94
After running with the `printf`'s in, it would appear gargv[0] contains a zero length string.

modification:
[code]

Output:
[code]

[2016-06-23 23:08] cuviper commented on #94
Well that's scary.  Then your `strdup` buffer won't even have any room in it...

[2016-06-23 23:19] jdetter commented on #94
Yeah, the third parameter of that `strncpy` should be `strlen(exec_name)`. Not quite sure why someone put the length of the input buffer as the length of the destination buffer. Would you know where the name for the mutatee process is setup?

[2016-06-23 23:21] jdetter commented on #94
I'm not sure if I posted my full error log somewhere but here it is:

[code]

I just now noticed the `Process had invalid exec name` error towards the end of the log.

[2016-06-23 23:25] jdetter commented on #94
UGGGHHHHH well I just notice I was behind by one commit. I pulled and rebuilt the testsuite and now all of my tests are passing.

Sorry everyone!

[2016-06-23 23:25] #94 closed

[2016-06-23 23:25] cuviper commented on #94
If the third parameter used `strlen`, then our "normal" case would end up with room to null-terminate, losing all that nice decoration again.

`gargv` should come from `src/mutatee_driver.c`, from `main`'s own `argv`..

[2016-06-23 23:27] cuviper commented on #94
Oh, missing that fix for use-after-free in execve args?  Sure, that could do it... :)

[2016-06-23 23:27] jdetter commented on #94
Hahahhah yeah once I saw there were changes to `MutateeStart.C` I was like uhhh....

lol sorry @cuviper!!

[2016-06-24 19:25] wrwilliams commented on #93
The above may have been a problem, but it's not *this* problem. _DYNAMIC corrected, lint one line happier, crash unmoved.

[2016-06-24 19:35] wrwilliams commented on #93
Okay, this keeps getting weirder. The phdrs in the link map look decent:
[code]
But the info section (which is where we're getting the strtab location from) is entirely null. Names are empty, there's a lot of stuff looking bad:
[code]

Thoughts?

[2016-06-24 23:14] cuviper commented on #93
I think the offsets of `DYNAMIC` and the new `LOAD` aren't matching up!

The `PT_DYNAMIC` `p_vaddr` is assigned to `l->l_ld`.  If you start looking at `l->l_ld[0]`, `l->l_ld[1]`, etc. they're all zero.  Dump a bit of that raw:

[code]

The raw data should look like this:

[code]

So on a hunch, I tried one page offset:

[code]

There it is!  (Different only in how endian-ness is displayed)

Here a

[2016-06-24 23:25] cuviper commented on #93
Here are the sections just in that load segment:

[code]

The addresses look fine, but the offset went backwards a page between 35 and 36.  So all of these sections will be written in a page too low, and thus appear a page too low in memory.

[2016-06-25 00:18] cuviper commented on #93
This gets us further:

[code]

Now I get a different crash:

[code]

I think that's trying to call an `ifunc` resolver.

[2016-06-27 15:56] wrwilliams commented on #93
And how much do you want to bet it dereferenced a pointer that was off by a page? :)

[2016-06-27 19:04] jdetter commented on #104
I think this could be specifically a `linux-4.4.0` issue on Ubuntu, I'm building `linux-4.4.14` from scratch to see if the problem goes away.

[2016-06-27 19:41] cuviper commented on #93
Adding the IRELATIVE case in `emitElfUtils::updateRelocation` seems to work!

[code]

Ditto for i386, and it probably needs some ifdefs moved around, but yay!

[2016-06-27 19:44] cuviper commented on #93
Well, it works running directly, but if I `LD_PRELOAD` that rewritten libc into `ls`, it crashes at the end running `FINI`.  So we will need some form of your fini fix too.

How do you want to coordinate all of these papercut fixes we've accumulated?

[2016-06-27 20:55] wrwilliams commented on #93
You've got a better test environment than I do; if you don't mind accumulating and merging, that'd be good.

It's possible that my fix will work now that we've fixed all the other papercuts:
[code]

(It's also worth noting that this is only a problem when we're introducing new INIT/FINI sections, and this is an exceptionally bad way to do load/unload instrumentation with a modern toolchain. We'd p

[2016-06-28 18:37] jdetter opened #110 "Assertion during libxul PIE rewriting (VEX/master)"
When rewriting 64 bit `libxul.so` (a library used by firefox), we hit an assert, even when running parseThat with an instrumentation level of 0. Reproduced on both VEX and master with the same assert:

[code]

`libxul` is available here (83 MB): http://cs.wisc.edu/~detter/libxul.so

Reproducer command: `parseThat -i 0 ./libxul.so --binary-edit=./libxul.so.dyn`

Possibly related to #93

[2016-06-28 18:42] mxz297 commented on #104
In this case, we assert because of improper check of the return value from an inferior malloc IRPC and the fix is in VEX now.

[2016-06-28 18:43] jdetter commented on #104
Ok, thanks again @mxz297!

[2016-06-28 19:00] cuviper commented on #34
Have you tried this again since the static TLS #99 went in?  That should get rid of the `__tls_get_addr` call at least, but I have no idea if that's any part of your problem.

[2016-06-28 19:17] jdetter commented on #104
The output is soooo much better now. We are only failing the rewriter tests now, which is probably a won't fix for now.

New gist: https://gist.github.com/jdetter/af44203314e53326a86c49da89f2019b

[2016-06-28 19:25] wrwilliams commented on #110
Rewrites clean with #109, which will be merged soon.

[2016-06-28 20:33] wrwilliams commented on #96
Fixed by #107.

[2016-06-28 20:33] #96 closed

[2016-06-28 20:34] wrwilliams commented on #104
Confirming static/32 rewriter failures are a wontfix for 9.2 (but not a wontfix in general). Closing this as it's fixed by #107.

[2016-06-28 20:34] #104 closed

[2016-06-28 20:36] wrwilliams commented on #92
Fixed by #108, which was incorporated into #107.

[2016-06-28 20:36] #92 closed

[2016-06-28 20:41] wrwilliams commented on #34
Testing now, but an update for @mcfadden8 and @mplegendre:

The runtime library snippets above are generated by /usr/bin/cc on vulcan, which claims to be gcc 4.4.7 when run with -v:

[code]

[2016-06-28 21:10] wrwilliams commented on #34
No change in behavior with #99, no regression in behavior with #109--which makes sense, as we're not even getting to execute DYNINST_unlock_tramp_guard before we crash. The actual call to unlock is what's busted.

[2016-06-28 21:11] #93 closed

[2016-06-28 21:39] #110 closed

[2016-06-28 22:10] mcfadden8 commented on #34
@wrwilliams, which code fragment above seems to be ABIv2?

[2016-06-28 22:44] pefoley2 commented on #17
Fixed by #102

[2016-06-28 22:44] #17 closed

[2016-06-28 22:58] morehouse opened #111 "Rewriting with StackMods broken"
I'm getting the following assertion failure during rewriting:

`performStackMods: /p/paradyn/development/mm/githead/tmp/dyninst/common/src/arch-x86.C:8559: int NS_x86::ia32_decode_opcode(unsigned int, const unsigned char*, NS_x86::ia32_instruction&, NS_x86::ia32_entry**): Assertion "instruct.cond != __null" failed.`

Full backtrace:
[code]

This issue seems to have been introduced by a series of c

[2016-06-28 23:24] jdetter commented on #111
Can you do a full rebuild and make sure master is merged into your local branch? I will take a look at this first thing tomorrow morning. Also could I have access to the binary you're running on and your reproducer?

[2016-06-28 23:25] jdetter commented on #111
@wrwilliams depending on the severity of this issue we might want to think about sneaking this into 9.2.X. I suspect this will be a quick fix.

[2016-06-28 23:32] morehouse commented on #111
This issue is on the vanilla master branch.  No merging was done.

@jdetter: I'll email you the binary and mutator.

[2016-06-28 23:46] wrwilliams commented on #111
Yes, this is a regression and should be a simple fix.

[2016-06-28 23:54] wrwilliams commented on #34
The first two match up by semantics, but not by name or layout, to the global/local entry point behavior you've described:

Global entry point, in libdyninstAPI_RT.so:
[code]
Local entry point, also in libdyninstAPI_RT.so, but not contiguous:
[code]

Of course I'm also not sure how there's any PLT nonsense that should be associated with this at all, but note that the intermodule call out of the sn

[2016-06-28 23:57] jdetter commented on #111
@morehouse thanks that will speed this fix up quite a bit.

@wrwilliams I will create a new branch and hopefully have a pull request ready for you to look at tomorrow.

[2016-06-29 00:01] mcfadden8 commented on #34
What I had previously described for global/local entry point behavior was for ABIv2.

This all seems to be ABIv1. I don't know too much about ABIv1, but if I understand correctly what I am reading in the specification, there are three potential points of entry:

1. A linkage function that is set up by the link editor (which I think is shown first)
2. A function descriptor (which I do not think is

[2016-06-29 14:39] jdetter commented on #111
@morehouse Can you run my patch? I wasn't able to reproduce the assert unfortunately. Here is the git checkout command:

[code]

I want to make sure there aren't any followup bugs before I create a pull request for master.

[2016-06-29 14:43] jdetter commented on #111
btw I got a different error when I ran your reproducer, not sure if I did something wrong or not:

[code]

[2016-06-29 15:54] morehouse commented on #111
@jdetter Your patch fixes the issue for me.

[2016-06-29 15:59] #111 closed

[2016-06-29 19:02] morehouse opened #113 "Segfault during traversal of slice generated in StackMod"
On some binaries in SPEC CPU2006 (e.g., Xalan), the backwards slicing check for skipRegs gets a slice of size 1 and segfaults.  We need to determine whether the backwards slicing check even makes sense in the first place.  If it does, we need to handle the case where we get a slice of size 1.  Otherwise, we should replace the check with something more appropriate.

[2016-06-29 19:53] wrwilliams commented on #113
Is this fixed by f520de3f49adb2cb3787e0004b11755305a90b96?

[2016-06-29 19:59] morehouse commented on #113
No, it's not.  I was getting this issue on the master branch before applying any of my most recent commits, and I had seen it on my local working repository as discussed in the last meeting.

[2016-07-01 16:32] ea opened #114 "Crash during liveness analysis"
Hi

I just updated to the latest release and spoted a crashing bug with a certain binary.
The crash happens on :  https://github.com/dyninst/dyninst/blob/master/dataflowAPI/src/liveness.C#L473

and again on https://github.com/dyninst/dyninst/blob/master/dataflowAPI/src/liveness.C#L510

Both times the similar code
[code]

For some cases , getIndex(base) will return -1 , which will cause an out of b

[2016-07-01 16:51] ea commented on #114
Here's a sample liveness debug log:

[code]

So this all seems to be related t o AVX instructions...
These aren't supported? Can they be handled gracefully ?

[2016-07-05 14:47] jdetter commented on #114
Could I have access to the binary you're getting this crash on?

[2016-07-05 14:57] jdetter commented on #114
Also if you could provide me with your os and library versions, that would be helpful,

- Linux version + distribution version
- Boost version
- libdwarf version

[2016-07-05 15:53] wrwilliams commented on #114
@jdetter I would bet that this is reproducible with parseThat -i3 on any of our VEX test binaries.

[2016-07-05 15:58] jdetter commented on #114
@wrwilliams yup I was able to get it to seg fault.

[2016-07-05 16:06] jdetter commented on #113
@morehouse  this isn't a VEX issue right?

[2016-07-05 16:54] jdetter commented on #114
Somehow I am getting a different error than @ea is reporting. When I run parseThat without gdb it crashes with an assert but when I run it with gdb it finishes without an issue. @wrwilliams any idea why that would be?

[2016-07-05 17:02] wrwilliams commented on #114
That smells like uninitialized memory to me. valgrind have anything useful to say for itself here?

[2016-07-05 17:13] jdetter commented on #114
Looks like there aren't any memory errors, but that at least got me a stacktrace:

[code]

[2016-07-05 17:15] jdetter commented on #114
This is the code block causing the issue for me. The first assert fails.

[code]

[2016-07-05 19:21] wrwilliams commented on #114
...comment does not match code. @mxz297, you know off the top of your head what's up here?

[2016-07-05 19:50] morehouse commented on #113
@jdetter Nope, right now this looks like either a StackMod issue or a slicing issue.

The backwards slice is being used to check for registers with dependence graphs that are linear chains (i.e. no matter what path is followed through the CFG, the contents of the register will always be the same value relative to the registers it depends upon).  My current understanding is that such registers are

[2016-07-06 17:23] jdetter commented on #114
I added some more asserts in the liveness analysis that probably should have been there (checks to make sure array indexes are greater than 0). This should at least cause asserts instead of silent failures and buffer overreads. I think I need more environment and binary information from @ea to reproduce his specific issue.

[2016-07-06 21:08] morehouse commented on #113
Actually, it seems that my initial evaluation of skipRegs was incorrect.  Whether they were originally intended to work as I described or not, the implementation of adhocMovementTransformer actually seems to cause _extra_ displacement modifications to instructions accessing the stack through skipRegs.

In every case I've examined so far, the skipReg displacement modifications are either the same a

[2016-07-07 02:36] mcfadden8 commented on #34
Hi @wrwilliams,

In the generated code:
[code]
Is the TOC what you expected it to be at the end of this code? It appears that line 9 is correctly restoring the TOC after the call, but I am not sure what line 11 doing?

[2016-07-07 16:05] morehouse commented on #113
Removing all checks for skipRegs had an excellent effect on the SPEC suite when instrumenting with stack canaries.  Previously, 6 binaries in the suite were giving erroneous output due to improper stack modifications.  Now all binaries give correct output.

I'm going to retest the SPEC suite with stack diversification in case skipRegs have a different effect in that situation.  If that test goes w

[2016-07-07 20:41] #113 closed

[2016-07-07 20:54] morehouse opened #116 "Assertion failure during rewriting"
A few of the SPEC CPU2006 binaries are causing assertion failures during rewriting with stack diversification.  This issue seems related to #111.

Assertion failure:
`performStackMods: /p/paradyn/development/mm/githead/tmp/dyninst/dyninstAPI/src/codegen-x86.C:1207: static bool insnCodeGen::modifyData(Dyninst::Address, NS_x86::instruction&, codeGen&): Assertion `!"Couldn't decode opcode of already

[2016-07-07 20:58] jdetter commented on #116
I think I ran into this today as well. It looks like `modifyData` is getting an invalid instruction address passed in. Can I have the binary/reproducer?

[2016-07-07 21:18] morehouse commented on #116
Sent instructions to reproduce via email.

[2016-07-07 21:19] jdetter commented on #116
Thanks! I should have a patch ready for you by tonight.

[2016-07-07 22:10] jdetter commented on #116
I opened a pull request. Your binaries exercised a corner case that only would have failed with certain floating point instructions that are rarely used. You can apply the patch directly to your local repo if you don't want to wait for it to end up in master, it's a really small patch.

[2016-07-11 15:48] jdetter commented on #114
This issue has been frustratingly difficult to debug, primarily because the bug doesn't appear every run and it never appears when ran through gdb (at least for me).

[2016-07-11 16:23] ea commented on #114
Did you get my offlist email ?

[2016-07-11 16:33] jdetter commented on #114
@ea unfortunately I did not, did you send it to jdetter@wisc.edu?

[2016-07-11 17:09] ea commented on #114
forwarded, please check spam :)

[2016-07-12 15:17] mxz297 commented on #114
What @jdetter has seen is mainly caused by an issue of inconsistent CFG labeling.

Basically, we somehow did not finalize a function after parsing it. So, the function had an incomplete basic block list. In liveness analysis, we first calculated block summaries based on this incomplete block list. Then when we were performing the fix point analysis, we visited a block that was truly in this functi

[2016-07-12 15:50] mxz297 commented on #114
Now I believe I have fixed the inconsistent CFG issue. But I cannot reproduce the issue reported by @ea on any VEX binaries (running parseThat -i3 on xhpl or hpgmg-fv seems to be fine). @jdetter Do you have the exact binary and could you send it to me if you have?

[2016-07-12 16:44] wrwilliams commented on #26
@pefoley2 Do you have any idea how to ensure that these flags get passed to the build tool appropriately in CMake?

[2016-07-12 16:50] pefoley2 commented on #26
It looks like the actual issue was an incorrect pragma in InstructionAPI.h causing warning 4251 to be unconditionally enabled
See https://github.com/pefoley2/dyninst/commit/9ea3f33c682c4ed6ad8ceb93b2ef258c5fc4e880

[2016-07-12 16:57] wrwilliams commented on #26
Very nice, and a good catch. That was really dumb of past-me.

[2016-07-12 17:00] pefoley2 commented on #26
It took a while to figure out why the flag wasn't applying, but it was obvious once I figured out what was happening :)

[2016-07-12 18:52] mxz297 commented on #114
@jdetter The issue is that we do not represent ymm registers for 32-bit binaries. The offending instruction is

` 8089b2d:       c5 fd 6f ca             vmovdqa %ymm2,%ymm1`

In common/h/dyn_regs.h and dataflowAPI/src/RegisterMap.C, we have code for representing ymm registers for 64-bit binaries, but we do not have any code for representing ymm registers for 32-bit binaries.

[2016-07-12 21:25] jdetter commented on #114
I'm rebuilding/rerunning in a 32 bit environment to make sure the patch works, but so far it looks like I have it fixed.

[2016-07-12 21:26] ea commented on #114
Rebuilding too and will try against my target binary ASAP and report back. Thanks!

[2016-07-12 21:28] jdetter commented on #114
@ea the patch is available on branch `release9.2/fixes/liveness-patch` but should make it into `release9.2_patches` soon.

[2016-07-12 21:58] jdetter commented on #114
This is now available on `v9.2_patches`. Will be eventually merged over to master.

[2016-07-12 21:58] #114 closed

[2016-07-13 17:09] jdetter opened #119 "Power ABI v2 abstractions"
From Bill:

The PowerPC ABI version 2 has separate local and global entry points for functions. We need to determine whether it is best to treat this as shared code, as a stub tail-calling another function via fallthrough, as a multiple-entry-point function, or as an elided stub much like PLT stubs. We further need to determine whether and how to create, adjust, or annotate the symbols that are pr

[2016-07-13 17:13] jdetter opened #120 "Merge and fix Windows rewriter"
From Bill:

The fork at https://github.com/ea/dyninst contains significant steps towards completion of the Windows binary rewriter. It is missing some key elements, however; its handling of relocation fixup is IIRC incomplete, and it produces binaries that do not execute cleanly.

This issue should be closed and replaced with specific bugs once that fork is merged back to a dyninst/dyninst topic b

[2016-07-13 17:14] jdetter opened #121 "Rewrite exception handlers to adjust for relocated code"
From Bill:

C++ exception handlers determine the appropriate catch blocks to handle a piece of code based on the PC where the exception was thrown. When an exception occurs in relocated code, that PC is not covered by any exception handler unless that exception handler had a range of "whole address space". This results in incorrect behavior and unexpected termination of instrumented C++ that relie

[2016-07-13 17:16] jdetter opened #122 "Line information fixes for HPCToolkit"
- Virtual functions not getting in right modules
- Filenames still winding up in `std::string` rather than `const char*`
- Iterative deallocation is deprecated, use whole-list instead
- Cache filenames in `parseLineInfoForCU`
- Compare indices not names in `parseLineInfoForCU`
- Check whether returned `Statement*` are new copies or pointers to existing

[2016-07-13 17:18] jdetter commented on #62
@wrwilliams Should this instead be an issue in the testsuite repository?

[2016-07-13 17:20] pefoley2 commented on #62
If https://github.com/dyninst/dyninst/pull/28 gets merged, then I'd assume it should go on this repo.

[2016-07-13 17:26] jdetter commented on #62
@pefoley2 Ok sounds good.

[2016-07-13 18:02] wrwilliams commented on #119
The PowerPC ABI version 2 has separate local and global entry points for functions. We need to determine whether it is best to treat this as shared code, as a stub tail-calling another function via fallthrough, as a multiple-entry-point function, or as an elided stub much like PLT stubs. We further need to determine whether and how to create, adjust, or annotate the symbols that are present in the

[2016-07-13 18:06] wrwilliams commented on #120
The fork at https://github.com/ea/dyninst contains significant steps towards completion of the Windows binary rewriter. It is missing some key elements, however; its handling of relocation fixup is IIRC incomplete, and it produces binaries that do not execute cleanly.

This issue should be closed and replaced with specific bugs once that fork is merged back to a dyninst/dyninst topic branch and we

[2016-07-13 18:14] wrwilliams commented on #121
C++ exception handlers determine the appropriate catch blocks to handle a piece of code based on the PC where the exception was thrown. When an exception occurs in relocated code, that PC is not covered by any exception handler unless that exception handler had a range of "whole address space". This results in incorrect behavior and unexpected termination of instrumented C++ that relies on success

[2016-07-14 21:36] ssunny7 opened #123 "test_pt_ls fails with Dyninst master"
Both `create` and `rewriter` `test_pt_ls`s fail with Dyninst's master branch. Branch used for testsuite was also master.

Output from running the tests using the `-log`  and `-verbose` options:
[code]

Following is the relevant portion of the output from the debug parsing log for this test:
[code]

Let me know if you need any other information.

[2016-07-15 14:32] jdetter commented on #123
This was fixed by a patch in v9.2.0_patches. Could you try merging v9.2.0_patches into your branch and rerunning the testsuite?

[2016-07-18 17:03] ssunny7 commented on #123
I get a bunch of test failures now, all of which say `Unhandled instruction syscall ECX`. Attached is the full log from `runTests`. Reopening this issue, let me know if I've missed anything.

[runtests.txt](https://github.com/dyninst/dyninst/files/369664/runtests.txt)

[2016-07-18 17:10] jdetter commented on #123
@ssunny7 was this after merging with `v9.2_patches`?

[2016-07-18 17:32] ssunny7 commented on #123
@jdetter Yes.

[2016-07-18 17:34] jdetter commented on #123
@ssunny7 Is this vanilla master or have you made changes? I just recloned master on Fedora23 and I am passing all tests. I am rebuilding on the CSL now to see if it could be an environment issue.

[2016-07-18 17:49] ssunny7 commented on #123
@jdetter I cleaned up my code directory a little, and I no longer get all those errors. `test_pt_ls`, however, still fails in `create` mode. The `bin` folder of my dyninst installation is included in `PATH`. The log file `test_pt_ls_stderr` in the `binaries` folder of the testsuite installation shows 72 lines each saying `Warning: mix of recursive and guarded snippets @ 0x21e6890, picking guarded`

[2016-07-18 17:53] jdetter opened #125 "Wrong operand size for movb"
Reported by Frederik on the DyninstAPI mailing list:

When decoding the instruction below, we consider `-0x1(%ebp)` as a 4 byte memory operand instead of a one byte memory operand. However it does appear that we consider the `0x41` as a one byte immediate operand. Is this correct behavior? @wrwilliams @cuviper

[code]

**Original Message**

Hi all,

I use `getMemoryWriteOperands()` to get the Expr

[2016-07-18 17:56] jdetter commented on #123
@ssunny7 The `test_pt_ls` failure is a known testsuite issue on x86_64. #62 still has not been resolved.

[2016-07-18 18:00] wrwilliams commented on #123
pc_tls is not the same as test_pt_ls...

[2016-07-18 18:01] jdetter commented on #123
@wrwilliams is `test_pc_ls` supposed to pass?

[2016-07-18 18:02] wrwilliams commented on #125
No, the memory operand should be the same size as the immediate; it's not a sign-extending or zero-extending mov and that means the operand sizes have to match.

[2016-07-18 18:15] wrwilliams commented on #123
Assuming parseThat is found (which it is), yes.

[2016-07-18 18:24] jdetter commented on #123
Oh okay, sorry for the confusion!! I will look at this today.

Looks like somehow the mutatee fork is failing:

[code]

[2016-07-18 19:38] jdetter commented on #125
The tree for the memory dereference is like this:

[code]

The documentation for `getMemoryWriteOperands()` says:

`Instruction::getMemoryWriteOperands()` returns all of the first children of the operands, which means instead of the `DereferenceExpression` being returned, it's only child `AddExpression` is returned, which is size 4 instead of size 1.

@wrwilliams I'm not sure if the documentation

[2016-07-18 21:56] jdetter opened #126 "Cannot find malloc symbol in libc.so"
Sent in from Martijn on the DyninstAPI mailing list:

Running the  [bpatch example](http://www.paradyn.org/tutorial/maxarg.C) from the Paradyn tutorial on x86_64 Ubuntu 16.04 throws an assert:

[code]

Dyninst is unable to find the symbol in the libc module. However, the symbol exists:

[code]

Ubuntu 16.04's version of `libc.so.6` is available [here](http://cs.wisc.edu/~detter/libc.so.6).

[2016-07-19 16:16] wrwilliams commented on #125
I think it's the documentation being wrong, then. The effective address itself is 32-bit, the dereference is 8-bit, and we're returning the effective address.

[2016-07-19 19:09] jdetter commented on #125
Me and Bill have decided that we will create a new function with a more intuitive name that implements the correct functionality and deprecate the old function. The documentation will be updated when 9.3.X is released. The old function will remain available until the next major release (10.X.X).

This will be added to the release notes.

[2016-07-19 19:27] jdetter opened #128 "New format for decoding tables"
__Issues with current design__

- Support for only 3 operands. We need support for up to 5. (AVX512 can have 4 operands + masking register operand)
- No support for specifying implicit operands. This is causing us to have a lot of inaccurate instruction formats. e.g. `push %eax` is `push %eax, -0x4(%esp)`.
- Operand read/write semantic field is combined with other jump semantic information. These

[2016-07-20 15:28] jdetter commented on #126
This could be an issue with dynamic symbol processing in dyninst. In ubuntu's version of libc, `malloc` is only defined in the section `.dynsym` as a mangled name:

[code]

In Fedora 23's libc, it exists in both `.dynsym` as a mangled name and `.symtab` as a regular symbol:

[code]

As of right now, it looks like we are able to process the symbol `malloc`, however we mark it as a variable and not

[2016-07-20 20:12] jdetter commented on #126
It turns out the `malloc` function isn't instrumentable. @wrwilliams says this could be a jump table issue.

Dyninst can be run directly on libc.so.6 to reproduce the issue, which can be found here: http://cs.wisc.edu/~detter/libc.so.6

Here is a gist of some of the malloc parsing output: https://gist.github.com/jdetter/a15f907bc3234776baf8d5766d22bfbc

@mxz297 could you take a look at this jump t

[2016-07-21 16:33] wrwilliams commented on #126
So I need a bit more context than the gist there, but that looks to me like we're correctly recognizing that a PLT stub is non-returning based on the code, but not correctly recognizing that it's a PLT stub. Is that in fact what's going on at the targ1370 function?

[2016-07-21 16:51] jdetter commented on #126
@wrwilliams I'm not sure, the full log will probably more useful. It was way to big for a gist: http://pages.cs.wisc.edu/~detter/libc_parse_output

It looks like malloc (__libc_malloc) starts getting parsed around line 1643279 of the log.

For me, chrome couldn't handle searching on such a large file so you might want to use wget and throw it into vim.

[2016-07-21 21:32] jdetter commented on #123
We are having a ptrace failure:

[code]

[2016-07-21 23:01] jdetter commented on #123
During startup we attempt to place a breakpoint at main. To populate `main_function_`, we call `findFuncsByAll` which checks for both pretty and mangled versions of main. It looks like we aren't able to find `main` as a pretty or mangled name. Then I checked the symbol table for `/bin/ls` on Fedora 23:

[code]

@wrwilliams What should we do here? `/bin/ls` has no main and that's what is causing th

[2016-07-21 23:32] cuviper commented on #123
Of course `main` exists - it's just not exposed in the stripped symbol table.

This is supposed to be solved by `image::findMain()`, which by heuristic tries to guess `main` as the first parameter to the first call from the ELF start address, presumably calling `__libc_start_main`. See `image.C` up to line ~554 with: `mainAddress = get_immediate_operand(&preCall);`

I recall this failed once becau

[2016-07-21 23:53] jdetter commented on #123
@cuviper after running `sudo dnf debuginfo-install coreutils`, dyninst is able to find `main` as a pretty name and the test passes normally.

The other thing that I thought was weird is that `nm` couldn't find any symbols with passing the `-D` flag because all of the symbols were dynamic. Like you said, that's probably because `/bin/ls` is built as a PIE.

Thanks for the hints Josh, hopefully I ca

[2016-07-22 18:20] cuviper commented on #123
I had a nagging feeling this was still familiar, and I found out why.  That heuristic is only looking for an immediate operand for the main address, but it was reported a while ago that PIE sometimes has an LEA based on RIP instead.  https://lists.cs.wisc.edu/archive/dyninst-api/2014/msg00294.shtml

It appears this is now the case for F24's `/bin/ls` too:

[code]

I don't think it was like this wh

[2016-07-22 18:23] jdetter commented on #123
@cuviper I had just figured this out and I was typing up an explanation but you beat me to it =)

I think if we use dataflowAPI here then it will be more resilient to compiler changes in the future. Would you like to implement this or do you want me to give it a try?

[2016-07-22 18:25] cuviper commented on #123
Please go for it! :)

[2016-07-22 18:44] cuviper commented on #123
Note that 32-bit will have to look for the last stack value as the argument we need.

It also appears that it's not necessarily the first call anymore!

[code]

I guess that tiny function at 482 is how it gets the ip for ip-relative addressing in 32-bit mode.

[2016-07-22 18:47] jdetter commented on #123
Ok, thanks Josh for all of the help!! =)

[2016-07-25 17:05] mxz297 commented on #126
The problematic indirect jump should be an indirect tail call. Our tail call heuristics should really pick it up as a tail call. Fix is on the way.

[2016-07-25 21:37] jdetter opened #130 "Assert in StackAnalysis on release9.2/fixes/test_pt_ls"
I'm fixing the `findMain` function in `dyninstAPI/src/image.C` and now I am getting a strange crash only on Fedora 23.

Here is what I added in `image.C`. I labeled the line that is causing the assert:

[code]

__stack trace__
[code]

@morehouse Do you know what I'm doing wrong here? You can grab the source from release9.2/fixes/test_pt_ls:

[code]

[2016-07-25 22:42] morehouse commented on #130
The assert seems to be happening because an instruction doesn't match the format that is assumed by StackAnalysis.  Could you add the following code before the assert in StackAnalysis::handlePushPop and let me know what it prints out?
[code]
Also, could you tell me what the instruction looks like in objdump at the address that is printed?

[2016-07-26 12:16] jdetter commented on #130
So here is the output instruction:

[code]

I'm running with:

[code]

However I'm not getting a mutatee in the binaries directory so I'm not sure how to get the objdump of the function for you. @wrwilliams or @cuviper any idea how I can get the mutatee for `amd64_7_arg_call`?

[2016-07-26 14:37] mxz297 commented on #126
Our tail call heuristics currently say that a jump is not a tail call if the jump has a unknown target. In the cases of indirect tail calls, we never know the jump targets. Even when the jump target is unknown, we should still apply other tail call heuristics to check tail calls.

Now I can successfully run the BPatch example on my machine.

[2016-07-26 14:37] #126 closed

[2016-07-26 16:00] wrwilliams commented on #130
That's going to be the dyninst_group_test mutatee family.

[2016-07-26 16:13] morehouse commented on #130
Looks like the issue is that an immediate is being pushed instead of a register, which apparently hasn't been encountered in any of our testing yet.  Just pushed up a patch to release9.2/fixes/test_pt_ls.  Let me know if it fixes your issue on Fedora.

[2016-07-26 17:14] jdetter commented on #130
This looks good on my end.

[2016-07-26 17:14] #130 closed

[2016-07-26 19:11] jdetter opened #131 "stackanalysis assert while running in 32bit mode on master"
This is similar to the behavior of #130. Here is the assert:

[code]

__Stack Trace__

[code]

I am only seeing this in 32 bit environments. @morehouse could you take a look at this when you're not busy? This isn't a high priority issue.

[2016-07-27 08:16] jdetter commented on #131
I was also able to reproduce this on master.

[2016-07-27 20:42] mxz297 opened #133 "PC-relative read in indirect jump was not modified during relocation"
Reported by Victor van der Veen.

When relocating the following function
`000000000089c550 <uv__malloc>:`
`89c550:   55                          push   %rbp`
`89c551:   48 89 e5                mov    %rsp,%rbp`
`89c554:   5d                          pop    %rbp`
`89c555:   ff 25 55 5d 41 00   jmpq   *0x415d55(%rip)        # cb22b0 <uv__allocator.0>`

the indirect jump at "89c555" contains a PC-rel

[2016-07-28 15:49] mxz297 commented on #133
The indirect jump is an indirect tail call and should be treated as an indirect call during relocation. The current code only checks information from instructionAPI to determine whether an instruction is call or not, so our current code would wrongly claim that this indirect jump is not an indirect call.

I add code to check whether the relocation block ends with an indirect tail call. Victor has

[2016-07-28 15:49] #133 closed

[2016-07-28 18:23] morehouse commented on #131
How are you producing this error?  I'm doing `./runTests -32 -full` but don't get the crash.  Do I need to run on an actual 32-bit OS?

[2016-07-28 19:35] jdetter commented on #131
@morehouse yes you need to be running in an actual 32 bit environment. I can provide access to mine if you don't have access to one.

[2016-07-28 21:01] morehouse commented on #131
@jdetter Could you add the following debug code before line 1351 in stackanalysis.C and post the instruction that is causing problems?
[code]

[2016-07-29 18:00] jdetter commented on #131
Sorry this took so long, I'm having really weird issues with the testsuite where if I run with `./runTests -all` I will get failures but then when I run them individually they pass. Here was what I got when I added your snippet:

[code]

[2016-07-29 18:37] morehouse commented on #131
I've attached a patch that I think should fix the issue.  The patch should apply cleanly to the master branch.  If it fixes your issue, the patch can be applied to master and v9.2_patches.
[0001-Add-support-for-immediate-copies-using-LEA-in-StackA.txt](https://github.com/dyninst/dyninst/files/391125/0001-Add-support-for-immediate-copies-using-LEA-in-StackA.txt)

[2016-07-29 19:47] jdetter commented on #131
Your patch worked on my end! Pull request opened.

[2016-07-29 20:31] #131 closed

[2016-08-01 19:00] cuviper opened #136 "ABI changes from v9.2.0 to v9.2_patches"
Just looking at public headers, there are two obvious groups of changes, both from `common/`.  In `dyn_regs.h`, many register variables have been added.  In `entryIDs.h`, a handful of new enum values are added, but since these are added in the middle, they will change all of the values that follow.
[diff-headers-dyninst-v9.2.diff.gz](https://github.com/dyninst/dyninst/files/394528/diff-headers-dyn

[2016-08-01 22:01] jdetter commented on #136
Are the `entryIDs` a big deal? Just instruction names will be off but that should affect their decoding besides the fact that `format()` will return the wrong name. I could move them to the end of the enum if it's something we should be worried about.

[2016-08-01 22:10] jdetter commented on #136
We could also move the x86 register declarations, those were added because a user was able to generate 32 bit code that used YMM registers. We don't necessarily need the 32 bit version of `k0` through `k7` and `ZMM0` through `ZMM31`, I just put them in there to be safe. I don't think AVX512 instructions are valid in 32 bit mode and there will never be a 32 bit intel chip that implements AVX512. Th

[2016-08-01 22:20] cuviper commented on #136
It depends how they are used.  If a library user is ever producing these `entryID` values, then they certainly need to numerically agree with the library itself.  If they're only ever consumed by the user, and especially if only indirectly as something like formatted strings, then it probably doesn't matter.

On the registers, I don't really have any objection to specific additions, just that ABI

[2016-08-01 22:25] jdetter commented on #136
16fce865a6729b90f4a2443e0c2a6d7977010bca and b47e64d880de6a39375d56f37d8506039d24e86d would need to be reverted to fix the `entryIDs` ABI issue.

[2016-08-01 22:59] cuviper commented on #136
If you all are OK with losing this new functionality in 9.2.1, then reverting is certainly the easiest fix.  Are there any serious drawbacks if we don't have these things?

[2016-08-01 23:25] jdetter commented on #136
Yeah I think it would be fine to revert those commits. Those instructions are pretty rare/old and there are newer versions of those instructions available (in KNL for example). If the implementation has to wait for 9.3.0 that's totally fine with me.

I have the patch ready, I just want to run it through the testsuite really quickly and then I'll make another PR.

[2016-08-01 23:39] cuviper commented on #136
How about the registers?  Can their addition also be deferred?

[2016-08-01 23:39] cuviper commented on #136
I guess you said YMM is really needed -- what's the impact there?  Got a bug reference?

[2016-08-01 23:43] jdetter commented on #136
Adding the YMM registers fixed #114.

[2016-08-02 00:01] cuviper commented on #136
Then to take the question a different direction -- how likely is it that a library user would be referencing these symbols themselves?  IOW, are these truly public symbols, or more like "private" stuff that libcommon is exporting for other dyninst libraries?

If someone compiling against 9.2.1 is not likely to gain new references to these symbols, then it's not really much of an ABI break.

[2016-08-02 00:14] jdetter commented on #136
It's probably not very likely but it's possible. The symbols are public and user's have access to their values. Based on DEF_REGISTER, it looks like there shouldn't be any value changes though:

[code]

I'm not sure if this would actually cause a user an issue. I would say if we want to be sure were not breaking the ABI, we shouldl just move it to 9.3.0.

[2016-08-02 00:27] jdetter commented on #136
I just realized that this breaks the ABI here:

[code]

For example, if someone used MMX in the old ABI, it would be interpreted as YMM in the new ABI.

[2016-08-02 00:30] jdetter commented on #136
Actually, it looks like the dyn_regs changes made it into v9.3.0, if I'm looking at this correctly:

https://github.com/dyninst/dyninst/blob/3a6ad66df7294417cf61618acdcfcc0fecccb045/common/h/dyn_regs.h

[2016-08-02 15:35] mxz297 opened #139 "Indirect jumps that use jump tables are not relocated correctly"
Similar to #133, indirect jumps are not correctly relocated. This time, the problematic indirect jumps use jump tables:

`66ae8d: jmpq   *0x8e1e88(,%rsi,8)`
`6b5cd1: jmpq   *0x8e27c0(,%rax,8)`

[2016-08-02 15:56] cuviper commented on #136
The actual `YMM`/etc. values came in f7e997ea78677, before 9.2.0.
These register definitions didn't come until after release, in 9bb05c69e9a6e.

[2016-08-02 16:00] jdetter commented on #136
Yup, you're right. I can take just the register definitions out then.

[2016-08-02 16:09] cuviper commented on #136
I just finished another abipkgdiff.  The only differences now are these register definitions.  This is purely a forward-compatibility issue, and fails in an obvious way since the loader just wouldn't find symbols on an older library.  So I could go either way, depending on how important that fix is to you.

[2016-08-02 16:16] jdetter commented on #136
I opened #140. If you want to merge it to revert back to v9.2.0 that's fine with me or if you think that it won't cause any issues we can just leave the definitions in. Reverting the register definitions will cause the bug we talked about to reappear.

[2016-08-02 22:46] jdetter commented on #114
The fix for this issue must be moved into `v9.3.0` because of ABI issues, checks will be added to assert when we hit this bug in the next minor release `v9.2.1`.

[2016-08-03 16:35] cuviper commented on #136
Thanks, we're ABI-compatible again!

[2016-08-03 16:35] #136 closed

[2016-08-08 21:55] cuviper commented on #100
At the Scalable Tools Workshop we had a session discussing this bug.  We thought about how we might have to restrict what's allowed in some event callbacks, but that was cutting out use-cases that are generally fine.  We instead decided to look into waitpid timeouts (w/ something like `sigtimedwait` and a `WNOHANG` loop) if we could find a reliable indication that a thread is in a "bad" state.  I

[2016-08-08 22:30] cuviper commented on #100
If we have to mask `SIGCHLD` before waiting on it, things will get hairy.  If nothing else, signal masks are inherited across `fork` and preserved across `execve`, so we need to be careful about affecting child processes.  Especially since this is a library, we don't control our whole process.

Another timeout implementation possibility is with `signalfd`, then use a `select`/`poll`/etc with a tim

[2016-08-09 18:41] wrwilliams opened #144 "Read access to SymtabAPI and ParseAPI should be thread-safe"
As per subject. I have WIP here that needs to be sorted out and tossed into a pull request, but creating this issue for tracking.

[2016-08-09 18:45] wrwilliams opened #145 "Make ParseAPI (optionally) multi-threaded"
In principle, we should be able to pull elements off the ParseAPI work list in parallel, as long as we treat "being parsed" as a correct sort of blocking state (start with equivalent to "further back in the queue" and revise from there). Depends on read access being thread-safe: #144.

[2016-08-09 20:10] cuviper opened #146 "Segfault when a process is attached without specifying exe"
It has long worked fine to attach to existing processes without specifying their executable path.  However, this has recently led to a segfault in `linux_process::computeAddrWidth()`, when it tries to open the exe to determine endianness.  With that fixed, there's a similar problem in `Codegen::generate()`.  Both of these were changed in c8d74813e605b675f28f0adb19d5b8a0cb59db81.

This is a regress

[2016-08-09 20:19] mcfadden8 commented on #146
Ugh.  This one was introduced by me..  It would have helped if I read the comment above the code which said:

[code]

Glad to hear that a fix is already in mind and thanks for cleaning up my mess..

[2016-08-09 22:03] cuviper commented on #146
It might not be in the testsuite.  I'll take a look at that too.

[2016-08-09 22:26] mcfadden8 commented on #146
Which branch should I clone from to test this?

[2016-08-09 23:32] cuviper commented on #146
It's not clear to me how to best test this, so I filed dyninst/testsuite#13.

[2016-08-09 23:43] cuviper commented on #146
Fixed by #147

[2016-08-09 23:43] #146 closed

[2016-08-11 14:44] mxz297 opened #149 "Incorrect function boundaries for functions sharing code"
When parsing a binary provided by Victor van der Veen, parseAPI generated incorrect function boundaries for two functions that "share" code and the two functions do not have consistent block lists. The two functions do not share code actually and I will create another issue for this problem.

When parseAPI is parsing function f, if parseAPI reaches the entry block of function g, parseAPI will stop

[2016-08-11 14:49] mxz297 opened #150 "Non-returning functions from libstdc++ are not included in the non-returning function list"
When parsing a binary provided by Victor van der Veen, the non-returning function "_ZSt20__throw_system_error@plt" from libstdc++ is not identified as non-returning. If we apply our non-returning function analysis to commonly linked system libraries such as libc and libstdc++, we should be able to generate a more comprehensive list of non-returning functions.

[2016-08-11 14:49] mxz297 commented on #139
closed via #149 and #150

[2016-08-11 14:49] #139 closed

[2016-08-12 16:52] jdetter commented on #4
@wrwilliams Should I resolve symbols for jumps and calls like objdump or is just printing the address good enough?

[2016-08-12 17:45] wrwilliams commented on #4
Address is sufficient for now. If symbols are easy and non-expensive in the grand scheme of things, that may be sensible as an option, but let's get the version that Fleece can use working first.

[2016-08-12 19:25] cuviper opened #151 "document proccontrol "tracking" APIs"
It appears that `proccontrol.pdf` doesn't have any mention of the various tracking APIs -- pretty much everything in `PlatFeatures.h` is missing.

In particular, I found the library tracking controls useful for [rhbz1366574](https://bugzilla.redhat.com/show_bug.cgi?id=1366574), to reduce mutatee impact, but I only discovered this by tracking down that breakpoint's origin to see that it could be di

[2016-08-12 21:44] wrwilliams commented on #151
@mplegendre do you have any design docs lying around for these? I expect most of them do what they say on the tin, and most of the ones I'm unsure about are BG/Q, but I'd love to have something canonical from you.

[2016-08-16 18:57] morehouse opened #152 "Assertion failure in DwarfWalker"
On master, while instrumenting some SPEC CPU2006 binaries with stack diversification, the following assertion fails:
`performStackMods: /p/paradyn/development/mm/githead/tmp/dyninst/symtabAPI/src/dwarfWalker.C:740: bool Dyninst::SymtabAPI::DwarfWalker::parseCommonBlock(): Assertion '!"No common block variables to parse!"' failed.`

Full backtrace:
[code]

[2016-08-16 19:22] jdetter commented on #152
Is this something you would need me or Bill to do or are you working on this?

[2016-08-16 20:24] cuviper opened #153 "Assertion failed with a bad DYNINSTAPI_RT_LIB"
It's certainly a user problem if they set the wrong `DYNINSTAPI_RT_LIB`, but dyninst could be a little more graceful about failing.  Here's a case I just saw:

[code]

[2016-08-16 20:26] jdetter commented on #153
I have this issue all of the time, one time I didn't notice I didn't have `DYNINSTAPI_RT_LIB` set properly and the core dumps filled up my disk =P

[2016-08-16 20:29] wrwilliams commented on #152
Assert is safe to remove, returning false is fine.

[2016-08-16 20:31] wrwilliams commented on #153
I'll note that the call node is not the place for graceful failure; we should have error checking when we create the call snippet re: whether we can actually find the callee. Asserting in the AstCallNode is entirely sensible to do.

[2016-08-16 20:32] cuviper commented on #153
Perhaps we could use symtabAPI to sanity-check the symbols in `DYNINSTAPI_RT_LIB` before trying to use it anywhere?

It would also help a lot if Dyninst just determined this path itself, at least if it's not set.  I actually did this in our systemtap client, which you can see [here](https://sourceware.org/git/gitweb.cgi?p=systemtap.git;a=blob;f=stapdyn/dynutil.cxx;h=cd2ae11b7980400b4d247dcc6ebd063

[2016-08-16 22:47] wrwilliams commented on #153
I think that auto-detection is a saner approach. We'd want to move the code responsible for swizzling static/dynamic and 32/64 detection in there, obviously, but that should be trivial.

[2016-08-17 15:34] #152 closed

[2016-08-18 17:25] wrwilliams commented on #34
Fixed by #156 per @cuviper

[2016-08-18 17:25] #34 closed

[2016-08-22 19:35] jdetter commented on #123
This issue has been fixed on Fedora 23 and Ubuntu, there is a new issue on RHEL 6 that is causing this test to fail for a different reason.

[2016-08-22 19:35] #123 closed

[2016-08-22 19:38] jdetter opened #157 "test_pt_ls failing on master (RHEL6)"
The `findMain` analysis part of this issue has been fixed, however there is a new issue causing the test to fail. We are now failing during instrumentation:

[code]

@wrwilliams  or @cuviper any insight here on what could be going wrong? I am only seeing this on RHEL6 so this could be another proccontrol issue.

[2016-08-22 19:51] wrwilliams commented on #157
Try running parseThat with -S (mutator directly available) and see if you get any more information? Mutatee segfault when reading the trace pipe suggests that there's something screwy in the RTlib/mutator combination with respect to IPC, but that's not certain.

[2016-08-22 19:57] jdetter commented on #157
We don't get much except a message that says the mutatee exits successfully but then somehow segfaults:

[code]

[2016-08-22 20:10] wrwilliams commented on #157
Okay, then, try single-function instrumentation for the functions where we're crashing post-instrumentation. Is this showing up when rewriting as well, or only on a live process?

[2016-08-22 20:20] cuviper commented on #157
I'm currently investigating a RHEL6 SIGSEGV coming from other tests -- see [rhbz 1367225](https://bugzilla.redhat.com/show_bug.cgi?id=1367225).

Perhaps the underlying cause is the same.  Does `test4_4` also SIGSEGV for you?

[2016-08-22 20:47] jdetter commented on #157
@cuviper it looks like my `test4_4` is passing, even when running with `./test_driver -test test4_4 -v++ -allopt -allmode -allcompilers`. However, my dyninst RT lib is named `libdyninstAPI_RT.so`.

@wrwilliams it's only the create tests:

[code]

[2016-08-22 20:50] wrwilliams commented on #157
Yeah, that suggests proccontrol and/or improperly handling the instrumentation of a process mid-execution. Can you get any kind of consistent results for which functions do/don't cause the segfault when they're instrumented?

[2016-08-22 21:12] jdetter commented on #157
It looks like it's the same function every time, however when I only instrument `____wcstoul_l_internal`, parseThat doesn't crash.

[2016-08-22 21:13] wrwilliams commented on #157
I think runHunt works (or can be made to work) on dynamic mode as well as rewriter mode; give that a try?

[2016-08-22 21:42] jdetter commented on #157
I got different output but it looks like it is still crashing when we instrument `____wcstoul_l_internal`, which I can't find inside of `/bin/ls` or `/lib64/libc.so.6`

[code]

[2016-08-22 21:52] jdetter commented on #157
When running directly on `libc.so.6`, we have a failure in `processCreate`. I ran with `DYNINST_DEBUG_PROCCONTROL` and here is what I got:

https://gist.github.com/jdetter/1eed4e03394a84e2c544ff3bdbc148bd

[2016-08-23 21:09] jdetter opened #158 "Add generated cotire directories to gitignore"
On the latest master, after building there are untracked files that need to be added to the gitignore:

[code]

[2016-08-23 21:12] jdetter opened #160 "make install not working on latest master"
On the latest master, `make install` won't complete on Fedora 23:

[code]

[2016-08-23 22:13] #158 closed

[2016-08-23 22:27] jdetter commented on #160
Is anyone else able to reproduce this or is this a local issue for me?

[2016-08-24 17:56] wrwilliams commented on #160
Does this persist with a clean cache/clean build?

[2016-08-25 01:09] jdetter commented on #160
I'm having issues with this on Fedora 23 and Ubuntu 16.04, however it seems to be a non issue on RHEL 6.

[2016-08-25 16:44] wrwilliams commented on #160
What are we generating in that relink directory? Anything that looks remotely sane?