[2021-04-12 19:50] hainest commented on #998
We can't offer support for the Windows platform at this time. Please let us know if we can be of help in any other way.

[2021-04-12 19:50] #998 closed

[2021-04-12 19:50] hainest commented on #992
We can't offer support for the Windows platform at this time. Please let us know if we can be of help in any other way.

[2021-04-12 19:50] #992 closed

[2021-04-12 19:51] hainest commented on #944
Closing due to inactivity. Please re-open this issue if this this problem is still present.

[2021-04-12 19:51] #944 closed

[2021-04-12 19:52] hainest commented on #941
Closing due to inactivity. Please re-open this issue if this this problem is still present.

[2021-04-12 19:52] #941 closed

[2021-04-12 19:52] hainest commented on #996
@mxz297 Any thoughts on this?

[2021-04-12 19:53] hainest commented on #777
Closing due to inactivity. Please re-open this issue if this this problem is still present.

[2021-04-12 19:53] #777 closed

[2021-04-13 13:50] mxz297 commented on #996
@hainest This origin tool just uses Dyninst to parse binary whether the binary is stripped or not.

[2021-04-14 02:46] woodard opened #1017 "crash in Dyninst::SymtabAPI::DwarfWalker::parseEnumEntry() [clone .cold] () at /usr/include/c++/11/ext/new_allocator.h:89"
**Intention**
with dyninst 11 running repo1 on /usr/lib64/libbabeltrace-ctf.so.1.0.0
from libbabeltrace-1.5.8-6.fc34.x86_64

**Describe the bug**
Starting program: /home/ben/Shared/Work/dwqual/repo1 /usr/lib64/libbabeltrace-ctf.so.1.0.0
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib64/libthread_db.so.1".
terminate called after throwing an instance of 'std::bad_

[2021-04-14 02:50] woodard commented on #1017
A similar one happens with  /home/ben/Shared/Work/dwqual/repo1 /usr/lib64/libfreerdp2.so.2.2.0
from freerdp-libs-2.2.0-6.fc34.x86_64 but it is in

#7  0x00007ffff7eb80c8 in Dyninst::SymtabAPI::DwarfWalker::parseMember() [clone .cold] () at /usr/include/c++/11/ext/new_allocator.h:89

rather than

#7 0x00007ffff7eb7f1f in Dyninst::SymtabAPI::DwarfWalker::parseEnumEntry() [clone .cold] () at /usr/inc

[2021-04-14 03:13] woodard commented on #1017
Variants of this seem to be the only asserts that I'm seeing:

$ grep -L "exited normally" *.out | xargs grep -h "#7" | sort | uniq -c
     11 #7  0x00007ffff7eb7f1f in Dyninst::SymtabAPI::DwarfWalker::parseEnumEntry() [clone .cold] () at /usr/include/c++/11/ext/new_allocator.h:89
      1 #7  0x00007ffff7eb7f77 in Dyninst::SymtabAPI::DwarfWalker::parseInheritance() [clone .cold] () at /usr/include

[2021-04-14 03:36] woodard opened #1018 "err message: invalid DWARF"
The GCC 11 DWARF seems to confuse dyninst
running repo1 on  /usr/lib64/libzstd.so.1.4.9 from libzstd-1.4.9-1.fc34.x86_64 using dyninst 11
yields:
err message: invalid DWARF
err message: invalid DWARF
err message: invalid DWARF

when getting function parameters:
65:    if( i->getParams(lvars) == false){

This should probably be sorted out. If gcc is in fact generating invalid DWARF please let me kn

[2021-04-14 03:43] woodard commented on #1018
This showed up in 604 of my 1000 tests so it is fairly common.

[2021-04-14 17:12] woodard opened #1019 "err message: .debug_loclists section missing"
repo1 /usr/lib64/libxmlb.so.2.0.0
err message: .debug_loclists section missing
err message: .debug_loclists section missing
...

This library is part of Fedora 34's libxmlb-0.3.0-1.fc34.x86_64 package.

The problem shows up in line 64 when we are getting the params.
   if( i->getParams(lvars) == false){

The problem is likely due to the new DWARF5 generated in GCC11 in Fedora34 and its version of

[2021-04-21 16:24] sashanicolas commented on #1017
@woodard is this gcc 11 too like issue #1018 and #1019? And all on fedora34?

[2021-04-21 16:30] hainest commented on #1010
Some suggestions for well-behaved ABI changes

longer writeup of dos and donts here: https://community.kde.org/Policies/Binary_Compatibility_Issues_With_C++

A discussion of library versioning: https://tldp.org/HOWTO/Program-Library-HOWTO/shared-libraries.html

[2021-04-28 13:19] ManojKumarChauhan opened #1022 "Dyninst: How to access function variables"
I created a c++ application and one function in it.
void testfunction(int *a, char b);

BPatch_function class provides getParams method to access the variables.Example

BPatch_Vector<BPatch_localVar *> *vars =  curFunc->getParams();

I want to access the actual variable address (of a and b) but did not find any  API in BPatch_localVar class to get it.
To know variable type (like int * and char), I

[2021-04-29 07:28] renxian2 opened #1023 "Dyninst 10.1.0 cannot parse newer go binaries"
When parsing newer go binaries, Dyninst fails with
"dyninst-10.1.0/src/dyninstAPI/src/addressSpace.C:819: virtual void* AddressSpace::getPtrToInstruction(Dyninst::Address) const: Assertion `0' failed"

Upon examining the source code, it seems that Dyninst did not get the starting offset and size of the code section right.

This happens on Linux 64bit.

[https://www.dropbox.com/s/hkfm5pgv6qt36gr/ex

[2021-04-29 13:59] stanfordcox commented on #1019
To quiet down the messages (some testsuite tests get this repeatedly) for the Fedora rawhide release I did:
-                cerr << "err message: " << dwarf_errmsg(dwarf_errno()) << endl;
+	        dwarf_printf("(0x%lx) Error while decoding location: %s\n", id(), dwarf_errmsg(dwarf_errno()));

[2021-04-29 14:00] stanfordcox commented on #1018
Yes, quite common for gcc 11, which defaults to dwarf 5.  To quiet down the messages (some testsuite tests get this repeatedly) for the Fedora rawhide release I did:
-                cerr << "err message: " << dwarf_errmsg(dwarf_errno()) << endl;
+	        dwarf_printf("(0x%lx) Error while decoding location: %s\n", id(), dwarf_errmsg(dwarf_errno()));

[2021-04-29 14:08] stanfordcox commented on #1019
(The recently release Fedora 34, https://getfedora.org/, contains gcc 11, gcc-11.0.1-0.3.fc34)

[2021-04-29 19:55] hainest commented on #1023
Dyninst does not support Go binaries. There is experimental support created by @mxz297.

[2021-04-29 19:57] hainest commented on #1022
Could you provide a minimal working example of source code that we can debug?

[2021-04-29 22:35] woodard commented on #1017
Sorry I missed seeing this until now.

Yes with fedora34

[2021-05-01 18:38] ManojKumarChauhan commented on #1022
Attached is codecoverage.C which searches a function testfunction and print its argument. For a C language program, It can find the argument name and type name but I did not find any API to access arguments arg1 and arg2.
void testfunction(int *arg1, char arg2)
[testcode.zip](https://github.com/dyninst/dyninst/files/6410111/testcode.zip)

Similarly I created a go program and write below test funct

[2021-05-03 16:52] ManojKumarChauhan commented on #1006
Hi @hainest
Should I close this issue?

[2021-05-03 16:54] ManojKumarChauhan commented on #833
Closing this issue as it was created a very long time ago and I did not find any solution.

[2021-05-03 16:54] #833 closed

[2021-05-03 17:00] #1006 closed

[2021-05-04 14:22] NoyaFangzhou opened #1024 "How to instrument memory accesses for each thread?"
Hi, I'd like to collect the memory access trace for a simple OpenMP kernel, e.g. matrix multiplication. In the example, there is a demo that can trace the memory accesses for a particular function. Does it work for the OpenMP program tool without any locking mechanism? Besides, if I'd like to print something like "Access {SOME ADDRESS} in TID: {THREAD ID}" after each memory load/store instruction?

[2021-05-04 14:28] mxz297 commented on #1023
@renxian2 I believe this issue is resolved offline? If so, can you close this issue?

[2021-05-05 21:33] #1023 closed

[2021-05-06 14:11] ManojKumarChauhan commented on #1022
Hi @hainest
Any update? If golang is not supported then it's ok but please suggest how to get the address of function arguments. In below example to access a & b, I did not find any function to get their address.
void testfunction(int *a, char b);

[2021-05-06 21:36] hainest commented on #1024
@mxz297 @sashanicolas Do we have a way to know which thread caused a memory access?

[2021-05-06 21:41] hainest commented on #1022
Whether or not a formal function parameter has an address is defined by the ABI in use. For example, on x86_64, neither parameter would have an address because they are passed in registers. If you want to know the address of the variables which were passed at the callsite, we don't support that yet (though it is under active development).

[2021-05-07 13:47] ManojKumarChauhan commented on #1022
I want get the function parameters (a and b) and pass them in another function (instrumented function). Is it possible now?

[2021-05-07 23:23] mwkrentel opened #1025 "config error: dyninst 11.0.0 doesn't build on theta-gpu at ANL"
I looked at the dyninst 11.0.0 build problem again that I mentioned on
Wednesday's call.  It's very mysterious, but reproducible.

I've only seen this happen on the theta-gpu compute nodes at Argonne.
First, you have to login to theta at ANL.  Then, login to theta-gpu
service node (thetagpusn1 or thetagpusn2).  That should be automatic
via rhost (no password).  Finally, get to theta-gpu compute no

[2021-05-10 21:20] mxz297 opened #1027 "Dyninst-11.0 regression on parsing blocks that catch exceptions"
I noticed a regression on Dyninst-11.0 regarding parsingcatch blocks, which is done in SymtabAPI.

When using Dyninst-11.0, the start and end addresses of catch blocks will have an +0x100000000 offset compared to the correct addresses. I have a simple code that prints out catch blocks and with Dyninst-11.0, I got:

[code]

With Dyninst-10.2.1, I got:

[code]

We can see Dyninst-11.0 has a weird hu

[2021-05-11 02:42] mxz297 opened #1028 "Dyninst-11.0 prints huge output to stdout"
@bbiiggppiigg

The line caused the printing:

https://github.com/dyninst/dyninst/blob/v11.0.0/dataflowAPI/src/AbslocInterface.C#L501

[2021-05-13 02:30] mxz297 commented on #1028
@bbiiggppiigg There is at least one instance of printing (https://github.com/dyninst/dyninst/blob/master/common/src/dyn_regs.C#L201).

Can you carefully double check your code to remove all printing?

[2021-05-13 21:34] bbiiggppiigg commented on #1028
@mxz297 Is it fine if I change some of the error indicating information to to std::cerr ?

[2021-05-13 21:56] mxz297 commented on #1028
@mxz297 No, unconditionally printing to either stdout or stderr is not good. We typically have environment variables that enables printing to stderr, which by default are disabled. If you want to retain the printing, you need to do something similar:

https://github.com/dyninst/dyninst/blob/master/dyninstAPI/src/debug.h

[2021-05-13 23:28] bbiiggppiigg commented on #1028
I've pushed new commits to fix this problem.

[2021-05-14 19:42] #1027 closed

[2021-05-16 05:09] #1028 closed

[2021-05-18 15:50] mxz297 opened #1031 "Dyninst master fail to compile with gcc-6"
I encountered the following error:

[code]

when compiling dyninst master branch with gcc-6.4.0 on a power system.

Structured binding is since C++17 (https://en.cppreference.com/w/cpp/language/structured_binding). Is this an unintended use of a C++17 feature or Dyninst has moved onto C++17?

@hainest @bbiiggppiigg

[2021-05-18 16:36] mxz297 opened #1032 "Master branch crashes during code parsing"
I noticed code parsing segfault when parsing:

[code]

It is on a x86-64 system running Red hat 8.3

[2021-05-18 18:09] hainest commented on #1031
We haven't moved to C++17 yet (although I wouldn't complain if we did), I just missed this during code review. We should change this to use [`std::tie`](https://en.cppreference.com/w/cpp/utility/tuple/tie).

[2021-05-18 18:18] hainest commented on #1031
Thinking about this more, we explicitly set the `-std=c++11` flag. This means that the Dyninst compiler flags aren't getting passed to the Rose subproject. That needs to be fixed (separately from this, though).

[2021-05-19 13:31] mxz297 opened #1034 "DWARF debug print causes a crash"
On a Fortran binary compiled Intel's Fortran compiler, Dyninst crashed at the following line:

https://github.com/dyninst/dyninst/blob/master/symtabAPI/src/dwarfWalker.C#L363

This reveals two issues:

1. the crash happened inside `dwarf_getabbrevcode`, which is a function from libdw.  However, the debug logging environment variable is not set, so the logging arguments should have not been evaluat

[2021-05-19 13:38] mxz297 opened #1035 "Data races in ParseAPI and InstructionAPI on Power 9"
I discovered several different segfaults when running hpcstruct with 16 threads on all binaries under my local spack directory.

This experiment is done on llnl.cs.rice.edu, which is a power 9 machine running red hat 7.7.

[2021-05-19 13:39] mxz297 commented on #1035
The first one is in ParseAPI during finalization:

[code]

[2021-05-19 13:45] mxz297 commented on #1035
The second one is in InstructionAPI:

[code]

The binary that caused the problem is

`/home/xm13/spack/opt/spack/linux-rhel7-power9le/gcc-8.3.0/boost-1.74.0-y2ct5tzumo2mkk5s6laa5vrzyp5njqcz/lib/libboost_math_tr1.so.1.74.0`

[2021-05-19 17:47] mxz297 commented on #1035
A third segfault in ParseAPI's finalization while parsing `/usr/lib64/autofs/mount_afs.so`:

[code]

[2021-05-19 19:26] mxz297 commented on #1035
Fourth one in jump table parsing when running `/usr/lib64/firefox/libxul.so`:

[code]

[2021-05-20 03:22] hainest commented on #930
Subsumed by #1035

[2021-05-22 14:43] mxz297 commented on #1034
`dwarf_getabbrevcode` cannot be called with input -1, which is the value of macro `DWARF_END_ABBREV`.

[2021-05-24 20:50] hainest opened #1039 "Dyninst doesn't build with Intel OneAPI/TBB 2021.1.1"
Originally reported by max.hofferlormand@hotmail.fr and william.jalby@uvsq.fr.

The error was:

file failed to open for reading (No such file or directory):

    /opt/intel/oneapi/tbb/2021.1.1/include/tbb/tbb_stddef.h

The problem is the file tbb_stddef was replaced by version.h on oneAPI. To resolve this we create a symbolic link, tbb_stddef.h --> version.h.

The problem is that Intel OneAPI/TBB

[2021-05-26 01:28] hainest opened #1040 "build: export DYNINST_INCLUDE_DIRS"
Dyninst is supposed to export DYNINST_INCLUDE_DIRS, but it actually exports DYNINST_INCLUDE_DIR (singular).

[2021-05-26 23:53] #1031 closed

[2021-05-27 21:21] #1039 closed

[2021-05-28 20:00] #1034 closed

[2021-05-28 20:46] #605 closed

[2021-05-28 20:53] #930 closed

[2021-05-28 20:53] #1035 closed

[2021-05-29 17:54] mxz297 opened #1043 "Segfault when parsing libOpenCL.so on Power 9"
It segfaulted even with 1 thread.  The binary is `/usr/local/cuda-11.0/targets/ppc64le-linux/lib/libOpenCL.so.1.0.0` on llnl.cs.rice.edu

[2021-05-29 18:03] mxz297 commented on #1043
Stack trace:

[code]

[2021-05-30 20:55] mxz297 commented on #1043
This turns out to be a x86-64 binary. We still have one #ifdefine in instruction that disabled implicit operand decoding for x86 instructions on non-x86 architectures.

[2021-06-01 01:54] #1043 closed

[2021-06-01 02:58] hainest commented on #1025
Were you able to get in contact with Ray? I've tried logging into a theta-gpu machine a few times, but I've never been able to.

[2021-06-04 15:43] mwkrentel commented on #1025
@hainest I guess Ray didn't get back to you?
I ping'd him Monday, but I also haven't heard back.

[2021-06-04 18:50] hainest commented on #1025
@mwkrentel I've not heard from him, and I can't log into the theta-gpu partition.

[2021-06-04 20:17] stanfordcox opened #1045 "aarch64 creates dynsym entry for internal function"
The routine mutatee has an internal function incr, which has no callers, that the mutator adds a call to.  So the mutated executable ends up with:
Relocation section [31] '.rela.dyn' at offset 0x305d0 contains 7 entries:
   ...
   0x0000000000500070  AARCH64_JUMP_SLOT 000000000000000000      +0 _Z4incrv
Symbol table [27] '.dynsym' contains 18 entries:
   ...
   17: 0000000000000000     36 FUNC

[2021-06-07 17:19] hainest commented on #1045
@sashanicolas Could you take a look at this? I know our handling of static binaries on ARM is incomplete.

[2021-06-08 01:26] wcohen opened #1046 "How to force ParseAPI to parse sections of code in function that have no obivious way of entry"
The code in https://github.com/wcohen/quality_info/blob/master/dyninsttools/locrangechecks.C analyzes the location lists and warns location list element appears to have a problem.  When looking through the results for the kernel I found a number of places where it was indicating that the location list element wasn't on a boundary because the code wasn't analyzed.  The code iterates through all the

[2021-06-08 07:21] Ruturaj4 commented on #486
I came across same issue on fedora. the above patch fixed for me.

[2021-06-09 19:05] hainest opened #1048 "SymtabAPI::Function::getParams returns no results for unnamed parameters"
ping @sashanicolas @mxz297

**test.cpp**

	void aaa(int x, float f, double d){}
	void foo(int, float, double){}
	void bar(int, float f, double d){}
	void baz(int x, float f, double){}
	void buz(int x, float, double d){}
	void bur(int x, float f, double d){}

**output**
    _Z3aaaifd(x, f, d, )
    _Z3barifd(NONE)
    _Z3bazifd(NONE)
    _Z3burifd(NONE)
    _Z3buzifd(NONE)
    _Z3fooifd(NONE)

Noti

[2021-06-09 20:16] hainest opened #1049 "SymtabAPI::Type should support C++11 r-value references"
These are specified by `DW_TAG_rvalue_reference_type` and should be separate from [`dataReference`](https://github.com/dyninst/dyninst/blob/master/symtabAPI/h/Type.h#L80) and [`typeRef`](https://github.com/dyninst/dyninst/blob/master/symtabAPI/h/Type.h#L598).

[2021-06-10 01:43] hainest opened #1050 "SymtabAPI::Type::getName returns empty string for reference types"
**input**

    void foo(int x, int &y){}
    void bar(int &x){}

**output**

    _Z3barRi(
	    x[] is a reference to dataScalar(int)
    )
    _Z3fooiRi(
	    x[int] is a dataScalar(int)
	    y[] is a reference to dataScalar(int)
    )

**expected output**

    _Z3barRi(
	    x[int &] is a reference to dataScalar(int)
    )
    _Z3fooiRi(
	    x[int] is a dataScalar(int)
	    y[int &] is a refere

[2021-06-10 01:55] hainest opened #1051 "Separate C++ pointer-to-member from raw pointers"
**output**

	_Z3bazM3FooFvvE(
		p[] is a pointer to dataFunction()
	)

**expected output**

	_Z3bazM3FooFvvE(
		p[void(Foo::*)] is a pointer to dataMemberFunction()
	)

Note, also, that we do not correctly stringify the name (cf. #1050).

[params.tar.gz](https://github.com/dyninst/dyninst/files/6627845/params.tar.gz)

[2021-06-10 03:05] hainest commented on #1046
@wcohen WIll that code ever get run if there is no basic block that reaches it? Is this some kind of jump threading the compiler has inserted for code sharing?

[2021-06-10 13:52] wcohen commented on #1046
@hainest When a trace point is enabled the noop gets changed to a jump to a snipnet of code associated with the tracepoint.  For example above a jump to ffffffff8100493d is placed over the 5-byte noop at ffffffff810048d8 when the tracepoint is enabled.  As a result the compiler is generating location list information there is for ffffffff8100493d to ffffffff81004971, but the dyninst basic block CF

[2021-06-10 20:24] wcohen opened #1052 "The Function disassembly example from the ParseAPI Programmer's guide doesn't compile"
**Intention**
I was trying to better understand the operation of the function disassembly example by having a copy of it working in the dyninst examples git tree.

**Describe the bug**
I was able to transcribe the code from the ParseAPI programmer's guide into a file to compile like the other examples.  I was able to get the CFG example in the same manual to compile as an example.  However, when a

[2021-06-10 21:05] wcohen commented on #1052
Found that the decode method was returning a different class Instruction (not Instruction::Ptr). Updated the code in commit 82af451e7109745ff30d67e3ffd4bbbaabaa2cf1 and it compiles now.

[2021-06-10 22:20] hainest commented on #1052
Could you post the diff from 82af451e7?

[2021-06-10 23:37] wcohen commented on #1052
Current working version of disassemble.cpp is at:
https://github.com/wcohen/examples/blob/wcohen/disassemble/disassemble/disassemble.cpp

There is an additional correction in  there to ensure that the last instruction of each basic block is outputted.  I found that the existing code was existing the loop one instruction early.

[2021-06-10 23:41] wcohen commented on #1052
all the diffs are listed on the history of the file.

[2021-06-11 03:50] wcohen commented on #1046
I got the example in the ParseAPI programmer's guide working (https://github.com/wcohen/examples/tree/wcohen/disassemble/disassemble).  What was learned from the example was applied to https://github.com/wcohen/quality_info/blob/master/dyninsttools/locrangechecks.C.  The https://github.com/wcohen/quality_info/commit/9138d6f083f68584d0ea97b80a25eeb97350d5a6 switches from using the basic block analy

[2021-06-11 03:50] #1046 closed

[2021-06-11 20:58] sashanicolas commented on #1045
@stanfordcox I still haven't had time to look into this. Static linked binaries are still not fully supported on aarch64.
If you can, please add here whatever else you found about this issue.

[2021-06-11 21:45] stanfordcox commented on #1045
I have only tried this on the testcase but it works okay there:
/usr/bin/diff -U1 /tmp/inst-aarch64.C /work/scox/dyninst/src/dyninstAPI/src/
--- /work/scox/dyninst/src/dyninstAPI/src/inst-aarch64.C	2021-03-31 10:37:32.394213499 -0400
+++ /tmp/inst-aarch64.C	2021-06-11 17:43:49.058470680 -0400
@@ -664,4 +664,8 @@
         // gen.as.edit() checks if we are in rewriter mode
-        Address dest = ge

[2021-06-11 21:50] stanfordcox commented on #1045
Only tested with the testcase, not run through the testsuite, but works okay for the testcase.   This pretty much mimics the x86 behavior in inst-x86.C

[inst-aarch64.C.patch.txt](https://github.com/dyninst/dyninst/files/6641108/inst-aarch64.C.patch.txt)

[2021-06-15 00:07] hainest opened #1054 "Additional cleanup items"
These are certain and potential memory leaks, abandoned code, and just broken implementations that I have found while searching through the codebase. Most appear not to be life-threatening at this time, but they would be good to get fixed as we go along.

## dyninstAPI

- AddressSpace
  - [ ] defensive mode has been non-functional since 89919d982 (ca. 2012)
  - [ ] patcher is crazy broken; it's al

[2021-06-15 20:14] mwkrentel commented on #1025
@hainest I finally heard from Ray Loy today, and we should now be able
to access the compute nodes via the Tools account.

[2021-06-15 21:06] sashanicolas commented on #986
That case in  "dwarf/src/dwarfExprParser.C:337" should not have a break, so far. Unfortunately the way the DWARF state machine is implemented in Dyninst is a little weird and we need to consume that operation and then fall through to the next CASE to perform a SKIP operation.
And also the comment in the code says:
[code]

[2021-06-18 00:14] hainest commented on #1052
Closed by https://github.com/dyninst/examples/pull/19

[2021-06-18 00:14] #1052 closed

[2021-06-18 12:29] tylergu opened #1057 "Assertion on ParseAPI::CodeObject::parse(target=function_addr, recursive=false)"
**Describe the bug**
ParseAPI::CodeObject::parse(target=function_addr, recursive=false) encounters an assertion when the code object is symbolic link and the resursive flag is set to false.
Error message:
`parse_resolve: /home/tylerg/dyninst_xsave/parseAPI/src/Parser.C:1529: bool Dyninst::ParseAPI::Parser::parse_frame_one_iteration(Dyninst::ParseAPI::ParseFrame&, bool): Assertion 'ct' failed.
Abor

[2021-06-18 17:16] hainest commented on #1057
@mxz297 Could you take a look? This might be a candidate for our repo of binaries for testing parsing.

[2021-06-18 19:14] hainest opened #1058 "thread_db_process::isSupportedThreadLib will break on future libc release"
A future release of libc will move libpthread into libc. This check will need to be updated, accordingly.

[2021-06-19 20:53] hainest commented on #810
common/src/cstring.h is dead

[2021-06-22 16:05] wcohen commented on #898
It looks like the FunctionBase class getRanges() method provides the desired information.  This isn't described in the documentation. Doing some sanity check of the data with ranges_sanity (https://github.com/wcohen/quality_info/blob/wcohen/funcranges/dyninsttools/ranges_sanity.C).  Earlier attempts to modify the locrangecheck.C to use getRanges() ended up with range vector with 900+ elements for

[2021-06-22 18:51] wcohen opened #1060 "FunctionBase getRanges() method appears to miss the range information for some functions"
**Intention**
Extract accurate range information for functions and inlined functions in binaries

**Describe the bug**
In some cases there are no ranges returned for a function despite there being range information in the debug info.

**To Reproduce**
Have little program that uses the getRanges() method recursively on each function and inlined function it contains at https://github.com/wcohen/qual

[2021-06-22 18:58] wcohen commented on #1060
This was using locally built rpm containing the dyinst-11.0.0 release with a couple minor patches to dyninst.  I have kicked off a koji scratch build if you need to take a look at the rpm and make sure it isn't one of the patches in there:

https://koji.fedoraproject.org/koji/taskinfo?taskID=70634353

[2021-06-23 14:09] stanfordcox opened #1061 "dyninst is unable to parse libdw.so"
The systemtap dyninst backend creates a shared object containing probe functions.  The shared object cannot currently be loaded and I chased the problem down to dyninst being unable to parse libdw.so which the stap shared object references.   Using the CodeDump tool located here:
 https://github.com/mxz297/dyninst-tools
I see:
../CodeDump/CodeDump /usr/lib64/libdw-0.185.so
Segmentation fault (core

[2021-06-23 14:16] stanfordcox commented on #1061
Above is with dyninst-11.0.0.
Files on https://scox.fedorapeople.org/dyninst/
echo.ppc64le   (fails processCreate)
libdw-0.185.f33.x86_64.so  (fails CodeDump)
libdw-0.185.ppc64le.so (passes CodeDump, fails loadLibrary)
libdw-0.185.x86_64.so (passes CodeDump, passes loadLibrary)
mutator-ll.cpp (does a loadLibrary of a given so)

[2021-06-23 15:11] mxz297 commented on #1061
@stanfordcox I downloaded libdw-0.185.f33.x86_64.so and ran it with CodeDump compiled with latest Dyninst head. I do not see segfault. I saw that you are using Dyninst-11.0.0. I made several fixes to code parsing since 11.0.0 and these fixes are available in 11.0.1, which was just released recently. Can you retry with 11.0.1 and report which problems remain?

[2021-06-23 15:28] mxz297 commented on #1057
@hainest This is more likely due to the special use of parseAPI. By default and in most cases, the `recursive` parameter is true. I have never used parseAPI in a way that `recursive` parameter is false.

[2021-06-23 16:06] stanfordcox commented on #1061
@mxz297  Right you are, upstream does indeed work.  Should have checked that first.  For a rhel release I am limited to only patching, not switching out the version.  Think that will be a problem for me to pull out a patch for that?  I'll build an upstream ppc64le and try it there.

[2021-06-23 16:14] hainest commented on #1061
@stanfordcox Patching will work. There is only one commit past v11.0.1, but it just adds a missing instruction (xsave).

[dyninst-11.0.1.patch.log](https://github.com/dyninst/dyninst/files/6703417/dyninst-11.0.1.patch.log)

[2021-06-23 17:34] hainest commented on #1060
@wcohen @sashanicolas @mxz297

The problem is that Dyninst is picking up the .cold version, but not the regular version.

    < 1><0x0002d75d>    DW_TAG_subprogram
          DW_AT_name                  expand_inlined_process
          DW_AT_decl_file             0x00000018 .../quality_info/dyninsttools/ranges_sanity.C
          DW_AT_decl_line             0x0000000e
          DW_AT_decl_column

[2021-06-23 17:47] stanfordcox commented on #1061
@hainest  Thanks for the patch.  That fixes the x86_64 problem.  I still see the ppc64le problem:
% LD_LIBRARY_PATH=/home/scox/dyninst/install/lib DYNINSTAPI_RT_LIB=/home/scox/dyninst/install/lib/libdyninstAPI_RT.so ./mutator-ll -dynamic /usr/bin/echo /usr/lib64/libdw-0.185.so
--FATAL-- #68: Dyninst was unable to create the specified process
--FATAL-- #68: create process failed bootstrap
Failed to

[2021-06-23 18:01] wcohen commented on #1060
dyninst is swapping debuginfo associated with the function names for main and main.cold?  Looks like same could be happing to expand_inlined_process.

The compiler is going to generate labels with various suffixes in addition to .cold (.irsa, .constprop, etc.).  Dyninst is going to need to be careful not to mix up which debuginfo goes with which label.

[2021-06-23 18:23] stanfordcox commented on #1061
The problem is iapi_opcode is power_op_bc.  I have no idea if this is right but it does get dyninst to handle libdw-0.185.so on ppc.  power_op_bc is not handled; perhaps it was meant to be handled by branch_target?
diff ~/dyninst/src/dataflowAPI/src/RoseInsnFactory.C~ ~/dyninst/src/dataflowAPI/src/RoseInsnFactory.C
--- /home/scox/dyninst/src/dataflowAPI/src/RoseInsnFactory.C~	2021-06-09 15:54:21.7

[2021-06-23 19:30] hainest commented on #1061
@mxz297 I'm going to have to hand this off to you. I'm afraid I've run out of knowledge.

[2021-06-24 14:58] mxz297 commented on #1061
@hainest @stanfordcox

I cannot reproduce this error on a local power machine due to missing dependencies for libdw-0.185.so. It looks like `loadlLibrary` need to loads all its dependency.

@stanfordcox Can you post the stack trace for the assertion?

For this case, by setting environment variable `DYNINST_DEBUG_STARTUP`, we can see that dyninst cannot find `main` function in `/usr/bin/echo`. Bina

[2021-06-24 17:46] stanfordcox commented on #1061
@mxz297   Ah you're right about echo; thought I had grabbed the debuginfo for that.  It works okay with it of course.

The stapdyn testsuite seems to run okay with the RoseInsnFactory "patch" so that must at least be in the right neighborhood.  Without the patch the stack trace is:
#0  __GI_raise (sig=<optimized out>) at ../sysdeps/unix/sysv/linux/raise.c:49
#1  0x00007ffff7659444 in __GI_abort ()

[2021-06-25 18:01] hainest opened #1062 "Remove unused member variables in Symtab"
stabstr_
nstabs_
stabs_
stringpool_
fdptr_
nlines_

[2021-06-27 19:23] #635 closed

[2021-06-27 23:04] hainest opened #1067 "BPatch types are inconsistently constructible"
Some of them have no default constructor, some a private/deleted one, still others are protected. Make them consistent and follow the rule of 0/5.

[2021-06-28 17:54] hainest opened #1068 "const correctness"
Dyninst is not const-correct- meaning that many of its member functions should be marked `const` so that they are accessible from const-qualified references and pointers. This will alleviate the many dangerous and unnecessary `const_cast`s from the code.

[2021-06-28 20:06] wcohen commented on #712
I have been looking at code generated by GCC.  There are cases where the compiler generates cold sections of code that are in a region of text marked as <function_name>.cold.  A function may have branches out to snippet of code in <function_name>.cold and then jump back to the some place in <function_name>, so it is certainly possible for leave the region of code associated with <function_name>.

[2021-06-30 16:49] hainest commented on #1061
@mxz297 @stanfordcox Have we confirmed that this is fixed in the HEAD of master?

[2021-07-01 14:56] mxz297 commented on #1061
@hainest I believe the x86 problem is resolved in the HEAD of master. The two power problems are not, and they are two different problems.

One problem is an assertion where @stanfordcox has a patch to work around it. Based on the stack trace without the trace, it happens in jump table analysis during code parsing, jump table analysis itself has some mechanisms to tolerate certain errors, so I am

[2021-07-01 20:30] stanfordcox commented on #1061
I will create two prs for the ppcle cases and we can close this one.

[2021-07-01 20:43] stanfordcox opened #1071 "heuristics fail to find main in stripped ppcle executable"
The heuristics for the dyninst ppcle target fail in findMain to find main inside striped binaries.  This is the case for most any standard executable.

[2021-07-01 20:53] stanfordcox opened #1072 "jump table analysis fails checking bclr opcode for ppcle so"
For the dyninst ppcle target, jump table analysis during code parsing fails with:
Dyninst::DataflowAPI::RoseInsnPPCFactory::handleSpecialCases(entryID, SgAsmInstruction*, SgAsmOperandList*): Assertion `power_op_bclr == iapi_opcode' failed.

This patch bypasses the problem:
--- dyninst-11.0.0/dataflowAPI/src/RoseInsnFactory.C.orig	2021-06-09 15:54:21.753883619 -0400
+++ dyninst-11.0.0/dataflowAPI/s

[2021-07-02 12:57] stanfordcox commented on #1072
[dyninst-11.0.0-rosebc.patch.txt](https://github.com/dyninst/dyninst/files/6754673/dyninst-11.0.0-rosebc.patch.txt)

[2021-07-09 00:49] hainest commented on #1025
@mwkrentel I've logged into a thetagpu login node, but I'm still setting up my environment there. They are evidently using Ubuntu on the gpu nodes, but SLES on the theta nodes. That's causing some troubles with my default environment configs. I'll work on it and get back to you. How were you building Dyninst on theta-gpu? Just through spack?

[2021-07-09 01:41] mwkrentel commented on #1025
@hainest I believe I mentioned this above in (3).
It fails the same way either with spack or directly via cmake.

[2021-07-09 15:54] mwkrentel commented on #1025
@hainest I've gotten two more reports of this bug this week, so let's
prioritize this if possible.

[2021-07-09 16:43] mwkrentel commented on #1025
Well, this is bad.  Theta-gpu has been updated to Ubuntu 20.04.2 and
now it works for me.

Aaron Cherian in our group also reported the problem.  When he tells
me what machine, I'll test it there.

[2021-07-09 17:30] mwkrentel commented on #1025
@hainest Aaron's machine is at some company where he's working for the summer.
But it is running Ubuntu 18.04, same as the old theta-gpu.  The third
machine is in the cloud, but Debian 11, so close to Ubuntu in some respects.

Do you have access to Ubuntu 18.04?
It seems like that's where we should focus.

[2021-07-09 18:52] hainest commented on #1025
@mwkrentel I routinely test on an Ubuntu-18.04 x86_64 machine with no issues. It uses spack to manage Dyninst's dependencies, but builds Dyninst from source manually. I'll see if I can get a container install of Debian 11 to test there.

[2021-07-09 20:14] hainest commented on #1025
I just ran a build on my usual 18.04 test box. CMake is able to find the libiberty from my spack installation

[code]
and (after unloading the spack module), I can use the one from the system

[code]

[2021-07-09 23:19] hainest commented on #1025
I tried this on the Docker image for Debian 11 without trouble (although the elfutils package doesn't install libelf.h, so I had to manually add it):

[code]

[code]

Building Dyninst my usual way:

[code]

[2021-07-10 15:55] mwkrentel commented on #1025
Ah, but what happens in an all-spack build?

I'm developing a theory.  Is CONFIG_SITE set in the environment on the
Debian 11 machine?

Autotools responds to CONFIG_SITE and it's possible that some site has
CONFIG_SITE set to something that cmake doesn't understand.  Probably,
I could always set CONFIG_SITE to something ridiculous that would
break cmake.  But what I'm looking for is something that

[2021-07-11 19:27] hainest commented on #1025
I'm not seeing that with Debian 11

[code]

and the same on Ubuntu 18.04

[code]

[2021-07-12 19:48] mwkrentel commented on #1025
Hmm, at this point, I don't have a good way to reproduce the problem.
Maybe Max Dechantsreiter could set us up with an identical cloud system.
Or maybe Aaron Cherian in our group could try running commands.
But I don't know if either of those would result in a system we could
login to and investigate.  Too bad.

I guess leave this open for a while, see if it turns up again in a way
that we can log

[2021-07-13 19:39] hainest commented on #1025
I'm happy to try to debug this with someone, if they can get an environment I can access.

[2021-07-14 17:45] #810 closed

[2021-07-20 08:13] ManojKumarChauhan commented on #689
Hi @sashanicolas ,

In which version of dyninst this issue will be fixed?

[2021-07-20 08:14] ManojKumarChauhan commented on #1022
Hi @hainest ,

Is this fixed?
If not then can I get it in the next version of dyninst?

[2021-07-20 20:14] hainest commented on #1022
@ManojKumarChauhan Dyninst has a rudimentary understanding of ABI information for formal parameters- even on x86. We are working with a group at LLNL to implement this, but it will be months (at the very least) before it is ready. This definitely won't be in the next version of Dyninst.

[2021-07-23 16:03] wcohen opened #1075 "How does dyninst handle parameters and location variables that are constants in the debuginfo?"
I was experimenting with the unusedArgs example I have written in https://github.com/wcohen/examples/tree/wcohen/unusedArgs and constant propagation.  I was expecting it print out that some arguments for the test case test_unused4.c below were unused due to gcc copy propagation optimization for foo.constprop.0 and bar.constprop.0  (compiled with ." gcc -O3 -fipa-cp -g -o test_unused4_cp test_unuse

[2021-07-26 20:10] hainest commented on #1075
@wcohen  It doesn't (https://github.com/dyninst/dyninst/blob/master/symtabAPI/src/dwarfWalker.C#L848). That code was added in 2012, but never implemented. I will add it to the other DWARF type parsing issues.

[2021-07-26 20:19] hainest commented on #1075
@wcohen @sashanicolas I created a project to track issues related to parsing DWARF type information.

[2021-07-27 08:59] Alessandro-Barbieri opened #1076 "ninja: error: build.ninja:120: bad $-escape (literal $ must be written as $$)"
**Intention**
make an ebuild for the gentoo oevrlay guru

**Describe the bug**
[code]

**To Reproduce**
`cmake -C /var/tmp/portage/sys-cluster/dyninst-11.0.1/work/dyninst-11.0.1_build/gentoo_common_config.cmake -G Ninja -DCMAKE_INSTALL_PREFIX=/usr -DSTERILE_BUILD=YES -DENABLE_STATIC_LIBS=NO -DADD_VALGRIND_ANNOTATIONS=yes -DBUILD_DOCS=no -DUSE_OpenMP=yes -DCMAKE_BUILD_TYPE=Gentoo -DCMAKE_TOOLCHAIN_

[2021-07-27 09:02] Alessandro-Barbieri commented on #1076
In `build.ninja:120` there is this line
`COMMAND = cd /var/tmp/portage/sys-cluster/dyninst-11.0.1/work/dyninst-11.0.1_build/dyninstAPI_RT && $(MAKE)`

[2021-07-27 18:44] hainest commented on #1076
I'm not familiar with using Ninja. Does CMake automatically set `MAKE` to something other than GNU Make when using Ninja as a generator in this context? I don't see that it could.

[2021-07-29 14:20] backyintime opened #1077 "How"

[2021-07-29 14:20] #1077 closed

[2021-08-02 18:25] hainest opened #1079 "Allow access to underlying type in SymtabAPI::typeEnum"
This should also add support for `enum class` types.

[2021-08-02 19:54] kupsch opened #1080 "enable more compiler warning, clean up all warning"
**Intention**
When Dyninst is built, there should be not diagnostic output from the compiler.  Additional warnings should be enabled to allow the compiler to detect illegal or undefined code constructs, or potential errors that the static code analysis capabilities of the compiler can detect.  To further this effort additional warnings should be enabled.  The following set is a good starting point

[2021-08-02 20:03] kupsch opened #1081 "Make code compatible with C++14, C++17, C++20 and C11"
**Intention**
Make Dyninst successfully build without warnings for all current language dialects of C and C++.

**Describe the bug**
Dyninst is only tested against C99 and C++11 currently.  It fails to build with C++20 due to STL changes and many additional diagnostics are issued due languages changes and deprecated functionality.

**To Reproduce**
Set the language standard in cmake/LanguageStanda

[2021-08-03 14:58] kupsch opened #1083 "Improve debug flags"
Currently the DEBUG release uses `-O0 -g` compiler flags and the RELWITHDEBUGINFO used `-g`.  The debugging experience would be better with `-Og` and `-g3`.

[2021-08-03 15:02] kupsch opened #1085 "use the C11 standard for C code in Dyninst"
Currently C code in Dyninst uses the C99 standard.  Update the language standard to C11.  No code changes necessary.

[2021-08-04 16:23] #818 closed

[2021-08-04 16:23] #986 closed

[2021-08-04 16:23] #1080 closed

[2021-08-04 16:23] #1081 closed

[2021-08-06 15:14] kupsch opened #1087 "possible bug in insnCodeGen::generateSimple"
**Describe the bug**
Code may incorrect in dyninstAPI/src/codegen-power.C in the method insnCodeGen::generateSimple. In cleaning up compiler warnings there was an `if` statement that whose condition was equivalent to a following `else if` statement's condition.  To eliminate the diagnostic, the `else if` statement was commented out.  See commit 7c71346f1 and the FIXME comment in the code.

The cod

[2021-08-06 15:22] kupsch opened #1088 "Remove use of flexible array member as it is not valid in C++"
**Describe the bug**
In dyninstAPI_RT/h/dyninstAPI_RT.h the struct trap_mapping_header has a flexible array member.  This is valid in C, but not valid C++. Since this header file is included and compiled as C++, the struct and code that uses it should be rewritten. See commit c9c5fbb70 and the FIXME comment in the code.  Currently the warning is disabled using pragmas.

[2021-08-06 16:20] kupsch opened #1089 "-Warray-bounds warning in SHA1Final"
**Intention**
No diagnostics when compiling with -O3 optimization level.

**Describe the bug**
In `SHA1Final` there is a call to `SHA1Update(context, (unsigned char*)'\200', 1)`, and again with the literal `'\0'`. The intent here isn't to use the memory at addresses 128 and 0, but a buffer containing those values.  The character literal should be replaced with a buffer containing the values (a str

[2021-08-06 16:50] #1089 closed

[2021-08-06 17:07] #1085 closed

[2021-08-06 18:11] hainest opened #1091 "cray compiler (cce) doesn't understand some gcc warning flags"
warning: unknown warning option '-Wcomma-subscript'; did you mean '-Wchar-subscripts'? [-Wunknown-warning-option]
    warning: unknown warning option '-Wduplicated-branches' [-Wunknown-warning-option]
    warning: unknown warning option '-Wduplicated-cond' [-Wunknown-warning-option]
    warning: unknown warning option '-Wenum-conversions'; did you mean '-Wenum-conversion'? [-Wunknown-warning-optio

[2021-08-09 18:49] kupsch commented on #1091
Caused by clang emitting a different diagnostic message than gcc when an unknown warning flag is present.  This caused the check for supported warning messages to always pass.  Pull request available soon.

[2021-08-09 21:36] #1083 closed

[2021-08-09 21:46] #1091 closed

[2021-08-21 19:10] Alessandro-Barbieri opened #1094 "Files with w+x sections"
The gentoo CI found a QA issue: the library contains writable+executable sections
[code]
[Full log](https://bugs.gentoo.org/attachment.cgi?id=729864)
https://bugs.gentoo.org/806268

[2021-08-30 23:58] anzosasuke opened #1095 "Unable to install dyninst in my ubuntu 20.04.3. Trying to create cmake but build is incomplete."
Im trying to install dyninst but getting error like this:
[code]
i also have checked in cmake log :
Performing C SOURCE FILE Test CMAKE_HAVE_LIBC_PTHREAD failed with the following output:
[code]
I dont know what i am missing??

[2021-08-31 14:32] hainest commented on #1095
Could you provide the following:

1. The exact version of Dyninst you are building (either a release number or a git commit hash)
2. The CMake arguments you used to generate the message above.

CMake tries several different combinations of compiler flags to figure out which one will let you build with pthreads on your system. Failures here aren't necessarily terminal.

[2021-08-31 14:58] bbiiggppiigg commented on #1095
I had similar issues before.

For the first issue, you might need to install latex support. If you are not able to install it, you can go to cmake/options.cmake and change the following setting to OFF.
option(BUILD_DOCS "Build manuals from LaTeX sources" ON)

The second issue might be related to the incorrect linking options (-lpthread vs -pthread) , or lack of installation of pthread library (lib

[2021-09-02 18:35] #1094 closed

[2021-09-03 12:28] joennlae commented on #1025
I have the same problem. It builds without any problem on my `gcc-9.3.0; Ubuntu 18.04 x86_64` system.

But I have the same error as @mwkrentel has on my `(custom built) gcc-9.3.1; Ubuntu 18.04 aarch64` system

[code]

I also came to the conclusion that adding `LibIberty_LIBRARIES` is necessary.
I know that my (custom built) gcc is built without `libiberty.a`  and I assume @mwkrentel one's is too (

[2021-09-03 17:52] hainest commented on #1025
@joennlae Where is your libiberty.a located?

[2021-09-03 18:58] hainest opened #1097 "Add bitfields to SymtabAPI::Types"
See the DWARF-5 manual section D.2.8.

[2021-09-06 07:49] joennlae commented on #1025
@hainest Sorry for the long delay. I only have access to the ARM machines at work and we had a migration over the weekend.

Here: `./opt/spack/linux-ubuntu18.04-aarch64/gcc-9.3.1/libiberty-2.33.1-nnjhs3yzsuowkixryzzwyicm4rqxsbi4/lib64/libiberty.a
`

[2021-09-07 22:32] hainest commented on #1025
@joennlae That's weird! I've never had a problem with the libiberty from spack. Could you capture and post the output of the cmake config using `-DCMAKE_FIND_DEBUG_MODE=ON`, but without the `-DLibIberty_LIBRARIES=...`?

[2021-09-08 15:31] kupsch opened #1098 "external build of libiberty fails"
**Intention**
On a host without libiberty installed, build it as an external.

**Describe the bug**
If libiberty is not found on the host, then LibIberty.cmake tries to build libiberty and fails with errors.  The first error is

[code]

This is because `ExternalProject_add` defines LIbIberty and the add_library does also.  If the `add_library` is moved into the if clause, so only one is executed,

[2021-09-09 18:54] hainest commented on #1098
I broke this a year ago and no one noticed. Combined with the maintenance hazards of dealing with doing a live download/install of dependencies (which we should most definitely not be doing), I'm just going to kill this for LibIberty. binutils is too much of a tricky beast to get right, anyway.

[2021-09-09 18:57] hainest commented on #1098
Oh, and we (correctly) made LibIberty a required package (i.e., passed REQUIRED to `find_package`) when we updated the name demangling, so the `ExternalProject_Add` should have been axed at that time.

[2021-09-10 17:54] jrmadsen opened #1100 "Partial overhaul of cmake + complete overhaul of cmake handling of third-party libraries"
Hi, I am trying to utilize dyninst as a submodule and I've found that the handling of installing the 3rd-party libraries is a bit of a nightmare.

Here is my preliminary list of changes:

- generally replace all `add_definitions`, `include_directories`, etc. with modern CMake target-based alternatives, e.g. `target_compile_definitions`, `target_include_directories`, etc. which have the capability

[2021-09-10 19:23] hainest commented on #1100
Yes, please! Consuming Dyninst is a bit of a nightmare right now. The original CMake system was written over ten years ago, and I've just been patching it up during my tenure. It's been on my wish list to completely rewrite it using modern CMake's target-based approach for nearly as long as I've been here, but I've just not had the time.

Agreed. There is a larger issue here in that the individual

[2021-09-10 20:14] #1098 closed

[2021-09-12 17:12] jrmadsen commented on #1100
@hainest Submitted PR in #1101

[2021-09-13 01:35] jrmadsen commented on #1076
This will be closed by #1101

I'm pretty sure `$(MAKE)` used in that snippet was a Makefile variable (`MAKE := make`) in the Makefiles that CMake generated and thus errored bc it was Makefile syntax in a ninja script

[2021-09-17 14:15] wcohen opened #1102 "ParseAPI equivalent to SymtabAPI getContainingFunction"
Would like to find the function containing an address.  ParseAPI has the following function described in the manual:

bool getContainingFunction(Offset offset,
Function *&ret)

This method returns the function, if any, that contains the provided offset. Returns true on
success and false on failure. The error value is set to No_Such_Function. Note that this method
does not parse, and therefore reli

[2021-09-17 14:42] wcohen commented on #1102
I should add that passing the returned Function *  to run the dataflowAPI liveness analysis.

[2021-09-17 20:42] hainest commented on #1102
@wcohen There are a couple of ways that I can think of (I've not tried compiling these):

Using `CodeObject::funcs` to parse each code region of the known functions:

    std::set<ParseAPI::Function*> funcs;
    Address addr = 0xDEADBEEF;

    ParseAPI::CodeObject *co = ...;
    for(auto *f : co->funcs()) {
      std::set<ParseAPI::Function*> tmp;
      if(co->findFuncs(f->region(), addr, tmp) > 0

[2021-09-17 21:19] wcohen commented on #1102
I was hoping to there was a direct analog to the SymtabAPI's findFuncs in ParseAPI and avoid having to iterate through all the possible functions in the CodeObject to find the one that contains the address of interest.

The second example going through the regions of the CodeObject might be fewer iterations and more attractive.

Interestly, I tried the following test code and it seems that findFun

[2021-09-17 21:31] hainest commented on #1102
Agreed. That kind of helper function seems to be a missing bit of functionality. If you can get to a `ParseAPI::image` object, you can use its [`findFuncs`](https://github.com/dyninst/dyninst/blob/master/dyninstAPI/src/image.h#L311) which does effectively what the second version looping over the `cs()->regions()` does. I just wasn't able to figure out how to get to an image object from Symtab, tho

[2021-09-17 22:08] wcohen commented on #1102
Yes, I was surprised also that the code returned the function associated with the address regardless of the region used.  However, it looks like the code doesn't bother to use the CodeRegion:

https://github.com/dyninst/dyninst/blob/master/parseAPI/src/ParseData.C#L112

[2021-09-23 20:44] hainest commented on #996
Closing. Please re-open or submit a new question, if you require further help.

[2021-09-23 20:44] #996 closed

[2021-09-23 20:51] hainest commented on #1022
Answered- closing.

[2021-09-23 20:51] #1022 closed

[2021-09-23 20:51] hainest commented on #1024
Closing due to lack of activity. If this continues to be an issue for you, please re-open this issue or create a new one.

[2021-09-23 20:51] #1024 closed

[2021-09-23 20:52] hainest commented on #1095
@anzosasuke Were you able to resolve this issue?

[2021-09-23 21:07] hainest commented on #1102
@mxz297 We should chat about this. It seems completely wrong to ignore the CodeRegion when searching for a function via an address. This leads to the spurious results that Will found.

[2021-09-24 15:19] mxz297 commented on #1102
@hainest @wcohen I am sorry for overlooking this issue. My overall feeling is that there is no actual issues here, but there is some misunderstanding.

To begin with, the ParseData class has two derived classes. One is the StandardParseData class, which represents binary where there is no overlapping addresses; executables and shared libraries fall into this category. The other one is the Overlapp

[2021-09-24 16:04] wcohen commented on #1102
All the files the code is working with are executable binaries or shared libraries.  It would be good if the documentation mentioned this situation where code regions are not needed.  I spent some time trying to figure out how to pass some code region into the findFuncs method:

https://sourceware.org/git/?p=systemtap.git;a=blob;f=analysis.cxx;h=2c0da978a920360438868315af2fa8ea35a5d8f2;hb=refs/hea

[2021-10-06 21:53] wcohen opened #1109 "Appears that liveness analysis doesn't note use of register in moves to special registers (%cr0, %cr4, etc.)"
**Intention**
Accurate tracking when register values are live (value being used) even when register values are stored to special processor registers.

**Describe the bug**
When reviewing the output of https://github.com/wcohen/examples/tree/wcohen/unusedArgs/unusedArgs on the Fedora 34 /usr/lib/debug/lib/modules/5.14.9-200.fc34.x86_64/vmlinux  I noticed that one of the functions reported with unus

[2021-10-13 13:26] LingjieLi opened #1110 "clang-12 error:dependent using declaration resolved to type"
when i compliler v11.0.1 using clang-12

[code]

                                                          ^

[2021-10-16 09:55] hdu-sdlzx opened #1111 "Don't link to boost_system"
**Intention**
Remove linkage to boost_system

**Describe the bug**
Linking to header-only library is unnecessary

**To Reproduce**
Build dyninst

**Expected behavior**
linked to boost_system

**System (please complete the following information):**
 - What platform (x86, x86_64, Power8, Power9, ARMv8) all
 - What commit? (Or branch) master
 - boost 1.77.0

**Additional context**
We requires boost >

[2021-10-21 14:44] kupsch opened #1114 "Build failure after removal of boost_system library"
**Intention**
Build without failure on systems where dyninst downloads and builds Boost

**Describe the bug**
PR #1112 that removes the boost_system library to fix issue #1111 creates a regression if boost is downloaded and built as part of building dyninst. This is due to the build using version 1.67.0 that requires linking with the boost_system library.

Changing the boost version in cmake/Boost

[2021-10-21 19:36] hainest opened #1115 "Remove support for PPC32"
This architecture is no longer in use. We must be careful to check that the PPC64 code does not implicitly rely upon any of the explicit PPC32 code.

[2021-10-21 19:40] #1111 closed

[2021-10-21 19:42] hainest commented on #1114
We *really* need to get rid of those from-sources build. Are you making a PR for this? If not, I will.

[2021-10-21 20:41] hainest opened #1116 "Use SYSTEM in target_include_dependencies for 3rd-party dependencies"
This adds '-isystem' (or equivalent) so that compiler warnings are ignored in 3rd-party dependencies.

[2021-10-22 20:10] #1114 closed, assigned to hainest

[2021-10-22 22:34] mplegendre opened #1119 "Dyninst fails to build against musl libc"
I tried to build DyninstAPI in an alpine-based container and hit a build error because alpine uses musl libc (https://musl.libc.org/):

[code]

I'm just going to move the project off of alpine, so this isn't a high priority.  But I wanted to document that this doesn't work.

If you want to reproduce, here's a Dockerfile that gets everything in place to start cmaking and building Dyninst:

[code]

[2021-10-25 22:29] hainest opened #1124 "Remove use of NO_INITIALIZER_LIST_SUPPORT"
We require full C++11 support. This should have been removed in #882.

[2021-10-26 15:01] #1124 closed, assigned to hainest

[2021-10-29 17:51] hainest opened #1133 "Remove cnl platform detection"
It's not a valid platform: https://github.com/dyninst/dyninst/blob/master/cmake/platform_unix.cmake#L3

[2021-10-29 18:02] hainest commented on #707
CMake support for Windows was added by f0195a896 in June 2013. CMake platform checks were implemented by 00eeb9f90 in March 2013. However, Windows was never added to the `VALID_PLATFORMS`, so it could never be compiled.

[2021-10-29 19:32] wcohen commented on #1102
Breaking ABI in option 2 seems less attractive.  Wouldn't there be cases where dyninst is used to analyze .o/.a files that the code region will need be be used when using the OverlappingParseData class methods?  Removing the parameter would mean that methods with same name from the different subcasses would now have different signatures.  Seems like approach 1 explaining when CodeRegion is require

[2021-10-29 20:41] hainest commented on #1102
@wcohen You're right. I didn't notice that these are overriding methods. This is an example where inheritance should not have been used to represent polymorphism. I guess all we can do is document it.

[2021-10-30 04:21] hainest opened #1134 "Clean up registerSpace initialization"
These are architecture details and should be removed from the class interface (they are already private).

    static void initialize32();
    static void initialize64();

[2021-10-30 04:32] hainest opened #1135 "Split dataflowAPI/src/ABI.C into arch-specific files"
This will drastically simplify the logic in this file and make it reflect the structure of other arch-specific functionality.

[2021-11-02 17:22] hainest opened #1138 "datflowAPI: switch fall throughs"
There are some switch statements that fall through in https://github.com/dyninst/dyninst/blob/master/dataflowAPI/src/ExpressionConversionVisitor.C#L60. I'm not sure why the compiler warnings are picking these up. Maybe the flags are getting trampled when building the dataflowAPI toolkit?

@kupsch These don't need to be fixed before 12.0. This is just here for a reminder.

[2021-11-02 18:21] #1133 closed

[2021-11-02 19:48] kupsch commented on #1138
After a bit of investigation, I found the cause of the problem.  40 of the files in parseAPI are in a group called ROSE_SRC and this group adds `-w` to the C++ compilation flags.  `-w` means disable all diagnostic output. It is also hard to spot on the command line.  The comment for this says: _FIXME: Rose needs a bunch of warning cleanup_.

There are an additional 1323 diagnostic messages to clea

[2021-11-02 20:18] hainest commented on #1138
Whoa. I'm curious if we need to upgrade to a newer version of the ROSE source. In either case, let's not work on that right now...

[2021-11-02 20:24] kupsch commented on #1138
I was thinking the same thing on both points.

[2021-11-04 23:03] hainest opened #1142 "PowerPC: enforcing correct 64-bit ABI causes crashes"
Applying the changes from #1140, the registerSpace calculations crash because they were written with the 32-bit ABI in mind.

The problem is that the call to [liveRegisters](https://github.com/dyninst/dyninst/blob/master/dyninstAPI/src/registerSpace.C#L178) now correctly has the 64-bit registers, but the checked registers (https://github.com/dyninst/dyninst/blob/master/dyninstAPI/src/registerSpace

[2021-11-04 23:06] hainest commented on #1142
https://github.com/dyninst/dyninst/blob/master/dyninstAPI/src/RegisterConversion-ppc.C#L187

Ha! I just saw this comment.

[2021-11-05 18:37] hainest opened #1144 "symtab/typeArray error on Summit"
fails with

The root cause is that the dynamic cast in `getArrayType` invoked by [BPatch_snippet.C:186](https://github.com/dyninst/dyninst/blob/master/dyninstAPI/src/BPatch_snippet.C#L186) fails when reading the mutatee variable [`srsv3`](https://github.com/dyninst/testsuite/blob/master/src/dyninst/snip_ref_shlib_var_mutatee.c#L59). This would suggest that there is a DWARF problem. However, the DW

[2021-11-08 15:38] mxz297 commented on #1144
@hainest I just compiled Dyninst and testsuite with their git heads on summit. I cannot reproduce this failure. Below are the modules that I load:

[code]

There is a caveat: the gcc module on summit does not seem to apply to `cc`. So if you just `module load` a compiler and the run cmake, you may end up with inconsistent compiler versions between Dyninst and its dependencies. When I built dyninst

[2021-11-08 19:24] hainest commented on #1144
I'm using the system-provided modules and gcc-11.1.0. Let me try again with gcc-9.1.0.

    1) lsf-tools/2.0                4) xalt/1.2.1   7) spectrum-mpi/10.4.0.3-20210112  10) perl/5.30.1           13) boost/1.77.0      16) elfutils/0.185
    2) hsi/5.0.2.p5                 5) DefApps      8) nano/4.9                        11) python/3.8-anaconda3  14) intel-tbb/2020.3
    3) darshan-runtime/3

[2021-11-08 20:31] hainest commented on #1144
I do that as well for precisely the same reason.

[2021-11-11 03:00] #1102 closed

[2021-11-11 04:38] hainest commented on #1134
This can't be removed because the ppc and arch64 register names are a typedef member of the class.

[2021-11-11 04:38] #1134 closed

[2021-11-13 20:59] #923 closed

[2021-11-19 02:56] hainest opened #1155 "glibc rendezvous structure uninitialized in glibc 2.34+"
@stanfordcox Reports

/home/scox/dyninst-11.0.1/src/dyninstAPI_RT/src/RTlinux.c:412: r_debugCheck: Assertion `_r_debug.r_map' failed.
make: *** [Makefile:22: test] Aborted (core dumped)

---

Bugzilla [15971](https://sourceware.org/bugzilla/show_bug.cgi?id=15971) says the extended namespace changes won't go in until 2.35 (scheduled for ~Feb 2022). Yet, this is showing up in 2.34 (2.33 is confirmed

[2021-11-19 05:33] hainest opened #1156 "Symtab does not parse parameters for function overloads differing only in decorations"
#### test.cpp

    void foo(int *x){}
    void foo(int **x){}

    _Z3fooPi(
      x is a
      dataPointer(dataScalar(int))
      'int *''int'
    )
    _Z3fooPPi(NONE)

I believe the key error when parsing _Z3fooPPi is

    [dwarfWalker.C:990] (0x6c) Parsing formal parameter
    [dwarfWalker.C:1862] (0x6c): no such attribute 0x2
    [dwarfWalker.C:1018] (0x6c) No locations associated with formal

[2021-11-19 06:17] hainest opened #1158 "DwarfWalker should not concatenate type decorations on parameters"
void foo(int const* const &x){}

Actual output:

    _Z3fooRKPKi(
      x is a
      dataReference(dataTypedef(const const int *))
      '&''const const int *'
    )

Expected output:

    _Z3fooRKPKi(
      x is a
      dataReference(dataPointer(dataScalar(int)))
      '&' 'const *' 'const int'
    )

The creation of a typeTypedef here is wrong. In fact, the entire CV parser needs to be re-writte

[2021-11-20 17:24] #1050 closed

[2021-11-24 21:30] stanfordcox commented on #1155
glibc has this comment in reference to _r_debug:
_/* This structure communicates dl state to the debugger.  The debugger
   normally finds it via the DT_DEBUG entry in the dynamic section, but in
   a statically-linked program there is no dynamic section for the debugger
   to examine and it looks for this particular symbol name.  */_
If I understand things correctly, dyninst always uses _r_debug

[2021-12-02 16:05] hainest commented on #1075
@mxz297 Here is the slightly modified version I've been using. The Makefile is highly specific to my environment.
[type_ref.tar.gz](https://github.com/dyninst/dyninst/files/7643344/type_ref.tar.gz)

[2021-12-02 17:53] hainest commented on #1075
@mxz297 I have a branch with the function name parsing implemented. For some reason, the parser still doesn't add the inlined site to the list of functions, so I'm working on that.

https://github.com/hainest/dyninst/tree/thaines/dwarfwalker_inline_function_parsing

[2021-12-03 19:11] wcohen opened #1165 "bool LivenessAnalyzer::query(Location loc, Type type, const MachRegister& machReg, bool &live) not mapping valid register name on ppc64"
I was trying to track down the cause for MachRegister ppc64::r3 not being properly indexed the following code in dataflowAPI/src/liveness.C:

bool LivenessAnalyzer::query(Location loc, Type type, const MachRegister& machReg, bool &live){
	bitArray liveRegs;
	if (query(loc, type, liveRegs)){
        int index = getIndex(machReg);
        assert(index >= 0);
		live = liveRegs[index];
		return true;

[2021-12-03 19:34] wcohen commented on #1165
Doing some more digging it appears that dyninst is getting confused about whether the code is 32-bit or 64-bit.  The liveness analysis is being done in 64-bit mode based on information obtained from the following line in the systemtap analyzer.

https://sourceware.org/git/?p=systemtap.git;a=blob;f=analysis.cxx;h=a7a579eb9d984fab4d29d837ba7ffa71c518813b;hb=HEAD#l230

However, when the register is b

[2021-12-03 19:50] wcohen commented on #1165
The code in ABI.C doesn't honor whether it is 32-bit or 64-bit code being analyzed:

https://github.com/dyninst/dyninst/blob/master/dataflowAPI/src/ABI.C#L80

[code]

[2021-12-03 20:04] wcohen commented on #1165
For ppc use of dyninst are the 32-bit register names used for both 32- and 64-bit?  It wasn't clear from the commit that created that code in ABI.c whether that is the case:

commit 0bc9696d9ba579e61beb06953b8b7a81d3d9bd5d
Author: Xiaozhu Meng <xmeng@coriander.cs.wisc.edu>
Date:   Tue Nov 15 10:50:06 2011 -0600

    Prototype of DataflowAPI liveness analysis

[2021-12-03 21:17] hainest commented on #1165
@wcohen

This is a known issue (see https://github.com/dyninst/dyninst/issues/1142) that I recently encountered, as well. The problem is that the ppc64le implementation assumes that it can use the ppc32le implementation without issue. For the mos part, this is okay, but there are corner cases where it doesn't work (as you have seen). Converting completely to ppc64le will take time since the two im

[2021-12-05 22:30] jjang3 opened #1166 "ERROR: failed to find function RTtranslateMemory, unable to create call"
Hello everyone,

I have recently started using Dyninst and have been facing this issue which **originally did not** exist, but now it keeps happening, and I'm sort of out of idea on how to resolve it.

The stem of this problem arises from this code: `BPatch_dynamicTargetExpr()`. Here is the straightforward code that I have which is causing me this problem:

[code]

I am patching indirect `jump` or

[2021-12-05 23:57] hainest opened #1167 "Add debug variant to spack package"

[2021-12-06 19:57] hainest commented on #1166
Can you detail what changed between when it previously didn't happen and now? Did you change the way you are building the binary you are modifying? Did you change versions of Dyninst?

---
I don't see anything immediately wrong with the code you are showing. Could you do two things:

1. Attach a gdb backtrace (you can drag-and-drop a file to make an attachment)
2. Run your mutator with `DYNINST_DE

[2021-12-06 20:51] hainest commented on #1167
It turns out this is already present for all CMakePackage spack recipes: https://spack.readthedocs.io/en/latest/build_systems/cmakepackage.html?highlight=debug#cmake-build-type

[2021-12-06 20:51] #1167 closed

[2021-12-07 00:47] jjang3 commented on #1166
Thank you for your reply @hainest

1. Can you detail what changed between when it previously didn't happen and now? Did you change the way you are building the binary you are modifying? Did you change versions of Dyninst?

The weird thing is I didn't change anything in regards to Dyninst at all. I simply just relocated `new BPatch_dynamicTargetExpr()` command to somewhere else in the code as a tes

[2021-12-07 15:45] wcohen opened #1168 "Reading compressed kernel and module binaries and reducing the amount of binary parsed for analysis?"
I am working on making improving [sysemtap's liveness analysis](https://sourceware.org/git/?p=systemtap.git;a=blob;f=analysis.cxx;h=a7a579eb9d984fab4d29d837ba7ffa71c518813b;hb=HEAD) which is built on dyninst liveness analysis.  For fedora the kernel and modules are compressed (vmlinuz for kernel and .xz for the modules).  Does dyninst have any mechanism to parse those compressed binaries or do the

[2021-12-07 17:53] hainest commented on #1168
Dyninst cannot parse compressed data streams. A quick search showed that gdb handles this case by transparently decompressing archives, analyzing the temp files, and then deleting them on exit. This still requires the whole image to be decompressed on disk, so there are no space savings.

The `CodeSource` that gets passed to the `CodeObject` constructor can be either a `SymtabCodeSource` or a `Sym

[2021-12-08 20:08] bigtrak commented on #1166
Hello.  I am examining this issue.

Some functionality may have been removed in dyninst-12 which is
required for this to work.  However, there is some question of
whether it worked at all -- which is why that may have been
removed.

If you could try running your tests with the latest dyninst-11 release
to see if they work correctly, it would provide us some feedback on
those issues -- and ensure t

[2021-12-09 15:40] jjang3 commented on #1166
@bigtrak

Thank you very much for your reply. I have tried reversing the order of environment variables initialization (didn't realize they are in reversed ordering!) and tried to execute but to no avail, which still raises the same error.

Here is the output of the command you requested:
[code]

I haven't got a chance to test it with `dyninst-11`, but let me see if I can try, I have been having a

[2021-12-09 16:31] stanfordcox commented on #1155
Looking into a solution that does not rely on _r_debug:  go through program header table, find PT_DYNAMIC (dynamic segment), find DT_DEBUG in dynamic segment which is equivalent to _r_debug.  Cannot rely on _DYNAMIC (as I understand it) dyninst moves the link map, PT_DYNAMIC in the program header is reset,  but _DYNAMIC retains its original value.

[2021-12-10 19:47] jrmadsen opened #1169 "Strange/incorrect symtabAPI upgradePlaceholder code"
https://github.com/dyninst/dyninst/blob/94252b8ce87293da4b10d0cee550e7ad0507a3ae/symtabAPI/src/Type-mem.h#L47

This function is causing me problems and this assert statement doesn't make sense. Assuming from the variable name `placeholder` and the usage of realloc, which explictly states:

Furthermore, if you [run the example realloc code here](https://en.cppreference.com/w/c/memory/realloc), you

[2021-12-10 19:48] jrmadsen commented on #1169
If I'm missing something, let me know but I'm going to open a PR for it.

[2021-12-13 22:36] hainest commented on #1169
Oh, this ol' chestnut. I discovered this a long time ago, but I never got around to fixing it because the real fix has the potential to break user code in horrible ways. Of course, the existing code can do the same thing as it's 100% undefined behavior.

The fix in #1170 was what I was going to do, initially, but decided against as it was just pushing the technical debt around. Since you are actua

[2021-12-14 02:51] hainest commented on #1166
@jjang3 We've spotted the problem, and I'm working on a solution.

[2021-12-14 16:28] mxz297 commented on #1169
@hainest @jrmadsen I remember that the intention of the realloc is to save memory in place while avoiding moving memory. I agree that the current code is wrong, so it should be fixed. The problem here is that the general `Type` object is often larger than the more specific types (the `T` template), so `sizeof(Type) >= sizeof(T)` as shown by the first assertion.

#1170 is one way to fix the wrong b

[2021-12-14 20:28] jjang3 commented on #1166
@hainest Thank you so much for the update! If I need to do anything else to give additional information, please let me know.

[2021-12-14 22:48] jrmadsen commented on #1169
No, #1170 reclaims the memory. A placement new does not allocate new memory.

Yes, [placement new](https://en.cppreference.com/w/cpp/language/new#Placement_new). That is it's purpose: constructing objects at a specific (pre-allocated) memory location. It is the backbone of how memory pools work.

You never malloc an "object". Malloc does not call the constructor. Malloc/calloc/realloc/free are a C

[2021-12-15 04:37] wcohen commented on #1168
I don't understand why "it requires a completely separate build of Dyninst."  Is there some special configuration needed for SymReaderCodeSource?

[2021-12-15 06:42] hainest commented on #1168
Yes. You have to enable SymLite using [`-DLIGHTWEIGHT_SYMTAB`](https://github.com/dyninst/dyninst/blob/master/cmake/options.cmake#L5). This will then implicitly swap a bunch of implementation details using [macros](https://github.com/dyninst/dyninst/blob/master/cmake/options.cmake#L21-L25), and then ParseAPI selects between the two implementations to [build](https://github.com/dyninst/dyninst/blob

[2021-12-15 15:41] wcohen commented on #1168
How much testing has the alternative lightweight symbol table code received?  When the following line was added to the %cmake in the spec file for  dyninst-11.0.1-4.fc36 it did not build:

` -DLIGHTWEIGHT_SYMTAB=YES \
`

Got the following error:
[code]

[2021-12-15 20:25] hainest commented on #1168
Aargh. My guess would be that hasn't been tested in a long time. Testing build permutations has been on my wishlist for too long.

The culprit is line [CMakeLIsts.txt:147](https://github.com/dyninst/dyninst/blob/master/CMakeLists.txt#L104-L107) the 'dyninstAPI' target is only created if we are using symtabAPI. This patch is a hackish workaround: [symlite.patch.txt](https://github.com/dyninst/dynin

[2021-12-15 20:37] hainest opened #1171 "SymLite won't compile"
This will fix the CMake problem:

    diff --git a/CMakeLists.txt b/CMakeLists.txt
    index 994d3e35b..32670fded 100644
    --- a/CMakeLists.txt
    +++ b/CMakeLists.txt
    @@ -143,7 +143,9 @@ if(BUILD_RTLIB)
         if(TARGET TBB)
           add_dependencies(DyninstRT TBB)
         endif()
    -    add_dependencies(dyninstAPI DyninstRT)
    +    if(TARGET dyninstAPI)
    +      add_dependencie

[2021-12-15 21:16] kupsch commented on #1171
@bigtrak @hainest I will take a look at this.

[2021-12-15 22:01] wcohen commented on #1168
Thanks for taking a quick look at it.  Dyninst is large and complex, so I don't expect this to be fixed in a day.

[2021-12-15 22:51] jrmadsen commented on #1169
Ignore that last part of the comment with respect to `destructor_cb`. I didn't realize `T` was always derived from `Type` so a manual "virtual table" of destructors like this is unnecessary.

[2021-12-17 22:09] stanfordcox commented on #1155
Need more testing but I have dyninst where it will keep the _DYNAMIC symbol up to date (dyninst adds and changes segments, updates the phdr but did not bother with _DYNAMIC) so changing the runtime to use _DYNAMIC to go through the DT_ array to find DT_DEBUG instead of relying on _r_debug

[2021-12-18 02:17] mplegendre opened #1173 "Need support for parsing vtable information"
For smeagle, we should start capturing vtables information about classes. A vtable reordering could cause significant ABI issues.

Ideally, we would capture this via SymtabAPI.  DWARF has information about vtables.  Or one might be able to locate the vtable for a class in symbol info, and read the vtable out of RO-data.

I have a prototype PR for this that uses DWARF, but there may be issues with

[2021-12-21 17:26] kupsch commented on #1168
@wcohen, I have made changes to allow Dyninst to successfully build with `-DLIGHTWEIGHT_SYMTAB=YES` (use symlite) on the branch [kupsch/fix-symlite](/dyninst/dyninst/tree/kupsch/fix-symlite).  This hasn't been tested as I does play well with the testsuite, but you can give it a try if you like.  Further work will have to wait until people are back from break.

[2021-12-21 19:56] wcohen commented on #1168
I tar'ed up the dyninst from branch kupsch/fix-symlite and attempted to build as an Fedora rpm. With the following added to the %cmake in the dyninst.spec file:

` -DLIGHTWEIGHT_SYMTAB=YES \`

It looks like there also need to be some changes in the testsuite  source:
[code]

[2021-12-21 20:46] kupsch commented on #1168
The problem is that libdyninstAPI is not built with LIGHTWEIGHT_SYMTAB, which the testsuite uses.  Are you using libdyninstAPI?  If not, we can look at fixing the testsuite.  If you are using libdyninstAPI this will require additional investigation.

[2021-12-21 21:09] wcohen commented on #1168
I don't know whether the dyninst testsuite is using libdyinstAPI. The Fedora build of dyninst also builds the testsuite.  From the dyninst.spec file dyninst is being configured and built with:

[code]

The testsuite in the package is being configured and built with:

[code]

[2021-12-23 20:33] stanfordcox commented on #1155
Okay we have a simple fix from the glibc folks, remove:
 DLLEXPORT struct r_debug _r_debug __attribute__ ((weak));
in RTlinux.c.  Explanation:
Previously there was a dynamic relocation against _r_debug in the loader which picked up the interposed definition.
Now we use a direct internal hidden symbol reference, so we don't update the interposed object anymore.  So we don't update the interposed ob

[2021-12-29 10:00] ManojKumarChauhan opened #1177 "How to access function variables"
I created a c++ application and one function in it.
void testfunction(int *a, char b);

BPatch_function class provides getParams method to access the variables.Example

BPatch_Vector<BPatch_localVar *> *vars = curFunc->getParams();

I want to access the actual variable address (of a and b) but did not find any API in BPatch_localVar class to get it.
To know variable type (like int * and char), I u

[2022-01-07 10:34] bkmgit opened #1178 "Update TBB check"
**Intention**
Versioning of TBB has changed, latest versions are recognized as incompatible

**Describe the bug**
see https://github.com/oneapi-src/oneTBB/releases?page=2 for current versioning
update https://github.com/dyninst/dyninst/blob/master/cmake/ThreadingBuildingBlocks.cmake

**To Reproduce**
Download dyninst releases and try to build using CMake

**Expected behavior**
Should build with ne

[2022-01-07 16:42] hainest commented on #1177
Please see the answer in https://github.com/dyninst/dyninst/issues/1022#issuecomment-883665207.

[2022-01-07 16:55] hainest commented on #1178
We compute the version from the tbb_stddef.h (or version.h) directly using TBB_VERSION_MAJOR, TBB_VERSION_MINOR, and TBB_INTERFACE_VERSION in https://github.com/dyninst/dyninst/blob/master/cmake/Modules/FindTBB.cmake#L166. Those version representations haven't changed as of the 2020.2. I know that particular distribution of TBB has been deprecated in favor of the larger OneAPI distrubution, but we

[2022-01-07 18:48] #1169 closed

[2022-01-07 19:37] hainest opened #1179 "Fix upgradePlaceholder in symtab/src/Type-mem.h"
`upgradePlaceholder` needs to go away. It's scribbling bits into the pointer owned by a `boost::shared_ptr`. This is UB and possible thread unsafe. The fix is simple:

    diff --git a/symtabAPI/src/Type-mem.h b/symtabAPI/src/Type-mem.h
    index 356664982..146ddecff 100644
    --- a/symtabAPI/src/Type-mem.h
    +++ b/symtabAPI/src/Type-mem.h
    @@ -85,7 +85,7 @@ boost::shared_ptr<Type>>::type ty

[2022-01-10 14:49] bkmgit commented on #1178
Got it to build with oneTBB-2019_U9 - maybe it would be helpful to indicate supported and tested versions of TBB? Used oneTBB-2019_U9 because it is listed as one of the minimum versions in https://github.com/dyninst/dyninst/blob/master/cmake/ThreadingBuildingBlocks.cmake

With the latest release version CMake issues an error that it is not supported because the versioning scheme no longer works. L

[2022-01-17 09:01] bin2415 opened #1186 "Assertion error when handling AArch64 binary: tried to access system register not accessible in EL0"
**Intention**
Disassemble the AArch64 binary.

**Describe the bug**
When I use dyninst to disassemble aarch64 binary which is striped, it incurs an assertion: `instructionAPI/src/aarch64_opcode_tables.C:3839: static Dyninst::MachRegister Dyninst::InstructionAPI::InstructionDecoder_aarch64::sysRegMap(unsigned int): Assertion !"tried to access system register not accessible in EL0"' failed.`

**To R

[2022-01-19 03:35] bin2415 commented on #1186
Hello, thanks for your prompt reply. My source code has some mistakes which leads to could not reproduce this error. I update the source code and it is reproducible on my machine now. By the way, I set `DYNINST_DEBUG_PARSE=1` environment, but it do not have output. It seems that it never call the function `parsing_printf_int` before crash.

[2022-01-19 22:41] bbiiggppiigg opened #1187 "Outdated SymtabAPI Document"
**Intention**
Call hasLineInformation for SymtabAPI::Module as indicated in the symtabAPI document for dynisnt 12.0

**Describe the bug**
hasLineInformation is not longer a member function of Module

[2022-01-19 23:13] bbiiggppiigg commented on #1187
Module::getAllVariables is also removed.

[2022-01-19 23:19] hainest commented on #1187
`hasLineInformation` was removed by 0dee1c8f86d in 2016. `getAllVariables` was removed by b3ad134512 seven months ago. The commit message notes that the function's declaration was added in 2009, but never defined. Going over the docs has been on my general TODO list for a long time.

[2022-01-20 00:46] vsoch commented on #1187
@hainest any reason the docs can't render into an interface instead of needing to dig up pdf?

[2022-01-20 01:03] hainest commented on #1187
@vsoch I've been debating if we should just chuck them into github.io or take the time to convert them into Sphynx for readthedocs.io. I like the versioning feature in readthedocs, but I couldn't figure out if github.io has that. It would be great to do a compare-and-contrast (including some other service I don't know about) to get a better idea. It's yet another Dyninst thing that I've wanted to

[2022-01-20 01:10] vsoch commented on #1187
If you need compiling and versions (I would suggest for a C++ project) you probably want readthedocs.

How are they currently generated?

[2022-01-20 17:46] ManojKumarChauhan opened #1188 "Bpatch attach process takes long time and requires more meory"
processAttach function of BPatch class take 5-10 minutes to attach to a big size  binary and requires 5-10 gb of free memory.

bpatch.processAttach (NULL, pid);
here pid is the process id of any c/c++/golang process.

processAttach function takes min 2 minute for a small process and requires 2 gb of memory.
As the process size increased, time and memory required for processAttach also increased.

[2022-01-21 21:22] hainest commented on #1188
Can you provide the following?

1. the system and Dyninst information requested in the issue template
2. a minimum working example of the mutator used to attach to the process
3. the type of process being attached to (user, system, daemon/zombie, etc.)
4. the output of running your mutator with `DYNINST_DEBUG_DYNPC=1` set in the environment

[2022-01-21 21:30] hainest commented on #1187
I was leaning toward readthedocs. I just dread converting the LaTeX to Sphinx. Pandoc can convert LaTeX to reStructuredText that can then be consumed by Sphinx. But all of the code examples and figures will have to be imported by hand (at least as far as I could tell).

I manually update the LaTeX files and run pdflatex to make PDFs. Those are then stored in the dyninst/dyninst repo. There are two

[2022-01-21 22:43] hainest commented on #1166
Apologies. I let this slip off my radar. Here are instructions on building the proposed fix using spack. Let me know how it goes!

    git clone --depth=1 --branch=master https://github.com/dyninst/dyninst.git
    cd dyninst
    wget https://github.com/dyninst/dyninst/pull/1172.patch
    git apply 1172.patch
    spack dev-build --reuse -jN --reuse dyninst@master

You can then find where it put dyn

[2022-01-24 12:10] ManojKumarChauhan commented on #1188
1. OS
NAME="Ubuntu"
VERSION="16.04.2 LTS (Xenial Xerus)"
Dynist version 10.2.1

2. Attached code of mutator
[codeCoverage.cpp.txt](https://github.com/dyninst/dyninst/files/7925316/codeCoverage.cpp.txt)
run it using ./codeCoverage inputbinaryname
I used it on some large c++ application. Also tried on a go application influxd (attached)
3. process type user
4. ./codeCoverage influxd
Enabling Dyninst

[2022-01-24 14:01] ManojKumarChauhan commented on #1188
I created tar for influxdb & the size of tar  is more than 100mb. Unable to attach.

[2022-01-24 21:59] hainest commented on #1186
Bah! I don't know how I didn't see the `argv[0]` in the example. Thanks for the updated test!

I can now confirm this crashes when running Dyninst built on Ubuntu 20.04 x86_64. It does not crash when using Ubuntu 20.04 aarch64. This is a problem with cross-platform instruction decoding.

I was seeing the same.

gdb backtrace:

    #0  __GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv/linux/rais

[2022-01-25 16:07] mxz297 opened #1191 "Handle CUDA-11.6 binaries that do not have program headers"
CUBINs generated by CUDA-11.6 has 0 program header, which means it does not have any segments:

[code]

This causes Dyninst to exit early in ELF parsing and ultimately causes hpcstruct to miss all the line information.  For Dyninst, I have located the code that causes Dyninst to exit ELF parsing early.  By removing the check (https://github.com/dyninst/dyninst/blob/master/symtabAPI/src/Object-elf.

[2022-01-25 16:59] kupsch commented on #1168
@wchohen, We discussed this issue at our group meeting and symlite is currently not a supported library, and we do not have the resources at this time to bring it up to a supported level or to modify the testsuite to work with symlite. The testsuite currently requires libdyninstAPI which is incompatible with symlite. If you try using symlite and find that it works for your purpose let us know and

[2022-01-25 17:58] wcohen commented on #1168
It sounds like a chicken and egg problem. Given that symlite isn't supported in the upstream, the dyninst for RHEL and Fedora are not going to be built with it, so can't really try that.  Without some application using symlite upstream not going to consider it.

I was thinking of alternative solutions for the issue of memory use.   In some sense I don't really care about dyninst doing any parsing

[2022-01-25 19:22] bigtrak commented on #1188
Please share the following info so we can look into this further;
I'm taking a look at it, and the detail information you can provide
can help us replicate your environment and identify the cause of the behavior.

First, ubuntu 16 is an older platform, which is not a problem.
Please indicate what process(es) are you using to install dyninst
and it's dependencies, and also tell us which compiler ar

[2022-01-31 04:42] ManojKumarChauhan commented on #1188
I installed Dynist from source code. System where dynist is installed->gcc --version
gcc (Ubuntu 6.5.0-2ubuntu1~16.04) 6.5.0 20181026
boost-libboost_system.so.1.61.0
elf-libelf-0.178.so
tbb-libtbb.so.2

influxdb is also compiled from source code on same system using https://github.com/influxdata/influxdb/blob/master/CONTRIBUTING.md#building-from-source
There is no specific configuration for influx

[2022-01-31 05:00] ManojKumarChauhan commented on #1188
If i run influxdb and dynist on same machine where I installed them then processattach takes 2 mins.
Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(s):                4
On-line CPU(s) list:   0-3
Thread(s) per core:    2
Core(s) per socket:    2
Socket(s):             1
NUMA node(s):          1
Vendor ID:             GenuineIntel
CPU fa

[2022-02-01 22:16] stanfordcox opened #1193 "test_thread and test_reloc failures on Fedora"
I am seeing failures while running the testsuite on Fedora 35 (most recent release) and 36 (development version)

Test results are at:
https://scox.fedorapeople.org/dyninst
x8664-results.log is a description of what is located there.

Test run hangs when running test_thread_2.  test_thread* and
 test_reloc* have suspicious results.  There are other failures e.g. test5_1

Additionally this error oc

[2022-02-02 04:25] vsoch opened #1194 "Change in spack failure of automated build"
@hainest this is for you! Slack is on my other computer and I'm too lazy to walk 20 feet at the moment :)

[code]

It looks like something has changed in spack so our base container failed today. Unlike last time I don't see any changes to the failing package - indeed it's the same release from last year (and the build from yesterday worked):

[code]
It seems to be the same source code from the ca

[2022-02-02 08:43] alalazo commented on #1194
Hi @vsoch The path you see is that of the compiler wrapper that Spack uses to e.g. inject RPATHs and do other flag manipulations. It's basically a middle layer that we added to intercept the compilation command, transform it and forward to the real compiler being used. The wrapper at the moment is a single file (the one called `cc`) while all the other names are symlinks. It's like that because it

[2022-02-02 08:47] alalazo commented on #1194
I don't understand this part. In the future compilers might be "external" (not virtual) dependencies but we're not there right now. At the moment compilers are modeled as node attributes in the DAG. Each one of them potentially aggregates 3 languages (C, C++, Fortran), is represented by a "name" and a "version" and configured in `compilers.yaml`.

[2022-02-02 08:55] alalazo commented on #1194
To answer your questions:
1. From the snippet you posted it seems to me that you are using `gcc@11.0.1` (that's what's encoded in the path of the failing build stage).
2. The patch in GCC is conditional on the host platform being `darwin` and the macOS version being greater than 10.15, see [here](https://github.com/spack/spack/blob/80a3f01bbbb6304ee4791720279b29d59c799ec7/var/spack/repos/builtin/p

[2022-02-02 09:31] vsoch commented on #1194
The RSE-ops images are failing too because of the same reason - https://github.com/rse-ops/docker-images/runs/5031468261?check_suite_focus=true I have to conclude something changed in spack to lead to this. Aside to pinning to a commit from a day ago how do we fix this?

[2022-02-02 09:31] vsoch commented on #1194
And I meant external not virtual, I just used the wrong word :p

[2022-02-02 11:03] alalazo commented on #1194
Reposting here the conversation on Slack. The difference between the last [passing](https://github.com/rse-ops/docker-images/runs/5015885143?check_suite_focus=true) build:
[code]
and the last [failing](https://github.com/rse-ops/docker-images/runs/5031468340?check_suite_focus=true) build:
[code]
seems to be that `gettext`, which is a dependency of the failing `binutils` build, started to be discov

[2022-02-02 13:43] vsoch commented on #1194
What do you suggest we do? This seems like a bad PR to merge I suspect it’s going to break many builds.

[2022-02-02 13:52] alalazo commented on #1194
Not sure. I think it's just incomplete, partially because of the simplified model we have right now for externals:
1. sub-graphs are trimmed and inconsistencies might happen with the external dependencies
2. finding externals is currently restricted to just inspecting executables - we have no mechanism to check if some headers or libraries are available and many times a package in Spack is split i

[2022-02-02 13:54] alalazo commented on #1194
For reference @bvanessen and @scheibelp are working on https://github.com/spack/spack/pull/28005 to extend the capability of `external find` beyond just executables.

[2022-02-03 16:58] ManojKumarChauhan commented on #1188
for machine (CPU(s): 4), process attach takes times between 1 min 45 seconds to 3 min. Sometimes it takes 1 min 45 sec and sometimes 3 min 2 sec. This is strange and not stable while the free memory is almost same in both the cases.

[2022-02-04 20:04] #1194 closed

[2022-02-04 20:06] #1187 closed

[2022-02-04 20:35] #1155 closed

[2022-02-04 20:38] hainest commented on #1166
@jjang3 Did you have a chance to try out this fix?

[2022-02-04 22:38] wcohen opened #1196 "The Dyninst destructors miss cleaning up some allocated memory"
**Intention**
I am using dyninst to analyze binaries for systemtap.  Once done with the analysis phase would like to clean up the memory used because it can be quite substantial for larger binaries such as the Linux kernel.  The current work on this is at https://sourceware.org/git/?p=systemtap.git;a=shortlog;h=refs/heads/wcohen/memory .  I expect the destructors to release memory when they are ca

[2022-02-04 22:46] #1191 closed

[2022-02-04 23:24] bigtrak commented on #1188
Thank you for the detailed information.   I am looking into your issue.  Running your mutator against the influxd   from the influxdb apt repository (version 18  IIRC) it works correctly.   Building influxdb latest release by hand has been problematic.   Do you have  a script or short series of commands that you use to build
your version on influxdb so that I can get closer to the issues you may b

[2022-02-05 00:26] hainest commented on #1196
Dyninst has a loose interpretation of memory management. Explicitly calling a destructor may or may not do anything useful as many of the member variables are shared pointers. Moreover, there are (too) many data structures with file scope and internal linkage that own heap memory (e.g., `static std::map<...>`). The DSOs for DyninstAPI and ParseAPI are each >100MB. The ones for SymtabAPI, Instructi

[2022-02-05 00:30] jjang3 commented on #1166
@hainest Ah I sincerely apologize for the late response, I have somehow missed your last comment.

I just tried it (as shown below, I have built `dyninst` with your instruction)

![image](https://user-images.githubusercontent.com/42549923/152620509-1382d738-0eda-4ed7-8e90-eaf6b298b042.png), and then I re-compiled my code (without changing anything) and executed it, now it works perfectly fine!

Th

[2022-02-05 00:30] #1166 closed

[2022-02-05 00:34] hainest commented on #1061
@stanfordcox @mxz297 I see we have an issue for the `findMain` problem (#1071), but I don't see a PR for the first item. Did that ever come to fruition?

[2022-02-05 00:47] hainest commented on #1193
We haven't test gcc-12 or glibc-2.33+ yet, so these are good to have. I have a feeling the DWARF errors are from a lack of DWARF5 support.

Is your environment effectively the same as the containers for Fedora 35/36 on Dockerhub?

[2022-02-05 00:48] hainest commented on #1193
Oh, I just noticed that gcc-12 isn't public yet. Do you have any indication of when there might be a release? I'd rather test against the official binaries rather than a custom build.

[2022-02-05 00:59] wcohen commented on #1196
Maybe this issue should have been an enhancement rather than a bug report. I kind of figured that there might be limitations to how much can be cleaned up in Dyninst due to the complicated sharing of data structures.  However, any improvement in how Dyninst handle memory use would be appreciated.

The code used `SymtabAPI::Symtab::closeSymtab(i.second.symtab)` rather than a `delete` on a `Symtab *

[2022-02-05 01:05] hainest commented on #1166
@jjang3 No worries! I'm glad the fix worked. I'm not sure when our next release will be, but you can build dyninst@master to have this fix until then.

[2022-02-07 04:14] ManojKumarChauhan commented on #1188
I used latest code of influxdb and compiled it in go17. Followed this page to install
https://github.com/influxdata/influxdb/blob/master/CONTRIBUTING.md#building-from-source
1. install gvm
bash < <(curl -s -S -L https://raw.githubusercontent.com/moovweb/gvm/master/binscripts/gvm-installer)
gvm install go1.17
gvm use go1.17 --default
Set GO111MODULE=on in bashrc
2. sudo apt install make clang pkg-c

[2022-02-07 20:59] stanfordcox commented on #1193
I got similar results on Fedora 35 which has gcc-11.2.1-1.fc35 as with Fedora 36 (rawhide) which has gcc-12.0.1-0.6.fc36.   The dockerhub containers should be the same as my environment is just standard F35.

[2022-02-09 16:41] #1171 closed

[2022-02-16 15:56] hainest commented on #1079
Fixed in #1164

[2022-02-16 15:56] #1079 closed

[2022-02-23 21:26] hainest opened #1199 "Check include paths in Docker build of test suite"
It looks like we may be using the Dyninst source tree as the include path instead of the install-prefix/include directory.

[2022-02-24 18:43] hainest opened #1202 "Test failures on ufront.cs.rice.edu"
@mxz297 reported failures on this machine. rhel 8.5 with gcc-8.5.0 and libc-2.28

The failures are mostly rewriting of statically-linked binaries.

[errors.txt](https://github.com/dyninst/dyninst/files/8134981/errors.txt)

[2022-02-25 00:00] #1049 closed

[2022-02-25 20:02] hainest commented on #1202
@mxz297 I ran this on mahir (CentOS 8, gcc-8.4.1, glibc-2.28) 10 times using `OMP_NUM_THREADS=1` and `./runTests -j1 ...`. Six of those times, the same rewriter tests failed that you were seeing on ufront. I ran the test suite again in 'single-stepping' mode 10 times, and I never saw a failure. I am pretty sure this is the same test suite non-determinism we've seen in the past.

[2022-02-27 19:19] hainest commented on #1202
Out of curiosity, I ran it ten times in regular group mode on Coriander (Ubuntu 20.04, gcc-11.1.0, glibc-2.31) and llnl.cs.rice.edu (CentOS 7, gcc-8.3.1, glibc-2.17) and never saw the static rewriter failures. I then re-ran my testing using v11.0.0 of Dyninst on mahir and saw the same failures. I'm trying 10.1.0, but it looks like this problem has been around for a long time and we've just never h

[2022-02-28 23:24] hainest commented on #1199
I tested this in the container (https://github.com/dyninst/dyninst/pkgs/container/dyninst-ubuntu-20.04), and it's working fine.

[2022-02-28 23:24] #1199 closed

[2022-03-01 20:25] hainest opened #1206 "Test failures on Fedora 35 and rawhide(36)"
Fedora release 35 (Thirty Five) ppc64le
kernel-5.16.11-200.fc35.ppc64le
glibc-2.34-25.fc35.ppc64le

    TEST                       COMP   OPT  ABI MODE     THREAD  LINK    PIC     RESULT
    snip_ref_shlib_var         g++    none 64  create   NA      dynamic nonPIC  CRASHED (Running Test)
    snip_ref_shlib_var         g++    none 64  rewriter NA      dynamic nonPIC  CRASHED (Running Test)
    tes

[2022-03-01 20:26] hainest commented on #1206
Reported by @stanfordcox using https://github.com/dyninst/dyninst/releases/tag/v12.1.0-rc2

[2022-03-02 03:34] hainest commented on #1202
@mxz297 I finally got a core dump. It looks like `Parser::_parse_data` is null at the call to `frame_status`. Any suggestions on where to start looking for bugs here?

    #0  0x00007fe65f2c77dd in Dyninst::ParseAPI::Parser::frame_status (addr=<error reading variable: Cannot access memory at address 0x30>, cr=<error reading variable: Cannot access memory at address 0x40>, this=0x1f5f6920)

[2022-03-02 04:23] ManojKumarChauhan commented on #1188
hi @bigtrak ,
did you get chance to look at it?

[2022-03-02 15:13] mxz297 commented on #1202
@hainest Can you point me to the core file? It will be helpful to look at where are other threads?

[2022-03-02 15:44] hainest commented on #1202
mahir uses systemd's coredumpctl to manage core dumps. You should be able to use `coredumpctl debug 1329182` to drop you into gdb for the relevant core file. I always run these with OMP_NUM_THREADS=1.

[2022-03-02 15:47] hainest commented on #1202
The non-determinism is coming from the test suite. If you run the rewritten binaries, they never crash. But they _always_ show that the test failed.

[2022-03-02 15:52] mxz297 commented on #1202
@hainest I wrote a small program to open and parse a .a file. And I saw:

[code]

So, it seems to me that the non-determinism comes from the use of pointers to order things and I can reproduce the problem locally with a simple program. And I am seeing a similar call stack as you posted. I will take a look today.

[2022-03-02 15:56] hainest commented on #1202
I didn't mean to offload this to you, but thanks for taking a look!

[2022-03-04 11:14] kimiwanano opened #1210 "Libelf version match problem during dyninst installation"
When I install libelf with apt-get method, only 0.17+ version can be installed, so I install libelf 0.186 version with source installation, and update the library with soft connection. But when I re-cmake.. When, the following error still occurs. How can I solve it?

-- TBB libraries: /usr/lib/x86_64-linux-gnu/libtbbmalloc_proxy.so;/usr/lib/x86_64-linux-gnu/libtbbmalloc.so;/usr/lib/x86_64-linux-gn

[2022-03-04 17:50] bigtrak commented on #1188
Hello, I'm looking at some interesting side effects.  As far as using the distributed version of influxdb, just look for installing influx db from the influxdb apt repos.

However, please try something out; this may substantially reduce the memory use of running dyninst again
influxdb

export OMP_NUM_THREADS=1
then run your mutator against the influx DB as you tried before.

If you see something u

[2022-03-04 18:59] hainest commented on #1210
Dyninst both libelf and libdw. The easiest way to get them both is to use [elfutils](https://sourceware.org/elfutils/ftp/0.186/). Once you've installed that, you can add `-DElfUtils_ROOT_DIR=/path/to/your/elfutils` when you configure Dyninst.

[2022-03-07 20:00] wcohen opened #1213 "Regular static analysis of the dyninst code base to improve code quality"
**Is your feature request related to a problem? Please describe.**
There was mention on https://github.com/dyninst/dyninst/pull/1207 to have static analysis:
`Static analysis is definitely something we want to incorporate into our CI workflow
`
**Describe the solution you'd like**
One possible way to get some some static analysis for dyninst would be through

https://scan.coverity.com/faq#how-get-

[2022-03-07 20:05] hainest commented on #1213
It's part of my plan (https://docs.google.com/document/d/179MqVDh2cYZYmZbfA3wkkXOQ1JLgBuOzL_8V5mQ8M44/edit#heading=h.a6f079inj69r). Coverity has a limited public resource for FOSS projects. We fit well within their parameters for a weekly run. The larger issue is getting automation in place first. it's in the pipeline, but very slow-moving, I'm afraid.

[2022-03-08 19:43] kupsch opened #1214 "Dwarf parsing bug for function defined in multiple compilation units"
**Intention**
Symtab's API to get function parameters and local variables should return the correct number and types

**Describe the bug**
If.a library or executable has a definition of a function in multiple compilation units within a single library or executable, then the parameters and local variables are duplicated for each occurrence.  This results in number, names and types of parameters bei

[2022-03-09 21:38] #1214 closed

[2022-03-10 04:53] ManojKumarChauhan commented on #1188
DYNINSTAPI_RT_LIB and LD_LIBRARY_PATH are set correctly. Sometimes dynist is taking 8-10  mins on system with 4 cpu core and 16gb RAM.  I will try with OMP_NUM_THREADS

[2022-03-10 16:53] hainest opened #1218 "Use libabigail action in CI"
https://github.com/buildsi/libabigail-action

[2022-03-10 16:57] vsoch commented on #1218
I can help here! Do you want to test with the latest release, main branch, or both? Since we use a container for testing we will need to modify the action for that.

[2022-03-10 17:04] hainest commented on #1218
That's a good question. There is definitely value in checking this on every PR submission so long as the liabigail checks aren't too expensive. In your experience, do you have a rough idea of how long they take?

I'm assuming that by checking every PR that would necessarily ensure that every release is non-breaking (unless we explicitly want it to be)?

[2022-03-10 17:12] vsoch commented on #1218
Unless you provide binaries with releases it usually means building both side by side so it will take the same time as testing! And the basic info I need to get started are 1. Where are the libs to compare (in the view I think?) and 2. Which ones do you want to check?

[2022-03-11 05:14] ManojKumarChauhan commented on #1188
after setting env variable OMP_NUM_THREADS, there was no seg fault and mutator took 5-6 mins in bpatch.processAttach

[2022-03-14 00:52] #1218 closed

[2022-03-14 15:29] wcohen opened #1225 "The symbol information ignores additional restrictions on range provided by surrounding DW_TAG_lexical_block"
**Intention**
I have some tooling note when multiple variables share the same register due to optimization (https://github.com/wcohen/quality_info/blob/master/dyninsttools/cse.C).  It outputs the ranges where there the variables are live and register represents more than one variable.

**Describe the bug**
I noticed for /usr/lib/debug/lib/modules/5.16.12-200.fc35.x86_64/vmlinux there were some ove

[2022-03-14 18:05] wcohen commented on #1225
Have a small reproducer for the issue, pr1225.c:

[code]
$ gcc -g pr1225.c -o pr1225
$ ~/research/profiling/debuginfo/quality_info/dyninsttools/cse pr1225
unable to find puts
unable to find printf
main
[0,ffffffffffffffff) x86_64::rbx a a

The dwarf information definitely has these as non-overlapping when one looks at the DW_TAG_lexical_block for each variable a:
[code]

[2022-03-15 14:29] wcohen commented on #1225
Have a small reproducer for the issue, pr1225.c:

[code]
$ gcc -g pr1225.c -o pr1225
$ ~/research/profiling/debuginfo/quality_info/dyninsttools/cse pr1225
unable to find puts
unable to find printf
main
[0,ffffffffffffffff) x86_64::rbx a a

The dwarf information definitely has these as non-overlapping when one looks at the DW_TAG_lexical_block for each variable a:
[code]

[2022-03-17 18:43] kupsch commented on #1225
@wcohen thanks for the report.  This is fixed in PR #1226 on the branch kupsch/fix-variable-ranges. The range for variables is now properly scoped and your cse program now produces expected results.

[2022-03-18 06:15] hainest commented on #1225
@wcohen @kupsch Is it possible to add _some_ type of automated test for this? It wouldn't have to go in the test suite. We could stick it in https://github.com/dyninst/external-tests.

[2022-03-18 06:20] hainest opened #1227 "Compiler warnings when using ADD_VALGRIND_ANNOTATIONS=ON"
In file included from src/common/src/vgannotations.h:9,
                     from src/common/src/concurrent.C:31:
    src/common/src/concurrent.C: In function ‘void Dyninst::dyn_c_annotations::wlock(void*)’:
    src/common/src/concurrent.C:78:32: error: pointer of type ‘void *’ used in arithmetic [-Werror=pointer-arith]
       78 |     ANNOTATE_HAPPENS_AFTER(ptr + 1);  // After all the readers

[2022-03-18 06:21] hainest opened #1228 "CMake error when using -DBUILD_RTLIB=OFF"
CMake Error at dyninstAPI/cmake_install.cmake:231 (include):
      include could not find load file:

        dyninstAPI_RT/cmake_install.cmake
    Call Stack (most recent call first):
      cmake_install.cmake:112 (include)

    make: *** [Makefile:74: install] Error 1

Something tells me that flag has never been used.

[2022-03-18 06:24] hainest opened #1229 "Compiler warnings when using CMAKE_BUILD_TYPE=MINSIZEREL"
src/elf/src/Elf_X.C: In member function ‘Dyninst::Architecture Dyninst::Elf_X::getArch() const’:
    src/elf/src/Elf_X.C:1841:21: error: this statement may fall through [-Werror=implicit-fallthrough=]
     1841 |                     default:
          |                     ^~~~~~~
    src/elf/src/Elf_X.C:1849:9: note: here
     1849 |         default:
          |         ^~~~~~~
    src/common/src

[2022-03-18 06:33] hainest opened #1230 "libcommon crashes ld.gold with ENABLE_LTO=ON"
lto1: internal compiler error: compressed stream: data error
    Please submit a full bug report,
    with preprocessed source if appropriate.
    See <file:///usr/share/doc/gcc-9/README.Bugs> for instructions.
    lto-wrapper: fatal error: /usr/bin/c++ returned 1 exit status
    compilation terminated.
    /usr/bin/ld.gold: fatal error: lto-wrapper failed
    collect2: error: ld returned 1 exit s

[2022-03-18 06:34] hainest opened #1231 "Unknown pragma warning when using -DENABLE_STATIC_LIBS=ON"
src/parseAPI/src/Parser.C:297: error: ignoring #pragma omp parallel [-Werror=unknown-pragmas]
      297 | #pragma omp parallel for schedule(dynamic)
          |
    src/parseAPI/src/Parser.C:619: error: ignoring #pragma omp task [-Werror=unknown-pragmas]
      619 | #pragma omp task firstprivate(frame, recursive)
          |
    src/parseAPI/src/Parser.C:656: error: ignoring #pragma omp parallel [

[2022-03-18 06:38] hainest opened #1232 "Error consuming DyninstConfig.cmake when LIGHTWEIGHT_SYMTAB=ON"
CMake Error at CMakeLists.txt:79 (find_package):
      Found package configuration file:

        dyninst/lib/cmake/Dyninst/DyninstConfig.cmake

      but it set Dyninst_FOUND to FALSE so package "Dyninst" is considered to be
      NOT FOUND.

I think we can resolve this when we decide what to do with SymLite.

[2022-03-18 06:39] hainest opened #1233 "Compiler warnings when SW_ANALYSIS_STEPPER=OFF"
stackwalk/src/callchecker.C: In member function ‘bool Dyninst::Stackwalker::CallChecker::isPrevInstrACall(Dyninst::Address, Dyninst::Address&)’:
    stackwalk/src/callchecker.C:47:20: error: format ‘%u’ expects argument of type ‘unsigned int’, but argument 3 has type ‘int’ [-Werror=format=]
       47 |    sw_printf("[%s:%u] - isPrevInstrACall on %lx\n", FILE__, __LINE__, addr);
          |

[2022-03-18 13:44] wcohen commented on #1225
Thinking that could further simplify the reproducer to have a single DW_OP_lexical_block and have a test program fetch the variable and check that it's range isn't [0,0xffffffffffffffff) as a test.  What is the difference between the dyninst external-tests and testsuite repositories?

[2022-03-18 16:04] hainest commented on #1225
That is certainly a necessary check. It would be great if we could independently find the address range of `main` and then check that the ranges of the variable are bounded by that. I wouldn't hold off on creating the more basic test, if we can't get that working, though.

No one knows how to add new mutatees to the test suite. We have tried several times to untangle the build machinery that contr

[2022-03-21 11:54] #1225 closed

[2022-03-23 18:32] ManojKumarChauhan opened #1234 "Unable to get symbol offset"
Dyninst::SymtabAPI::Symbol::getOffset is coming as 0.

Shared library 1 (lib1.so) has a function lib1_function1 which calls a function lib2_function2 of another shared library i.e.
lib1_function1 () {
...
lib2_function2  //implemented in lib2.so
...
}
Dyninst is able to find the symbol lib2_function2  in function lib1_function1 but its offset is coming as 0.
It is reproducing in each branch of dyn

[2022-03-24 04:55] hainest commented on #1234
By default, Dyninst doesn't recursively parse linked DSOs. How did you create the `lib1_function1` object?

[2022-03-24 05:12] ManojKumarChauhan commented on #1234
lib1_function1 is a function in shared library and it calls lib2_function2 of another library. Using dyninst I loaded lib1 using loadLibrary.

[2022-03-24 05:44] hainest commented on #1234
Assuming you are using [`BPatch_binaryEdit::loadLibrary`](https://github.com/dyninst/dyninst/blob/master/dyninstAPI/h/BPatch_binaryEdit.h#L142), it takes a second argument that will recursively parse all dependencies when set to `true`.

[2022-03-24 06:12] ManojKumarChauhan commented on #1234
I am checking it for running process case and using BPatch_process::loadLibrary.

It was working fine before for the case when I compiled dyninst on ubuntu 16, copy all libraries on ubuntu 20 and run the application there. Now I compiled dyninst on ubuntu 20. Sorry I missed to mention it before.

[2022-03-25 07:42] ManojKumarChauhan commented on #1234
Hi @hainest , running process considers all the dependent libraries. The issue is coming when I compiled dyninst on ubuntu 20.

[2022-03-25 19:37] kupsch commented on #1229
This is due to cmake (reasonably) defining NDEBUG in the default compiler flags for RELEASE build types (RELEASE, RELWITHDEBINFO, and MINSIZEREL). This has the affect of turning assert into nothing, but dyninst uses asserts as a fatal error handling mechanism by using a parameter that always evaluates to false. Because of this it is not valid to remove these asserts by defining NDEBUG as this turn

[2022-03-27 18:50] hainest commented on #1229
Ah, yes, of course. I'd imagine no one was using that build type as it would effectively break Dyninst.

[2022-03-27 18:56] #1229 closed

[2022-03-28 04:14] ManojKumarChauhan commented on #1234
Hi @hainest ,
I am facing same problem for binary edit case.
BPatch_binaryEdit *appBin = bpatch.openBinary (inBinary, true);
appBin->loadLibrary (librarypath,true)

getOffset is returning 0.

[2022-03-28 16:52] hainest commented on #1234
We'll need a _complete_, minimum working example to debug this further. For this, we'll need a working mutator that uses `BPatch_binaryEdit` as well as source code for two DSOs that have the same call chain behavior (i.e., `lib1_function1` calls `lib2_function2`). Finally, the output from running your mutator with `DYNINST_DEBUG_PARSING=1` in your environment.

[2022-03-29 05:30] ManojKumarChauhan commented on #1234
Sure I can share the complete source code. The shared libraries are in golang. Is it ok? Can I upload it?

[2022-03-29 20:19] #1228 closed

[2022-03-29 20:24] #1227 closed

[2022-03-31 15:53] bigtrak commented on #1234
I'm taking a look at your issue.   Could you tell me which version of dyninst you are using;
either a released version of the git hash if you are using something newer (or older)?

[2022-03-31 17:28] ManojKumarChauhan commented on #1234
version 10.2.1.
Issue is coming on every version on ubunto 20. I tried to use elf version 178 but no success. Relocation part of open source elf-parser shows correct address.

[2022-04-01 19:58] bigtrak commented on #1234
To be brief -- your repeater generates errors that it does not detect, and then
passes bad information on.  Error detection and debug prints in an
example are critical to make sure an example works correctly.

As a result of those errors  you thought a dyninst method was returning
incorrect results... instead of perhaps exactly the results your test harness
requested with the values dyninst was ca

[2022-04-04 04:33] ManojKumarChauhan commented on #1234
I am able to run the application on different ubuntu20 machine with following changes
1. copied all dyninst libraries under a new folder and set it in LD_LIBRARY)PATH
2. export DYNINSTAPI_RT_LIB=path of libdyninstAPI_RT.so
3. copy libechousage.so and libgithub.com-labstack-echo.so under /usr/lib
4. copy testbin and cprogram under any folder say /tmp
5. in terminal cd /tmp
run the application as
./

[2022-04-04 16:33] Ruturaj4 opened #1243 "libdwarf url not found error while cmake"
**Intention**
What did you want to do?
I want to install dyninst 9.3.1/2 on ubuntu 16.04

**Describe the bug**
A clear and concise description of what the bug is.

I get following error: url not found

[code]

**To Reproduce**
Steps to reproduce the behavior:
A command? A code? A binary?
N/A

**Expected behavior**
A clear and concise description of what you expected to happen.
expect to install a

[2022-04-04 17:31] #1243 closed, assigned to nobody

[2022-04-04 17:37] hainest commented on #1243
Glad you found a fix. As an aside, we no longer support Dyninst 9.x.

[2022-04-05 12:25] ManojKumarChauhan commented on #1234
Hi @bigtrak ,
When i create libechousage.so on ubuntu16, the symbols are present in <.plt.got> section while on ubuntu20 it's in <.plt>.
This could be the reason and could be a bug in Dynist.

[2022-04-06 08:12] ManojKumarChauhan commented on #1234
Issue exists in latest code of dynist also. I have checked in master branch.

There is one difference in latest code and 10.2.1 and I think it was a bug in 10.2.1.
10.2.1  finds lib2_function2 (echo.New) in both the libraries (lib1-libechousage.so, lib2 libgithub.com-labstack-echo.so) but
latest code finds ib2_function2  only in lib2 where it's implemented. This seems correct.

[2022-04-06 14:27] #1188 closed

[2022-04-07 04:56] ManojKumarChauhan commented on #1234
Hi @bigtrak
I understand that golang is not supported by dyninst but https://github.com/mxz297/dyninst supports golang partially as it contains dyninst with capastone & libunwind.

For golang i'm using the branch profile_support (https://github.com/mxz297/dyninst).  Could you please suggest me an option to merge latest dyninst code (12.1.0) into profile_support or vice versa? OR is there any golan

[2022-04-07 16:20] #676 closed

[2022-04-07 16:20] #1230 closed

[2022-04-07 16:39] hainest commented on #762
This can now be debugged since https://github.com/dyninst/dyninst/pull/963 allows using SIGILL to debug trampolines where this bug lies.

[2022-04-07 18:24] bigtrak commented on #1234
1) I am looking at this issue, and I am investigating it; I will reply when progress has been made;
as Tim pointed out, we have extremely limited resources.   I hope you understand
that examining this issue takes time away from our primary efforts, and that they must
have first priority.

2) Returning to my earlier comment, we reviewed our "support guideline": We support only the
latest Dyninst re

[2022-04-07 20:44] #1233 closed

[2022-04-07 20:50] hainest opened #1251 "dyninstAPI_RT build regression on power"
@kupsch It looks like #1246 is causing some types to not get included from POSIX headers on power. This was on llnl.cs.rice.edu which has glibc 2.27 and gcc 8.3.0.

[code]

[2022-04-08 04:11] kupsch commented on #1251
PR #1252 now builds without failure and warnings on llnl.cs.rice.edu.

[2022-04-08 22:12] #1251 closed

[2022-04-12 18:04] hainest opened #1254 "Automate Dyninst release version updates in CMake"
There are two places where we store version information:

    [cmake/shared.cmake}(https://github.com/dyninst/dyninst/blob/v12.1.0/cmake/shared.cmake#L1)
    [DyninstConfigVersion.cmake](https://github.com/dyninst/dyninst/blob/v12.1.0/DyninstConfigVersion.cmake)

That last one hasn't been updated in a very long time. It should be kept up-to-date. The question is whether we can munge these files, c

[2022-04-13 04:39] vsoch opened #1255 "COPYRIGHT update Paradyn -> Dyninst?"
Just working on the documentation, and noticed the COPYRIGHT seems to be for an old name for the project?

https://github.com/dyninst/dyninst/blob/master/COPYRIGHT

[2022-04-13 08:15] xeon-j opened #1257 "Assertion Fail at the end of PatchAPI instrumentation"
**Intention**
I wanted to test Dyninst examples ( https://github.com/dyninst/examples )

**Describe the bug**
The example 'instrumentAFunction' gives Assertion Fail

**To Reproduce**
I installed dyninst with spack (dyninst-12.1.0 is installed)
[code]

As the example hard-coded application, I modified the code as follow:
[code]

And build it again.
[code]

I chose to use miniMD for easy testing.
[c

[2022-04-13 19:57] hainest commented on #1255
The LGPL is for Paradyn the organization which Dyninst is a part of and the paradyn tool used to be part of (it's dead now). The file-level citations refer to Paradyn, as well. I think we can leave as-is.

[code]

[2022-04-13 21:07] vsoch commented on #1255
I think what would be helpful (for someone like me not familiar) would be to open with "Dyninst is part of the Paradyn tools. <the rest>"

[2022-04-14 00:24] xeon-j commented on #1257
Thanks for the reply.
Actually for the `InstrumentAFunction` example, I do not need to export `DYNINSTAPI_RT_LIB` env variable. Testing with the example binary `IntersetingProgram` was fine.

So, I suspect the problem only happens for MPI programs, and it really was.
Although I can execute the binary without `mpiexec` when number of processes is `1`, I must use `mpiexec` to make `dyninst` work.
[c

[2022-04-14 00:24] #1257 closed

[2022-04-22 07:17] ManojKumarChauhan commented on #1188
Hi @bigtrak ,
There is some improvement in the latest code. I have merged 12.1.0. For system having 1 cpu core, attachprocess is taking 6-7 minutes while before it was taking 18-20 minutes. For system having 4+ cpu cores attach process is taking 2 minutes in latest code.

So this issue has been solved but I got a new issue and need your suggestion.

I wrapped some functions. After some time the ap

[2022-04-25 03:42] jqhong opened #1258 "Wrong size returned for Memory reference involved operand in Control Flow instruction. (Version 12.0.1)"
**Intention**
May I confirm if it is a bug in Dyninst Version 12.0.1.

**Describe the bug**
The **SIZE** evaluated for memory reference operand in _Control Flow Instruction_ seems wrong. Operand->getValue()->size() is the API that I invoked to get the size.  **The platform is Arch_x86_64**.  I tried on several different types of instructions.

For **jmp/call through Memory** instructions, such as

[2022-04-28 06:55] OnsiteAnalysis commented on #1258
[code.zip](https://github.com/dyninst/dyninst/files/8580199/code.zip)
Please find attached.
tt.c is the source file, tt is the compiled elf. _The tested three instructions are in function main from 0x617-0x624_. The operand size evaluated using _Operand->getValue()->size()_ is **4** instead of **8**.
Please DO NOT execute the tt file, since it will cause a segmentation fault.

[2022-04-28 06:59] jqhong commented on #1258
[code.zip](https://github.com/dyninst/dyninst/files/8580251/code.zip)
Please find attached.

_tt.c_ is the source file, _tt_ is the compiled elf. _The tested three instructions are in function main from 0x617-0x624_. The operand size evaluated using _Operand->getValue()->size()_ is **4** instead of **8**.

Please DO NOT execute the _tt_ file, since it will cause a segmentation fault.

[2022-04-28 18:49] hainest commented on #1258
Thank you for the detailed reproducer. Could you also include a minimum working example of the Dyninst program you wrote to parse the binary? I want to make sure we're using the same methods as you (e.g., symtab vs bpatch).

[2022-04-28 18:57] hainest opened #1260 "ParseAPI doc bugs"
- [ ] `typedef std::map<Offset, InstructionAPI::Instruction::Ptr> Insns` the second argument is no longer a `Ptr`
- [ ] CodeObject - missing params. description is nearly completely wrong

@bigtrak @kupsch @bbiiggppiigg If any of you has time to work on this, I would appreciate it. I simply do not have the cycles.

[2022-04-28 19:30] kupsch commented on #1260
I can do it, but it looks like we're switching to a new doc system, so I'll wait until that that change is complete.

[2022-04-29 01:53] jqhong commented on #1258
Sorry that I am not able to provide it, since I replaced the default
CodeSource and use Dyninst to decode instructions from memory directly
instead of from an elf file. Following are the main steps:
1. decode instruction: Instruction I = decoder->decode((unsigned char*)
cr->getPtrToInstruction(InsnAddr));
2. parse operands: I.getoperands(oprands);
3. get the size for each operand and dump to stdou

[2022-05-02 15:50] hainest commented on #1258
@jqhong We'll try to reproduce this. Thanks for the update.

@bigtrak @kupsch Could one of you take a look when you have some time?

[2022-05-02 16:40] nilanjana87 opened #1261 "Remove system calls from binary"
Hello,

I want to remove a set of system call from the binary at runtime.

I didn't find any evident way of removing an instruction, so I split the block just before the syscall instruction, & tried to remove this new block with just the syscall instruction. I had to use PatchModifier::redirect to redirect the edges to the new block, to the succeeding block, & then remove the new block. I had to m

[2022-05-02 19:33] hainest commented on #1261
Just so I fully understand, you want to modify an executable while it is being executed. That is, you are attaching to the running process before making modifications. Is that correct?

How are you checking if the syscall is being made? strace?

You could overwrite the instruction with a NOP slide.

-----

That sounds like a bug. Please submit a separate issue for this with a minimum working examp

[2022-05-03 09:11] nilanjana87 commented on #1261
In the context of the question, yes, that is correct.

For my exact use case, I am interested in both modes - modifying while executing, & writing to a binary. I am trying to instrument a function call before the syscall & subsequently, remove the syscall instruction itself. For the former mode, I see the instrumented code running, & the syscall running as well. For the latter mode, the binary has

[2022-05-04 14:45] hainest commented on #1261
`BPatch_addressSpace::removeFunctionCall` will do this. If you could provide a small working example of how you are using Dyninst, we can point you in the right direction for being able to use this.

Oh, did you only see the assert _after_ you modified the Dyninst code?

[2022-05-05 20:20] hainest opened #1268 "Check default switch cases for missing enumerators"
If possible, remove the `default` so the compiler can check this for us with -Wswitch.

    grep --exclude-dir={.git,docs,rose,external} --exclude={"*.tex","*.pdf","*.eps"} -ERnl   "default\:\s*"

[2022-05-06 20:34] hainest commented on #1115
`InstructionDecoder` constructor does not set is64 for PPC.

[2022-05-06 20:35] hainest commented on #840
Closed by https://github.com/dyninst/testsuite/pull/209

[2022-05-06 20:35] #840 closed

[2022-05-06 21:09] bigtrak commented on #1234
Hello.  We've discontinued work on this issue and I am closing it.
Without a simple, deterministic repeater, and simple deterministic object files,
we don't have the resources to track down your issue.

Earlier, I mentioned that your repeater has errors.  Which, if you correct the
errors, it does work and does fetch offsets of symbols.  However, with all
the other issues in the repeater,  it is no

[2022-05-06 21:09] #1234 closed

[2022-05-07 08:17] nilanjana87 commented on #1261
Attached below is the dyninst-based syscall instruction deletion code & a small program to test it with. This one uses removeFunctionCall().
[syscall_deletion.gz](https://github.com/dyninst/dyninst/files/8644728/syscall_deletion.gz)

No, the assert was hit before. I made a couple of lines of change to fix the assert. I'll add the code diff & the code that uses it in a separate comment.

[2022-05-09 07:47] nilanjana87 commented on #1261
[With respect to my previous comment @1261](https://github.com/dyninst/dyninst/issues/1261#issuecomment-1120163161)

Couple of small fixes to the previous example, & addition of a Makefile.
[syscall_deletion_by_replacement.gz](https://github.com/dyninst/dyninst/files/8649674/syscall_deletion_by_replacement.gz)

[2022-05-09 20:08] jrmadsen opened #1272 "Testing suite container bug when files are renamed"
**Describe the bug**

When files get moved within the repository, the containers used for testing copy the PR source code onto an existing source code tree. Thus, you will be unable to catch any invalid `#include "..."` statements in the source code or `include(...)` in cmake.

**To Reproduce**
Steps to reproduce the behavior:

See #1271

**Expected behavior**

You need to either remove the existi

[2022-05-09 20:12] hainest commented on #1261
@nilanjana87 Thanks, we'll try to take a look at these soon.

[2022-05-11 18:23] #1272 closed

[2022-05-24 19:24] bigtrak commented on #1258
Thanks for the info about the behavior  you noticed.
I was able to replicate it using the Dyninst examples
disassembler, along with some added code to print operand
sizes (using Dyninst's operand size method).

If we discover any short-term fixes for this, we will notify
you about the change.

I will re-iterate Tim's earlier comments -- an exact reproducer means
we can examine a problem immediatel

[2022-05-24 19:24] #1258 closed

[2022-05-25 21:20] jrmadsen commented on #1210
Try doing a `grep ^ElfUtils CMakeCache.txt` and see if there are any stale cached variables (probably a version one that isn't being updated) and then undefine it: `cmake -U<variable> ...`

[2022-05-26 17:33] woodard opened #1275 "Handle new private namespaces in glibc 2.35"
glibc 2.35 https://lists.gnu.org/archive/html/info-gnu/2022-02/msg00002.html changed the debugger interface to support private namespaces:

* Bump r_version in the debugger interface to 2 and add a new field,
  r_next, support multiple namespaces.

This feature is also going to land in RHEL 8.7 and is either in RHEL9 or will be in RHEL9 and is expected to be used very heavily on the exascale syste

[2022-05-26 18:31] woodard commented on #1275
Something that may be worth referencing is the writeup that I did for GDB. https://sourceware.org/bugzilla/show_bug.cgi?id=29181

I spent some time going through the docs for the various APIs and the changes to Dyninst look relatively minor in comparison to what is needed in gdb. In addition to handling DT_AUDIT and DT_DEPAUDIT in ELF, if you have version 2 of the debugger interface instead of sea

[2022-06-10 02:54] violet73 opened #1277 "Support for static binary rewriting on ARMv8?"
I saw "Note that Dyninst currently does not support static binary rewriting on ARMv8." in [DyninstAPI ARMv8 status](https://github.com/dyninst/dyninst/wiki/DyninstAPI-ARMv8-status). Does the current version of Dyninst support static binary rewriting on ARMv8?

I tried to instrument the call points of a function on ARMv8, but this led to incorrect program results.

[tracefunc.txt](https://github.co

[2022-06-14 07:01] kimiwanano opened #1278 "Each download failed!"
I found the following error when installing Dyninst:
![QX@0OQTSIKQOUO)T 53($S](https://user-images.githubusercontent.com/76025773/173522830-3bdf4259-44b6-4bae-add2-61ae069fe6b6.png)

I tried to access the address directly, but it was no longer accessible. Then I tried to change the address to https://src.fedoraproject.org/repo/pkgs/libdwarf/libdwarf-20130126.tar.gz
but it does not work, so how do

[2022-06-14 15:46] sonicyang opened #1279 "Try to assume the value of register while slicing and doing SymEval"
Hello,

This might be a trivial question.
But how do I simplify a result of backward slicing further by assuming the value of some registers?

For example, by analyzing a basic block with backward slicing and SymEval::expand,
I have the following:
`<concat:64>(<13:32>,<extract:32>(<V([x86_64::rax]:3e9ac)>,<32:64>,<64:64>,),)`

As you can see, the lower 32 bits of the rax register is changed to 13,

[2022-06-14 18:57] hainest commented on #1277
No. The person working on that left a few months ago. It's unlikely that will be implemented until we can find another person to work on the ARM port.

What version of Dyninst are you using?
What hardware architecture are you building on?
What OS are you building on?
What CMake options did you use to build Dyninst?
Can you post the compiler build options you used to build 'InterestingProgram'?

[2022-06-14 18:58] hainest commented on #1278
It looks like you are trying to use an unsupported version of Dyninst. Please update to the latest version.

[2022-06-14 19:02] hainest commented on #1279
@bigtrak @kupsch I have no idea on this one. Do either of you have thoughts?

[2022-06-15 01:29] violet73 commented on #1277
Got it. The problem I'm having is instrumenting function with static binary rewriting in ARMv8.

v12.1.0 and [master](https://github.com/dyninst/dyninst/commit/5e601431484bba3623697c37078ba794998c404c).

`lscpu` results：
[code]

Linux thunderx2 5.4.0-99-generic #112-Ubuntu SMP Wed Feb 2 17:13:12 UTC 2022 aarch64 aarch64 aarch64 GNU/Linux

I installed Dyninst directly using spack with no other cust

[2022-06-21 16:56] sonicyang opened #1280 "Logic behind Slicer::kills prevents slicing function arguments"
Hi

I am currently slicing backwards, between functions.
I have a call graph at hand and want to vind the value of a register, let's say `rdi`, in function A.
Function A is called by function B.
According to SystemV ABI, `rdi` is the first parameter.
So I am essential trying to do constant propagation from B to A, via the first function parameter.

However, when I do a backward slicing, returning

[2022-06-30 17:47] jrmadsen opened #1282 "Dyninst on Ubuntu 22.04: Assertion `_r_debug.r_map` failed"
**Intention**

Testing [omnitrace](https://github.com/AMDResearch/omnitrace) on Ubuntu 22.04.

**Describe the bug**

This _could_ be an issue y'all have already resolved since I have been slow updating dyninst since #1264 and #1265 still haven't been addressed but when I tried adding support for Ubuntu 22.04, either `createProcess` fails or running a binary rewritten executable fails.

Here are a

[2022-07-11 18:36] hainest commented on #1282
This is an issue with glibc-2.35+ switching to namespaces. A workaround is in 273803a4c. The RH folks haven't reported issues in latest RHEL or Fedora when using that fix. Could you re-test in Ubuntu? It was included in the 12.0.1 release. Dyninst is kind of frozen right now because we've all been pulled off to other projects. I really want to get back to processing PRs soon.

[2022-07-11 18:40] hainest commented on #1280
@kupsch I believe you were looking at this before you founded the stripped parsing issue. Do you have any immediate/incomplete notes here?

[2022-07-11 18:51] hainest opened #1285 "Use thread-safe data structure for parsing Symtab line information"
See details in #1284. I don't see that TBB has a multi-index container. If we need a manual locking scheme against a boost::multi_index, we should make a proper data structure in Dyninst namespace.

@kupsch @bigtrak

[2022-07-11 23:55] jmellorcrummey commented on #1285
@blue42u

[2022-07-14 08:22] Learner0x5a opened #1287 "update libdwarf URL in release v9.3.1"
The URL of libdwarf http://www.paradyn.org/libdwarf/libdwarf-20130126.tar.gz \
 is not valid now in tag v9.3.1: cmake/packages.cmake.

[2022-07-20 15:14] hainest commented on #1287
We don't backport fixes to previous releases. We strongly encourage users to upgrade to the latest version.

[2022-07-20 15:57] #1287 closed

[2022-07-20 16:02] #1278 closed

[2022-07-26 20:04] pfmclaug opened #1288 "Building with Spack on Ubuntu 22.04 fails to install elfutils-0.186"
Trying to install dyninst with spack on a fairly fresh Ubuntu 22.04 install using the following `.spack/linux/compilers.yml`:

[code]

The spack fails to build with:

[code]

With the following spack-build-out.txt file:
[code]

[2022-07-26 21:08] hainest commented on #1288
This is a spack problem. What is the output of `spack compiler list`?

[2022-07-26 21:57] pfmclaug commented on #1288
[code]

[2022-07-26 22:00] pfmclaug commented on #1288
I have partially found a way around it but there still seems to be an issue.

So I originally started with the following instructions:

[code]

But once I removed all of the externals and had a clean spack folder I was able to `spack install dyninst` with no issues.

[2022-07-26 22:17] hainest commented on #1285
@blue42u

Very much agree. When I said `we should make a proper data structure in Dyninst namespace`, I meant we should make a Dyninst data structure that is a wrapper around a `boost::mutli_index_container` rather than having a bunch of manual locking floating around.

What kind of locking scheme?

Given the complexity of [`RangeLookupType`](https://github.com/dyninst/dyninst/blob/35c289a2d38bd5b

[2022-07-26 22:19] hainest commented on #1288
I'm curious if there was a caching issue.

What's in your packages.yml?

[2022-07-26 22:36] pfmclaug commented on #1288
[code]

[2022-07-26 23:52] blue42u commented on #1285
@hainest

That's how I interpreted your initial comment. I agree that adding a wrapper structure is definitely preferable to manual locking for code cleanliness, but just be aware that doing so will likely kill the parallel performance.

To be honest I don't remember (I wish I had written notes), but I think I tried both `std::mutex` and `std::shared_mutex`. I also vaguely recall having synchroniz

[2022-07-27 01:47] jmellorcrummey commented on #1285
i think that it is important to use reader/writer locks rather than mutual exclusion, which was my OpenMP patch. In the cases where mutual exclusion is needed, it will hurt parallel performance. without a top to bottom redesign of the structure, full parallelism will be hard.

[2022-08-03 18:53] jrmadsen commented on #1100
With regard to #1264 and #1265

## Features Removed

There were no features which were removed.

## Features Added

- Fatal Error is using cmake version that is too old
- Increased minimum CMake version to 3.13.0 (was 3.4.0)
- Lazy cmake install messages (i.e. `make install` only reports files which were updated)
- Message about which relevant CMake options were enabled/disabled at end of CMake ru

[2022-08-08 15:07] hainest opened #1290 "Support for ELF's new DT_RELR"
The just released glibc-2.36 will have an additional relocation that we may eventually need to support.

    Support for DT_RELR relative relocation format has been added to
    glibc. This is a new ELF dynamic tag that improves the size of
    relative relocations in shared object files and position independent
    executables (PIE). DT_RELR generation requires linker support for
    z pack-relat

[2022-08-08 15:08] hainest commented on #1290
@woodard I couldn't find any mention of an implementation of this in gcc/ld. Do you know if it's there yet?

[2022-08-22 21:18] hainest commented on #1100
As far as we know, omnitrace is the first to consume dyninst as a CMake subproject so we're trying to better understand how the conflicts you mentioned arise. If a project has

    set(FOO "Hello")
    add_subdirectory(Dyninst)

and in ./Dyninst there is

    option(FOO "A FOO" "World")
    if(FOO STREQUAL "World")
      message(STATUS "case 1")
    else()
      message(STATUS "case 2")
    endif(

[2022-08-23 00:44] Myles1 opened #1294 "Static rewriting on Android"
Hey, this project is super cool, thank you for maintaining it!

I initially thought that I'd be able to use dyninst in order to statically rewrite a shared object for android x64, but as far as I can tell that's not an option due to the dependency on `DYNINSTAPI_RT_LIB` (although admittedly I haven't tried building the runtime lib for android).
I'm sure there's a lot that I'm missing here, but can

[2022-08-23 02:33] jrmadsen commented on #1100
No. In CMake project mode, option is basically just shorthand for setting a cache variable.

The issue, in the scenario above, is that the user will never be able to get dyninst to print `"case 1"` without modifying the cmake source, even if these users passes `cmake -D FOO=World ...`. Local variables _always_ override cache variables. It effectively makes it impossible for a user to change a vari

[2022-08-23 02:48] jrmadsen commented on #1100
Dyninst could easily handle them with:

[code]

When dyninst is the top-level project, this creates the cmake options: `BUILD_SHARED_LIBS` and `CMAKE_POSITION_INDEPENDENT_CODE` configurable by the user as usual.

When Dyninst is a sub-project, it creates cache variables `DYNINST_BUILD_SHARED_LIBS` and `DYNINST_CMAKE_POSITION_INDEPENDENT_CODE`, which can be configured by the user specifically for d

[2022-08-24 06:56] kloczek opened #1295 "12.2.0: cmake cannot find tbb"
Looks like it is something wrong with tbb detrction.
cmake is able to find libtbb.so but is not able to find heder fiels.
[code]

[2022-08-24 06:59] kloczek commented on #1295
Just checked and looks like in cmake are done really strange things.
tbb provides pkgconfig files so checking availability of the tbb with minimum version can be done in single `pkg_check_modules()` call..

[2022-08-24 07:24] kloczek commented on #1295
After add patch like below
[code]
build fails on
[code]
So looks like dyninst is not ready for latest tbb 2021.5.0..

[2022-08-24 15:00] hainest commented on #1294
We've never tried using Dyninst on android, so we don't have too much advice. As you found, all re-written binaries require access to the runtime library. The path forward would require building it for android. It gets built by default, so it should be in your installation directory under `lib/`. You just need to point the environment variable `DYNINSTAPI_RT_LIB` at its location (with the full fil

[2022-08-24 15:02] hainest commented on #1295
This is a known issue. We're working on retooling our build system and then updating support for more recent tbb versions as well as providers (e.g., intel-tbb vs oneapi).

[2022-09-16 16:48] jrmadsen opened #1298 "Error handling in dyninstAPI: unrecoverable error vs. recoverable errors"
**Intention**

We recently did a hackathon with omnitrace at ORNL on crusher and there were a lot of dyninst errors in two key places, producing these error messages:

[code]

which leads to a segfault later (only bc I removed an assert statement after the uninformative `ERROR: failed bind/eval at 1095d4d`) and

[code]

**Describe the bug**

Both of these errors are recoverable. Omnitrace can simp

[2022-09-18 19:03] jrmadsen opened #1299 "RPATH support for Linux"
**Is your feature request related to a problem? Please describe.**

I would appreciate the ability to manipulate the RPATH via Dyninst on Linux. Seems like this should be fairly straightforward since that data is available when you read the ELF file.

Use cases include:

1. binary rewrite a library but the executable has a RPATH to the original library. Thus you need to either modify the executabl

[2022-09-19 22:41] hainest commented on #1298
Unless we missed some cases, this was addressed two years ago in https://github.com/dyninst/dyninst/pull/927.

Getting unused var warnings isn't too surprising as the value passed to `assert` could take many steps to calculate where the intermediate values are never used elsewhere. Getting LOTS of those is cause for concern, though.

`assert` is used in many places to enforce correctness constrain

[2022-09-19 23:13] jrmadsen commented on #1298
I probably wasn't clear enough here. Dyninst started failing with NDEBUG on things which were previously work. A user was hitting an assert right before a return statement indicating failure. It was something similar to this:

[code]

Thus, since I was seeing a lot of asserts being thrown, I tried rebuilding with NDEBUG. Once compiled, I ran a simple test, doing a binary rewrite of the `ls` execut

[2022-09-20 15:44] lee218llnl opened #1300 "local_var.h"
I am the main developer of STAT and STAT is a consumer of local_var.h. I noticed that this header was removed in DynInst 12. Would it be possible to make the inclusion of this header optional in DynInst itself? Alternatively, could you make it a variant in the Spack package? This isn't critical, as I can always manually copy the header or have STAT's build system download the local_var.h file from

[2022-09-20 18:48] woodard commented on #1299
FWIW I kind of like this idea. There are a handful of useful things in the ELF which would be nice to access through symtabAPI even if they are only RO. I can see the usefulness of making RPATH RW

[2022-09-20 21:45] hainest commented on #1300
Oh, I see what happened. That file was removed as part of a cleanup effort in d42b659106. But there were two public header files that went from being explicitly named in a Makefile to being implicitly included via a CMake glob- one of which was local_var.h. I'll restore them so they are present in our next release and add STAT to our list of applications to test before doing a release. Mea culpa!

[2022-09-21 18:54] jrmadsen opened #1302 "Exclude libraries from being parsed"
Is there a way to tell Dyninst: do not parse/read this library? When using dyninst to create a process or attach to a process, Dyninst will spend lots of time parsing/reading the library used for instrumentation. In the former situation, I am able to get around this by having a small front-end library which dlopen's the main library after I have detached from the process but when attaching to a ru

[2022-09-26 20:27] kloczek opened #1303 "12.2.0: cmake cannot find `tbb`"
I have installed in build env `tbb`  2021.5.0 and looks like cmake is failing because it cannot idenify correctly version
[code]

[2022-09-26 20:42] kloczek commented on #1303
Sorry found cause in my tbb-devel package.
Closing.

[2022-09-26 20:42] #1303 closed

[2022-09-26 21:33] kloczek opened #1304 "12.2.0: build fails with tbb 2021.6.0"
Cmake settings (`cmake -L`):
[code]
And build fails on
<details>

[code]
<details>

[2022-09-27 18:00] wcohen opened #1305 "new ParseAPI::CodeObject(SymtabCodeSource *sts) taking execessive amount of time on x86_64 machine"
**Intention**
I was running the unusedArgs example (https://github.com/dyninst/examples/tree/master/unusedArgs) on uncompressed Fedora vmlinux kernels and expecting it to generate results in a reasonable amount of time.

**Describe the bug**
On x86_64 machines it seems to take an excessive amount of time for the following line in the example to run:

	CodeObject *co = new CodeObject(sts);

On aarc

[2022-09-28 02:17] wcohen commented on #1305
I ran the modified unusedArgs in one window and ran gdb in another.  Once gdb was up, I attached it to the unusedArgs process and did a "where" to get an idea of where it was stuck:
[code]

[2022-09-28 02:59] wcohen commented on #1305
I enabled output of diagnostic output with:

`export DYNINST_DEBUG_PARSING=1`

Ran the example and looked through the *.txt files for common lines.  One thing that caught my ey was:
 `cat 1-3.txt |sort |uniq -c |sort -nr |more`

was
 `  7796 [ParserDetails.C:583] pushing ffffffff82002540 onto worklist`

This maps to __x86_return_thunk which is being jumped to from lots of different places.  Could

[2022-09-28 03:52] wcohen commented on #1305
Tested the theory with two locally built kernels.  The difference between the config files:

[code]
The dyninst parses the kernel without the __x86_return_thunk use (vmlinux.noretpoline) orders of magnitude faster than the kernel build with thunks (vmlinux.thunk):

[code]

[2022-10-03 15:32] wcohen commented on #1305
Ran the reproduces with "perf record --call-graph=lbr ..." to see where time being spent.  For the run on a kernel with `CONFIG_RETPOLINE=y` and `CONFIG_RETHUNK=y` see a large amount of time spent in function finalize code:
[code]
section of `perf report` of interest:
[code]

[2022-10-03 15:52] hainest commented on #1305
@bigtrak Did you get a chance to take a look at this? In particular, we should try re-doing Will's analysis with a version of Dyninst that doesn't include #1249.

[2022-10-03 16:19] wcohen commented on #1305
I looked through the upstream dyninst changes and noticed #1249.  I tried running the experiments with a locally built dyninst 12.2.0 rpm and that doesn't seem to make a difference.

[2022-10-05 15:06] #1300 closed

[2022-10-06 18:55] bigtrak commented on #1304
We currently have  some ongoing work in progress on operating with newer versions
of Intel's TBB.

Until that effort is completed, and the issues worked out, newer versions of TBB will not
interoperate with Dyninst, due to some incompatible changes made by the TBB libraries
that we need to assess and mitigate.

[2022-10-06 21:21] bigtrak commented on #1302
No.  The behavior you describe is a deliberate design decision, to parse everything.

If you are experiencing speed issues, you may need to tune your application.

For example, some situation, such as  low memory or limited resource systems may parse faster if
you reduce parallelism in Dyninst via setting the  OMP_NUM_THREADS environment variable to 1.

Conversely, you can try increase the paralle

[2022-10-12 03:28] jrmadsen commented on #1302
Yeah, the problem here is that the parallelism is frighteningly terrible. With 12 threads, the total CPU utilization of ~160% and it takes 85+ minutes to complete with a binary rewrite. And that is without `-static-libgcc -static-libstdc++` which is the default for releases. I have no idea what a runtime instrumentation because I don't have the patience to wait probably around 8 hours. All the tim

[2022-10-12 18:34] bigtrak commented on #1302
There is an existing interface to Dyninst, which I neglected to mention, that allows control of
the opening and reading of dependencies that you requested info about.

BPatch::openBinary(const char *path, bool openDependencies)

Set openDependencies to false, will give you the behavior you are looking for.

[2022-10-12 19:37] jrmadsen commented on #1302
Right, I am already using `BPatch::openBinary` as described above to get the address space when I am doing a binary rewrite — this is what was happening in the 85 minute run I described above. But I have to use `BPatch::processAttach(…)` to get the address space of a running process which does not have those controls. I can avoid the dlopen on this library while dyninst is “active” when doing bina

[2022-10-12 20:28] bigtrak commented on #1302
Jonathan -- for the code that you describe above -- could you give us an idea of:

What  exactly (what package, version, & platform) are you are parsing & instrumenting?
How large is it?
How large is it with all the dependencies?

Thank you.

[2022-10-18 21:24] wcohen commented on #1302
Recently I came across a situation where dyninst parsing of the binary increased from 30 seconds to 17 minutes (#1305) on linux kernels.  This was triggered by  by the use of retropolines in recent kernels.  It would be really useful to have more information about the code triggering this issue to determine if is related to #1305.  Would it be possible to get some profiling data or backtraces to s

[2022-10-20 11:30] rain6851 opened #1306 "compile error"
/usr/bin/ld: CMakeFiles/symtabAPI.dir/src/Object.C.o: in function `tbb::cache_aligned_allocator<tbb::interface5::internal::hash_map_base::bucket>::deallocate(tbb::interface5::internal::hash_map_base::bucket*, unsigned long)':
/usr/include/tbb/cache_aligned_allocator.h:88: undefined reference to `tbb::internal::NFS_Free(void*)'
/usr/bin/ld: /usr/include/tbb/cache_aligned_allocator.h:88: undefined r

[2022-10-21 16:12] hainest commented on #1306
Dyninst doesn't build with the latest versions of TBB. This is a known issue that I'm working on. If possible, try to use an older version. I know that 2019.2 works.

[2022-10-24 21:00] bbiiggppiigg opened #1310 "InstructionAPI Result type outputs wrong format string on certain types"
**Intention**
Disassemble a binary and check that the output assembly is correct

**Describe the bug**

https://github.com/dyninst/dyninst/blob/eea540a94564371d3170d01ab16c62ccbc8f9b9d/instructionAPI/h/Result.h#L441-L522

Result::format  is supposed to return its value in hex type, but for u48 / s48 / u64 / s64, the format function returns a formatted string in dec instead of hex.

And as ArchSpec

[2022-10-24 21:38] hainest commented on #1310
Is this preventing you from doing work right now? This is something that will eventually get fixed when we move to Capstone.

[2022-10-24 21:42] bbiiggppiigg commented on #1310
It will just be annoying cause I will be looking at wrong offset values when working with assemblies.
I guess I can live with it.
Just note that this is not specific to AMDGPU, but for x86 and aarch64 as well, if they ever make use of these types.

[2022-10-25 18:58] bbiiggppiigg opened #1312 "InstructionAPI Instruction assignment operator won't update the formatter member"
**Intention**
Decode Instructions and output their format using the formatter corresponding to the architecture it decodes from.
Check [disassemble example](https://github.com/dyninst/examples/blob/master/disassemble/disassemble.cpp#L29)

**Describe the bug**
Since the formatter is of reference type, it can't be updated a default Instruction is constructed.
Which means the update in

https://githu

[2022-10-26 13:57] #1310 closed

[2022-10-26 14:48] bigtrak commented on #1302
Will -- which version & configuration of boost are you using?   If this was running more quickly in the past,
which version of boost was used then?    I'll take a look at replicating your example to have a baseline here; thanks
for the detail information, and your  note on this issue.    Actually -- please include the versions and compilations
of the dyninst depndencies -- boost, tbb, and elfutils

[2022-10-26 15:13] bbiiggppiigg commented on #1312
@hainest @kupsch Any recommendation on how to fix this?

[2022-10-26 15:25] hainest commented on #1312
I could be missing something obvious, but I don't see where there is a reference to a formatter object. The assignment in `Instruction::operator=` is legal because `arch_decoded_from` is a value type.

[2022-10-26 15:28] bbiiggppiigg commented on #1312
Sorry I quoted the wrong line, description updated.

[2022-10-26 17:43] bbiiggppiigg commented on #1312
![image](https://user-images.githubusercontent.com/6196951/198098373-9c453aa6-8af8-47fa-9ed0-8363db3d9bb4.png)

[2022-10-26 23:29] jrmadsen commented on #1302
@wcohen  It is not spending time in the same area as #1305 -- it is spending all of its time parsing (and waiting on locks ti parse):

[code]

[2022-11-01 19:49] wcohen commented on #1305
A bit more details about the environment this is being observed on.  The machine is an x86_64 Fedora 36 machine.  The Fedora built RPMs are being used:

dyninst-12.0.1-3.fc36.x86_64
tbb-2020.3-9.fc35.x86_64
glibc-2.35-20.fc36.x86_64
glibc-2.35-20.fc36.i686
kernel-6.0.5-200.fc36.x86_64

If you want to check the details of how things are configured, one could look at the koji build logs at https://k

[2022-11-08 20:22] kloczek commented on #1304
Any update? 🤔

[2022-11-09 15:16] hainest commented on #1304
I'm posting PRs today to fix this.

[2022-11-10 21:42] kloczek commented on #1304
Thank you.
I've just tested and that PR and it fixes build.
Just FTR I made compile time warnings:
[code]
If you want I can drop details.

[2022-11-11 01:20] hainest commented on #1304
If you have time, that would be helpful. We require warning-free builds in our public headers so this would be good to see. We don't yet use -isystem for our third-party libraries, so some of these warnings might be coming from outside of Dyninst.

[2022-11-11 01:47] kloczek commented on #1304
Here it is attachment with warnings. [dyninst-12.2.0+pull_1316-warnings.txt](https://github.com/dyninst/dyninst/files/9985811/dyninst-12.2.0%2Bpull_1316-warnings.txt)
This was generated using gcc 12.x from Fedora rawhide.

[2022-11-11 20:04] #1306 closed

[2022-11-11 20:06] #1304 closed

[2022-11-11 20:06] hainest opened #1320 "gcc-12 warnings"
Here it is attachment with warnings. [dyninst-12.2.0+pull_1316-warnings.txt](https://github.com/dyninst/dyninst/files/9985811/dyninst-12.2.0%2Bpull_1316-warnings.txt)
This was generated using gcc 12.x from Fedora rawhide.

_Originally posted by @kloczek in https://github.com/dyninst/dyninst/issues/1304#issuecomment-1311126551_

[2022-11-11 20:15] hainest opened #1321 "ParseAPI"
Dyninst gets confused about the fixed point. It flip-flops between being a tail and not- causing infinite parsing.

[2022-11-14 13:55] hainest commented on #1202
@bigtrak @kupsch This is a major problem on Mahir right now. It has effectively left that machine unusable as a testing platform. We really need to address this. I do not have access to ufront. Could one of you try to grab Xiaozhu's test program (assuming you can access his home dir) and post it here? That will at least give us a reproducer that we can all try out and debug as we have time.

[2022-11-14 22:51] hainest commented on #1202
Symtab can't open libc.a on mahir...?

[code]
I'm not sure what to do with that...

[2022-11-14 23:03] bigtrak commented on #1202
I am looking at this in with respect for test failures on mahir right now.  News at 11.

[2022-11-15 03:53] #1312 closed

[2022-11-15 07:22] bigtrak commented on #1202
The open of a archive library from symtab fails both on mahir and on coriander opening
the libc.a archive.
The Object() constructor says that the elfhdr is not valid, and aborts the constructor
process.
That is because it is an archive file, and it isn't an ELF file.
The members of the archive are elf files, but not the archive itself, which has a non-elf
header for it's type.
The archive code app

[2022-11-15 16:03] hainest commented on #1202
@bigtrak This triggers the segfault. After looking at the source for `Archive`, I get why `Symtab::openFile` wouldn't work for archives, but that's still surprising.

[code]

[code]
It's not creating a core dump. Double fun: it works if you run it under gdb. Running it outside of gdb, it always segfaults at 558. Because of course it does...

[code]

[2022-11-15 18:24] bigtrak commented on #1202
The crash only occurs when using the libc.a with debug symbols.    If the normal libc.a is used, /usr/lib64/libc.a there is
no crash and it completes successfully.

The crash occurs because memory is exhausted by dyninst.  There are only about 100 threads (96 same as mahir core count) running at that time.

However, even gdb crashes examining the core dump, so I would not put this on dyninst itsel

[2022-11-15 22:05] #1231 closed

[2022-11-16 16:58] kupsch opened #1327 "support endbr64 and endbr32 x86_64 instructions"
Dyninst currently decodes the instructions endbr64 and endbr32 (Intel CET feature) as `REP NOP %edx` and `REP NOP %ebx` respectively; effectively reserved NOPs with a REP prefix. To support these dyninst needs to:

1. decode these NOPs instructions as the specialized CET instructions
2. add instruction property or type for indirect target instructions
3. ensure that code generation does not replac

[2022-11-21 18:58] hainest commented on #893
Fixed by #1297

[2022-11-21 18:58] #893 closed