[2020-03-23 23:19] #691 closed

[2020-03-23 23:20] #701 closed

[2020-03-24 03:51] hainest opened #728 "Test failures when using clang on zeroah"
https://bottle.cs.wisc.edu/search?dyninst_branch=PR705&testsuite_branch=PR146&status=OK

The only real regressions are the ones on [zeroah](https://bottle.cs.wisc.edu/regressions/run?curid=579&previd=582). I've not been able to test this elsewhere yet as arm1 doesn't have clang installed.

[2020-03-24 16:02] pkestene opened #730 "TBB include headers and dyninst installation"
Hello,

[this issue is not about building TBB but using an already existing TBB]

I think there is probably a potential "hole" regarding the way TBB is treated in some corner cases :

I was building dyninst using an already existing installed version of TBB (version 2019.5), installed in a custom user directory.
So to build dyninst, I used cmake flag TBB_ROOT_DIR=/my/custom/path/to/tbb

Thus far,

[2020-03-24 18:20] hainest commented on #730
Dyninst's CMake build system is in an unfortunate state of being mostly pre-CMake 3.0 with a few sprinkles of "modern" (post-3.0) CMake. Modernizing the build system is on our list of things to do, but it's not likely to be completed soon. In that case, your solution would be the correct thing to do. The best workaround fortoday is to include the Dyninst CMake cache and extract the TBB_INCLUDE_DIR

[2020-03-24 19:00] #726 closed

[2020-03-27 21:10] #721 closed

[2020-03-30 02:52] hainest opened #733 "Power8 rewriter with static linking is failing"
#732 has introduced regressions on ray at LLNL. The previous run with #731 gave the output

    Failed to find libgcc.a, which can be needed by libc.a on certain platforms
    Set LD_LIBRARY_PATH to the directory containing libgcc.a

which means that it could not find libgcc.a, yet somehow the test "passed". Now that it *can* find libgcc.a, it's failing. These tests have also been failing on [poma

[2020-03-30 14:11] mxz297 commented on #733
The tests passed on Power8 means that rewriting static linked binaries in our test suite on Power8 does not really need libgcc.a. However, once we can find libgcc.a, we may fail to analyze libgcc.a in some fashion. I believe that Dyninst does not check whether libgcc.a is needed or not before pulling it in. Only pulling libgcc.a when necessary is good thing to have but I doubt we will get to it.

[2020-03-30 20:32] sashanicolas commented on #733
How to check whether libgcc.a is needed?

[2020-03-30 20:41] mxz297 commented on #733
@sashanicolas I think if libc.a contains unresolved reference, then it is an indication that we need libgcc.a. However, IIRC, we are resolving references in .a in symtabAPI and we will directly throw an error when we find an unresolved reference. It will be quite some code changes to allow symtabAPI to feedback this information to BPatch.

[2020-03-30 23:41] hainest commented on #733
@mxz297

Sorry, yes, I didn't mean to imply that it was necessarily a P8 vs P9 issue. I just found it odd that ray (P8) and lassen (P9) use the same compiler and glibc, but give different results. Since all of the entries in the dashboard for poman have seen static rewriter failures, I'm curious if that PR would fix them. @sashanicolas Could you run it there when you have some time? I should reall

[2020-03-30 23:43] hainest commented on #733
@sashanicolas

Aside from Ray, the testing so far shows that it including it doesn't negatively effect the results. I'm not sure if that is just a happy coincidence, or actually demonstrates that it's generally acceptable to include it even when it's not expressly needed.

[2020-03-31 18:00] hainest commented on #733
@mxz297 Using Ben's suggestion, I checked that location of libgcc.a on both ray and lassen. They point to the same file: `/usr/tce/packages/gcc/gcc-7.3.1/rh/usr/bin/../lib/gcc/ppc64le-redhat-linux/7/libgcc.a`. The failures I'm seeing aren't coming from differences in the libgcc.a, then. Combined with the failures on [poman](https://bottle.cs.wisc.edu/results/FAILED/661)(even as recent as today), t

[2020-04-06 22:27] aaronmerey opened #734 "Add debuginfod support to dyninst"
Debuginfod is a lightweight web service that indexes ELF/DWARF debugging resources by build-id and serves them over HTTP. Debuginfod support enables dyninst to query debuginfod servers for a file's separate debuginfo when it otherwise cannot be found. Debuginfod is distributed with elfutils, for more information see https://sourceware.org/elfutils/Debuginfod.html

[debuginfod.diff](https://github.

[2020-04-06 22:39] mxz297 commented on #734
@aaronmerey  Thanks for your patch! This indeed looks very interesting. I am not familiar with Debuginfod, so I will need to get familiar with it to make comments.

@hainest Are you familiar with Debuginfod?

[2020-04-07 05:06] hainest commented on #734
@aaronmerey Could you make this a Pull Request? If you could cite this issue in that PR, that would be great. Also, we are phasing out having Dyninst build it's own dependencies. As such, we no longer are making changes to the build system to support that.

@mxz297 I am a little familiar with it. It was a feature added in 0.178. It won't build in spack, so we can't turn it on by default.

[2020-04-07 20:39] mplegendre opened #735 "Support for GNU dwarf extensions"
I'm trying to inspect DWARF-produced local variables from gcc 8.1, but Dyninst isn't able to parse the GNU locviews extension to DWARF.  I most recently saw these emitted in the RAJA ltimes example: https://github.com/LLNL/RAJA/blob/develop/examples/ltimes.cpp

I've extracted ltimes' main function, and when compiled with gcc 8.1 and -O3 this produces GNU locviews.  You can dwarfdump the executable

[2020-04-08 19:52] mwkrentel opened #737 "major regression in parseapi parallelism"
I'm seeing a major regression in the ParseAPI parallelism between
10.1.0 and today's master 20673aae1701.

So far, I've only run big, complicated program (hpcstruct) on nwchem,
a large (160 Meg) x86_64 static binary.  But I'm pretty sure the
problem is on the dyninst side, as in it works as expected with 10.1.0
and I get terrible parallelism with master.

Running hpcstruct on nwchem with dyninst 1

[2020-04-08 19:56] mxz297 commented on #737
@mwkrentel I think I know what caused the struct time to explode. There is no need to do bisect. Please try this branch (https://github.com/mxz297/dyninst/tree/get_func_opt).

[2020-04-09 02:42] mwkrentel commented on #737
@mxz297   Ok, that seems to restore the parallelism and produce traces
like I expect.

[code]

Compared to 10.1.0, this is overall maybe 25% faster, but 35% more
memory.  Memory is becoming the limiting factor, so this is moving in
the wrong direction.

I'm still seeing debug messages, although they're shorter.

[code]

[2020-04-11 03:54] 9DemonFox opened #738 "error: ‘class BPatch_module’ has no member named ‘insertFiniCallback’"
codeCoverage.C:380:23: error: ‘class BPatch_module’ has no member named ‘insertInitCallback’
  380 |   if (!defaultModule->insertInitCallback (initSequence))
      |                       ^~~~~~~~~~~~~~~~~~
codeCoverage.C:399:23: error: ‘class BPatch_module’ has no member named ‘insertFiniCallback’
  399 |   if (!defaultModule->insertFiniCallback (instExitExpr))

[2020-04-11 15:05] mxz297 commented on #737
Closed via #729

[2020-04-11 15:05] #737 closed

[2020-04-11 15:06] mxz297 commented on #722
@hainest Do we still have any known `test_reloc` failures on x86-64?

[2020-04-13 02:15] hainest commented on #722
@mxz297 Almost. I just saw a new one on [quartz](https://bottle.cs.wisc.edu/results/CRASHED/685). I'm re-running to verify.

[2020-04-13 07:04] hainest commented on #733
The failures on ray are intermittent. They passed when I ran PR729, but failed when I ran the head of master (those two are the same set of commits). This is consistently failing on poman. Could someone debug it there? I don't have access to that machine.

[2020-04-13 07:17] hainest commented on #722
I just noticed test_reloc in rewriter mode has always been failing on [Cori@NERSC](https://bottle.cs.wisc.edu/results/CRASHED/695) with the message

    ./binaries/rewritten_test_reloc.dyn_g++_64_none_none: Relink `/lib64/libdl.so.2' with `./binaries/libc.so.6' for IFUNC symbol `strcpy'
    Group teardown failed:
    [Tests with test_reloc.dyn_g++_64_pic_none]
    -rwxr-xr-x 1 thaines thaines 8041

[2020-04-13 13:44] mxz297 commented on #722
@hainest This is the same error on mic.cs.rice.edu, which is a loader bug as Ben Woodard and I have discussed:

I don't think we can do anything related to this error.

[2020-04-13 14:10] mxz297 commented on #733
For po.rice.edu, does your script handle the weird gcc/cc problem:

On po, I first load gcc/6.4.0, then `gcc` will have the correct version, but `cc` still report the old version with 4.8.5:

[code]

cmake seems to find gcc 4.8.5 in my case.

[2020-04-13 18:38] mxz297 commented on #733
@hainest I find that on po.rice.edu, the failed cases are static PIC. Recall that before certain gcc version, on power, the compiler will generate broken binaries when it is forced to generate static PIC binaries.

[2020-04-13 18:47] mxz297 commented on #733
When I attempt to execute the static pic test mutatee, the mutatee cannot run:

[code]

[2020-04-13 21:01] hainest commented on #722
@mxz297 Yeah, that's definitely not something we can fix. I am seeing test_reloc [crashes](https://bottle.cs.wisc.edu/results/CRASHED/687) on Theta@ANL (which is a KNL machine) when I run #732, but not on the head of master. It's OS is Suse, so these shouldn't be the same issue. I'll try to debug it a bit and let you know what I find.

[2020-04-13 21:13] hainest commented on #733
@mxz297

No, but you can set the compiler using --cmake-args="-DCMAKE_CXX_COMPILER=...". It looks like Sasha has been using gcc-6.4.0 for his [runs](https://bottle.cs.wisc.edu/hostname/poman.po.rice.edu).

On ray, I'm using gcc-7.3.0. Do you happen to know if this version is affected? I'll install gcc-9.2 there and re-run.

When I execute the same on ray, I do get it to run...

    [haines8@ray23:

[2020-04-13 21:22] mxz297 commented on #733
Yes, I built dyninst and the testsuite with gcc-6.4.0 in this way and got broken static pic executables.

Not really. I remembered that you told that `-static-pie` is the new option needed to actually generate static pie.

You can definitely try install gcc-9.2 and see how things go. But we have never done anything in Dyninst to support static pie. I doubt it will work.

`dyninst_group_test.stat_g

[2020-04-13 21:30] mxz297 commented on #733
By the way, I don't think we even use `--static-pie` flag in the test suite.

[2020-04-13 22:02] hainest commented on #733
Right, but we are interested in `-static -fpic`. We explicitly disable PIE with `-fno-pie` on all mutatee builds.

Whoops. Grabbed the wrong one. I get the same result with the PIC version.

    [haines8@ray23:tests]$ ././dyninst_group_test.stat_g++_64_pic_none
    Mutatee ././dyninst_group_test.stat_g++_64_pic_none [C++]:""
    no tests specified, exiting

[2020-04-13 22:06] mxz297 commented on #733
I don't think so. I don't understand what `-fpic` brings when we disable PIE.

Then we need to check whether the compiler is indeed emitting a static pic executable. If you run objdump on it and you saw small addresses then it is indeed static pie. Otherwise, the compiler is simply emitting a static non-pie.

[2020-04-13 22:23] hainest commented on #733
I would expect the compiler to behave as if though it had not been built with `--enable-default-pie` (i.e., it generates a statically-linked library that is PIC). We should definitely verify this is what is happening.

I will do that. I'm building gcc-9.3 right now, so it might be a while.

[2020-04-13 22:35] mxz297 commented on #733
I see.

By the way, are you building gcc-9.3 with spack? I find that gcc built with spack behaves quite different from the system compiler even they are the same versions. I guess the spack build gcc with a different set of configuration flags.

[2020-04-13 22:42] hainest commented on #733
Yes, I am using spack. I'll diff the configure flags once it gets built. I would imagine that gcc delivered via system packages could well have some more specific flags enabled since they are more aware of the details of the system libraries. The one built by spack is intended to be fairly generic.

[2020-04-14 02:13] hainest commented on #733
Here's the objdump for dyninst_group_test.stat_g++_64_pic_none. It doesn't look like PIC, but I'm not sure.

    ./dyninst_group_test.stat_g++_64_pic_none:     file format elf64-powerpcle

    Disassembly of section .init:

    0000000010000328 <_init>:
        10000328: 0f 10 40 3c   lis     r2,4111
        1000032c: 00 7d 42 38   addi    r2,r2,32000
        10000330: a6 02 08 7c   mflr    r0

[2020-04-14 02:14] mxz297 commented on #733
Yeah, this is not PIE.....

[2020-04-14 04:18] sashanicolas commented on #733
Indeed, I have. The script fails get the gcc 6.4 I load with the command module, and CC will still point to the old version. I have to fix it manually.

[2020-04-14 16:42] mxz297 opened #739 "Support of binary rewriting on static PIE"
Dyninst currently does not support rewriting static PIE. This is a placeholder issue.

[2020-04-14 21:16] hainest opened #740 "ParseThat ls failing on Power"
test_pt_ls,"",none,64,rewriter,NA,dynamic,nonPIC,FAILED

[2020-04-14 21:18] hainest commented on #740
This is also failing on [Zeroah](https://bottle.cs.wisc.edu/results/FAILED/701) and [Ulna](https://bottle.cs.wisc.edu/results/FAILED/671).

[2020-04-21 16:50] hainest commented on #722
We're passing everywhere now, so I'm going to close this.

[2020-04-21 16:50] #722 closed

[2020-04-21 17:23] hainest commented on #739
See also #605

[2020-04-21 17:24] hainest commented on #733
This went away when #729 was merged. Closing.

[2020-04-21 17:24] #733 closed

[2020-04-27 04:18] 9DemonFox opened #743 "/src/emitElf.C:273: std::string phdrTypeStr(Elf64_Word): Assertion `0' failed."
I use the example static instrucment  in your manual, but it failed to write the binary file. And it produced an empty file named InterestingProgram-rewrittenVkBOSI whitch ends with "VKBOSI" or "HCk1Bn" or something like these.
HELP HELP HELP

[2020-04-27 23:17] sashanicolas commented on #743
That is probably the temporary file, which was not deleted due to incomplete emission of the rewritten binary.
What branch/commit, platform (x86, power, aarch64) you're at?
What is the ```phdr_type``` passed that caused the assertion?

[2020-04-28 00:14] 9DemonFox commented on #743
I have installed the Dyninst by the source download from [https://github.com/dyninst/dyninst/releases/tag/v9.3.2] and spack,i.e. Dyninst 10.1.0.
my ubuntu version is:
 5.4.0-26-generic #30-Ubuntu SMP Mon Apr 20 16:58:30 UTC 2020 x86_64 GNU/Linux,.

**phdrTypeStr :** 0x7ffff7214ea0<phdrTypeStr[abi:cxx11](unsigned int)>

[2020-04-28 01:11] 9DemonFox commented on #743
I have tried to debug it and the value of *0x7ffff7214ea0 is -98693133

[2020-04-28 01:51] sashanicolas commented on #743
So you're using version 9.3 or 10.1? The version 9.3 is old, not supported anymore.
What are you trying to do?

[2020-04-28 02:11] 9DemonFox commented on #743
I have tried both of the two versions.
I want to realize a shadow stack which used for protecting buffer flow. and it needs  static instrucment.
So I use the example in [Dyninst manual](https://github.com/dyninst/dyninst/blob/master/dyninstAPI/doc/dyninstAPI.pdf). And the example is the first example of Appendix A .

[2020-04-28 07:19] tosanjay opened #744 "Dyninst 10.0.0 building codecoverage tool- error $PLATFORM not set"
Hello,
I am new to Dyninst and have installed Dyninst 10.1. 0. Build process went fine. I started looking at Examples directory and thought of following codecoverage tool. when running make -f Makefile.afs, i got the error that $PLATFORM not set. Did I miss anything. Also, i see in Makefile that a path $(DYNINST_ROOT)/$(PLATFORM)/lib is being accessed. In my installation directory structure, I don

[2020-04-30 05:03] mwkrentel opened #745 "parseapi missing several no-return functions"
It seems that ParseAPI's list of non-returning functions is
incomplete.  Off the top of my head, it's missing _exit(), err()
and errx().  But you probably want to scan /usr/include for a more
complete list.

----------

Here's one example from my dlstress.c test in the repo:
https://github.com/HPCToolkit/hpctoolkit-tests/tree/master/stress/dlstress

The mk_thread_args() function has two ways to re

[2020-04-30 22:53] hainest commented on #745
See also #150

[2020-05-15 03:11] mwkrentel commented on #745
I looked into how to automate finding the noreturn functions.  There
are two general approaches.  One is to scan /usr/include for attribute
`__noreturn__`.  This is possible to get about 80-90% accuracy with the
rest by manual inspection.

A better way is to use the dwarf info and the DW_AT_noreturn
attribute.  Build glibc and gcc/g++ with debug info, dump the dwarf
info, and it's easy to pick out

[2020-05-15 17:02] stanfordcox opened #747 "ParseAPI unable to parse a firefox shared object"
A user is unable to use the systemtap dyninst backend to probe firefox

The problem is parsing libxul.so.  This is a  large shared objects, over 100M; by comparison libc is 3M.

The problem is independent of systemtap and can be easily reproduced as shown in:
 https://scox.fedorapeople.org/dyninst/libxul.readme

Hopefully once libxul.so can be parsed then dyninst will be able to probe it which sho

[2020-05-15 19:53] hainest commented on #745
If DWARF has the noreturn information, then why do we need a pre-populated list? Does that DWARF information only show up with special builds of gcc/glibc?

[2020-05-15 20:17] mwkrentel commented on #745
It's Dwarf, not Elf.  So yes, you do need a special build with '-g'.

/usr/lib64/libc.so, libstdc++.so, etc are stripped and thus won't have
any of this info.

[2020-05-17 16:15] mxz297 commented on #747
@stanfordcox Is this a new problem or the same one that can be resolved by #746 ?

[2020-05-18 02:12] mwkrentel commented on #745
Ok, I finished my script (almost) and ran it on coriander.
Results are in:

[code]

The libc, libstdc++, etc libraries are in Files.  The results are in
out-*, so maybe 70 new functions missing from `CodeSource::non_returning_funcs`.

[code]

Assuming you're generally ok with this, I'll put together a PR to add
the new functions.  Some notes:

1. The libstdc++ functions that we both have, eg, `_ZS

[2020-05-18 02:42] mxz297 commented on #745
`ExitProcess` is a Windows API... Not sure about `fancy_abort` or `__sys_exit`.

[2020-05-18 02:51] mwkrentel commented on #745
Ok, fair enough.  I'm too linux/unix centric.  :-)

[2020-05-18 13:34] stanfordcox commented on #747
It is a different problem.  The summary is at:
 https://scox.fedorapeople.org/dyninst/libxul.readme
libxul.so is a _really big_ shared library: 128M
No other shared library on my fedora 31 box comes close to being this
size, next closest is /usr/lib64/libclang-cpp.so.9 (CodeDump works
fine on libclang-cpp)  Those two are much larger than any other .so

 https://scox.fedorapeople.org/dyninst/libxul

[2020-05-19 15:34] n738cu commented on #702
@hainest and @sashanicolas : Did the manual get updated to fix this?

[2020-05-19 15:36] n738cu commented on #629
@mxz297 and @mwkrentel : Did this get resolved?

[2020-05-19 15:37] n738cu commented on #605
@mxz297 and @hainest : What's the status here?

[2020-05-19 15:38] #611 closed

[2020-05-19 15:38] n738cu commented on #609
@mxz297 : What's the status of this issue?

[2020-05-19 15:39] n738cu commented on #581
@mxz297 , @hainest , @sashanicolas : What's the status of this issue?

[2020-05-19 15:40] n738cu commented on #504
@sashanicolas and @hainest : Is this fixed given the recent proccontrol improvements?

[2020-05-19 15:41] n738cu commented on #470
@mxz297 : What's the status of this issue?

[2020-05-19 15:42] n738cu commented on #150
@mwkrentel , @mxz297 , @sashanicolas , @hainest : What's the status of this issue?

[2020-05-19 15:45] n738cu commented on #717
@sashanicolas and @hainest : Any response for this?

(@mxz297 )

[2020-05-19 16:02] mxz297 commented on #609
@n738cu I don't have a good fix to this problem. When I encounter this issue, I just force saving these registers.

[2020-05-19 16:04] mxz297 commented on #629
@n738cu  No, I couldn't identify the root cause of this problem.

[2020-05-19 16:06] mxz297 commented on #605
@n738cu

Sasha @sashanicolas has some code for this, I believe they are merged.

We did not do work on this aspect.

[2020-05-19 16:09] mxz297 commented on #581
@n738cu Not sure the root cause of this issue.

[2020-05-19 16:10] mxz297 commented on #470
@n738cu I did not get a chance to work on this.

[2020-05-19 16:12] mxz297 commented on #150
@n738cu Mark's PR #748 addresses this issue.

[2020-05-19 16:12] n738cu commented on #709
Should we investigate whether instrumenting these are possible, with changes to Dyninst?

@mxz297 , @sashanicolas , @hainest , @bwelton

[2020-05-19 18:24] n738cu commented on #581
Need someone assigned to this.
@sashanicolas @hainest @mxz297

[2020-05-19 18:25] n738cu commented on #150
Please update the PR to cross reference this issue so that we know to close it.

[2020-05-19 19:14] hainest opened #749 "Building example binaries"
Make sure examples are building with top-level CMakeLists.txt and examples/CMakeLists.txt

[2020-05-19 20:34] bbiiggppiigg opened #750 "Integrating Existing Simple Examples"
A link to a simpler but outdated tutorial is here.
http://pages.cs.wisc.edu/~roundy/coverage/
It might be useful to include this example/tutorial into this project.

[2020-05-19 20:42] hainest commented on #581
@sashanicolas and I are seeing this manifest as an instrumentation issue in glibc, rather than a crash in emitElf.C. We'll continue to investigate.

[2020-05-19 21:03] MandrakeCQC commented on #750
https://www.dyninst.org/sites/default/files/apiPreprint.pdf

[2020-05-19 21:18] hainest commented on #581
@ianamason Could you retry this with 10.1? The issue we were seeing earlier was with PIE, rather than an instrumentation crash.

[2020-05-19 22:26] ianamason commented on #581
I shall see if I can dust of my vagrant box that I was using for this task.

[2020-05-20 20:09] hainest commented on #504
@n738cu No, this is a separate issue.

@mplegendre Some quick archaeology shows that this parameter's use was removed in 76eb9d44 which has the commit message

    Major rewrite of process stop/continue decision mechanism:
    - Use Counter objects to track whether we should block in the main queue
    - Use multiple StateTracker objects in place of single InternalState to track whether to stop/co

[2020-05-20 20:35] sashanicolas commented on #743
@9DemonFox

 is supposed to be unsigned. Valid numbers for it would be:
[code]

Did you get a different one from this list?

[2020-05-20 20:38] sashanicolas commented on #743
@9DemonFox this also seems to be only used to print out the name of the section for debug purpose. A quick fix would be to comment out the assertion or the the remove com print out.

[2020-05-20 21:59] mplegendre commented on #504
The parameter's not ignored.  Check the comment about macros at https://github.com/dyninst/dyninst/blob/master/proccontrol/src/process.C#L1003 and checkBlock at https://github.com/dyninst/dyninst/blob/master/proccontrol/src/process.C#L976.

The original "deadlock on process exit" in this issue was likely something else, which perhaps could be the ghost thread issue.  But that's just a guess withou

[2020-05-21 23:47] bbiiggppiigg commented on #743
@sashanicolas
I'm seeing similar issue with glibc-2.31
In my case the constant is 0x7474e553

According to this thread
https://bugzilla.redhat.com/show_bug.cgi?format=multiple&id=1748802
The problems seems to be a newly added PT_GNU_PROPERTY

[2020-05-22 00:38] sashanicolas commented on #743
@bbiiggppiigg Macros not available in elf.h are usually added to the dyninst file that use it.
As I said, that assertion does not need to be there, since that function is merely being used to return a string representation of the PT_* value, and only being used at another debug print out call.
That's a straight fix.

[2020-05-23 23:20] tylergu opened #752 "dyninst is not exported normally in Self-Propelled Instrumentation"
### Include dyninstAPI in SPI
The Self-Propelled Instrumentation project is using the dyninst as source code. As @hainest suggested, this could be due to dyninst is not exported properly in SPI, or SPI is using some innards of dyninst.
One example is:
`#include "proccontrol/src/int_process.h"`

### SPI's makefile issue
In the makefile of SPI, dyninst library's path points to platform dependent fol

[2020-05-24 22:28] hainest commented on #504
@mplegendre Thanks for the clarification.

[2020-05-24 22:28] #504 closed

[2020-05-25 01:19] hainest opened #753 "test_reloc failing on ulna.llnl.gov (ARM/ThunderX2)"
https://bottle.cs.wisc.edu/regressions?id=783

    $ gdb --args test_driver -none -64 -rewriter -dynamiclink -nonpic -g++ -v -debugPrint -test test_reloc -log tmp.log

    <snip>
	test_lib_mutateeStart.C[268]:  starting rewritten process './binaries/rewritten_test_reloc.dyn_g++_64_none_none [Detaching after fork from child process 52490]
	test_lib_mutateeStart.C[283]:  after waitForCompletion: cra

[2020-05-26 21:01] mxz297 commented on #753
@sashanicolas The key of my fix #754 is that glibc seems to contain several sections for storing code pointers. During my work on a particular x86-64 machine, I identified a few sections that contain code pointers, so the contents of these sections should be adjusted by a page. You may want to examine the libc.so on ARM to see if there are other customized sections that contain code pointers.

[2020-05-28 16:25] hainest commented on #752
From Matt's email, this is definitely an SPI bug, so I'm transferring it over there.

[2020-05-28 16:29] sashanicolas commented on #466
commit 76ab8dc429e140c23d7efc45f50154d48d761d5a fixed it

[2020-05-28 16:29] #466 closed

[2020-05-28 17:03] hainest commented on #554
@bwelton @mplegendre From #504, we know that blocking works correctly. Is the fix here to just make the calls to `waitAndHandleEvents` blocking?

[2020-05-28 17:06] sashanicolas commented on #568
@kaott did you have any more development on this? Can you upload the binaries if you're still interested?

[2020-05-28 17:41] hainest commented on #605
`isSharedLib` currently gets confused between executable shared objects and position-independent executables. The proposal is to replace `isSharedLib` with something like `is_external` which will reply "true" if the requested function is located in an binary object external to the current context. There are several definitions of `isSharedLib` throughout the codebase, so we need to make certain th

[2020-05-28 17:42] hainest commented on #679
Merge into #605.

[2020-05-28 17:42] #679 closed

[2020-05-28 18:04] sashanicolas commented on #609
@mxz297 @n738cu
Do we still want to discuss this issue?

[2020-05-28 18:04] hainest commented on #613
This was likely fixed by #754. I will re-test when I get CI on that machine working.

[2020-05-28 18:04] #613 closed

[2020-05-28 18:11] kaott commented on #568
I haven't tried much on this since my last post.

I can upload binaries, and it looks like they recently put the sources for the benchmarks on GitHub <https://github.com/eembc/coremark-pro>. However, I haven't built binaries from this version of the source code.

Let me know the best way to get you the binary.

[2020-05-28 18:21] sashanicolas commented on #619
@woodard @mxz297
Should we investigate more and eventually include NOTYPE variables or drop this issue?

[2020-05-28 18:29] hainest commented on #648
Building dependencies from source is deprecated.

[2020-05-28 18:29] #648 closed

[2020-05-28 18:29] sashanicolas commented on #568
@kaott uploading the binaries is better. I wanna try to reproduce why you couldn't find the function inst_func

[2020-05-28 18:38] hainest commented on #629
@mxz297 Do we have an example that can reproduce this?

[2020-05-28 18:43] mxz297 commented on #629
#686 contains steps for reproducing this problem.

[2020-05-28 18:48] sashanicolas commented on #635
@laksono is this still an issue?

[2020-05-28 18:51] woodard commented on #619
We can drop it

[2020-05-28 18:51] #619 closed

[2020-05-28 19:07] woodard commented on #605
in recent versions of elfutils there is a program called eu-elfclassify it captures some nuance in a practical way that maps well into how we as users tend to think of ELF as opposed to how ELF actually works. Inside of dyninst, it may be better to express characteristics of particular ELF files as opposed to having concepts that are more how humans tend to think of programs rather than being char

[2020-05-28 19:08] hainest commented on #671
@bin2415 9.3.2 is no longer supported. Could you try again with version 10.1?

[2020-05-28 19:09] laksono commented on #635
I don't know. I haven't touched Dyninst for a long time since I am too busy with other things.

[2020-05-28 19:20] hainest commented on #676
@bbiiggppiigg Could you build the current head of Dyninst on coriander using the gold linker and report any issues?

[2020-05-28 19:26] kaott commented on #568
OK, I just rebuilt the statically linked binary and static instrumentation library. Some variables have changed since the initial report: I have am now using glibc 2.30, and DynInst 10.1 (built from spack).

In the initial report the "inst_func" was just a filler name, I have also included my static mutator libraries, static library, test driver program, and a makefile to build the test driver pro

[2020-05-28 19:32] kaott commented on #568
Forgot to mention/include that when I am using DynInst I also source a script that sets up some environment variables. It is roughly as follows:

`export LD_LIBRARY_PATH=/path/to/where/mutator/libraryso`
`export DYNINSTAPI_RT_LIB=/path/to/libdyninstAPI_RT.so`

[2020-05-28 19:33] hainest commented on #709
@geanoeban

Did this work for you?

[2020-05-28 19:52] hainest commented on #750
Importantly, we need both for the mutator and the mutatee to be included with the examples in Dyninst so that we have reproducible results.

[2020-05-28 19:55] hainest commented on #744
By default, the examples are built when Dyninst is built, so you don't need to build them yourself. The binaries should be in the Dyninst build directory under "examples".

[2020-05-28 19:57] hainest commented on #730
Closing due to inactivity. Please reopen or submit a new issue, if this problem persists.

[2020-05-28 19:57] #730 closed

[2020-05-28 20:03] hainest commented on #719
This was fixed by #732

[2020-05-28 20:03] #719 closed

[2020-05-28 20:13] hainest commented on #738
Unable to reproduce. Closing. If this problem persists, please submit a new issue with all of the requisite details included.

[2020-05-28 20:13] #738 closed

[2020-05-28 20:25] n738cu commented on #609
Yes.

[2020-05-28 20:34] n738cu commented on #605
Right.  We'll look at this in detail soon.

Remember that this can't be ELF-specific, as we have to provide
abstractions that work on other platforms including Windows.

--bart

On 2020-05-28 2:07 PM, Ben Woodard wrote:

[2020-05-28 20:42] hainest commented on #727
@bjchan9an What version of Dyninst are you using? What is the compiler and version? How did you build Dyninst (specifically, what options did you pass to `cmake`)?

@mxz297 Do you have any thoughts on this?

[2020-05-29 07:39] tosanjay commented on #744
Ok. Thanks @hainest . As coming from Intel Pin user community, I immediately felt that an example makefile (like the one given with Pin) wherein all we have to do is to indicate our target and just run `make` would make it great.

[2020-05-29 16:21] stanfordcox opened #756 "excessive memory consumption while probing larger apps"
Using the systemtap dyninst backend, it  runs into trouble while probling a larger app with many large shared objects.

Probing an app like firefox or emacs that pulls in many large shared objects can frequently get a SIGTERM due to excessive process memory use while doing the initial bpatch.processAttach

To reproduce without use of stapdyn download:
 https://scox.fedorapeople.org/dyninst/mutator

[2020-05-29 16:46] mxz297 commented on #756
Stan and I have been working the memory usage problem for several days.

I ran a heap memory profiler (https://github.com/KDE/heaptrack) with Stan's reproducer in a Fedora 31 docker image. The summary output are:

[code]

Basically, all memory is leaked. I am not totally surprised by this huge amount of leaks because Dyninst does not carefully free memory before exiting. For Dyninst, the leaked me

[2020-05-29 17:05] hainest commented on #724
@kaott Could you provide a reproducer either in source or binary form?

[2020-05-29 17:14] sashanicolas commented on #735
After some work done on this, and our last call, it's clear that there's no need of DW_AT_GNU_locviews info.

[2020-05-29 17:14] #735 closed

[2020-05-29 17:44] kaott commented on #724
Here is a smallish test bed that reproduces the problem. Included is a driver program for DynInst, a makefile, the mutator library, and a sample binary I am looking to modify.
[files_rdi.tar.gz](https://github.com/dyninst/dyninst/files/4703351/files_rdi.tar.gz)

The makefile will need to be updated to point to the correct paths for the DynInst install location.

The following environment variables

[2020-05-29 18:24] hainest commented on #756
@mxz297 There are some existing memory leak fixes in #317 that might be of use here. I was going to cherry-pick that PR into a new one, but I don't want to step on your work here.

[2020-05-29 20:07] mxz297 commented on #756
@hainest Those fixes in #317 are unlikely to be applicable. I updated the leaks with related changes that I have done. The peak memory usage went down from 14.5G to 10.8G. Will see if there are still any low hanging fruits.

[2020-05-29 20:23] hainest commented on #756
@mxz297 Ok. I'll go ahead and cherry-pick 317.

[2020-05-30 06:14] hainest opened #759 "Create BSD fork of instruction semantics for ROSE project"
ROSE only needs the abstract syntax tree obtained from decoding the instruction. All I/O (including implicit I/O like adjusting instruction pointer, stack pointer, flags, etc) are part of ROSE's semantics layer instead.

So I think we'll plan to use Capstone rather than Dyninst's decoder since this is a direction I'd like to move with some of the other ROSE decoders also.  Therefore, license-wise,

[2020-05-30 06:15] hainest commented on #744
I've not used Intel Pin before. Could you elaborate on how you use their Makefiles to run their examples?

[2020-05-30 20:22] hainest commented on #728
These aren't happening anymore. Closing.

[2020-05-30 20:22] #728 closed

[2020-05-30 21:28] #747 closed

[2020-05-31 03:58] hainest opened #761 "test_reloc failing on quartz.llnl.gov (x86_64)"
`test_reloc` is consistently failing on [quartz](https://bottle.cs.wisc.edu/search?hostname=quartz&since_date=2020-05-20), but gdb isn't much use in tracking down the problem (an example output is below). This is gcc-8.1 and glibc-2.17.

@sashanicolas @mxz297 Any suggestions on what to try next?

	Starting program: ./test_driver -64 -rewriter -g++ -dynamiclink -nonpic -test test_reloc -log tmp.log

[2020-05-31 04:04] mxz297 commented on #761
@hainest Try:

1. `DYNINST_REWRITER_NO_UNLINK=1 ./test_driver -64 -rewriter -g++ -dynamiclink -nonpic -test test_reloc -log tmp.log`

2. Go to the binary or binaries directory.

3. Run `./rewritten_test_reloc... -run test_reloc`

If you see things like

[code]

Then it is the loader bug we have encountered several times.

[2020-05-31 04:17] hainest commented on #761
It only segfaults when I add '.' to LD_LIBRARY_PATHS.

	$ export OMP_NUM_THREADS=2
	$ export DYNINSTAPI_RT_LIB=...
	$ export my_ld_paths=$(pwd):$(pwd)/../dyninst/lib

	$ LD_LIBRARY_PATH=$my_ld_paths:$LD_LIBRARY_PATH DYNINST_REWRITER_NO_UNLINK=1 ./test_driver -64 -rewriter -g++ -dynamiclink -nonpic -test test_reloc -log tmp.log

	$ cd binaries
	$ ./rewritten_test_reloc.dyn_g++_64_none_none_24810000

[2020-05-31 04:21] mxz297 commented on #761
Right. Add "." to LD_LIBRARY_PATH will cause the test to use the instrumented libraries. Otherwise, the test will run with the original system libraries and will pass normally.

Then it looks like that this is not the loader problem. Honestly, being able to reliably instrumenting system libraries will need significant more work...

[2020-05-31 04:27] hainest commented on #761
I think Sasha was running into this previously, as well, on some ARM work he was doing. I will see if I get the same results when I try this on #753. If so, I'll merge them and we can leave it as a reminder issue for future work.

[2020-05-31 07:41] tosanjay commented on #744
Ok. So here is how it works in Pin:
When you download Pin, there are several examples comes with it (e.g. if you check ~/pin-3.7/source/tools/ManualExamples). In that directory, there is a Makefile like the below and another (sort makefile) makefile.rules. All I have to do it to set environment variable PIN_HOME (or PIN_ROOT) and just add the name of the target (lib to be compiled) in the makefile

[2020-06-01 04:15] hainest opened #762 "Incorrect instrumentation in libc"
This is a combination of #753 and #761 using master(952dae51a).

On ulna.llnl.gov (ARM/ThunderX2) using gcc-8.3.1, glibc-2.17, and RHEL 7.6, I get

	$ export OMP_NUM_THREADS=2
	$ export DYNINSTAPI_RT_LIB=$(pwd)/../dyninst/lib/libdyninstAPI_RT.so
	$ export my_ld_paths=$(pwd):$(pwd)/../dyninst/lib:$LD_LIBRARY_PATH
	$ LD_LIBRARY_PATH=$my_ld_paths DYNINST_REWRITER_NO_UNLINK=1 ./test_driver -64 -rewrit

[2020-06-01 04:15] hainest commented on #761
Subsumed by #762.

[2020-06-01 04:15] #761 closed

[2020-06-01 04:15] hainest commented on #753
Subsumed by #762.

[2020-06-01 04:15] #753 closed

[2020-06-01 19:19] hainest commented on #702
@stevenagy Does Xiaozhu's suggested change make the example work for you?

[2020-06-01 22:52] hainest commented on #750
@bbiiggppiigg Could you submit a PR with the updated code you have from the linked tutorial page?

[2020-06-01 22:53] hainest opened #763 "Create working examples from Buck&Hollingsworth paper"
@MandrakeCQC Could you extract the examples from that paper and turn them into working examples- including a sample mutatee for each one, and submit a PR for that? Definitely feel free to work with any of us to get started on the conversions.

[2020-06-01 23:01] hainest commented on #514
@bwelton Is this still an issue that needs to be fixed?

[2020-06-01 23:02] hainest commented on #475
@bwelton Is this still an issue?

[2020-06-01 23:43] #150 closed

[2020-06-01 23:43] #745 closed

[2020-06-02 04:05] bbiiggppiigg commented on #750
@hainest
1. do you want it to be tutoiral-like ( with todos) ?
2. if so, should it be in separate tutorial folder under examples ?

[2020-06-02 14:00] mxz297 commented on #756
Closed via #758

[2020-06-02 14:00] #756 closed

[2020-06-02 14:57] #743 closed

[2020-06-02 15:03] hainest commented on #749
We're moving all examples over to the https://github.com/dyninst/examples repo.

[2020-06-02 15:03] #749 closed

[2020-06-02 15:34] hainest commented on #744
Ah,ok. Thanks for this. Quite by happenstance, we now have someone dedicated to porting our examples to their own repository (https://github.com/dyninst/examples), so I'll definitely keep this example in mind when designing the build structure there. It will be a while before everything is up and running over there, but definitely let us know if you encounter any other issues.

[2020-06-02 15:34] #744 closed

[2020-06-03 01:09] stevenagy commented on #702
Yes, that's what I've been using. Thank you!

[2020-06-03 06:27] Villyli opened #765 "libstackwalk.so.10.1: error adding symbols: DSO missing from command line"
$ make
g++ -g -Wall -std=c++11  modify.cpp  -ldyninstAPI -lelf -ldw  -lpthread -lrt   -o modify
/usr/bin/ld: /tmp/ccVKf1u9.o: undefined reference to symbol '_ZNK7Dyninst11Stackwalker5Frame7getNameERNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEE'
//usr/local/lib/libstackwalk.so.10.1: error adding symbols: DSO missing from command line
collect2: error：ld return 1
Makefile:7: recipe for target

[2020-06-03 21:25] hainest commented on #765
You need to add a linker flag for each Dyninst module you use (and often `libcommon`). Something like

    g++ -g -Wall -std=c++11 modify.cpp -ldyninstAPI -lstackwalk -lcommon -llelf -ldw -lpthread -lrt -o modify

[2020-06-03 23:29] hainest commented on #394
This is going to get some attention soon, so we should also upgrade code like

	auto it = container.begin();
	for(; it != container.end(); ++it) {
		some_type *x = *it;
		...
	}

to use range-based for loops

	for(auto *x : container) {
		...
	}

since we now require full C++11 support.

[2020-06-03 23:30] hainest commented on #514
@mxz297 You mentioned on the team call yesterday that you will be looking into trampoline stuff on PPC. Does this coincide with any of that work?

[2020-06-04 02:29] Villyli commented on #765
I changed my code to use like MachRegisters::86_x64, and it works while using -lcommon and -lboost_system.

However, while using stackwalker, I added these link provided by [issue#440](https://github.com/dyninst/dyninst/issues/440), which includes -lconmon and it still doesn't work.
`-ldyninstAPI -lparseAPI -linstructionAPI -lsymtabAPI -lsymLite -ldynDwarf -ldynElf -lcommon -lpcontrol -ldwarf`

An

[2020-06-04 21:51] bin2415 opened #766 "un-decoded instruction of `adcx`"
**Intention**
Disassemble the binary code.

**Describe the bug**
Dyninst failed to disassemble `adcx` instruction.

This is the disassembly code from objdump:
[code]

This is the debugging log from dyninst:

[code]

It seems that dyninst can't handle `adcx` properly.

**To Reproduce**

binary code with symbols:
[openssl.zip](https://github.com/dyninst/dyninst/files/4732687/openssl.zip)

**Expected

[2020-06-04 21:59] mxz297 commented on #514
@hainest No, what I mentioned was not related to this issue.

[2020-06-04 22:46] mxz297 commented on #766
We are aware of the the limitations in our own instruction decoder. We plan to switch to use Capstone as our decoding back end (see #638), and this work is in progress. Therefore, we do not plan to fix instruction decoding related issues.

[2020-06-04 22:52] bin2415 commented on #766
Great, looking forward to the decoding backend that based on Capstone!

[2020-06-04 22:52] #766 closed

[2020-06-05 03:02] hainest commented on #765
What is the specific error you are getting?

I think your installation is bad. You should remove all of the Dyninst libraries and re-install (preferably version 10.1).

The name of the library file is `libstackwalk.so`, so the linker flag is `-lstackwalk`. This is the convention used by linux linkers (at least all the ones I've seen).

Right now, you can't. Eventually, we want to update our build

[2020-06-06 14:57] #765 closed

[2020-06-08 09:23] adahsuzixin opened #767 "support for all x86 instruction extensions？"
Hi, I have a question for instruction decoding support for x86 instruction extensions.
Do we support all the following extensions instructions in x86?
- SSE
- SSE2
- SSE3
- SSSE3
- SSE4.1
- SSE4.2
- AVX
- AVX2
- AVX512

[2020-06-08 16:25] mxz297 commented on #767
Dyninst's current home grown instruction decoder for x86/64 covers many of the instructions you mentioned, but does not have a robust and complete support. We are in the process of moving to use external instruction decoders such as Capstone for instruction decoding. This effort is in progress (see PR #638).

[2020-06-09 00:42] adahsuzixin commented on #767
Yes, [#638](https://github.com/dyninst/dyninst/pull/638) is a significant improvement.
I hope this PR can be merged ASAP. ^_^

[2020-06-09 00:59] mxz297 commented on #767
#638 is waiting for Capstone to merge my improvement to Capstone (https://github.com/aquynh/capstone/pull/1604). Current Capstone misses lots of instruction operand read and write information.

[2020-06-09 04:58] adahsuzixin commented on #767
cool~
Waiting for your good new!

[2020-06-09 18:53] hainest commented on #605
There was a recent [article](https://www.ret2rop.com/2020/05/canary-pie-byte-bruteforce.html) about defeating Linux fortifications like ASLR which requires detecting PIE. They were doing that using the [checksec](https://www.trapkit.de/tools/checksec.sh) script which just does some very simple parsing of readelf's output. I did a quick test using gcc-4.4, gcc-9.1, clang-3.9, and clang-10 and it wo

[2020-06-23 23:54] mxz297 opened #769 "SymtabAPI does not understand extended numbering in ELF"
The section header size, program header size, and section name string table index fields in the ELF executable header are only 2 bytes long, so are not  capable of representing numbers larger than 65535. Then these values exceed the value range of a 2 byte unsigned integer, ELF will use an extended numbering mechanism, which will use the zeroth section header table entry to solely store these thre

[2020-06-25 02:33] aruncgowda opened #770 "facing problem configuration"
@sashanicolas

cmake /path/to/dyninst/source -DCMAKE_INSTALL_PREFIX=/path/to/installation

sir iam facing problem in this command
could you please explain this command

configure: error: zlib not found but is required
CMakeFiles/LibElf.dir/build.make:108: recipe for target 'libelf/src/LibElf-stamp/LibElf-configure' failed
make[2]: *** [libelf/src/LibElf-stamp/LibElf-configure] Error 1
CMakeFiles/M

[2020-06-25 02:37] aruncgowda opened #771 "configure problem"
@dutta-alankar

cmake /path/to/dyninst/source -DCMAKE_INSTALL_PREFIX=/path/to/installation

sir iam facing problem in this command
could you please explain this command

configure: error: zlib not found but is required
CMakeFiles/LibElf.dir/build.make:108: recipe for target 'libelf/src/LibElf-stamp/LibElf-configure' failed
make[2]: *** [libelf/src/LibElf-stamp/LibElf-configure] Error 1
CMakeFiles/

[2020-06-25 02:39] sashanicolas commented on #770
you need to install zlib

[2020-06-25 03:05] aruncgowda commented on #770
@sashanicolas
thank u sir

[2020-06-25 03:06] aruncgowda commented on #770
@sashanicolas
now i am facing this problem sir

[ 16%] Linking CXX shared library libcommon.so
/usr/bin/ld: cannot find -lboost_thread
/usr/bin/ld: cannot find -lboost_system
/usr/bin/ld: cannot find -lboost_date_time
collect2: error: ld returned 1 exit status
common/CMakeFiles/common.dir/build.make:1088: recipe for target 'common/libcommon.so.9.3.2' failed
make[2]: *** [common/libcommon.so.9.3.2]

[2020-06-25 03:08] aruncgowda commented on #419
i am facig same problem
how to fix it??

[2020-06-25 03:15] sashanicolas commented on #770
You need to install boost.
If you use [Spack](https://github.com/spack/spack), it will do all the job for you. It seems like you're missing a lot of Dyninst dependencies.
```spack install dyninst```

[2020-06-25 18:55] #771 closed

[2020-06-26 07:22] aruncgowda commented on #770
-- Up-to-date: /home/sharma/.local/lib/libdynC_API.so.9.3.2
-- Up-to-date: /home/sharma/.local/lib/libdynC_API.so.9.3
-- Up-to-date: /home/sharma/.local/lib/libdynC_API.so
-- Up-to-date: /home/sharma/.local/include/dynC.h
-- Up-to-date: /home/sharma/.local/include/snippetGen.h
-- Up-to-date: /home/sharma/.local/include/dynC.h
-- Up-to-date: /home/sharma/.local/include/snippetGen.h
-- Up-to-date: /

[2020-06-27 14:51] aruncgowda commented on #770
@sashanicolas
i did not get any response sir

-- Up-to-date: /home/sharma/.local/lib/libdynC_API.so.9.3.2
-- Up-to-date: /home/sharma/.local/lib/libdynC_API.so.9.3
-- Up-to-date: /home/sharma/.local/lib/libdynC_API.so
-- Up-to-date: /home/sharma/.local/include/dynC.h
-- Up-to-date: /home/sharma/.local/include/snippetGen.h
-- Up-to-date: /home/sharma/.local/include/dynC.h
-- Up-to-date: /home/sharm

[2020-06-27 15:59] alderson41 opened #773 "Make install failing"
make install failing

os: ubuntu 18.04 (x86_64)

Error logs:

[  1%] Built target LibDwarf
[  3%] Built target boost
[  3%] Building DyninstRT
[ 50%] Built target dyninstAPI_RT_static
[100%] Built target dyninstAPI_RT
[  3%] Built target DyninstRT
[  5%] Built target LibIberty
[ 15%] Built target common
[ 15%] Built target dynElf
[ 17%] Built target dynDwarf
[ 17%] Built target symLite
[ 26%] Buil

[2020-06-27 16:10] alderson41 commented on #773
tried installing through spack, but it wasn't successful.

Log:

==> Installing gettext
==> Searching for binary cache of gettext
==> Warning: No Spack mirrors are currently configured
==> No binary for gettext found: installing from source
==> Fetching https://ftpmirror.gnu.org/gettext/gettext-0.20.1.tar.xz
-=O=- #   #   #    #
curl: (60) SSL certificate problem: certificate has expired
More deta

[2020-06-27 22:38] hainest commented on #773
You need to be root to install in /usr/local/lib. Also, Dyninst 9.X is no longer supported. I would recommend upgrading to Dyninst 10.1.

That's weird. I'm able to fetch gettext with curl without any certificate errors. You might just try again. If you continue to have issues, check the output of `spack -d install -v dyninst`.

[2020-06-28 07:27] aruncgowda opened #774 "configuration unsuccessfull"
@hainest
i am trying this from last week but i am unsuccessfull .please help me to install dyninst

- The C compiler identification is GNU 7.5.0
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for working C compiler: /usr/bin/cc - skipped
-- Detecting C compile features
-- Detecting C compile features - done
-- -- Input platform: x86_64-unknown-linux2.4
-- Set arc

[2020-06-28 07:28] aruncgowda commented on #774
@hainest
this is my cmakeoutput.log

Performing C SOURCE FILE Test CMAKE_HAVE_LIBC_PTHREAD failed with the following output:
Change Dir: /home/sharma/dyninst/CMakeFiles/CMakeTmp

Run Build Command(s):/usr/bin/make cmTC_1ee27/fast && /usr/bin/make  -f CMakeFiles/cmTC_1ee27.dir/build.make CMakeFiles/cmTC_1ee27.dir/build
make[1]: Entering directory '/home/sharma/dyninst/CMakeFiles/CMakeTmp'
Building

[2020-06-28 07:30] aruncgowda commented on #774
@hainest
i used this commands to install dyninst

sudo apt-get update
sudo apt-get install zlib1g-dev
sudo apt-get install libpng-dev
sudo apt-get install libboost-all-dev

git clone https://github.com/dyninst/dyninst.git
cd dyninst
git checkout -b v9.3.2

cmake /home/yourusername/dyninst -DCMAKE_INSTALL_PREFIX=$HOME/.local
make install

i have been stucked from one week .please say the command to

[2020-06-28 12:40] hanushgowrav66 commented on #773
@hainest
What are the commands to install  **_spack_**?
Please mention the commands.

[2020-06-28 15:00] alderson41 commented on #773
@hainest i tried with sudo, and got same output.
I removed cmake cache and tried again and got same results.

I was trying to build dynist as a frontend for mcsema,
In mcsema requirements they have specified to use dyninst 9.3.2

[2020-06-28 19:09] bbiiggppiigg commented on #774
@aruncgowda
Can you please install libpthread-stubs0-dev and see if this help?
And if you run into some latex related problem, try to install textlive-recommended
I think m4 is also required if you haven't install it.

[2020-06-28 19:09] #770 closed

[2020-06-29 04:18] aruncgowda commented on #774
@bbiiggppiigg
thank you
i used this commad
cd dyninst
cmake  /home/sharma/dyninst

i am getting this warnings n errors

-- Boost version: 1.65.1
-- Found the following Boost libraries:
--   atomic
--   chrono
--   date_time
--   filesystem
--   system
--   thread
--   timer
-- Boost includes: /usr/include
-- Boost library dirs: /usr/lib/x86_64-linux-gnu
-- Boost thread library: /usr/lib/x86_64-lin

[2020-06-29 04:23] aruncgowda commented on #773
@alderson41
even i am also trying to build dyninst as a frontend for mcsema,but its not working.
if u find any solution please post it.

[2020-06-29 15:29] alderson41 commented on #773
Successfully built dyninst through cmake.
Closing this issue

[2020-06-29 15:29] #773 closed

[2020-06-29 16:48] hainest commented on #774
Please follow the instructions from the issue template when submitting build errors. We need to know what your environment looks like in order to give you any useful information. Also, please use gists or attachments for submitting error logs. Posting them directly into an issue makes them hard to follow.

---

You either need to install a LaTeX library or disable building the Dyninst documentatio

[2020-07-01 16:41] voitiz opened #775 "BPatch_variableExpr with 64-bit pointer"
I have the following code, which tries to call a function called "printint" and pass a 64-bit pointer which it gets from a local variable:

[code]

The mutatee function is as follows:
[code]

[code]

For some reason printint only gets the lower 32-bit of the pointer and not the full 64-bit.
When passing a BPatch_constExpr((unsigned long long)-1) the full 64-bit value is passed correctly.
calling g

[2020-07-06 13:18] Ruturaj4 opened #777 "unstrip: linkage errors during buld"
I installed dyninst using spack on ubuntu wsl. The installation was successful. But, when I try to build "unstrip" example, it gives me following linkage (?) errors (I have attached only a few of them):

[code]

Makefile (only changes):

[code]

source of errors is the following command:

[code]

Any help is appreciated. Thanks in advanced.

[2020-07-07 00:46] hainest commented on #777
I'm not sure why it failed. You are clearly linking against libinstructinAPI. Could you attach the entire error message (or create a gist)?

---

P.S. We are updating these examples to make building them much easier.

[2020-07-07 01:14] Ruturaj4 commented on #777
Hi @hainest,

The entire error message as requested:

[code]

[2020-07-07 01:37] bbiiggppiigg commented on #777
you might want to try to link boost_system as well.

[2020-07-07 18:52] mxz297 commented on #769
Closed via #776

[2020-07-07 18:52] #769 closed

[2020-07-07 18:55] mxz297 commented on #777
@Ruturaj4 You need to reorder your compilation command. Specifically, you need to put the libraries after the .o files:

[code]

[2020-07-07 19:54] Ruturaj4 commented on #777
Thanks for your helpful comments.

I used following:

`g++ -g -std=c++11 -o unstrip unstrip.o  callback.o database.o fingerprint.o semanticDescriptor.o types.o util.o -I/mnt/d/Ruturaj/binary_research/dyninst/spack/opt/spack/linux-ubuntu16.04-skylake/gcc-9.3.0/dyninst-10.1.0-7x5vmh6mvxxkvc6jnbuhoig4qgqldknh/include  -I/mnt/d/Ruturaj/binary_research/dyninst/spack/opt/spack/linux-ubuntu16.04-skylake/

[2020-07-07 20:00] mxz297 commented on #777
@Ruturaj4 `LD_LIBRARY_PATH` is not used during linking. You need to add

`-L/mnt/d/Ruturaj/binary_research/dyninst/spack/opt/spack/linux-ubuntu16.04-skylake/gcc-9.3.0/boost-1.73.0-vumm32wsagdx27tj6oicox24nheo5itt/lib`

in your compilation command.

[2020-07-07 21:10] hainest opened #778 "Test regressions on coriander (glibc-2.31 issues)"
Coriander was upgraded to Ubuntu 20.04 which comes with glibc-2.31 and gcc-9.3.

https://bottle.cs.wisc.edu/details/926

[2020-07-08 12:40] Ruturaj4 commented on #777
Thanks I tried that, still the same error.

[2020-07-08 18:07] hainest commented on #777
@Ruturaj4 Could you try using the new [examples](https://github.com/dyninst/examples) repo?

[2020-07-14 18:51] Ruturaj4 commented on #777
Hi @hainest I tried that as well. Using following command:

`cmake . -DDyninst_DIR=/mnt/d/Ruturaj/binary_research/dyninst/spack/opt/spack/linux-ubuntu16.04-skylake/gcc-9.3.0/dyninst-10.1.0-7x5vmh6mvxxkvc6jnbuhoig4qgqldknh/lib/cmake/Dyninst`

and then:

`make`

which gives me following error:

[code]

I believe that it is related to linking.

[2020-07-22 23:09] hainest commented on #777
No, it's a compilation error. Did you see any warnings come from CMake?

[2020-07-24 21:15] #741 closed

[2020-07-27 19:50] kupsch commented on #717
I am able to recreate this issue, by building the latest dyninst repo, and the dyninst/examples repo on the host coriander.cs.wisc.edu (Ubuntu 20.04, gcc 9.3.0, ld 2.34).  I ran the codeCoverage example as described in its README.md:

[code]

The result is non-deterministic, when starting with the same input same input directory (files in attached [codeCoverage-initial.tar.gz](https://github.com/d

[2020-07-28 18:45] sashanicolas opened #782 "Remove references to class miniTramp"
class miniTramp has been removed, but references to it remains in the code base.

[2020-07-31 18:59] hainest opened #785 "Improve ghost thread handling"
The changes in #784 should add an event to proccontrol's mailbox in the case that handle_ghost_thread returns 'false' (i.e., it wasn't actually a ghost thread).

From Matt's email:

But there’s a hypothetical bug where a user could have asked for a program to be run, this ghost-thread situation happens, and nothing actually got run.  If the user blocks waiting for some event after this happens, th

[2020-07-31 19:46] hainest opened #786 "Clean up serialization"
Serialization was disabled in 2ead336f. The code should either be removed or documented as to why it should remain. There are several tests in the test suite that should be correspondingly updated.

@mplegendre You disabled serialization back in 2012. Is there a reason this code should still be around? For the code that is enabled when `SERIALIZATION_DISABLED` is false, should it stay? Is it part

[2020-07-31 20:31] hainest commented on #775
@mxz297 @sashanicolas Do you have any thoughts on this?

[2020-07-31 20:33] mxz297 commented on #775
@hainest This should be a bug in code gen for `BPatch_variableExpr`

[2020-07-31 20:45] hainest commented on #767
Closing. We hope to be using Capstone soon, but we are still waiting for them to accept our changes. Please let us know if you have any other questions.

[2020-07-31 20:45] #767 closed

[2020-07-31 20:46] hainest commented on #774
Closing due to inactivity. Please create a new issue if you are unable to resolve this issue.

[2020-07-31 20:46] #774 closed

[2020-07-31 22:12] hainest commented on #727
Closed due to inactivity. Please file another issue if this problem has not been resolved.

[2020-07-31 22:12] #727 closed

[2020-07-31 22:14] hainest commented on #709
Closing due to inactivity. Please file a new issue if this is still a problem.

[2020-07-31 22:14] #709 closed

[2020-07-31 22:16] hainest commented on #671
Closing due to inactivity. Please create a new issue if this problem persists.

[2020-07-31 22:16] #671 closed

[2020-08-03 21:53] hainest opened #792 "Remove cotire from build system"
Versions 9.3.x used cotire, but have no knob to turn it off. Cotire has no real use for one-time builds and can break parallel builds with both static and shared libs.

[2020-08-03 22:51] mplegendre commented on #786
That was old functionality to serialize parsing results to disk, which would make re-opening binaries faster.  It never really worked well or got used.  So I think you can safely kill it.

[2020-08-06 01:22] hainest opened #794 "Update dyner"
https://github.com/dyninst/tools/tree/master/dyner

@bigtrak Is that the correct repo?

[2020-08-06 14:28] bigtrak commented on #794
That's the one in dyninst; the one that I tried which
had updates more recent is ...

https://github.com/yuroc0598/tools.git

I didn't realize that dyninst/tools held dyner; google lead
me to the other version of dyner -- not the one in dyninst!

Bolo

[2020-08-12 08:29] rejohn commented on #725
I meet the same problem with clang and libc++ in x86_64, is there any solution?

[2020-08-12 18:56] hainest commented on #725
@rejohn I'm working on Clang support in Dyninst (see #631), but an immediate workaround is to use `-stdlib=libstdc++` when building with clang.

[2020-08-13 01:35] rejohn commented on #725
@hainest, thank you, it looks good. And is there any way to build with libc++?  whatever use gcc  or clang as compiler.

[2020-08-13 10:39] rejohn commented on #725
BTW. what is the minimum version libstdc++ that supports  dyninst ?

[2020-08-14 04:35] hainest commented on #725
gcc has no way to change which stdlib it uses, so you can't use libc++ with it.

Not yet. I have several milestones for FY21 (starting Oct 1, 2020) to work on this. I'm hoping to get it working before the end of the year.

[2020-08-15 10:14] rejohn commented on #725
@hainest  ok, hope to see the good news.. And another question is,  if using libstdc++, what's the minimal version of libstdc++ can I use ? (for dyninst 10.1.0)

[2020-08-15 23:18] hainest commented on #725
That's a good question. This is not something we track, currently. Dyninst requires a fully C++11 compliant compiler with the new ABI. This requires at least gcc-5, but I'm not sure what the corresponding libstdc++ version would be for that. Dyninst is regularly tested using gcc-7, gcc-8, and gcc-9, so any of those should work.

P.S. We recently released Dyninst 10.2.0, and I highly recommend upgr

[2020-08-17 02:12] hainest opened #800 "Verify that the existing documentation examples compile"
Some of the examples have been moved over to the dyninst/examples repository. Those are working fine, so we don't need to worry about them. However, there are still a few examples in the documentation, itself. Some of them are snippets that aren't complete, but we should make sure they are still reflective of the current APIs.

[2020-08-17 02:29] hainest commented on #609
@mothran Do you see this issue when you disable `BUILD_RTLIB_32`?

[2020-08-17 02:37] hainest commented on #521
@sashanicolas From the Google doc, there is a note to verify that we return an error if > 8 params.

[2020-08-17 02:42] hainest commented on #718
NB: This is *not* an ABI breaker since BPatch_Vector is just a macro for `std::vector`.

[2020-08-17 03:43] hainest commented on #707
vxworks has been broken since 0bc3980d1 (2011).

[2020-08-18 05:31] hainest commented on #702
@mxz297 I can't find anywhere in the documentation or the code that indicates that a `BPatch_module` is convertible to a `PatchObject`. They all indicate that only a `BPatch_object` is convertible to a `PatchObject` and a `BPatch_module` convertible to a `SymtabAPI::Module`. Am I missing something in the type hierarchy?

@stevenagy Could you update the example code you posted to include the fix yo

[2020-08-18 06:02] hainest opened #802 "DynObject needs a virtual dtor"

[2020-08-18 16:28] mxz297 opened #803 "Parsing .eh_frame for function entries"
Modern compilers almost always emit quite comprehensive stack unwinding information for functions. In stripped binaries, Dyninst's current machine learning models seem to be ineffective.

I used hpcfnbounds2 (@jmellorcrummey) on a stripped share library, which finds about 200K functions, while Dyninst-10.2 with gap parsing only finds about 20K functions.

[2020-08-18 22:59] stevenagy commented on #702
From looking at my code (it's been a few months :P) it seems I abandoned PatchObject entirely and switched to a BPatch-based implementation, with some ParseAPI sprinkled in.

[2020-08-19 17:10] hainest commented on #702
@stevenagy Ah, ok. That's what I assumed. Thanks for your help!

There is nothing to change in the documentation. Closing.

[2020-08-19 17:10] #702 closed

[2020-08-20 05:18] hainest commented on #778
The ability to `dlopen` a PIE was removed in [glibc-2.30](https://patchwork.ozlabs.org/project/glibc/patch/20190312130235.8E82C89CE49C@oldenburg2.str.redhat.com/). This functionality actually never worked ([source](https://stackoverflow.com/questions/59074126/loading-executable-or-executing-a-library)), so it's removal doesn't remove correct functionality.

[2020-08-20 06:33] rejohn opened #804 "Abort while parse sad_sse2.o which in project rav1e"
I use dyninst 10.1.0 to  parser some project, and encounter Abort while parse sad_sse2.o, which is a object file in rav1e(https://github.com/xiph/rav1e)
Info :
 void Dyninst::ParseAPI::Block::addTarget(Dyninst::ParseAPI::Edge*): Assertion `e->_target_off == end()' failed.

It seems that  sad_sse2.o exists some  unresolvable control flow, and in link_block function, while linking from a src block t

[2020-08-21 07:47] rejohn opened #806 "Parser got a wrong result : "popq ($rsi)""
@hainest ,hi,
    I parser some object file, and I found parser instruction "popq ($rsi)；retq" will get a wrong result:
(pop to a register is right, but pop to a memoryaddress ,the result is wrong):

objdump info:

00000000000000000 <tt>:
	0:	55		push %rbp
	1:	48 89 e5		mov %rsp,%rbp
	4:	68 12 12 00 00 	pushq %0x1212
	9:	8f 06		popq （%rsi）
	b:	c3		retq
	c:	90		nop
	d:	5d		pop %rbp
	e:	c3		retq

An

[2020-08-21 08:17] hainest commented on #806
@mxz297 @sashanicolas Could one of you look into this?

[2020-08-21 08:19] hainest commented on #804
Could you upload the object file as an attachment to this issue? What options did you use to build Dyninst? Have you tried this with Dyninst 10.2.0?

[2020-08-21 08:22] #782 closed

[2020-08-21 10:38] ManojKumarChauhan opened #807 "Application is crashing for golang binary"
I am using dyninst library 10.1.0 with libInst.  My application is crashing after instrumenting a method in main.main.

Steps:
1. Create a golang shared binary from echo.go

2. Using codeCoverage.C to instrument the methods of golang binary

open the binary using  and load libInst library
BPatch bpatch;
BPatch_binaryEdit *appBin = bpatch.openBinary (inBinary, true);
const char *instLibrary = "libI

[2020-08-23 01:47] hainest opened #808 "Update dyninst/common/h/dyn_syscalls.h?"
The reference files for the system calls are from 2013. Does this need to be updated?

[2020-08-23 04:03] hainest opened #809 "Doxygen supported?"
There are two Doxygen-like files (instructionAPI/src/groups.C, ./instructionAPI/instructionAPI.conf). Do we need these? Is Doxygen supported anymore?

[2020-08-24 22:18] hainest opened #810 "Clean up orphaned code"
While working on a bug with dlopen, I found that there are many files in the repo that are not part of the build system, `#include`d directly in another file, or part of a file glob. This code is effectively orphaned and no longer part of Dyninst. Some of it is from unsupported platforms (e.g., wtxKludges is for vxworks and BG_AuxvReader is for BlueGene/P ION). I will create separate PRs to remove

[2020-08-24 22:40] hainest commented on #810
@mxz297 @sashanicolas

Some of these files have been around since the beginning of Dyninst (e.g., dyninstAPI/src/BPatch_templates.C), so I would think they might have some use. Some were part of previous dead code removal attempts (bbc9ff65590f38dfe7d26e0c881f10c17932b4ec). Do either of you see anything in here that definitely *should* be saved? I'll manually verify when these files were orphaned,

[2020-08-25 04:39] hainest opened #811 "Remove deprecated code from rose semantics"
A great deal of code was deprecated in 2015/2016 in the rose semantics parts of dataflowAPI. Since we're taking a API break in 11.0, now is a good time to clean this up.

Also, SMTSolver.C was commented out from parseAPI/CMakeLists.txt in 2016, so remove that, as well.

dataflowAPI/rose/semantics/ConcreteSemantics2.C was removed by 558227822b7c7e185a4e1b08dbd62322567c24fe, so remove it, as well.

[2020-08-25 04:44] hainest commented on #810
dyninstAPI/dyninstAPIsrc/dummy.C should have been removed by 66207c950

[2020-08-25 12:39] mxz297 commented on #810
`dyninstAPI/src/Relocation/Transformers/Defensive.C` may be related to malware analysis.

[2020-08-25 20:48] stanfordcox opened #812 "cmake fails when configured with -pie"
**Intention**
Red Hat and Fedora builds are done with -pie.  The cmake machinery fails with -pie due to a compile/link incompatibility in dyninstAPI_RT/CMakeLists.txt

**Describe the bug**
This change to dyninstAPI_RT/CMakeLists.txt fixes it

[code]
<root-dir>/CMakeLists.txt does
[code]

but near as I can tell that never gets pushed out anywhere so later at:
[code]

So we end up with an incompatib

[2020-08-25 21:37] hainest opened #814 "intermittent hang with pc_singlestep on llnl.cs.rice.edu"
I've not seen this anywhere else.

[2020-08-25 21:39] hainest commented on #812
I'm not sure. I've always been suspicious of why the runtime would need to be built with a different compiler. I think now is as good a time as any to dig into that. Thanks for the report! Are you able to get things working on your end for now?

[2020-08-26 08:28] rejohn commented on #806
Hi @mxz297 ,
here is the object file:

[tested_api.zip](https://github.com/dyninst/dyninst/files/5128531/tested_api.zip)

[2020-08-26 08:31] rejohn commented on #804
hi @hainest ,
here is the object file:
[sad_sse2.zip](https://github.com/dyninst/dyninst/files/5128535/sad_sse2.zip)

I follow the build guide in https://github.com/dyninst/dyninst/wiki/Building-Dyninst, not adding any options.  I will try 10.2.0 later.

[2020-08-26 09:24] rejohn opened #815 "Parser to cfg and a block missing successor_eas"
Hi @hainest :
I parser glib2.29 project, and while parsering wcscmp-avx2.o , i found that there is a block did not has successor_eas:
blocks {
    ea:1057
    instructions{
         ea: 1057
         bytes: "\203\302\020"
    }
}
I think the successor_eas of this block should be next block (ea:1060),  but i found that in other normal case, the block will has a explicit successor_eas to next block.

[2020-08-26 12:59] ManojKumarChauhan commented on #807
Hi @mxz297,
The crash is not coming for every function of shared library. It's coming for those functions where the stack unwinding problem is coming. I think this means those functions which are throwing an exception for some case.
As you said
<< Go binaries have a stack unwinding runtime linked in
does that means the main function in golang is able to handle the exception but when the function i

[2020-08-26 13:37] mxz297 commented on #807
Yes, this is because the Dyninst section, which contains instrumentation, does not have the corresponding meta-data supporting stack unwinding.

Please take a look at this file to build and run my branch:

https://github.com/mxz297/dyninst/blob/layout_opt/branch_build.md

I have tested that I can instrument docker using this branch. If you encounter problems related to my branch, I will try to fix

[2020-08-26 13:47] mxz297 commented on #806
@rejohn Did you post a wrong file? I unzip the tested_api.zip and got a .o file. Objdump shows:

[code]

It does not contain the problematic `popq ($rsi)` instruction.

[2020-08-26 13:56] mxz297 commented on #815
@rejohn Is this problem with Dyninst 10.2?

[2020-08-26 14:26] rejohn commented on #806
@mxz297 , I am sorry for my mistake,
here is the object file:
[tested_api.zip](https://github.com/dyninst/dyninst/files/5130436/tested_api.zip)

[2020-08-26 14:34] mxz297 commented on #806
@rejohn Thanks. I have confirmed that this is an instruction decoder problem. With Capstone decoding backend, Dyninst's output seems correct:

[code]

Below is the output from objdump:

[code]

You can try my branch following the install direction here:

https://github.com/mxz297/dyninst/blob/layout_opt/branch_build.md

My branch has Capstone backend integrated.

[2020-08-26 18:11] stanfordcox commented on #812
On 8/25/20 17:39, Tim Haines wrote:

The build works fine now.  Just working through fedora changes to the
cmake macros then I will have the Fedora build done.  Then I'll do a
pull request for my cmake changes.  It seems like all the machinery to
cmake and build dyninstAPI_RT could go away but I took a way simpler
approach.

[2020-08-27 07:25] ManojKumarChauhan commented on #807
Hi @mxz297 ,
I tried with https://github.com/mxz297/dyninst.git repository but the crash still exists.

[2020-08-27 09:31] ManojKumarChauhan commented on #807
another crash
runtime: unexpected return pc for github.com/labstack/echo.(*Echo).StartServer called from 0x84561a
stack: frame={sp:0xc00045fdc0, fp:0xc00045feb0} stack=[0xc00045e000,0xc000460000)

[2020-08-27 11:51] ManojKumarChauhan commented on #807
Hi @mxz297 ,
The crash is also coming for a simple go routine program.  I created a simple program using go routine.

--------------start program using go routine -----------------
package main
import  "log"
import  "time"
func Test(){
   for i:=0;i<5;i++{
    }
}
func main(){
   ss :="printtext"
   go Test()
   log.Println(ss)
   time.Sleep(1*time.Second)
}
---------------end program using go rou

[2020-08-27 11:54] mxz297 commented on #807
@ManojKumarChauhan I see. This crash looks like exactly what my branch is designed to avoid.

Can you post your complete execution command, just in case you did not run it in an intended way.

I will try to reproduce your problems locally.

[2020-08-27 11:57] ManojKumarChauhan commented on #807
just execute it like
./outputprogram2

[2020-08-27 11:58] mxz297 commented on #807
@ManojKumarChauhan Ah. No, you cannot. Please take a look at this section to set up proper environment:

https://github.com/mxz297/dyninst/blob/layout_opt/branch_build.md#to-execute-the-rewritten-binary

[2020-08-27 12:02] ManojKumarChauhan commented on #807
I followed below steps:
1.  Build Capstone, libunwind and Dyninst as per the instructions given on https://github.com/mxz297/dyninst/blob/layout_opt/branch_build.md

2. export LD_LIBRARY_PATH=<PATH_TO_LIBUNWIND_INSTALL>/lib:<PATH_TO_DYNINST_INSTALL>/lib:$LD_LIBRARY_PATH
LD_PRELOAD=<PATH_TO_DYNINST_INSTALL>/lib/libdyninstAPI_RT.so:<PATH_TO_LIBUNWIND_INSTALL>/lib/libunwind.so

export DYNINSTAPI_RT_L

[2020-08-27 12:04] mxz297 commented on #807
@ManojKumarChauhan OK. Then it look like you should have the right environment. I will try to reproduce your problems locally.

[2020-08-27 12:06] mxz297 commented on #807
For this step, it looks like I have a typo. It should be:

[code]

[2020-08-27 12:09] ManojKumarChauhan commented on #807
root@manoj:/opt/temp/dyninst/install/bin# echo $LD_LIBRARY_PATH
/opt/temp/libunwind/install/lib/:/opt/temp/dyninst/install/lib/
root@manoj:/opt/temp/dyninst/install/bin# echo $DYNINSTAPI_RT_LIB
/opt/temp/dyninst/install/lib/libdyninstAPI_RT.so
root@manoj:/opt/temp/dyninst/install/bin# echo $LD_PRELOAD
/opt/temp/dyninst/install/lib/libdyninstAPI_RT.so:/opt/temp/libunwind/install/lib/libunwind.so

@

[2020-08-27 12:24] mxz297 commented on #807
@ManojKumarChauhan Can you post your uninstrumented simpleprogram executable?

I have some Go compilation problems:

[code]

[2020-08-27 12:28] ManojKumarChauhan commented on #807
[simpleprog.tar.gz](https://github.com/dyninst/dyninst/files/5136306/simpleprog.tar.gz)

[2020-08-27 12:56] ManojKumarChauhan commented on #807
Please check below link to install runtime cgo
https://github.com/golang/go/issues/28553
once install, it will have following path
/usr/local/go/pkg/linux_amd64_dynlink

[2020-08-27 13:39] mxz297 commented on #807
@ManojKumarChauhan Thanks. I am able to figure out what's going on.

Basically, my branch assumes that go runtime will be linked in the binary. The way you build the go binary will lead to the go runtime to be in libstd.so. My branch needs to instrument two functions in go runtime to support Go's stack unwinding.

As a workaround, can you add `import "C"` in your source program. And compile it wit

[2020-08-27 14:28] ManojKumarChauhan commented on #807
Without using linkshared, it's also crashed.
[out_objdump.txt](https://github.com/dyninst/dyninst/files/5136941/out_objdump.txt)

[2020-08-27 14:28] ManojKumarChauhan commented on #807
[outprogramerror.txt](https://github.com/dyninst/dyninst/files/5136943/outprogramerror.txt)

[2020-08-27 14:31] ManojKumarChauhan commented on #807
[out_objdump.txt](https://github.com/dyninst/dyninst/files/5136954/out_objdump.txt)
[outprogramerror.txt](https://github.com/dyninst/dyninst/files/5136958/outprogramerror.txt)

[2020-08-27 14:40] mxz297 commented on #807
I see. I will continue to debug this problem.

[2020-08-27 17:04] stanfordcox commented on #812
https://github.com/dyninst/dyninst/pull/817

[2020-08-27 18:57] mxz297 commented on #807
@ManojKumarChauhan I pushed a few commits to my branch. Locally, I can run the example normally.

To get the codeCoverage example running, you need to also look at my changes to the codeCoverage example. It instruments `_fini` to print out code coverage information, but for Go binaries, the program does not exit through `_fini`. I am not sure where is the best place to print out coverage informati

[2020-08-27 19:00] mxz297 commented on #807
The output should look like:

[code]

[2020-08-28 01:38] rejohn commented on #815
@mxz297  i am using Dynisnt 10.1 ， i will update soon.  pls  take a look , thank you~

[2020-08-28 09:50] ManojKumarChauhan commented on #807
Thanks @mxz297.
I think _fini is not supported in golang. Even in some cases _init is also missed.
I will continue to check for linkshared option in case you are planning to update.

[2020-08-28 14:14] mxz297 commented on #807
@ManojKumarChauhan I see. Thanks for your timely report as I am developing support for Go binaries. I expect more problems when you proceed, and I would be happy to investigate and debug new problems. Do you think it is OK to close this issue and file new issues when you encounter more specific problems?

[2020-08-28 15:22] ManojKumarChauhan commented on #807
yes this issue can be closed now. Thanks

[2020-08-28 15:23] #807 closed

[2020-08-29 01:38] rejohn commented on #806
@mxz297 thanks,  Does dyninst have any plans to fix this problem? By the way, will capstore be integrated into the Dyninst ？backbone?

[2020-08-29 01:39] hainest opened #818 "Remove VLAs"
gcc and clang support `-Wvla`.

[2020-08-29 02:09] hainest commented on #818
Example: dyninstAPI/src/emitElf.C:441

    // OLD
    string strtmpl = fName + "XXXXXX";
    char buf[strtmpl.length() + 1];
    strncpy(buf, strtmpl.c_str(), strtmpl.length() + 1);

    newfd = mkstemp(buf);

    if (newfd == -1) {
        log_elferror(err_func_, "error opening file to write symbols");
        return false;
    }
    strtmpl = buf;

    // NEW
    std::string strtmpl = fName + "X

[2020-08-29 13:16] mxz297 commented on #806
I don't think we plan to fix this decoding problem. Our plan is to integrate Capstone asap.

[2020-08-29 23:15] hainest opened #819 "Remove deprecated BPatch_regExpr"
This was deprecated by 4d15de84594cda81f988275ed0b9076c689ef506 in 2008. It's not used anywhere in Dyninst, and it's not in the documentation.

[2020-08-29 23:38] hainest opened #820 "Remove deprecated BPatch_addressSpace::findFunctionByAddr"
This was deprecated by 7f20129bc880aba7e0a8d3757b21797743ffcc10 in 2010. However, it is still being used by `BPatch_addressSpace::findFunctionByAddr`. I'm not sure if it can actually be removed.

@sashanicolas @mxz297 Is this safe to remove, or should we undeprecate it?

[2020-08-30 00:05] #792 closed

[2020-08-30 00:29] hainest opened #821 "Remove deprecated code in BPatch_flowGraph"
This was deprecated in 71c302fc0a27d0317424e05e3370fcd0817f5c98 in 2005. The code was commented out instead of being removed.

[2020-08-30 00:31] hainest commented on #718
Also track down usages of `USE_DEPRECATED_BPATCH_VECTOR`

[2020-08-30 00:35] hainest opened #822 "Remove deprecated insnCodeGen::generate"
`dyninstAPI/src/codegen-power.C`: Removed by 5274e3bb2a9f79efb6a859ee4a709c791732539e in 2011.

`dyninstAPI/src/codegen-aarch64.C`: Removed by 0cbe6840935bbd1742b072454b9c8368b5ba618a in 2015.

`dyninstAPI/src/codegen-x86.C`: git can't figure out when this was removed.

[2020-08-30 00:35] mxz297 commented on #820
I feel `findFunctionByAddr` seems like a useful operation to keep.

[2020-08-30 00:52] hainest commented on #820
@mxz297 Sounds reasonable to me. I'll undeprecate it.

[2020-08-30 00:58] hainest opened #823 "Undeprecate mapped_object::getBaseAddress"
This was deprecated in 8442d36632c2b1c72a59ad257eaf4c92836b8574 in 2005. No reason was given, and it's being used in dyninstAPI/src/dynProcess.C:669.

[2020-08-30 01:01] hainest opened #824 "Remove deprecated BPatch_snippet::getCost, BPatch_snippet::getCostAtPoint"
These were deprecated by 52f34378b66fb46a35de759768d7a505cd292cf9 in 2010.

[2020-08-30 01:04] hainest opened #825 "Remove deprecated BPatch_process::enableDumpPatchedImage"
This was deprecated by 4d8337143a9fd4b9ccf8b0b7b40cd4fe48ac3a5d in 2011.

[2020-08-30 01:10] hainest commented on #812
Closed by #817.

[2020-08-30 01:10] #812 closed

[2020-08-30 04:08] #802 closed

[2020-08-30 04:34] #823 closed

[2020-08-30 04:41] hainest commented on #821
Closed by #828

[2020-08-30 04:41] #821 closed

[2020-08-30 04:48] hainest commented on #820
Ah, no. This should be deprecated. There is a warning message (https://github.com/dyninst/dyninst/blob/master/dyninstAPI/src/BPatch_addressSpace.C#L713) which indicates that function will return an arbitrary result if there is more than one function found, and that there are suitable replacements to use, instead.

[2020-08-30 04:53] #809 closed

[2020-08-30 05:17] hainest opened #830 "Update copyrights?"
There are many copyright announcements throughout the codebase, but many do not have the current year in them. Should we update all of these?

`grep --exclude-dir=.git -iRn -E "copyright.*[[:digit:]]"`

[2020-08-31 01:29] rejohn commented on #806
@mxz297 Thanks，According to the plan, which version will integrate capstone ?

[2020-08-31 02:09] hainest commented on #497
Fixed in clang branch.

[2020-08-31 02:09] #497 closed

[2020-08-31 02:23] mxz297 commented on #806
We are still planing the next release, and hopefully the next release will have Capstone integrated.

You can follow the step at

https://github.com/mxz297/dyninst/blob/layout_opt/branch_build.md

to see if that feature branch satisfies all your need, which has capstone integrated. I hope to merge it to dyninst mainstream in the future.

[2020-09-02 07:55] ManojKumarChauhan opened #833 "Document to access variables in Dyninst"
Is there any document in Dyninst which explain about how to access the variables from a function. I want to access function parameters and local variables. I understand that for different binaries like C/C++, golang, java there may be different approach to access the variables. I tried BPatch_function'sfindVariable but it gives error while writing output binary. Kindly suggest

[2020-09-02 10:34] dengxiansong opened #834 "Compilation fails"
I in centOS8.1 version x86_64 platform to compile "GCC-Toolset-9-dyninst-10.1.0-1. El8.src.rpm" source package encountered the following error:
`[ 86%] Linking CXX shared library libtestsymtab.so
/usr/bin/c++ -fPIC -O2 -g -pipe -Wall -Werror=format-security -Wp,-D_FORTIFY_SOURCE=2 -Wp,-D_GLIBCXX_ASSERTIONS -fexceptions -fstack-protector-strong -grecord-gcc-switches -specs=/usr/lib/rpm/redhat/redha

[2020-09-02 18:08] hainest commented on #834
We don't maintain any distributions of Dyninst. You'll need to contact the package's author for detailed help. That said, the root error is that the package specified a relative directory location for libtbbmalloc_proxy when building the testsuite. The package should use an absolute path.

You might check if the package supports a configuration flag to not build the testsuite (it's not needed, if

[2020-09-02 18:11] hainest commented on #833
Could you provide the exact Dyninst code you used to do this?

What was the error message?

[2020-09-02 18:50] ManojKumarChauhan commented on #833
BPatch_function *currentFunc;//representing a function from which I want to get the variable.
BPatch_function *insertedFunc;//the function which needs to insert. Takes same input argument like currentFunc
BPatch_Vector<BPatch_variableExpr *> vars;
const char *varname="variablename";
if(currentFunc->findVariable(varname,vars))
{
BPatch_Vector < BPatch_snippet * >regArgs;
regArgs.push_back(vars[0]);

[2020-09-03 00:17] hainest commented on #824
Merged into api_breakages.

[2020-09-03 00:17] #824 closed

[2020-09-03 00:21] hainest commented on #833
@sashanicolas @mxz297 Do you see anything intrinsically wrong with this code?

[2020-09-03 16:37] mxz297 commented on #833
I do not have much experiences of using `findVariable`.

@ManojKumarChauhan Did you compiled your program to be instrumented with debug information (`-g`)?

[2020-09-03 18:04] ManojKumarChauhan commented on #833
Hi @mxz297,

Yes it's compile with -g option.

[2020-09-03 18:53] bigtrak commented on #808
This is the list of syscalls which dyninst deals with itself, it is not linux syscall numbers.   Browsing the list, it appears to be in sync with linux syscall world for current mainstream systems.   The current syscall formats are no longer compatible with the generateSyscallInformation script.   That needs to be updated to work with current linii include files.   Wait for an issue about syscalls

[2020-09-03 18:53] #808 closed

[2020-09-04 01:07] sashanicolas commented on #833
I'd have to debug the binary. Can you upload the mutated you're trying to instrument?

[2020-09-04 01:19] dengxiansong commented on #834
Thank you. My problem has been solved.

[2020-09-04 01:19] #834 closed

[2020-09-04 05:24] hainest commented on #825
Merged into api_breakages.

[2020-09-04 05:24] #825 closed

[2020-09-04 11:48] ManojKumarChauhan commented on #833
[testfunctionvariable.tar.gz](https://github.com/dyninst/dyninst/files/5174624/testfunctionvariable.tar.gz)

[2020-09-04 11:48] ManojKumarChauhan commented on #833
The binary contains two functions
github.com/labstack/echo.New
main.printEcho
echo.New creates an object e *Echo. printEcho takes this object as input argument (func printEcho(e *echo.Echo) int{)
When i'm trying to get the variable e from echo.New, pass e to printEcho and instrument printEcho at the BPatch_exit point of echo.New, it's giving following error
Error: unable to find AST representing v

[2020-09-07 06:20] hainest commented on #811
These are part of an external application and are not exported during a Dyninst build, so there is no need to clean up the interfaces.

[2020-09-07 06:20] #811 closed

[2020-09-08 01:29] hainest commented on #822
Merged into api_breakages by #836

[2020-09-08 01:29] #822 closed

[2020-09-08 04:36] hainest commented on #762
This is now causing hangs on lassen (https://bottle.cs.wisc.edu/details/1387). This is very recent behavior and I'm not sure why it manifested. I've been having trouble getting the runs to complete there for about a week. I finally cranked the allocation time to 5 hours to get it to finish.

[2020-09-08 04:37] hainest commented on #820
Merged into api_breakages via #837

[2020-09-08 04:37] #820 closed

[2020-09-08 13:04] ManojKumarChauhan opened #839 "How to use copyFunction of PatchAPI in Dyninst"
Base class CFGMaker contains copyFunction. This is also implemented in derived class DynCFGMaker. copyFunction uses same address which is in  input function. Due to same address it cannot be added in modified function list & cant come in dyninst section of binary.  Using different  address for copyFunction does not work because the copied function contain same blocks which are in input function. I

[2020-09-08 18:06] ManojKumarChauhan commented on #833
Hi @sashanicolas,
Should I create a bug for this issue? It's not working even for c/c++ binary.

[2020-09-08 18:21] hainest commented on #833
@ManojKumarChauhan This issue will serve as a bug report. There are only three Dyninst developers, and we try to triage bugs accordingly. We thank you for your patience as we try to incorporate your request into our workflows.

What is the source language for the binary you uploaded?

[2020-09-08 18:50] ManojKumarChauhan commented on #833
it's golang

[2020-09-08 20:19] hainest commented on #833
@mxz297 Do you have an experimental branch with some updates for parsing golang binaries?

[2020-09-08 20:44] mxz297 commented on #833
@hainest This branch (https://github.com/mxz297/dyninst/tree/layout_opt) contains preliminary support for golang binaries. The key issue for golang binaries is not parsing them, but supporting its built-in stack unwind.

[2020-09-08 20:49] hainest commented on #833
@mxz297 Ah, ok. Do you think that would have any effect on the error seen here?

[2020-09-08 20:55] mxz297 commented on #833
@hainest Unlikely. It is still unclear what exactly the problem is.

@ManojKumarChauhan You mentioned that it does not even for a C/C++ binary. Can you post a complete reproduce, which includes the source code for both the Dyninst mutator (the program that uses Dyninst) and the mutatee (the source program that compiles into the binary to be rewritten)?

[2020-09-09 07:57] hainest opened #840 "dyninst/testsuite#136 breaks parallel parsing on ray@llnl (power8)"
@mxz297 This is the same test failure we previously debugged via email (subject "libxml crash on ray@llnl" on Sept 1).

https://github.com/dyninst/testsuite/pull/136 just removes the usage of libxml.

	OMP_NUM_THREADS=1
	TEST                       COMP   OPT  ABI MODE     THREAD  LINK    PIC     RESULT
	init_fini_callback         g++    none 64  create   NA      dynamic nonPIC  PASSED
	init_fini_c

[2020-09-09 08:03] hainest commented on #819
Merged into api_breakages by #838

[2020-09-09 08:03] #819 closed

[2020-09-09 10:08] ManojKumarChauhan commented on #833
[codefile.tar.gz](https://github.com/dyninst/dyninst/files/5194375/codefile.tar.gz)

[2020-09-09 10:10] ManojKumarChauhan commented on #833
Hi @mxz297 ,
I have uploaded the code for C & golang input binaries with Dyninst code. Please let me know if you need any other information.

[2020-09-09 12:27] mxz297 commented on #840
@hainest I gave it a run on llnl.cs.rice.edu, which is a power 9 machine and I couldn't see this error.

Can you try with valgrind to see if there are earlier memory corruption that leads to crash?

[2020-09-09 15:51] mxz297 commented on #833
@ManojKumarChauhan It does not look like that I can easily reproduce the bug:

[code]

This looks normal to me. Can you also provide your compiled C/C++ mutate binary and post your compiler information?

By the way, can you also simplify your reproducer to be a minimal reproducible example? What you provided contains many codeCoverage code that is not related to this bug.

[2020-09-09 16:23] ManojKumarChauhan commented on #833
compiler version Ubuntu 5.4.0-6ubuntu1~16.04.12

I will share the asked information tomorrow. Another code is related to golang binary and I have already uploaded the binary and its code. Can you please check golang binary also?

[2020-09-09 19:14] hainest commented on #840
@mxz297 It's good you weren't able to see it on llnl@rice. I haven't seen it there, either. Of the four Power machines I run on (ray@llnl, lassen@llnl, llnl@rice, and po@rice), I've only seen this failure on ray. I have no idea why. I'll run it under valgrind and let you know what I find. Thanks!

[2020-09-10 00:57] #708 closed

[2020-09-10 08:53] ManojKumarChauhan commented on #833
At my end findvariables did not find the variable 'simple'. It gave following error
'SERIOUS  #100  unable to find variable:simple'
When I checked getvars() & getparams() they are not returning any variable.
This was tested on the fresh code.

When I was using dyninst-10.1.0 or previous branch (not sure which branch) , it was able to find the variable.

[2020-09-10 08:54] ManojKumarChauhan commented on #833
[testvariables.tar.gz](https://github.com/dyninst/dyninst/files/5200355/testvariables.tar.gz)

[2020-09-10 13:38] mxz297 commented on #839
copyFunction is probably not well implemented. I have not used it before and plan to investigate its usage in the near future. It will take sometime, but will keep you in loop when I find something.

[2020-09-10 13:42] mxz297 commented on #833
@ManojKumarChauhan This is useful information. Thanks! For golang, the DWARF information is different sections compared to C/C++ binaries. Supporting Golang's DWARF will be a feature enhancement. We will need to first focus on resolving the regression on C/C++ binaries.

@sashanicolas Based on this information, it looks like DWARF variable parsing has some regression between 10.1 and 10.2. Can you

[2020-09-10 14:06] Charles-Neil opened #843 "Unrecognized program header type: 'GNU_PROPERTY'"
Hi guys, when I ran the example code in the [DyninstAPI v10.1.0 Programmer's Guide](https://github.com/dyninst/dyninst/blob/v10.1.0/dyninstAPI/doc/dyninstAPI.pdf) to instrument a function, dyninst complained:

[code]

Then I set a breakpoint at emitElf.C:273 in gdb and found out the value of phdr_type is `0x6474e553`:
[code]

When I used `objdump` to look over the program header table, it seemed t

[2020-09-10 18:11] bbiiggppiigg commented on #843
Dyninst might not support the latest phdr types, but the assertion in phdrTypeStr is not necessary so it is removed in a commit back in june.

https://github.com/dyninst/dyninst/commit/73b4b1c3632c9081ffb0e87f1b674cdbff67aacf#diff-c5688570fea7eb2ce15160693aa194c8

[2020-09-10 20:38] hainest commented on #778
The original executable is being added as a dependency to the rewritten libtestA.so (a dependency of the original executable).

    binaries/libtestA.so: error while loading shared libraries: dyninst_group_test.dyn_g++_64_pic_none: cannot dynamically load position-independent executable

    linux-vdso.so.1 (0x00007ffd6a181000)
    libc.so.6 => /lib/x86_64-linux-gnu/libc.so.6 (0x00007fcacf8e3000)

[2020-09-11 00:54] Charles-Neil commented on #843
Removing the assertion and re-compiling worked for me.Thanks.

[2020-09-11 00:54] #843 closed

[2020-09-11 05:06] ManojKumarChauhan commented on #839
Hi @mxz297 ,
The expected behavior of copyFunction is to make a copy of funtion (with relocation) in dyninst section of memory but it does not seem to be relocating.

[2020-09-11 13:49] mxz297 commented on #839
This is more complicated than justing relocating a copied function. Dyninst uses trampolines (typically a branch) that transfers control flow from original code to new instrumentation code, which is the relocated code. For a function A, we denote the relocated version A'. Now, if we need to copy A one more time, which will be relocated as A'', where the trampolines in A should go? Should trampolin

[2020-09-11 18:50] hainest commented on #605
Code places to check:

    BPatch_function::isSharedLib
    BPatch_module::isSharedLib
    mapped_object::isSharedLib
    int_library::isSharedLib()
    Library::isSharedLib()
    image::isSharedObject()
    image::isSharedObj()
    image::isShared()
    pdmodule::isShared()
    Module::isShared()

    # not sure if these two have same meaning as "Shared library"
    parse_block::isShared()
    Pa

[2020-09-12 23:34] hainest commented on #840
@mxz297 I've attached the valgrind log. The only thing that stands out is the segfault. I was seeing a segfault under gdb, but it was due to memory exhaustion rather than hitting an assert.

[valgrind.log](https://github.com/dyninst/dyninst/files/5213367/valgrind.log)

[2020-09-13 04:45] hainest commented on #786
Merged into api_breakages by #805

[2020-09-13 04:45] #786 closed

[2020-09-13 08:10] ccxiaop opened #845 "jump table：instruction is not reachable"
We need to analyze a jump table program. However, some jump code is lost during the analysis by using the ParseAPI. How can I restore the code? Or what other effective method?

for example,like switch table
    switch(value){
        case 'a':
        case 'A':
            testValue = 1;
            break;
        case 'b':
        case 'B':
            testValue = 2;
            break;
        de

[2020-09-13 12:54] mxz297 commented on #845
ParseAPI should be able to fully analyze this jump table. If this is not the case, this sounds like a bug. Can you post the binary as a reproducer?

[2020-09-13 13:11] mxz297 commented on #840
@blue42u Can you take a look at the valgrind.log above? The assertion is stating that the realloc should return the same address as the input. Based on the nearby code, it looks like the realloc is to shrink the allocated memory to fit the actual type object. Even assuming the system has runs into a low memory situation, this particular realloc should not fail?

[2020-09-13 13:23] Charles-Neil opened #846 "How can I add a function to the binary?"
After reading the examples in the document I am able to insert some snippets into the binary. But I didn't find a way to add a function to the binary. How can I accomplish that? Can somebody give me a hint?

[2020-09-13 15:56] blue42u commented on #840
I wasn't aware that this particular `realloc` could fail, hence the assertion. It could be something weird with Valgrind (although I've tested with it before and it ran fine, and I was fairly certain Valgrind followed the same general allocation rules).

@hainest Here's an (untested) patch which (should) get you past the assertion at least: [no-realloc.txt](https://github.com/dyninst/dyninst/files

[2020-09-14 02:10] ccxiaop commented on #845
test file is relocatable file.thanks.
[test2.zip](https://github.com/dyninst/dyninst/files/5215726/test2.zip)

[2020-09-14 04:34] ManojKumarChauhan commented on #839
Tramploines should continue to go to A'. The use of copy function is to create a copy of the original function so that if there is a requirement to execute the original function (typically in wrapper function) then the copied function A'' can be called and executed to fullfill that requirement.

[2020-09-14 11:32] Yadavdeepak007 opened #848 "Dyninst - Application got hanged in waitpid call of GeneratorLinux::getEvent"
When I am using dyninst for a running c program, the application got hanged in BPatch_process's loadLibrary function.
sample code
BPatch_addressSpace* app = bpatch.processAttach (NULL, pid); //pid is the process id of running c program
BPatch_process* process = dynamic_cast<BPatch_process*>(app);
const char *instLibrary = "libInst.so";
    if (!process->loadLibrary (instLibrary)) {
        cerr <<

[2020-09-14 16:55] mxz297 commented on #845
@ccxiaop Ah, ParseAPI resolves jump tables based on the actual code. In .o files, the instructions are incomplete where certain fields of the instructions will be filled by the linker during linking based on relocation entries. In your .o file:

[code]

ParseAPI will analyze the move instruction at `1e` and say that the jump table is at address 0x0, which is obviously wrong. I would recommend that

[2020-09-14 17:06] mxz297 commented on #839
You described one way of using copying functions, where you want one instrumented version and one uninstrumented version. I can also imagine use cases where we want multiple copies of a function, where we instrument each copy in different ways.

You indicated function wrapping, and I am not sure whether that's what you intended to do. But if that's the case, there is existing interface for functio

[2020-09-14 17:07] mxz297 commented on #846
I don't think there is an easy way to add a function to a binary. A common way is to write an instrumentation library in C/C++, and use Dyninst to insert function calls to the instrumentation library.

[2020-09-14 18:17] ManojKumarChauhan commented on #839
Yes wrapFunction is there but i believe copyfunction is still required. Let me take an example.
There is a function malloc(). I want to wrap malloc() by another function newmalloc(). Suppose newmalloc() will do some action and finally call malloc().
For this case it's required to create a copy of malloc() using copyfunction.

[2020-09-15 00:43] Charles-Neil commented on #846
Thanks a lot, I will turn to the instrumentation library approach.

[2020-09-15 00:43] #846 closed

[2020-09-15 04:42] hainest commented on #848
Could you re-run your program with `DYNINST_DEBUG_PROCCONTROL=1` set in the environment, and then attach the log here? It will likely be a lot of logging, so you may want to pipe it directly to a file.

[2020-09-15 06:49] Yadavdeepak007 commented on #848
[deepak_logs.txt](https://github.com/dyninst/dyninst/files/5222959/deepak_logs.txt)

[2020-09-15 07:27] Yadavdeepak007 commented on #848
I have attached file with DYNINST_DEBUG_PROCCONTROL=1 .Kindly look into it

[2020-09-15 13:43] mxz297 commented on #839
You are correct that for wrapping a function, we must be able to execute the original code. The implementation of wrapFunction does that without using copyFunction, and is just sufficient for function wrapping. It does not support the generic copyFunction as I described.

Basically, copyFunction aims to provide more general use cases, but its current implementation is just not there yet. If what y

[2020-09-15 13:51] ManojKumarChauhan commented on #839
I think wrapFunction does not solve the problem which I am facing. In previous example:
If I wrap malloc() by another function newmalloc(). When newmalloc() will call malloc() there will be an infinite loop. If newmalloc() calls the copied part of malloc() then there will not be any loop.
Is there any way to remove this loop without using copyfunction?

[2020-09-15 14:28] mxz297 commented on #839
wrapFunction wraps functions and what you described is the what exactly wrapFunction needs to handle. I said that wrapFunction handled this by copying the original function, but does not use copyFunction or provide more general copyFunction use cases.

[2020-09-15 15:03] ManojKumarChauhan commented on #839
Actually wrapFunction is not handling this, thats why I used copyfunction.
I called wrap function like:

Dyninst::SymtabAPI::Symtab *symtab = Dyninst::SymtabAPI::convert(newmallocfunc->getModule()->getObject());
symtab->findSymbol(syms, "mallocfunc", Dyninst::SymtabAPI::Symbol::ST_UNKNOWN,Dyninst::SymtabAPI::mangledName, false,false,true);
wrapFunction(mallocfunc, newmallocfunc, syms[0]);

This is

[2020-09-15 15:06] mxz297 commented on #839
I see. Then this is a bug for wrapFunction. Can you also provide a full reproducer for this one?

[2020-09-15 15:09] mxz297 commented on #833
@sashanicolas Do you have any update on this issue?

[2020-09-15 15:32] ManojKumarChauhan commented on #839
[wrapfunc.tar.gz](https://github.com/dyninst/dyninst/files/5226075/wrapfunc.tar.gz)

[2020-09-15 15:32] ManojKumarChauhan commented on #839
I have added the C code and codecoverage code. It can be easily reproduce.

[2020-09-15 20:54] hainest commented on #840
@blue42u @mxz297

Thanks for the patch. That function is doing bad things chock full of undefined behavior. It could benefit from `std::launder`, but there's still no guarantee it's not creating subobjects inside of existing ones with the placement new. That's for another day, though...

Running the test under valgrind, there are memory errors but it now passes. [valgrind.log](https://github.com/d

[2020-09-15 22:20] blue42u commented on #840
I added the `realloc`, the original wasn't much better ([patch](https://github.com/dyninst/dyninst/pull/758/commits/32bed76ab9a470b59e20818e459773199d5adc02#diff-b6cbc37db1bd1342e2e685e7877db73f)).

Valgrind doesn't run into every issue observable without it, in particular the memory allocation scheme is very different and tends to zero regions more often. So I'd probably investigate those uniniti

[2020-09-16 03:36] hainest opened #852 "test5_7 failure on coriander"
This fails at [test5_7.C:82](https://github.com/dyninst/testsuite/blob/master/src/dyninst/test5_7.C#L82) when `index`==4 (i.e., the inst point is [`template_test::func_cpp`](https://github.com/dyninst/testsuite/blob/master/src/dyninst/test5_7_mutatee.C#L69)). The root cause is that the target edge in the CFG says the callee is `__stack_chk_fail` at address 0x4215744. But calling `getPltFuncs` on t

[2020-09-16 06:08] Charles-Neil opened #853 "why is "main" in a shared lib?"
I find the main function in an executable, but found out the `isSharedLib()` method of class `BPatch_function` is not working as expected. It says 'main' is in a shared lib. I am confused:

**code**:
[code]

The above assertion failed and I have no idea why. If I did it the wrong way, could you tell me what is the correct way to determine whether a function is inside a shared library?

[2020-09-16 12:39] Yadavdeepak007 commented on #848
Instrumenting a  function is also not working when I attach to a process. I created a C binary which contains 2 functions func1 and fun2. When I tried to instrument func1 into func2 then application got hang.

[2020-09-16 12:41] Yadavdeepak007 commented on #848
Dyninst has a sample program ParseThat. I use parseThat with following arguments
./parseThat -P pidofcprogram -i 1 -S pathofcbinary
parseThat program also got stuck when it tried to insert a function. Last message from parseThat when it tried to instrument a function "Inserting counter-increment snippet into function en".
In brief, processAttach is not working at all.

[2020-09-16 14:29] ManojKumarChauhan opened #854 "Instrumenting a function is not working for running process in Dyninst"
**Intention**
Instrument a counter function into another function of C binary.

**Describe the bug**
Using dyninst 10.1 version with mxz branch . Want to instrument counter function into a C binary's function.
I created a program with bpatch.processAttach and tried to instrument a function. The program got stuck. Same issue can be reproduce in dyninst/parseThat program.

**To Reproduce**
Create an

[2020-09-16 17:00] mxz297 commented on #854
It is not clear to me whether there is a problem or not. `parseThat` will wait for the mutatee to finish. However, since your mutatee runs infinitely, `parseThat` will also runs infinitely. Below is the infinite loop in `parseThat` that waits for the completion of the mutatee.

https://github.com/dyninst/dyninst/blob/master/parseThat/src/dyninstCore.C#L577

Additional comments:

1. Can you check i

[2020-09-16 17:06] mxz297 commented on #854
You can also verify where `parseThat` stuck by using gdb to attach the `parseThat` process and get a stack trace. That can also be helpful for determining what's going on.

[2020-09-16 17:09] hainest commented on #853
This is very likely related to #605. We are currently working on fixing this. If you are using gcc, recompile with `-fno-PIE` and re-link with `-no-pie` as a temporary workaround.

[2020-09-16 17:11] hainest commented on #848
Apologies for the delay. This issue was fixed in 10.2 (see #742 for details).

[2020-09-16 17:21] ManojKumarChauhan commented on #854
C program is running a thread where the thread is doing some work after say every 2 seconds of interval.
I will try that in 10.2. In case if the issue still exists then I will provide all the required information to reproduce it. I am using mxz branch because it contains the fix for golang. Have you also merged golang changes in 10.2? Because there may be a big difference between both the branches

[2020-09-16 18:16] mxz297 commented on #852
I can reproduce this failure on coriander. It looks like the root cause here is a new style of PLT for Intel CET. This new style of PLT splits a plt stub into two pieces. Obivously, the cfg finds one part and the relocation finds another one. More description about the new style of PLT can be seen here: https://reviews.llvm.org/D59780

It is not directly obvious to me that why this new style of PL

[2020-09-16 18:26] hainest commented on #852
@mxz297 That explains why I was seeing this with gcc-9.3 no x86, but not gcc-9.3 on PowerPC. I'll try using an older gcc on coriander and see if it persists.

Would a temporary fix be to look up PLT functions by name instead of address?

[2020-09-16 18:30] mxz297 commented on #852
My first thought is that we should ignore the function call points, for which we cannot get the callee. This is because it is entirely possible to have an indirect call, where we cannot find the callee.

However, after we change that from failing the test to continue to the next point. The test seems to hang...

[2020-09-17 00:54] Charles-Neil commented on #853
The options provided worked for me. Thx.

[2020-09-17 00:54] #853 closed

[2020-09-17 13:50] mxz297 commented on #854
My branch is not in Dyninst 10.2. It will take quite some time before my branch can be merged into dyninst mainstream. If 10.2 resolves your problem, I will just update my branch on top of 10.2.

[2020-09-17 14:11] mxz297 commented on #840
@hainest Do you run into the same problem if using only one thread?

All the register strings are filled in the common/h/dyn_regs.h file:

https://github.com/dyninst/dyninst/blob/master/common/h/dyn_regs.h#L141

It has a #ifdef where the first time it becomes a definition but later include becomes a declaration. The whole register name map is static, so it is definitely not that thread-safe.

[2020-09-17 15:24] ManojKumarChauhan commented on #854
Yes the problem is fixed in 10.2.

[2020-09-18 14:50] ManojKumarChauhan commented on #839
Hi @mxz297 ,
As you said wrapfunction should handle it. Will wrap function create a new function with different blocks?
Which APIs are used by dyninst to create separate blocks for a function?

[2020-09-19 16:37] mxz297 commented on #839
@ManojKumarChauhan It looks like you are using `wrapFunction` in a way wrong. Here is a minimal example that illustrates how to do function wrapping with Dyninst:

https://github.com/mxz297/dyninst-tools/tree/master/FunctionWrapping

I have tested this example with Dyninst master branch.

[code]

[2020-09-21 06:36] ManojKumarChauhan commented on #839
Thanks.  It's working

[2020-09-21 18:21] #839 closed

[2020-09-21 20:23] #718 closed

[2020-09-22 17:41] ManojKumarChauhan opened #863 "How to instrument function from binary in Dyninst"
For a running process, Dyninst allows to instrument/wrap/replace functions. Generally we keep the instrumented or wrapped function in a shared library. As an example, running process contains func1 and func2. Shared library contains func3 and func4. Func3 is instrumented at the entry point of fun1 and func4 is wrapped for func2. Instead of keeping fun3 and fun4 in a shared library, Is it possible

[2020-09-22 17:58] ManojKumarChauhan commented on #854
Hi @mxz297 ,
Are you planning to merge 10.2 changes in your branch (layout_opt) ? OR you will merge your branch in 10.2 which will take some time?

[2020-09-23 15:20] ManojKumarChauhan commented on #854
closing this as it's working fine in 10.2

[2020-09-23 15:22] mxz297 commented on #854
Sorry. I was waiting for some experiments to finish before I can upgrade my branch to 10.2. I will merge 10.2 to my branch later today.

[2020-09-24 05:19] ManojKumarChauhan commented on #854
Thanks @mxz297 ,
Getting compilation errors in branch layout_opt.

[  3%] Building CXX object common/CMakeFiles/common.dir/src/arch-x86.C.o
In file included from /usr/include/c++/5/bits/hashtable.h:35:0,
                 from /usr/include/c++/5/unordered_set:47,
                 from /opt/temp/dyninst/common/h/dyntypes.h:56,
                 from /opt/temp/dyninst/common/src/Types.h:138,

[2020-09-24 05:19] #854 closed

[2020-09-24 09:00] #848 closed

[2020-09-27 06:21] hainest commented on #840
@blue42u This turned out to be a red herring. There are at least two problems:

1. There is a buffer overflow due to an uninitialized array (dyninst/testsuite#169)
2. Making the container under `AddressSpace::names()` [threadsafe](https://github.com/dyninst/dyninst/commit/acb4b6405b39ca12d5c313371a94981e49120d3c) helps... somewhat.

I'm doing more tests to try and track this down.

@mxz297

No. Ru

[2020-09-27 13:34] mxz297 commented on #840
I think you mean `MachRegister::names()`? `AddressSpace` and all other classes in BPatch are executed single-threaded.

This indicates that there are still hidden thread safety problems ...

[2020-09-27 23:55] hainest commented on #840
Oh, yes. I've been working on too many things in parallel...

[2020-09-28 04:50] ManojKumarChauhan opened #869 "Dyninst- Application is crashing for golang binary created with -linkshared option"
**Intention**
Created a golang binary with -linkshared option. Instrument/wrap methods in binary.

**Describe the bug**
https://github.com/dyninst/dyninst/issues/807 was fixed for a golang binary which is  not created with -linkshared option.

**To Reproduce**
Steps to reproduce the behavior:
Open the binary using bpatch.openBinary or attach to the binary using bpatch.processAttach. Application is

[2020-09-28 15:29] ManojKumarChauhan commented on #869
Hi @mxz297 ,

For binary edit case, it's searching some runtime function which is available in dependent library. For running process it does not search those functions but still it's not working.

[2020-09-29 01:35] mxz297 commented on #863
@ManojKumarChauhan What you describe is a nice feature to have but not yet supported in Dyninst...

The new code is often in a shared library so that the loader will take care of loading the library into the address space and the relocations for code and data. What you want to achieve essentially requires either Dyninst can perform relocation as what a dynamic loader would do or the user injects i

[2020-09-29 01:58] mxz297 commented on #869
You should be able to first instrument libstd.so, which will instrument the necessary runtime functions, and then instrument your golang binary. Then you need to ensure using the instrumented libstd.so

For dynamic case, you may be able to do the same by instrumenting functions in the libstd.so module. I am currently not interested in the dynamic case.

[2020-09-29 07:18] ManojKumarChauhan commented on #869
For dynamic case, is it required to  instrument libstd.so first?
As you said
"For dynamic case, you may be able to do the same by instrumenting functions in the libstd.so module."
could you please suggest how to do that?

[2020-09-29 14:38] kupsch opened #872 "Make pretty and typed symbol names consistent and correct"
**Intention**
Make pretty and typed symbol names be consistent for names that are mangled vs those that are not, and for the typed and pretty names with regards to clone suffixes, version suffixes and stabs suffixes.  Also improve the generation of the pretty name as mangled names that are not named methods or member of a namespace or class are not correct such as `operator()`.

**Describe the bug

[2020-09-29 20:01] hainest opened #873 "Remove access to low-level APIs in pubic interfaces"
We have generally considered the internal headers/APIs (e.g., dyninstAPI/src/binaryEdit.h) to not be visible to the user; these headers are never exported to `dyninst_install/include` during installation. Sometimes, however, these types are leaked through public interfaces (e.g., the internal `binaryEdit` type is leaked through [`BPatch_binaryEdit::lowlevel_edit()`](https://github.com/dyninst/dyni

[2020-09-30 07:30] ManojKumarChauhan commented on #869
Hi @mxz297 ,
The latest change is unable to find DYNINSTtrapFunction function when we attach to a process.

For dynamic case, I also tried to instrument some functions of libstd.so but the issue is not solved. In every case it's giving the error
echo: http: panic serving 127.0.0.1:39778: interface conversion: interface {} is *echo.context, not *echo.context (types from different packages)

I did n

[2020-09-30 14:49] ManojKumarChauhan commented on #869
Hi @mxz297,
Found some reason for the crash and unexpected behavior for golang binary.
Create 2 golang binaries and wrap one method for each binary.

Precondition->remove the call for replacePLTStub from wrapFunctionPostPatch. This is because replacePLTStub never call bindPLTEntry so I commented out this.
For binary 1, while wrapping a method, the symbol is found using mangledName (Dyninst::Symtab

[2020-09-30 14:50] ManojKumarChauhan commented on #833
Hi @sashanicolas,

Any update on this?

[2020-09-30 14:52] ManojKumarChauhan commented on #863
Will it be supported in future? Should I close this issue or keep it open?

[2020-09-30 20:18] sashanicolas commented on #833
@ManojKumarChauhan the last binary you uploaded was compiled without -g, that's why you thought 10.2 had a regression, but no. @mxz297 I tested 10.1 and 10.2 they both find the variables in the Go binary and the C++ binary.

I got to reproduce your bug, using your codeCoverage modified code. I did: `mutator -p testfunctionvariable out`, I got:
[code]
When I run `out`
[code]
@ManojKumarChauhan Did

[2020-10-01 02:42] mxz297 commented on #863
I don't think this is going to happen in the near future... You can keep it open and if other people have similar interests, its priority can go up.

[2020-10-01 03:28] mxz297 commented on #869
@ManojKumarChauhan I am sorry that I don't really understand what you described. I don't have experience with the function wrapping code beyond how to use it. Specifically, I have not looked into its internal implementation.

In terms debugging, you can set DYNINST_DEBUG_RELOCATION=1 DYNINST_DEBUG_SPRINGBOARD=1, which will prints verbose logging to stderr. If the instrumented program crashed, you

[2020-10-01 04:54] ManojKumarChauhan commented on #833
Hi @sashanicolas ,
Yes I used -p option and same command which you have used.
I found variables for golang binary but not for c binary.

For golang when I try to pass variable in instrumented function then application got crash.

[2020-10-01 04:59] sashanicolas commented on #833
@ManojKumarChauhan because the c++ binary you used had no debug symbols, just double check the last binary you uploaded.

[2020-10-01 14:29] ManojKumarChauhan commented on #833
Hi @sashanicolas ,
May be I used c binary without -g option. I will check it.  Well i'm able to get the variables for golang binary and the application is crashing when I pass the variable in instrumented function.

[2020-10-01 15:16] ManojKumarChauhan commented on #869
Hi @mxz297 ,

I meant that Wrap functionality does not work correctly for a golang binary. If I create some golang binaries, attach dynst to golang binary and wrap a function then either the wrapped function does not execute or if it executes then the application does not work.

Thanks for sharing the debugging information. I will check it.

[2020-10-03 10:32] ManojKumarChauhan commented on #833
Hi @sashanicolas,
After creating c++ binary with -g option, dyninst can find the variable but when I tried to use pass that variable into another function, the program got crashed because the address of the variable is not exactly same which was in original function. Example variable address in the function 0x7f0c44000d30. Variable address which is passed 0x44000d30.

For golang binary, if i creat

[2020-10-05 18:32] #852 closed

[2020-10-05 18:42] #778 closed

[2020-10-05 19:52] ManojKumarChauhan commented on #869
Hi @mxz297,
After enabling the debugging logs, I did not find anything which is not correct. Wrap code is executed as written but the function did not wrap.
Is there any other logs which can be checked?

[2020-10-05 20:54] hainest commented on #581
I'm not able to reproduce using the latest HEAD of Dyninst and the examples repository. I'm closing this for now. If this continues to be a problem, please reopen this issue or submit a new bug report.

[2020-10-05 20:54] #581 closed

[2020-10-06 16:04] mxz297 commented on #869
@ManojKumarChauhan I don't claim that function wrapping is correctly in every case. It is just that I am not in the position to fix it. Regarding to more debug logs, you can look at here:

https://github.com/dyninst/dyninst/blob/master/dyninstAPI/src/debug.C#L251

[2020-10-06 21:26] woodard opened #885 "dyn_regs.h missing SVE registers"
There is probably a lot more to full enablement of SVE needed than just this but dyn_reg.h is missing the aarch64 SVE registers.

[2020-10-07 07:28] ManojKumarChauhan commented on #869
Hi @mxz297,

Thanks I will look for the wrapping case. There is one more case which is not related to wrapping and you have already fixed it for golang.

Instrument any function in main.main. This is working when go binary is created without using linkshared option but if we create a go binary with linkshared option then the application is crashing. You were supposed to write 2 functions in that c

[2020-10-07 19:48] hainest commented on #885
@woodard Are your current builds/tests failing because these instructions are missing?

@sashanicolas Do you have any thoughts on how much work this would be to implement?

@mxz297 It looks like Capstone supports these instructions in their `next` branch. I know we were initially going to only add support for x86 through Capstone, but how much more effort would it be to bring in ARM support, as we

[2020-10-07 19:52] mxz297 commented on #885
@hainest Pure instruction decoding support for ARM is not difficult. But capstone has even more instruction operand read/write information entries missing. Considering that there has been no progress at all for Capstone to accept my improvement of read/write access entries for x86, I am not optimistic that we will switch decoder any time soon for ARM.

[2020-10-09 14:48] ManojKumarChauhan commented on #869
Hi @mxz297 ,

I tried to instrument a function for main.main. Stack unwinding is working in one case but not in others.  I created a golang binary with main function and another function (testfunc) which prints a message.
There are following cases:

1. Create a golang binary without using linkshared (go build appname.go). Open the binary using bpatch.openBinary. Instrument testfunc at the entry po

[2020-10-10 16:35] mxz297 commented on #869
@ManojKumarChauhan For case 2, I thought that it should work. I will investigate it a little bit in this weekend and see if I can get it working.

For case 3, I have not really aimed for dynamic instrumentation yet. Hopefully in the near future I will get to it.

[2020-10-12 13:21] hainest opened #888 "test_thread_5 intermittent failures on zeroah"
After upgrading to Ubuntu 20.04 (glibc-2.31, gcc-10.2.0), I'm seeing intermittent failures of test_thread_5.

https://bottle.cs.wisc.edu/search?hostname=zeroah.cs.wisc.edu&since_date=2020-10-10

[2020-10-13 08:31] ZanderChang commented on #717
I met the same problem when testing [csi-afl](https://github.com/Vul4Vendetta/csi-afl), it uses dyninst to add a dynamic library to the target but instrument the function `_Z17initAflForkServerjPKc.cold` sometimes, which is not exported.

[2020-10-13 09:40] ZanderChang commented on #717
Oh, just removing `-O3` works fine and the generated `libCSIDyninst.so` contains no symbols ending with `.cold`.

[2020-10-13 15:21] ManojKumarChauhan commented on #869
Hi @mxz297,
Did you check it for case 2? Is it possible to support linkshared option?

[2020-10-13 17:35] sashanicolas commented on #833
Hi @ManojKumarChauhan,
In the case of the C++ binary, the function you are trying to instrument has one exit point. This exit point ends with the instruction LEAVEQ followed by instruction RETQ.
Dyninst is inserting the instrumentation code after the LEAVEQ, but this is corrupting the stack, clobbering the value of the local variable.
We don't have a solution for this right now, we're discussing a

[2020-10-13 18:59] wcohen commented on #717
Recompiling with lower optimization levels is not really an option.  It looks like the name() method is stripping of the .cold suffix off.  Is there some way to get the original raw name?

[2020-10-13 19:46] kupsch commented on #717
Pull request #889 when released should fix the problem you are experiencing.  You can build Dyninst from the tip of the branch demangler if you'd like to test this fix.

[2020-10-13 22:39] mxz297 commented on #869
@ManojKumarChauhan I got some preliminary support working for linkshared. Please try the following steps:

1. Pull from my branch and reinstall
2. Use the following simple Dyninst program to rewrite `libstd.so`, which is the golang's runtime library for dynamically linked executable:

[code]

On my end, the path looks like `./BPatchOpen /usr/lib/golang/pkg/linux_amd64_dynlink/libstd.so libstd.so`

[2020-10-14 12:32] ManojKumarChauhan commented on #869
Hi @mxz297 ,

After getting the changes, I created libstd.so and added it in LD_PRELOAD.
But when I run the program for a golang  binary with -linkshared, it gave following error
libstd.so: undefined symbol: main.main

echo $LD_PRELOAD
/opt/temp/dyninst/install/lib/libdyninstAPI_RT.so:/opt/temp/libunwind/install/lib/libunwind.so:/opt/temp/dyninst/install/bin/librungo/libstd.so

[2020-10-14 13:00] mxz297 commented on #869
I only saw this error when I accidentally run rewritten libstd.so with a non-golang binary:

[code]

[2020-10-14 15:46] ManojKumarChauhan commented on #869
Hi @mxz297 ,
You are correct. I was doing something wrong.
Now the output application is not crashing but there are some cases which are not working.

1. If I instrument a function at the entry point of main.main then it's not getting executed. While the instrumentation is working for any other function .
2. If my golang binary has the dependency on 2 libraries say libstd.so and libmystd.so (creat

[2020-10-14 15:48] ManojKumarChauhan commented on #833
Hi @sashanicolas ,
Thanks. I will wait for the solution.

[2020-10-14 19:19] ManojKumarChauhan commented on #869
The code is attached. main.main is working but the program is crashing when i access  the webpage with
[testcode.zip](https://github.com/dyninst/dyninst/files/5380395/testcode.zip)
localhost:port

[2020-10-19 10:27] Yadavdeepak007 opened #892 "compilation error in latest dyninst code"
branch -10.2.1

[compile_error.txt](https://github.com/dyninst/dyninst/files/5401113/compile_error.txt)

[2020-10-19 14:44] ManojKumarChauhan commented on #892
[testcode3.zip](https://github.com/dyninst/dyninst/files/5402694/testcode3.zip)

[2020-10-19 14:47] ManojKumarChauhan commented on #869
[testcode3.zip](https://github.com/dyninst/dyninst/files/5402713/testcode3.zip)

[2020-10-19 17:45] hainest commented on #892
`entryID` is an unscoped enum. The C++11 standard requires that a conforming standard library provide a `std::hash` overload for enums. What version of gcc and libstdc++ are you using?

[2020-10-19 19:26] wcohen opened #893 "Address ranges for some entries in location lists from getLocationLists() look incorrect"
Hi,
I have been working on some code to look at the locations and see if the information lines up with what is actually in the binary.  Some of the address ranges returned by getLocationLists() do not look right.  This can be seen in one of the programs locrangechecks.C is in:

https://github.com/wcohen/quality_info/tree/master/dyninsttools

One can try it out on a simple heapsort program in a src

[2020-10-20 06:31] Yadavdeepak007 commented on #892
/usr/lib/x86_64-linux-gnu/libstdc++.so.6
(got this using /sbin/ldconfig -p | grep stdc++)

gcc (Ubuntu 5.4.0-6ubuntu1~16.04.12) 5.4.0 20160609
(got this using gcc --version)

[2020-10-20 15:25] hainest commented on #893
@wcohen I'm not able to reproduce this using the current HEAD of master and gcc-9.3.0. I see

	$ ./locrangecheck heapsort-0.5/heapsort
		unable to find targ1080
		# _init [1000,10e0]
		unable to find __printf_chk
		unable to find _Znam
		unable to find __stack_chk_fail
		unable to find _ZdaPv
		unable to find __isoc99_fscanf
		# main [10e0,1136]
		argc [10e0, 10fc] x86_64::rdi
		argv [10e0, 10fc]

[2020-10-20 15:47] wcohen commented on #893
Fedora 32 has gcc-10.2.1.  I just ran things on Fedora 31 with gcc-9.3.1-2.fc31.x86_64 and dyninst-10.1.0-4.fc31.x86_64.  The results look better, so it might be something related to gcc 10.  The `rpm --eval %optflags` used to build the heapsort are identical for f31 and f32.

Output from the f31 version:
[code]

[2020-10-20 17:23] hainest commented on #893
Well, that's odd. I just ran HEAD of master with gcc-10.1.0 and got the same answer as using gcc-9.3.0. I also tested Dyninst-10.1 using gcc-10.1.0 and got the same answer. PIE made no difference in all cases. I am a bit stumped.

[2020-10-20 21:45] hainest commented on #893
Confirmed. I see the same issue when building heapsort with clang-10.

[2020-10-21 17:24] woodard opened #894 "crashes parsing symtab."
**Intention**
I've got a very simple program which works when I compile it with dyninst 10.1.0. However when I compile it against 10.2.1 it crashes.

The backtrace looks like this:
#0  0x0000fffff796ee14 in maybe_split_for_insert (parentp=parentp@entry=0xffffc412e440, gparentp=gparentp@entry=0x13ad560, p_r=p_r@entry=1, gp_r=gp_r@entry=1,
    mode=mode@entry=1, rootp=<optimized out>, rootp=<optimiz

[2020-10-21 17:30] woodard commented on #894
I get a similar backtrace on x86_64
(gdb) bt
#0  0x00007ffff78bf7c7 in maybe_split_for_insert.isra () from /lib64/libc.so.6
#1  0x00007ffff78bf9e5 in tsearch () from /lib64/libc.so.6
#2  0x00007ffff77340a6 in __libdw_intern_next_unit (dbg=dbg@entry=0x4910b0, debug_types=debug_types@entry=false) at libdw_findcu.c:216
#3  0x00007ffff7734387 in __libdw_findcu (dbg=0x4910b0, start=39572851, v4_debug_t

[2020-10-21 17:36] mxz297 commented on #894
@woodard Do you see crash if you only use a single thread (`OMP_NUM_THREADS=1`)? Parallel DWARF parsing shows up in both stack traces.

[2020-10-21 17:37] woodard commented on #894
There is something about the DWARF that it is processing that triggers the crash. For example when I take  /lib64/libstdc++.6.0.28 it crashes but when I use /lib64/libc.so.6 it doesn't

[2020-10-21 17:39] woodard commented on #894
When I set OMP_NUM_THREADS to 1 it still crashes but it crashes differently:

gdb) set args /lib64/libstdc++.so.6.0.28
(gdb) set env OMP_NUM_THREADS 1
(gdb) r
Starting program: /home/ben/Scratch/Work/dwqual/checkabi /lib64/libstdc++.so.6.0.28
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib64/libthread_db.so.1".

Program received signal SIGSEGV, Segmentation faul

[2020-10-21 18:03] woodard commented on #894
Since this is fedora system library it does have the external debuginfo file pointed to by the .gnu_debuglink section and it was likely processed by dwz. Either of those could be the source of the problem.

[2020-10-21 18:26] woodard commented on #894
This problem seems to be rather wide spread in the systemlib area:
$ find /lib64/ -type f -name *.so.* | while read lib;do if ./checkabi $lib >/dev/null;then true; else echo "----- $lib fails";fi;done

one problem with that mini-script is it seems to get caught hanging in several libs.

Another failure mode appears in if you use /lib64/libcrypto.so.1.1
Thread 1 "checkabi" received signal SIGSEGV,

[2020-10-21 21:39] woodard commented on #894
/lib64/libcrypt.so.2.0.0 is another problem child with a different backtrace
(gdb) bt
#0  Dyninst::SymtabAPI::InlinedFunction::setFile (this=0x7fffbc00ae70, filename="Unknown file")
    at /tmp/ben/spack-stage/spack-stage-dyninst-master-dhrwfx6hfru7wndi6sxs6embml5ky4ec/spack-src/symtabAPI/src/Function.C:488
#1  0x00007ffff7f7549e in Dyninst::SymtabAPI::DwarfWalker::parseCallsite (this=<optimized o

[2020-10-21 22:05] woodard opened #896 "invalid offset or invalid DWARF when processing DWARF"
**Intention**
Print the location of the parameters of a function.

**Describe the bug**
For some functions in some libraries when you try to process the DWARF there are error messages saying invalid offset or invalid DWARF.

**To Reproduce**
on a standard Fedora 32 machine run the program from issue 894. ./checkabi.C on any of the following system libraries.
/lib64/sasl2/libanonymous.so.3.0.0 from

[2020-10-21 22:24] woodard opened #897 "assertions processing symtab for /lib64/libcurl.so.4"
**Intention**
print out the location of a function's parameters.

**Describe the bug**
This one is extremely unique but it may be a duplicate of the same problem as is in issue 894.
(gdb) set env OMP_NUM_THREADS 1
(gdb) r
Starting program: /home/ben/Scratch/Work/dwqual/checkabi /lib64/libcurl.so.4.6.0
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib64/libthread_d

[2020-10-22 02:08] hainest commented on #892
I ran some tests, and the libstdc++ that comes with gcc-5 does not support this. For now, you'll need to use gcc-6 or newer. I'll start an internal conversation about minimum compiler support.

[2020-10-22 13:26] #717 closed

[2020-10-22 13:26] #872 closed

[2020-10-22 13:29] ManojKumarChauhan commented on #833
Hi @sashanicolas ,
Is there any update? Is it going to take long time?

[2020-10-23 15:03] wcohen opened #898 "Accessing Location lists for inlined functions?"
Hi,
I working on some code that uses dyninst to check the variable range list information (https://github.com/wcohen/quality_info/blob/master/dyninsttools/locrangechecks.C).  Currently the code doesn't deal well with inline functions and this is a concern as inlined code is common when optimization is turned on.  The dyninst symtab interface finds parameters and variables based on the function nam

[2020-10-23 16:27] wcohen commented on #898
Below is an example program to illustrate:

[code]
See the variable j for main, nothing for the inlined function f variable i:
[code]
I should mention when lto is turned on doesn't find the main variable j:

[code]

[2020-10-26 23:04] hainest commented on #897
@woodard Could you try this with the current HEAD of master for Dyninst (4311e9481) and the test sutie (99c376e1). I saw some failures similar to these, but haven't been able to reproduce them with the latest HEAD.

[2020-10-26 23:06] hainest commented on #896
@sashanicolas @mxz297 Do either of you have a Fedora 32 machine we can test this on? If not, we should figure out where to install a VM.

[2020-10-26 23:06] hainest commented on #896
@woodard To confirm, this is with gcc-10.2, correct?

[2020-10-26 23:13] sashanicolas commented on #896
@hainest not that I know of.

[2020-10-27 16:34] mxz297 opened #899 "Symtab::openFile() in-memory version still opens file"
Below is Symtab::openFile() in-memory version. The idea is that if the ELF binary is already in-memory, there is no need to open any files.

https://github.com/dyninst/dyninst/blob/master/symtabAPI/h/Symtab.h#L131

However, when parsing DWARF, code below will always attempt to open files:

https://github.com/dyninst/dyninst/blob/master/dwarf/src/dwarfHandle.C#L116

When handling a Symtab object co

[2020-10-27 20:26] hainest commented on #707
Redhat are testing with Fedora 32. RHEL 8 has a Docker image. ANL are switching to OpenSUSE 15.2.

[2020-10-28 22:23] woodard commented on #894
This problem continues to exist as of the latest commit 4311e94817bf60dffb557c4ffffd19bc04b7df3f

It seems to have something to do with processing location lists. Here is a simpler reproducer. It has about the minimum amount of code which allows me to reproduce the problem.

[repo1.C.gz](https://github.com/dyninst/dyninst/files/5455111/repo1.C.gz)

[2020-10-29 03:05] woodard opened #902 "Unexplained "Module does not exist" error"
**Intention**
When I try to get the parameters for some functions, I get an unexplained "Module does not exist" error.

**Describe the bug**
Asking for the parameters for certain functions fails.
For example if I do:
$ repo1 /lib64/libiscsi.so.0
Func: libiscsi_get_session_info_by_id: Num params: 2
327296
327296
Func: libiscsi_discover_sendtargets: Num params: 2
<snip>
Func: libiscsi_get_firmware_i

[2020-10-29 03:09] woodard commented on #897
With the latest head, I'm not getting the same asserts. However there are a lot of crashes see issue 894.

[2020-10-29 03:09] #897 closed

[2020-10-29 03:13] woodard commented on #896
This problem does not reproduce with the latest head: 4311e94817bf60dffb557c4ffffd19bc04b7df3f on Fedora 33.

[2020-10-29 03:13] #896 closed

[2020-10-29 04:18] woodard commented on #894
The following libraries all have the crash:
#0  maybe_split_for_insert (parentp=parentp@entry=0x7fffbc009d30, gparentp=gparentp@entry=0x7fffbc009a60, p_r=p_r@entry=1, gp_r=gp_r@entry=1, mode=mode@entry=1, rootp=<optimized out>, rootp=<optimized out>) at tsearch.c:269

libblkid.so.1.1.0
libboost_python39.so.1.73.0
libcrypt.so.2.0.0
libdcerpc.so.0.0.1
libfreerdp-server2.so.2.2.0
libgstgl-1.0.so.0.18

[2020-10-29 23:15] woodard commented on #894
This is kind of a jumbled issue. I'm going to close this one and open an issue for each individual crash. I have tooling now that allows me to test them and split them apart much more easily.

[2020-10-29 23:15] #894 closed

[2020-10-29 23:35] woodard opened #903 "Crash in __libdw_find_attr() when processing DWARF"
When processing the symtab for /lib64/libQt5MultimediaWidgets.so.5.15.1 from qt5-qtmultimedia-5.15.1-1.fc33.x86_64
with dyninst trunk at commit 4311e94817bf60dffb557c4ffffd19bc04b7df3f
run with OMP_NUM_THREADS=1
using this test code
[repo1.C.gz](https://github.com/dyninst/dyninst/files/5461783/repo1.C.gz)

I get the following crash:
[code]

Other libraries that have the same problem:
/lib64/libQt5

[2020-10-29 23:47] woodard opened #904 "crash in dwarf_dieoffset when processing DWARF"
When processing the symtab for /lib64/libboost_context.so.1.73.0 from boost-context-1.73.0-7.fc33.x86_64
with dyninst trunk at commit 4311e94
run with OMP_NUM_THREADS=1
using this test code
[repo1.C.gz](https://github.com/dyninst/dyninst/files/5461877/repo1.C.gz)

I get the following crash:
[code]
Other libraries that have the same problem:
/lib64/libboost_context.so.1.73.0 from boost-context-1.73

[2020-10-29 23:54] woodard opened #905 "extremely deep recursion resulting in a crash in __libdw_intern_expression when processing DWARF"
When processing the symtab for /lib64/libnss_mdns.so.2 from nss-mdns-0.14.1-9.fc33.x86_64
with dyninst trunk at commit 4311e94
run with OMP_NUM_THREADS=1
using this test code
[repo1.C.gz](https://github.com/dyninst/dyninst/files/5461947/repo1.C.gz)

I get a crash after extremely deep recursion:
[code]

[2020-10-30 00:02] woodard opened #906 "Extremely deep recursion resulting in a crash in dwarf_ranges when processing DWARF"
When processing the symtab for /lib64/libproxy.so.1.0.0 from libproxy-0.4.15-25.fc33.x86_64
with dyninst trunk at commit 4311e94
run with OMP_NUM_THREADS=1
using this test code
[repo1.C.gz](https://github.com/dyninst/dyninst/files/5462009/repo1.C.gz)

I get the following crash:
[code]

[2020-10-30 00:06] woodard commented on #906
Another one that may be the same problem but has a slightly different backtrace is: /lib64/libTKBRep.so.7.4.0 from opencascade-modeling-7.4.0-5.fc33.x86_64

[code]

[2020-10-30 00:17] woodard opened #907 "Very common crash in dwarf_tag when processing DWARF"
When processing the symtab for /lib64/sasl2/libanonymous.so.3.0.0 from cyrus-sasl-lib-2.1.27-6.fc33.x86_64

with dyninst trunk at commit 4311e94
run with OMP_NUM_THREADS=1
using this test code
[repo1.C.gz](https://github.com/dyninst/dyninst/files/5462049/repo1.C.gz)

I get the following crash
[code]
This is an extremely common crash. Making up 260 out 470 of the crashes seen in my testing.
Attache

[2020-10-30 00:24] woodard opened #908 "Crash in setFile when processing DWARF"
When processing the symtab for /lib64/libaccountsservice.so.0.0.0 from accountsservice-libs-0.6.55-4.fc33.x86_64
with dyninst trunk at commit 4311e94
run with OMP_NUM_THREADS=1
using this test code
[repo1.C.gz](https://github.com/dyninst/dyninst/files/5462112/repo1.C.gz)

I get the following crash
[code]

[2020-10-30 00:27] woodard commented on #908
This also affects quite a few libraries in my testing here is a list of the libraries and the rpms that they came from:

/lib64/libaccountsservice.so.0.0.0 from accountsservice-libs-0.6.55-4.fc33.x86_64
/lib64/libamtk-5.so.0.0.0 from amtk-5.2.0-1.fc33.x86_64
/lib64/libcamel-1.2.so.62.0.0 from evolution-data-server-3.38.1-1.fc33.x86_64
/lib64/libcolord.so.2.0.5 from colord-libs-1.4.4-5.fc33.x86_64

[2020-10-30 00:38] woodard opened #909 "Assert from boost::shared_ptr<Dyninst::SymtabAPI::Type>::operator-> when processing DWARF"
When processing the symtab for /lib64/libabigail.so.0.0.0 from libabigail-1.7-2.fc33.x86_64
with dyninst trunk at commit 4311e94
run with OMP_NUM_THREADS=1
using this test code
[repo1.C.gz](https://github.com/dyninst/dyninst/files/5462182/repo1.C.gz)

Caused the assert:
[code]

This problem also affects the following libraries.
/lib64/libao.so.4.1.0 from libao-1.2.0-19.fc33.x86_64
/lib64/libaupars

[2020-10-30 01:56] hainest commented on #647
I've verified that this is still happening on the HEAD of master.

[2020-10-30 01:57] hainest commented on #885
@mxz297 Should we just manually add these SVE registers for now?

[2020-10-30 02:04] hainest commented on #909
@woodard Just to verify, these libraries (and the ones from the other reports) were built with gcc-10.2 for Fedora 32, correct?

[2020-10-30 02:22] ZHAZHA33 opened #910 "Different cfg generated in X86 and aarch64 with same objfile"
**Intention**
What did you want to do?
using dyninst in arm to analyse x86 objfile

**Describe the bug**
parsre x86 object file in x86-64 or aarch64 env ，find the cfg files are different，which there is a jmp inst；
cfg generated in x86 has more blocks than in aarch64

**To Reproduce**
Steps to reproduce the behavior:
A command? A code? A binary?

1） file test.c  with c code

static __thread int var

[2020-10-30 22:52] woodard commented on #909
@hainest The compiler appears to be 10.2.1-1
[code]
which is slightly older than the current one in Fedora 33.
[code]

Do you have the debuginfo and debugsource packages installed? The versions of the libraries are literally out of the current release of Fedora 33. You mentioned libabigail-1.7-2.fc33**.src.rpm** which suggests to me that you may be recompiling the library. The ones that I'm refere

[2020-10-30 23:22] woodard commented on #909
@hainest a trick that I use to get all the debuginfo rpms installed is:
[code]

[2020-10-30 23:24] hainest commented on #909
I have 10.2.1-5, so I'm going to say those are close enough.

I am using the Fedora 33 Docker image. I originally did just "yum install libabigail". I also did "yum install libabigail-devel" and re-ran `repo1`, but got the same "Failed to parse Object" error. How do I get the version of libabigail with debug information?

"yum search libabigail" gives

    Last metadata expiration check: 0:19:31 a

[2020-10-30 23:34] woodard commented on #909
You want to use the "dnf debuginfo-install" command. The reason why you didn't get the debuginfo packages in the listing that you did is most likely that the debug repos are disabled.

[code]

In those cases what you can also do something like:

[code]

If neither of those work then you have something wrong with your docker image's dnf configuration (which is confusingly found in /etc/yum.repos.d

[2020-10-31 00:58] woodard commented on #909
<mjw> neb, we first run debugedit, then gdb-add-index, then split in separate .debug file, then add "mini-debug" on all individual elf file, then run dwz on all the .debug files together, then we fixup the crc for separate .debug again (because the main ELF file has a build-id, but also a CRC that should match the .debug file, which is "broken" by dwz scrambling it...).
<mjw> which is a long and f

[2020-10-31 01:53] hainest commented on #909
That was the problem! This is my first time using Fedora, so many thanks for the tips. I can now reproduce the crash you saw for this on our local Docker image.

@sashanicolas Let me know if you are able to reproduce this, as well.

[2020-11-01 01:09] hainest commented on #910
@mxz297 There was recent discussion about whether or not Dyninst fully supports analyzing just object files. Is this related to that discussion?

[2020-11-02 18:51] fche commented on #909
By the way, on fedora 33

% export DEBUGINFOD_URLS=https://debuginfod.elfutils.org/
% gdb ...

of dyninst or libabigail will automagically download the appropriate debuginfo.

[2020-11-02 22:42] hainest commented on #907
I ran this several times, and it alternates between a crash and the "Module does not exist" error from #902. I've not been able to replicate the posted backtrace, but here is the one I get when building Dyninst in debug mode (i.e., CMAKE_BUILD_TYPE=Debug):

	#0  0x00007fa4883e1eb5 in __libdw_find_attr () from /lib64/libdw.so.1
	#1  0x00007fa4883e03bb in dwarf_attr () from /lib64/libdw.so.1
	#2  0x

[2020-11-02 22:56] hainest commented on #902
When I run this several times, I always get a crash which is the same as the one reported in #908.

	Starting program: /dyninst/symtab_test/repo1 /usr/lib64/iscsi/libiscsi.so.9
	warning: Error disabling address space randomization: Operation not permitted
	[Thread debugging using libthread_db enabled]
	Using host libthread_db library "/lib64/libthread_db.so.1".

	err message: invalid offset

	Prog

[2020-11-03 05:02] hainest commented on #902
After a little more trials, I am seeing the original Symtab error. Putting a breakpoint where the Symtab error is set, I see

	Starting program: /dyninst/symtab_test/repo1 /lib64/sasl2/libanonymous.so
	warning: Error disabling address space randomization: Operation not permitted
	[Thread debugging using libthread_db enabled]
	Using host libthread_db library "/lib64/libthread_db.so.1".

	Breakpoint

[2020-11-04 03:57] woodard commented on #902
@hainest I do know that DIEs that are artificial are ones created by the compiler. Why they are a considered a module in dyninst. I really don't know. Artificial functions are created as a result of code that exists in a module for example and OpenMP loop is often implemented as an artificial function. I would think that should inherit the module of the function that they were derived from. If the

[2020-11-04 04:58] woodard opened #913 "Crash in __libdw_findcu when using OpenMP to parse symtab."
When processing the symtab for /lib64/libxmlrpc_util.so.4.51 from xmlrpc-c-1.51.0-11.fc33.x86_64 allowing OpenMP to use all the cores I get the following crash:

[code]

This crash only seems to happen when OMP_NUM_THREADS is not set to one. I'm running it on a 12 thread 6 core machine. This crash is very common. It makes up 150/471 crashes when running on my machine.

[2020-11-05 03:21] woodard opened #914 "Crash in maybe_split_for_insert when processing symtab when using OpenMP"
When processing the symtab for /lib64/libgfortran.so.5.0.0 from libgfortran-10.2.1-6.fc33.x86_64 when using OpenMP (On a 12 thread 6 core machine) I get the following crash:

[code]

This particular crash only happens when running with OpenMP allowed to use all the CPU threads. It does not appear when you have OMP_NUM_THREADS=1

Other libraries that are affected are:
/lib64/libgfapi.so.0.0.0 from

[2020-11-05 03:46] woodard opened #915 "Different crash in __libdw_find_attr when parsing symtab when happens when using OpenMP"
This crash is similar to the one in https://github.com/dyninst/dyninst/issues/903 but it appears different enough that I thought it should be its own bug. I wouldn't be surprised if they ended up being duplicates of each other once the root cause is identified. In this case I think they may be different.

When processing the symtab for /lib64/dyninst/libdynC_API.so.10.2.1 with OpenMP running on a

[2020-11-05 14:03] ManojKumarChauhan commented on #833
Hi @sashanicolas ,

If I do not instrument any function and just go through each function & print the number of arguments for any function then it always give 0 argument.
BPatch_function *curFunc;
BPatch_Vector<BPatch_localVar *> *vars =  curFunc->getVars();
vars->size() is zero for all golang functions

[2020-11-05 21:18] sashanicolas commented on #833
Hi @ManojKumarChauhan,
As for the update you asked, I'm still trying to come up with a workaround for the thing I explained before.
For the parameters you just mentioned, did you use the same go binary? Can you send me the mutator (the program you used to go through the functions and print the arguments) code?

[2020-11-06 04:31] ManojKumarChauhan commented on #833
[testcode.tar.gz](https://github.com/dyninst/dyninst/files/5499083/testcode.tar.gz)

[2020-11-06 04:34] ManojKumarChauhan commented on #833
Hi Nicolas,
I have attached the code. To test the program please follow the steps:
1. use echoapp or compile it again using 'go build echoapp.go'. Launch echoapp
2. launch codeCoverage and pass echoapp as an argument

It will print the number of variables in each function.

[2020-11-06 19:27] hainest commented on #913
@woodard Are you using `OMP_NUM_THREADS=12` or `unset OMP_NUM_THREADS`? There is a known issue with Dyninst that not setting `OMP_NUM_THREADS` will cause substantial oversubscription due to nested parallelism that can lead to crashes.

[2020-11-06 20:10] woodard commented on #913
@hainest Unset OMP_NUM_THREADS.
Your quick description doesn't quite make sense to me. When I was running these tests, I didn't see anything like oversubscription. The GOMP runtime queued things up reasonably nicely. Can you point me at that known issue? I'll read the analysis in that and see if it makes more sense to me.

What I think I've been seeing with these bugs is more along the lines of tw

[2020-11-07 01:41] hainest commented on #913
Yeah, that's different from what we were seeing previously (cf #693). I'll leave this for @mxz297 to investigate. He's doing some presentations at SC, so it'll be a couple of weeks.

[2020-11-09 19:57] hainest opened #916 "Find new small-object allocator for InstructionAPI"
#835 fixed a large memory leak at the expense of using global new/delete. We should find a suitable small-object allocator to enhance the performance of InstructionAPI. Notes from Xiaozhu are

---

Another opinion is that TBB's malloc proxy has such sub-allocators functionality and malloc in newer versions of glibc also has this functionality built-in. So, we may not benefit from the singleton_obj

[2020-11-15 08:25] ccxiaop opened #918 "support some instructions"
When we use dyninst to decode some instructions, we found that some instructions cannot be parsed normally.For example：

1.roundss
I've slightly modified the code to support this instruction, can you help me review the code,and make sure that this is correct.

diff --git a/common/src/arch-x86.C b/common/src/arch-x86.C
index 33fdfb9..1ed055b 100644
--- a/common/src/arch-x86.C
+++ b/common/src/arch-

[2020-11-16 19:08] hainest commented on #918
@ccxiaop We are transitioning our x86 instruction decoding to use Capstone (#690

@mxz297 Do we want to add these now, or wait until that integration is complete?

[2020-11-17 11:13] ZHAZHA33 commented on #910
@mxz297   any information can help???

[2020-11-17 17:54] hainest opened #919 "Error handling"
Dyninst currently uses several different error-handling mechanisms: exceptions, bool, std::pair<T,bool>, nullable pointer, assert, and setting global error values (cf. errno).

We should find a way to try to homogenize error reporting at least at the public API level. Unimplemented functionality probably shouldn't outright crash Dyninst, but should try to shutdown gracefully (e.g., kill all ancill

[2020-11-18 02:12] ccxiaop commented on #918
@hainest Which version can we use this feature?

[2020-11-18 02:49] mxz297 commented on #918
@ccxiaop You can try this branch: https://github.com/mxz297/dyninst/tree/layout_opt

And follow the instruction here to build that branch:

https://github.com/mxz297/dyninst/blob/layout_opt/branch_build.md

[2020-11-18 02:52] mxz297 commented on #910
@ZHAZHA33 Can you try the head of master branch? If the same problem still occurs, I can take a look.

[2020-11-18 05:22] ManojKumarChauhan opened #921 "Memory Leak in Dyninst"
**Intention**
Attach to a process using dyninst.

**Describe the bug**
Using codecoverage binary, attach to a process using bpatch.processAttach and print its function.
bpatch.processAttach increase the memory of codeCoverage by 2.5 GB and it never gets decreased.

**To Reproduce**
call bpatch.processAttach and pass a process id. This returns BPatch_process* or BPatch_addressSpace*
Memory did not

[2020-11-18 06:37] ccxiaop commented on #918
@mxz297 Will your version be released in the trunk of dyninst?

[2020-11-18 08:57] ZHAZHA33 commented on #910
@mxz297  I found that the different process between X86 and aarch64 is the cap_stripped binaries defined by  -Dcap_stripped_binaries; which is not available to aarch64;
The related  API is parseGaps, which was only enabled on the x86 and x86-64;

Can you help to explain what is the difference when doing gap heuristic in aarch64, looking forward to your sharing
TKS

[2020-11-18 15:52] mxz297 commented on #918
@ccxiaop Yes, but it will probably take several months. It will not be in the next release.

[2020-11-18 20:34] hainest commented on #921
What version of Dyninst are you using? There are internal Dyninst data structures which are required to be persistent throughout the lifetime of the instrumented process, but will be released once the instrumented process is exited. This is not necessarily a memory leak.

[2020-11-19 04:11] ManojKumarChauhan commented on #921
Hi @hainest,
I am using the latest version 10.2.1.
For one process codeCoverage memory is increased by 2.4 gb. This is very high.
I think there is some memory leak. Could you please check.

[2020-11-19 13:48] mxz297 commented on #910
@ZHAZHA33

Currently, there is no gap analysis for aarch64 binaries.

No, ParseAPI should be able to do cross-architecture binary analysis. So, what you have observed is a bug for us to fix. In this case, parseGaps should check the binary's architecture rather than the architecture where it is running.

For you to work around this problem, you can remove the conditional compilation guards so that

[2020-11-19 13:57] ManojKumarChauhan commented on #921
I am not agree with this. If codecoverage attach to a process, instrument the functions and return after that (means it gets closed itself) then the instrumented functions always work in the running process.

[2020-11-19 23:40] mxz297 commented on #910
@ZHAZHA33 Can you try this branch and see if it resolves your problem?

https://github.com/dyninst/dyninst/tree/gap_parsing_enable

[2020-11-20 00:40] Jokeren opened #923 "Assembly files fail to build with CMake >= 3.19"
**Intention**
Build dyninst on LLNL lassen using spack

**Describe the bug**
Failed to build

**To Reproduce**
spack install --only dependencies hpctoolkit ^dyninst@master

**Expected behavior**
Build successfully

**System (please complete the following information):**
 - What platform?  Power 9
 - What commit?  master
 - Maybe libc version? gcc-8.3.1

@hainest, Xiaozhu said you have been testing

[2020-11-20 05:22] hainest commented on #923
Are you using a local spack (i.e., one you installed yourself)? If so, what is HEAD?

Could you post the concretization of `hpctoolkit ^dyninst@master`?

Did your error look something like this?

	379                     if (ch == EOF) break;
	380                            ^~
	381    [ 53%] Building C object CMakeFiles/dyninstAPI_RT_static.dir/src/RTspace.S.o
	382    Scanning dependencies of targ

[2020-11-20 15:33] Jokeren commented on #923
@hainest Yes, that's like the error I saw. I was using spack@develop

[code]

[2020-11-20 22:31] hainest commented on #923
I've been able to replicate this on my home machine (Ubuntu 20, x86), so it's not an issue on Lassen. It looks like gcc doesn't like our hand-written GAS assembly anymore when compiling under spack. I'm bisecting to see if I can find when it broke.

[2020-11-21 02:59] ZHAZHA33 commented on #910
Thank you for your help, I will try this branch and also I am working to work around this problem by removeing the confitional compilation guards;
I will let you know if anything changes. Thanks again

[2020-11-21 04:04] hainest commented on #923
It looks like CMake-3.19.0 broke ASM handling. `spack install --only dependencies hpctoolkit ^dyninst@master ^cmake@3.18.1` works fine both on my machine and on Lassen.

[2020-11-22 04:05] hainest commented on #923
@Jokeren The problem is that CMake 3.19 started passing the `-x <LANG>` flag during compilation. We were incorrectly stating that `.S` files were C-language files, so gcc refused to compile them. I'm testing a PR now to fix that.

[2020-11-22 15:53] Jokeren commented on #923
@hainest Thanks for your investigation!

[2020-11-24 09:00] ManojKumarChauhan commented on #921
Hi @hainest ,
Are you going to make some change to avoid the memory leak?

[2020-11-27 13:18] ManojKumarChauhan commented on #833
Hi @sashanicolas ,
Hope you are able to reproduce the issue without doing any instrumentation.

[2020-12-02 14:20] kupsch opened #926 "Remove side effects from assert expressions"
**Intention**
Fix assert expressions to be pure functions with no side effects that are visible outside the assert.

**Describe the bug**
Several assert expressions in Dyninst have necessary side effects for the correct operation.  Since the assert is completely removed if NDEBUG is defined, this required expression is not present.

**To Reproduce**

**Expected behavior**
The system should functio

[2020-12-04 06:02] hainest opened #930 "static rewriter crashing on Power9 with large thread count"
When OMP_NUM_THREADS >= 16, test5_1 reliably crashes in static rewriter mode. This occurs both on llnl.cs.rice.edu and lassen.llnl.gov. It does not happen on x86 (it's not implemented on ARM).

	$ gdb --args ./test_driver -none -64 -all -staticlink -rewriter -test test5_1
	(gdb) set env DYNINSTAPI_RT_LIB=/home/th37/paradyn/yeeYSkYq/dyninst/lib/libdyninstAPI_RT.so
	(gdb) set env LD_LIBRARY_PATH=/ho

[2020-12-04 14:48] #926 closed

[2020-12-04 15:05] hainest commented on #907
@woodard Could you re-upload the file with all of the libraries+RPMs? For some reason, the one that is here keeps showing 0 bytes when downloaded.

[2020-12-05 16:39] mxz297 commented on #930
@hainest I will take a look and try to reproduce it on llnl.cs.rice.edu

[2020-12-10 23:58] wcohen commented on #905
I wonder if this and other filed bugs might be the result of running out of stack space might be the cause of some of the other issues reported.  When running the with qt5-qtmultimedia-5.15.1-1.fc33.x86_64 as input (https://github.com/dyninst/dyninst/issues/903) also got a very large stack when I ran it.  Depending the on the stack depth the crashes happen in different places.  It might be instruc

[2020-12-11 19:18] wcohen commented on #905
Looking at the DYNINST_DEBUG_DWARF=1 and the dwarf information in /usr/lib/debug/lib64/../.dwz/nss-mdns-0.14.1-9.fc33.x86_64 and /usr/lib/debug/lib64/libnss_mdns.so.2-0.14.1-9.fc33.x86_64.debug.  The dwarfWalker starts analyzing some formal parameter DIEs before the initial initial DIE that triggers the first call to parse_int and then walks into the initial DIE again and repeats the process over

[2020-12-14 16:12] wcohen commented on #905
Looking at the output of DYNINST_DEBUG_DWARF=1  Something doesn't look right when processing processing the abstract of fe5:

[code]
The above refers to the following node in /usr/lib/debug/lib64/../.dwz/nss-mdns-0.14.1-9.fc33.x86_64
[code]
In the debug outpu things don't seem quite right with references to 0xfb6 and 0xfbb.  There doesn't seem to be DIEs starting at those addresses:

[code]

[2020-12-14 17:41] hainest commented on #905
@wcohen Thanks so much for chasing this down. @sashanicolas is our DWARF person, but he's working on fixing parsing alternative DWARF files right now. That work is going to require some non-trivial re-write of parts of Dyninst's DWARF parser, so it might be a while before we get back to this one.

[2020-12-14 19:41] wcohen commented on #905
Is there some place to watch for these rewrites to the Dyninst's DWARF parser?  I have some code that make heavy use of dyninst to analyze binaries and their debuginfo to look for issues (https://github.com/wcohen/quality_info/tree/master/dyninsttools) and it would benefit from improved dyninst DWARF parsing.

[2020-12-14 19:58] hainest commented on #905
@sashanicolas Could you keep @wcohen updated on your progress with the alt-file fixes?

[2020-12-14 23:19] sashanicolas commented on #905
@wcohen That problem you point out with the output of DYNINST_DEBUG_DWARF has been fixed. What you see is dyninst trying to parse the entry 0xf9b in the same file, but clearly it is not. This entry is in a supplemental file.
We only found out about it thanks to these recent issues, in which supplemental/alternative dwarf files are involved. All the fixes regarding these files will be soon merged t

[2020-12-15 02:11] wcohen commented on #905
@sashanicolas thanks.  Glad to hear that the issue with mishandling alternative files has a fix in the works.  Is there a public branch with these fixes? I would like to try out the patches and see if they resolve my problems with my code.

Is there some thought about adding tests to the testsuite to make sure that these type of things work (and continue to work)?

[2020-12-15 02:24] hainest commented on #905
Applying the split debug file technique globally to the test suite would be a lot of work. Instead, Bolo and I are working on creating a broader set of testing environments using containers. I'm currently working on a set of scripts to automate running Ben's symtab test he used to drive out all of these bugs. I plan to make this part of our weekly testing regimen some time in the near future.

[2020-12-15 07:52] sashanicolas commented on #905
@wcohen Just put them on https://github.com/dyninst/dyninst/tree/sasha/dwarf-redhat-issues. Let us know what you find.

[2020-12-15 15:47] wcohen commented on #905
@sashanicolas patch definitely improves the situation.  I patched the dyninst used in Fedora 33 with the patch and used it with analysis program read only and the various binutils exectuteables in Fedora 32 and 33 (addr2line, ar, as c++filt, ld) and there weren't any crashes.

[2020-12-15 16:17] kupsch opened #933 "Variable uniqueness should include size not just offset"
**Intention**
Variables are comprised of multiple symbols where the offset that would be used to access the contents determines which variable a symbol belongs.  This should also include the size of the symbol, so the size of the variable is not nondeterministic based on the size of first symbol added.

**Describe the bug**
Read-only variables may exist at the same location in memory if they their

[2020-12-15 16:51] kupsch opened #935 "several Symbol methods should be const"
**Intention**
Several methods of Symbol should be const methods:
- getVersions
- getVersionFileName
- getVersionNum
- getVersionHidden
- getReferringSymbol

**Describe the bug**
You can't call the above methods if you have a const Symbol.

**To Reproduce**

**Expected behavior**
You should be able to call the methods with a const Symbol as they do not modify Symbol.

[2020-12-16 01:15] #935 closed

[2020-12-16 03:15] hainest commented on #892
We now explicitly require gcc >= 6 (see #932).

[2020-12-16 03:15] #892 closed

[2020-12-16 03:29] hainest commented on #646
@sashanicolas I'm fairly certain this is the same issue that you are fixing now, but I want to make sure we include it in our testing.

[2020-12-16 03:59] hainest commented on #607
Warnings as of 13ea0fa

| Warning        | Count  |
| ------------- | -----:|
|overloaded-virtual|2|
|implicit-fallthrough|26|
|reorder|21|
|ignored-qualifiers|4|
|stringop-truncation|7|
|switch|16|
|type-limits|1|
|misleading-indentation|1|
|missing-field-initializers|1|
|deprecated-copy|17|
|format-overflow|2|
|format-truncation|2|
|format|1|
|int-in-bool-context|2|
|maybe-uninitialized|2|
|poin

[2020-12-16 04:09] hainest opened #937 "Possible bug in AMD GPU architecture handling in DwarfHandle::init_dbg"
@bbiiggppiigg  @mxz297

https://github.com/dyninst/dyninst/blob/master/dwarf/src/dwarfHandle.C#L199 was introduced by #900

1. We are returning an enum/int value in a function that returns a `bool`. In gcc, this fires `-Wint-in-bool-context`.
2. The first assert cannot fire because of the `return`
3. We never assign a value to `arch`. I'm assuming that's because this is only preliminary architectu

[2020-12-16 16:09] mxz297 commented on #937
I see. @bbiiggppiigg It looks like then `arch` should have the architecture enum and the function should return `true`.

[2020-12-16 18:47] #937 closed

[2020-12-17 20:47] woodard commented on #607
The GCC team is about to release 11.0 may I suggest that you target the warning fixing to that compiler so that you are not playing catch up. GCC10 was a big jump forward and I believe part of what they worked on improved the quality of the warnings. In GCC11, the ability of the compiler to analyze code and understand what ranges particular expressions will be within allows it to spot many issues

[2020-12-18 08:44] jordialcaraz opened #940 "Error when execution with dyninst"
**Intention**
What did you want to do?

Install dyninst correctly to run my application which depends on it. I tried to run it, but an error appeared, so I went back to the dyninst examples I had and they didn't work.

**Describe the bug**
When I run an application with dyninst an error appears. It seems to be related to processcreate.
Now abort() in libdwarf. No error argument or handler availabl

[2020-12-18 09:21] jordialcaraz commented on #940
I think I found the error, will open this again if after checking with the admin it is not solved.

[2020-12-18 09:21] #940 closed

[2020-12-18 22:17] hainest commented on #686
@mwkrentel This should have been fixed by #889. Could you re-run your test with the current master and let me know if this behavior has gone away?

[2020-12-20 20:18] ghost opened #941 "MPI support?"
Hi, I am new to dyninst and have a simple question, so can I run the instrumentation on MPI program binary? Thank you.

[2020-12-21 16:11] mxz297 commented on #941
I have heard some difficulty for dynamically instrumenting spectrum mpi programs. I am not sure about the details. You can definitely post any specific issues and we will try to help.

[2020-12-21 20:49] litang commented on #941
Thank you. So we have developed a simple dyninst tool that can successfully instrument serial code and now we would like to move it to instrument MPI programs. We just want each MPI rank does the same instrumentation and report individually. However, I didn't fine any info (e.g., examples or API guide) for running dyninst with MPI. So any info would be appreciated.

[2020-12-22 16:01] mxz297 commented on #941
Conceptually, Dyninst instruments serial code, multi-threading code, and MPI programs in the same way. So, you don't really need to anything special for moving to MPI.

[2020-12-24 08:52] ZHAZHA33 commented on #910
@mxz297   We hava found the problem was caused by char which is different in aarch64 and x86 by default;
We need to use   -fsigned-char  in aarch64 env.
Thank you for your help!

[2020-12-24 08:52] #910 closed

[2020-12-27 00:46] litang opened #942 "snippet not executed for exitPoint on power9"
Hi, my dyninst tool inserted a "printf" at the exitPoint of main. It worked well for x86 and aarch64 but not executed on ppc64. I also tried the exitPoint of basicblock on ppc64 but no luck yet. Any solutions? Thank you.

[2020-12-27 00:54] litang commented on #941
Thank you. Is "mpirun -n 4 ./mydyninst_tool ./mpi_hello_word" the right way to run it with mpi? Also, for each mpi rank, would dyninst keep its own BPatch_variableExpr? For example, I would like to output the total # of instructions for each mpi rank. Given that each mpi rank might run different functions, should I insert the "printf" to the right exitPoint for each mpi rank? Or is that a way to s

[2020-12-28 13:00] ManojKumarChauhan commented on #833
Hi @sashanicolas ,
This thread is running since last 4 months. Do you have any plan to fix this issue? OR should I close this?

[2020-12-29 05:19] mali-arf opened #943 "Does Dyninst toolchain Origin identify Compiler for 64-bit Windows Executables?"
I installed Dyninst on Linux and the toolchain "Origin" tool successfully created for idioms and graphlets files of length 1, 2, and 3 of Windows PE file. But the featlists and instances files are zero bytes in length. Furthermore, I got the following error:
traceback (most recent call last):
  File "Origin.py", line 227, in <module>
    endAddr = GetEndAddress(args.binpath, filename)
  File "Orig

[2020-12-29 07:30] mali-arf opened #944 "eatractFeat is crashing with sysmalloc Assertion"
Hi I am getting the following assertion while executing extractFeat for feature generation of windows and linux executable.
extractFeat: malloc.c:2379: sysmalloc: Assertion `(old_top == initial_top (av) && old_size == 0) || ((unsigned long) (old_size) >= MINSIZE && prev_inuse (old_top) && ((unsigned long) old_end & (pagesize - 1)) == 0)' failed.
zsh: abort      extractFeat /files/explorer.exe idio

[2020-12-29 15:50] mali-arf opened #945 "Dyninst 10.2 is throwing error with Boost 1.62 on Ubuntu!"
Hi there,
This example has been taken from ParseAPI of DynInst Documentation example 3.1, "Functions Disassembly". On line 43, the following error is encountered. Kindly help me to resolve it!
*********************************************************************************************************************
boost::shared_ptr<Dyninst::InstructionAPI::Instruction>’} and ‘Dyninst::InstructionAPI::I

[2020-12-29 22:47] bbiiggppiigg commented on #945
Can you try the funcDisassemble example here ?
https://github.com/bbiiggppiigg/examples/blob/master/funcDisassemb/funcDisassemb.C

[2020-12-30 01:56] mali-arf commented on #945
Thank you bbiiggppiigg. Its Working fine.
What was the issue?

[2020-12-30 03:36] bbiiggppiigg commented on #945
The examples in the documentation might be outdated.
The most up to date examples are in the dyninst/examples repo.
For this problem in particular, probably some misuse of reference.

[2021-01-03 19:27] mali-arf opened #946 "Dyninst 10.2 run on Windows 10?"
Can you share your experience of building Dyninst 10.2 on Windows 10?
I used MSys2 64-bit to build TBB on Msy using pacman, Boost 1.66 with gcc and finally DynInst using MinGW but ended up with the error of cmake Policy CMP0004 of trailing spaces.
If I build DynInst with MS Visual Studio then I get the missing TBB errors, however, I have added all paths of the TBB libraries.
Thanks for your suppor

[2021-01-04 15:03] mxz297 commented on #943
The toolchain origin tool was not tested for PE binaries.

[2021-01-04 17:23] mali-arf commented on #943
Thanks for your reply Meng.

[2021-01-05 04:19] mali-arf commented on #943
Meng, the compiler provenance labels for Microsoft Visual C++ compiler families (2003, 2005 and 2008) in the Origin Tool were learned on MSVC compiled Binaries. right? Were they not PE binaries?
Can you please clarify my confusion.
Thanks

[2021-01-05 22:43] litang commented on #942
Also tried inserting the snippet to the exitpoint of basicblocks and still not working for me. Anyone can help? Thank you.

[2021-01-06 19:17] mxz297 commented on #942
For us to be able to debug your problem, can you provide the source code of your Dyninst mutator (the program that instruments other programs), the source code of your mutatee (the program that is being instrumented), a Makefile that builds these programs (importantly, the compilation flags)?

[2021-01-06 19:22] mxz297 commented on #943
There are no labels for Microsoft Visual C++ compiler family in the implementation (https://github.com/dyninst/toolchain-origin).

If you refer to the paper  "Nathan Rosenblum, Barton P. Miller, and Xiaojin (Jerry) Zhu, "Recovering the Toolchain Provenance of Binary Code", International Symposium on Software Testing and Analysis (ISSTA), Toronto, Canada, July 2011", that paper indeed included Micr

[2021-01-06 22:25] litang commented on #942
Thank you, Meng. So the attached zip includes the dyninst tool (Makefile included but the dyninst path needs to be changed) and a simple c program (just compile with gcc -o a myapp.c). The issue is that the inserted print snippet in that tool can be executed on both x86 and aarch64 but failed on ppc64 (power9). If I remove the big for-loop chunk of iterating the binary in that dynisnt tool then it

[2021-01-07 03:00] mali-arf commented on #943
Oh I got it now. Thanks for the clarification. Yes, in the current implementation, I didnt find any labels for MSVC but if we manage to run Dyninst on Windows without errors,  will the "Origin" gonna work, apart from just adding the compiler labels?

[2021-01-08 20:20] #945 closed

[2021-01-10 00:55] litang commented on #942
I did some simple tests today and found the following code prohibits the snippet execution on power9. Specially, if I comment the line - vector<BPatch_function *> *allFunctions = (*moduleIter)->getProcedures(), then the snippet is. executed on power9.

`BPatch_module *defaultModule;
  vector<BPatch_module *> *allModules = appImage->getModules();
  vector<BPatch_module *>::iterator moduleIter;
  fo

[2021-01-13 14:23] ManojKumarChauhan opened #947 "Dyninst - values passed to instrumentation function are not saved"
**Intention**
Instrument a function at Bpatch_entry level. Add some values and pass in the function.  When the instrumentation function execute, it should have the passed values

**Describe the bug**
A clear and concise description of what the bug is.
insert a function in golang binary.

BPatch_function *curFunc = findFuncByName(libImage, (char *) "bbCallback");
BPatch_function * insertedfunc = fi

[2021-01-18 07:48] ManojKumarChauhan commented on #947
Can someone suggest how to solve this issue?

[2021-01-18 11:55] ManojKumarChauhan commented on #947
Hi @mxz297 ,

This issue is partially fixed in layout_opt branch. If I pass integer value argument in insertSnippet then this value persists when the instrumented method is called. But when pass a string argument it does not save.

Could you please share the git hash where you solve the issue for passing integer.

[2021-01-19 17:12] mxz297 commented on #947
@ManojKumarChauhan I did not do anything specific to fix this problem. I disabled some Dyninst's internal code generation code, which could generate wrong values. However, I don't think my branch itself fixed the problem...

[2021-01-19 17:14] mxz297 commented on #947
@ManojKumarChauhan If the root cause is that Dyninst does not save and restore registers, my branch provides a separate way to allow the user to specify which registers to save and restore:

https://github.com/iu-parfunc/ShadowGuard/blob/master/src/instrument.cc#L1000

[2021-01-20 08:45] ManojKumarChauhan commented on #947
Hi @mxz297 ,
It did not work for me. In layout_opt branch I passed one additional parameter (InstSpec is_init) in insertSnippet function and initialize it with SetupInstrumentationSpec. It gave following error
"Error: specific register could not be spilled!"

I did not understand the use of following code.
Snippet::Ptr stack_push =
        RegisterPushSnippet::create(new RegisterPushSnippet(summar

[2021-01-20 11:58] ManojKumarChauhan commented on #947
When I call insertSnippet without passing the additional argument then it's not able to store the value because none of the register is available.  I am getting below message

emit-x86.C[1816]: pre-call, register 0 has refcount 0, keptValue 0, liveState spilled
emit-x86.C[1810]: pre-call, skipping callee-saved register 3
emit-x86.C[1810]: pre-call, skipping callee-saved register 4
emit-x86.C[1810]

[2021-01-20 19:54] #933 closed

[2021-01-21 18:37] ManojKumarChauhan commented on #947
Hi,Hope you are doing well. Need some help for this issue.I passed extra argument in insertsnippet but that didn't work.After calling correct function (point) of basetramp from emit-x86 File and using correct registers, the error gone but still the value is not saved.If I use a string value as argument for insertsnippet then it's considered as int.
Could you please suggest how to solve that as I a

[2021-01-26 12:20] tomhaber opened #949 "Unable to get thread id/index"
I want to do some filtering on thread id or index (linux-x86). I've tried to use both threadIndexExpr and tidExpr, but both fail.

threadIndexExpr fails with ast.C:2083: virtual bool AstCallNode::initRegisters(codeGen&): Assertion `callee' failed.

tidExpr fails because it is unable to find function: dyn_pthread_self:

Looking into this further, it can't find the function because it is not instrum

[2021-01-26 20:13] hainest commented on #949
What version of Dyninst are you using? What build configuration did you use?

Those are the current defaults (see [BPatch_image.h:185](https://github.com/dyninst/dyninst/blob/master/dyninstAPI/h/BPatch_image.h#L181)).

[2021-01-26 20:17] tomhaber commented on #949
I'm using the git version, but I meant
[code]

Sorry about the confusion.

[2021-01-26 20:32] hainest commented on #949
@mxz297 Looking through the code for `dyn_pthread_self`, I don't see any reason it should be marked as uninstrumentable. There is a version in the RT, but it has the standard `DYNINST_` prefix. Do you have any thoughts on this?

[2021-01-26 22:49] mxz297 commented on #949
@tomhaber Did you set environment variable `DYNINSTAPI_RT_LIB` to the full path of `libdyninstAPI_RT.so`?

[2021-01-26 23:09] tomhaber commented on #949
I did and also linked the mutatee with the library. I also printed all the functions found in the mutator and the function was in the list. The mutator can also find the function with the line about (inc_uninstrumentable=true)

[2021-01-26 23:13] tomhaber commented on #949
Some more details:

I build the latest git master and compiled with

[code]

[2021-01-27 23:54] mxz297 commented on #949
@tomhaber on my local system, `dyn_thread_self` has an indirect tail call that was not correctly identified. Therefore, `dyn_thread_self` becomes uninstrumentable. There is no simple fix for this problem yet.

In your case, as you do not really need to instrument `dyn_thread_self`, but just to call `dyn_thread_self`, whether `dyn_thread_self` is instrumentable or not should be irrelevant. Does it

[2021-01-28 00:08] tomhaber commented on #949
That's exactly what I was trying to say and what my "fix" does.

[2021-01-29 19:34] hainest opened #951 "Incorrect offsets on CentOS 8"
Reported by andrew.dangelo@hpe.com

@mxz297 @sashanicolas

We’re using Dyninst 10.1, and the binary was built with GCC 8.3.1.

This was working, and is still working on the rest of our systems, using Slurm and ALPS and other launchers. The problem is occurring on one of our Centos 8 systems controlling a new launcher. While we haven’t tried to automate attaching to this specific launcher before, t

[2021-01-29 20:14] hainest opened #952 "Compiler warnings for AMD GPU code"
@bbiiggppiigg

The -Wreorder -Wswitch warnings we definitely want to get fixed before the 11.0 release.

**-Wreorder**
dyninst/src/instructionAPI/src/InstructionDecoder-amdgpu-vega.h:262
	‘Dyninst::InstructionAPI::InstructionDecoder_amdgpu_vega::isModifyPC’ will be initialized after

dyninst/src/instructionAPI/src/InstructionDecoder-amdgpu-vega.h:248
		‘bool Dyninst::InstructionAPI::InstructionDec

[2021-01-29 20:20] bbiiggppiigg commented on #952
Most of the unused stuff  is related to the fact that they are generated function templates but not really supported yet..
The switch stuff is related to the me adding Arch_rdna as an architecture that will be support in the future, should be an easyfix.
The reorder stuff Ill have to look into them.

[2021-01-29 20:41] hainest opened #953 "Unhandled enum values for Intel GPUs"
@Jokeren

We'll want to get these cleaned up for the 11.0 release.

dyninst/src/common/src/dyn_regs.C:380
	enumeration value ‘Arch_intelGen9’ not handled in switch

dyninst/src/common/src/dyn_regs.C:407
	enumeration value ‘Arch_intelGen9’ not handled in switch

dyninst/src/proccontrol/src/process.C:1929
	enumeration value ‘Arch_intelGen9’ not handled in switch

dyninst/src/parseAPI/src/SymbolicExp

[2021-01-29 20:44] hainest commented on #952
Yeah, I'm not sure what to do about some of those warnings (there are 75 of them in total). I would like to have the number of warnings down to zero, but it depends on how much work it is to get there.

Those are an easy fix. The C++ standard technically requires that member variables in an initializer list are provided in the same order they are declared in the class. You'll just need to reorder

[2021-01-29 20:54] Jokeren commented on #953
I'll fix these issues soon

[2021-01-30 00:06] hainest commented on #946
We do not currently support the Windows platform. I would recommend either building under the Linux Subsystem for Windows or using a virtual machine.

[2021-01-30 00:08] hainest commented on #944
We do not currently support running Dyninst on Windows. To better understand the error, please provide the following:

**Intention**
What did you want to do?

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
A command? A code? A binary?

**Expected behavior**
A clear and concise description of what you expected to happen.

[2021-01-30 00:09] hainest commented on #943
Closing as we do not currently support using Dyninst on Windows

[2021-01-30 00:09] #943 closed

[2021-01-30 00:09] #946 closed

[2021-01-30 00:23] hainest commented on #941
This will generate four MPI ranks that each execute `mydyninst_tool` and will *not* cause `mpi_hello_world` to receive any MPI messages. If you want to analyze `mpi_hello_world` while it is running, you'll need to statically insert a breakpoint, run the program under MPI, and then attach Dyninst to it using the proccontrol toolkit.

[2021-01-30 00:25] hainest commented on #921
No. The DyninstAPI_RT is injected into the attached process. This requires parts of Dyninst which have persistent data structures that do not leave memory until the process is exited. There is no memory leak in this case.

[2021-01-30 00:26] #918 closed

[2021-01-30 00:32] hainest commented on #898
@mxz297 @sashanicolas @kupsch @bigtrak We had some discussion about inlined functions in Dyninst some time ago. Does anyone recall if we had any action items on that?

[2021-01-30 00:39] hainest commented on #845
Closed due to inactivity. Please reopen this issue or submit a new one if this problem persists.

[2021-01-30 00:39] #845 closed

[2021-01-30 04:35] Jokeren commented on #953
https://github.com/dyninst/dyninst/pull/955

@mxz297 other than getPC, the code is consistent with the cuda register. Do you know why we need to implement getPC for cuda instructions?

[2021-01-31 21:07] #952 closed

[2021-02-01 19:06] #734 closed

[2021-02-03 06:10] tthtlc commented on #538
I got a crash when analysing ARM32:
![image](https://user-images.githubusercontent.com/179509/106705666-5757db80-6629-11eb-8f3c-23ec86fec3dd.png)

And the location of source code is here:

![image](https://user-images.githubusercontent.com/179509/106705707-69d21500-6629-11eb-9561-5cb4e3f3dd5d.png)

So yes, confirmed, it is unimplemented for ARM32, and same goes for Ray Chen tree as well.

[2021-02-03 09:41] #921 closed

[2021-02-04 06:48] ManojKumarChauhan opened #984 "Stack issue due to wrapFunction"
To instrument some functions in a running process, I used wrapFunction and insertSnippet of BPatch_addressSpace.
insertSnippet is working fine but wrapFunction is creating problem for some cases  like  'when the wrapper function invokes some callback or does some async operation'.
binary->golang
dyninst version->master 10.2.1
When wrapFunction is called, stack is switched and i got following error

[2021-02-04 06:57] #869 closed

[2021-02-04 06:57] #863 closed

[2021-02-04 06:58] #947 closed

[2021-02-04 21:26] mxz297 commented on #953
@Jokeren I don't remember any particular reason to implement getPC for CUDA. Probably getPC for CUDA was also added to suppress compiler warning.

[2021-02-04 22:17] hainest opened #985 "Unhandled switch cases in adhocMovementTransformer::isPCRelData"
dyninstAPI/src/Relocation/Transformers/Movement-adhoc.C:291, enumeration value ‘c_CompareInsn’ not handled in switch
dyninstAPI/src/Relocation/Transformers/Movement-adhoc.C:291, enumeration value ‘c_PrefetchInsn’ not handled in switch
dyninstAPI/src/Relocation/Transformers/Movement-adhoc.C:291, enumeration value ‘c_SysEnterInsn’ not handled in switch
dyninstAPI/src/Relocation/Transformers/Movement

[2021-02-04 22:20] hainest opened #986 "Implicit fallthrough in switch statements"
- [x] common/src/arch-x86.C:11434
- [ ] common/src/arch-x86.C:11995
- [ ] dwarf/src/dwarfExprParser.C:337
- [ ] symtabAPI/src/Symtab-edit.C:74
- [ ] symtabAPI/src/parseStab.C:465
- [ ] symtabAPI/src/parseStab.C:1896
- [ ] symtabAPI/src/parseStab.C:1902
- [ ] proccontrol/src/loadLibrary/codegen.C:156
- [ ] proccontrol/src/loadLibrary/codegen.C:175
- [ ] proccontrol/src/linux.C:371
- [ ] proccontrol

[2021-02-05 04:53] mali-arf opened #992 "Does Dyninst not work for Windows 64-bit binaries?"
Hi,
I need to verify if Dyninst does not parse 64-bit Windows binaries on Windows platform. So I dont need to try building it on Windows.

Thanks

[2021-02-05 04:59] hainest commented on #992
We do not currently support the Windows platform. There is a possibility that it will work, but we can't even guarantee that Dyninst will build on Windows.

[2021-02-05 07:12] mali-arf commented on #946
Can you please explain, how can I use Dyninst for Windows Binary in a VM?

[2021-02-05 15:37] mxz297 commented on #986
@hainest Can you convert your list into a table checkboxes?

[2021-02-05 18:25] hainest commented on #986
@mxz297 Updated.

[2021-02-05 18:29] #953 closed

[2021-02-05 19:24] mxz297 commented on #986
@hainest I have gone through a pass on the list. A checked box means that I am reasonably certain that falling through into the next clause is the intended behavior. As you can see, more than half of the lines are not checked. For these unchecked ones, I feel either uncertain or even leaning towards the feeling that there should be a break from the switch statement.

So, I would say that this is a

[2021-02-05 19:34] hainest commented on #986
Ok. I will make a fallthrough macro to silence the compiler warnings.

Well, of all the Dyninst developers, you have the most knowledge of this type of question. Do you have someone specific in mind to look over these, or do you just want everyone to take a look to get a somewhat-informed consensus?

The ARM and Power builds show the same warnings (actually, fewer).

[2021-02-05 20:10] mxz297 commented on #986
@sashanicolas Can you take a look at "dwarf/src/dwarfExprParser.C:337" and see if a `break` is needed?

@hainest For other ones, it is probably just to get more thoughts. I am not familiar with these ones either.

[2021-02-06 05:28] mali-arf opened #996 "Does Dyninst or Origin Tool not accept Stripped ELF binary?"
Hi,
Both "Dyninst" 10,2 and "Origin" on Linux cannot read a stripped ELF binary.
The error in Origin is :
File "Origin.py", line 216, in <module>
    endAddr = GetEndAddress(args.binpath, filename)
  File "Origin.py", line 34, in GetEndAddress
    endAddr = open(out, "r").read()[:-1]

Whereas Dyninst cannot read the Dwarf symbols from the Stripped ELF file and therefore doesn't output functions or

[2021-02-06 15:21] mali-arf commented on #671
So on Windows using WSL, which compiler should we use to compiler Dyninst with?

[2021-02-07 04:27] hainest commented on #996
Dyninst is very limited in what information it can extract from a binary without debug (i.e., DWARF) information. What type of analysis are you trying to perform on a stripped binary?

[2021-02-07 05:16] mali-arf commented on #996
Actually I wanted to strip a binary and test it on "Origin" for compiler provenance.
If "origin" accepts stripped binaries then it can work for any binary may that be PE or Elf.
But found out that neither dyninst nor origin parses a binary that is stripped of the header info.

On Feb 7, 2021 12:27, Tim Haines <notifications@github.com> wrote:

Dyninst is very limited in what information it can ext

[2021-02-07 15:21] mali-arf opened #998 "Why Dyninst does not recognize the installed "Boost" while building on Windows (in Visual Studio)?"
1) Right now building Dyninst on Windows in Visual studio as a CMake Project.
The **Problem** is that During Build it is trying to download and build boost in the path of the Release/Debug Build. I dont understand why Dyninst does not recognize that Boost is already installed on Windows. I have set the environment variables and set CMake parameters to Dyinint as well.

Dyninst:10.2.1
Visual Studio

[2021-02-07 20:11] hainest commented on #998
None of the developers uses Windows, so we can't help you with these installation issues. If you post the errors/warnings issued by CMake, we might be able to give you some advice, but we make no guarantees.

[2021-02-07 20:26] hainest commented on #996
@mxz297 Can we do provenance on stripped binaries?

[2021-02-07 20:44] hainest commented on #671
@mali-arf Dyninst currently only builds with gcc.

[2021-02-07 23:17] #985 closed

[2021-02-08 08:34] mali-arf commented on #998
Thanks. I modifed the "FindBoost.cmake" file, set the PATH variables; commented the line where the code unsets the PATH variables, Sets the pattern of the "libboost" libraries format. I have done many changes and now the boost is FOUND on VS 2019 with Dyninst 10.2.1. So the cmake configuration is done on Windows 10 in VS,

**For now, can you help me with the following error**. Its something like t

[2021-02-09 19:23] woodard commented on #646
Verified that this is fixed by sasha's latest sasha/dwarf-redhat-issues as of 121f55075d5a5cfe86b0a8d882e4988b293ec3c3.

Feel free to close this when that is merged into the trunk.

[2021-02-09 19:33] woodard commented on #903
Verified that this problem does not reproduce with sasha's dwarf fixes branch.

Feel free to close this when that is merged with the trunk.

[2021-02-09 19:37] woodard commented on #904
Verified that this works with the latest dwarf fixes from sasha.

Feel free to close this once those get merged with the trunk.

[2021-02-09 19:40] woodard commented on #905
Verified that this problem doesn't happen with the latest dwarf fixes from sasha.

Feel free to close this once that is merged with the trunk.

[2021-02-09 19:42] woodard commented on #906
Verified that this does not happen with the latest dwarf fixes on sasha's branch.

Feel free to close this when those are merged with the trunk.

[2021-02-09 20:10] woodard commented on #907
Verified that this no longer occurs with sasha's latest dwarf fixes.
Feel free to close this once those are merged with the trunk.

[2021-02-09 20:12] woodard commented on #908
Verified that this problem doesn't happen with the latest fixes from sasha.

Feel free to close the issue once those are applied to the trunk

[2021-02-09 20:14] woodard commented on #909
Verified that this no longer happens with sasha's latest fixes.

Feel free to close this bug once those are merged with the trunk.

[2021-02-15 19:42] wcohen commented on #898
I have found that there is a getInlines() method for symtabAPI.  There are some things are that are a bit unclear in the documentation:

Does the returned vector provide a separate entry for each location inlined?  So for a function that is inlined multiple times in another function is there an entry in the vector for each of those instances?

How does one handle the case of inlined functions havi

[2021-02-16 03:54] wcohen commented on #898
For the last questiion in the previous comment the documentation mentions Class InlinedFunction getCallsite() method which looks to provide and address.  How does one convert the FunctionBase elements in InlineCollection& returned by getInlines() into InlinedFunction class?

[2021-02-16 19:30] wcohen commented on #898
Did some additional experiments with following test code and the readonly.c (https://github.com/wcohen/quality_info/commit/cbbd4a5839cab2a0ef1362cc9117239ea4705338).  Compiled the test code on F33 with
$ gcc -g -O3  -o test2 lto_test2.c
$ cat lto_test2.c
#include <stdio.h>
#include <stdlib.h>

static int g(int y)
{
  return ++y;
}

static inline int f(int x)
{
  return g(x);
}

int main(int argc,

[2021-02-18 12:22] ManojKumarChauhan opened #1006 "Dyninst WrapFunction does not work for C++ and golang"
**Intention**
Use Dyninst WrapFunction to wrap a library function

**Describe the bug**
As per the implementation of WrapFunction on page no 24 of url https://dyninst.org/sites/default/files/manuals/dyninst/dyninstAPI.pdf, I implemented fastMalloc in a library and origMalloc in a c program.
When origMalloc is the part of c program then wrapfunction works fine but when origMalloc is part of a libra

[2021-02-18 22:23] hainest opened #1007 "Test failures on new PPC64 platform"
https://bottle.cs.wisc.edu/details/12665

This is the first test run on this platform. It is a Power9 system at the University of Oregon running Ubuntu-20.04, gcc-9.3.0, and glibc-2.31. Most failures are with rewriting statically-linked non-PIC binaries.

Mode | Linkage | PIC | Result | Count
---------|-----------|-------------|----------------|---------
attach|dynamic|PIC|PASSED|116
attach|dynami

[2021-02-18 23:41] hainest commented on #1006
Could you update your tarball to include a Makefile or CMakelist.txt to show how you are building your libraries?

[2021-02-19 06:21] ManojKumarChauhan commented on #1006
I have uploaded examples.tar.gz which contains Makefile.

For golang, wrapfunction does not work because dyninst does not find any entry for golang binary/library (symtabapi/object-elf.C file), here loaded_elf does not parse it correctly

[2021-02-24 01:30] hainest commented on #1007
Re-running with OMP_NUM_THREADS=1, the failures reduce to 7 and the crashes to 4.

https://bottle.cs.wisc.edu/details/12680

@mxz297 This is similar to to #930, but with only N=2 threads. There is no gdb on vina, so I can't debug this further. I'm contacting the admin to get it installed.

[2021-02-25 16:03] wcohen opened #1008 "Have the lineno query methods such as getAddressRanges limit results to instructions marked as beginning of statement"
**Is your feature request related to a problem? Please describe.**

When instrumenting and analyzing code there are cases where don't want to get all the instructions associated with a statement on a particular line.  Just want to examine state at the start of the statement. The .debug_line information generated by compilers include a flag to indicate whether an instruction is the beginning of a s

[2021-02-26 08:38] #984 closed

[2021-03-02 04:39] woodard commented on #1007
Let me know if you need a test machine. I believe we can hook you up. I think Xiaozhu has an account, maybe even Sasha. It’s for fedora and RHEL testing. So this would be in scope.

-ben

[2021-03-02 23:12] hainest commented on #1007
@woodard If it's not too much work, I'm always looking for more places to run Dyninst. Every time I run on a new platform, I usually find a breakage or two.

[2021-03-02 23:18] mwkrentel commented on #607
I tried building hpctoolkit master with dyninst master on two
machines: x86_64 and ppc64le.  In short, no more boost warnings
through dyninst.

(1) ufront -- x86_64, RH 8.3, RH gcc 8.3.1, boost 1.75.0
no more boost-related warnings

(2) llnl -- ppc64le, RH 7.7, spack gcc 7.4.0, boost 1.72.0
again, no more boost-related warnings

I'll see if I can try this on ARM.

[2021-03-03 18:21] hainest commented on #607
@mwkrentel

Were there any non-boost warnings?

Thanks for testing!

[2021-03-03 20:12] mwkrentel commented on #607
@hainest Both or all of my tests were building hpctoolkit with dyninst
master and various compilers.  There were some pure hpctoolkit warnings,
but none from either boost or dyninst or boost through dyninst or any
having anything to do with dyninst.  Sorry if that wasn't clear.

[2021-03-03 21:10] hainest opened #1010 "Unify exported functions; a Dyninst ABI spec"
In 2013, the `-fvisibility=hidden` flag was added by 98da2f2. The original commit notes that "There's a substantial reduction in the size of the libraries." However, removing this flag resulted in a maximum size change of <2%. Using a default hidden visibility was preventing many member functions in symtabAPI.so from being visible (specifically operator<< in the global namespace).

There are also

[2021-03-04 11:27] ManojKumarChauhan commented on #1006
Hi @hainest ,

WrapFunction does not work for golang because dyninst is not able to find any symbol. Should I create a new bug or it will be fixed in this bug.

[2021-03-05 03:39] wcohen commented on #893
I did some more poking around to see what is going on with the problematic clang generated code generated dumps of the dwarf information for the clang and gcc versions with:

$ dwarfdump ./heapsort > heapsort.dump

It looks like clang is encoding the location lists as offsets from the beginning of the function and dyninst is adding the starting address twice rather than just once:

< 1><0x000007be

[2021-03-05 03:52] wcohen commented on #893
Looking at the output of " eu-readelf --debug-dump=loc heapsort" for clang compiled version see the base being set to the start of the main:

DWARF section [35] '.debug_loc' at offset 0x5796:

 CU [     b] base: 0x00000000004011c0 <main>
 [     0] range 4, 1f
          0x00000000004011c4 <main+0x4>..
          0x00000000004011de <main+0x1e>
           [ 0] reg5
 [    23] range 4, 1f
          0x00

[2021-03-05 17:18] wcohen commented on #893
Turned on diagnostic printing in dyninst and ran with one of of the other dyninsttool programs, readonly:

$ COMMON_DEBUG_DWARF=true ./readonly -d ~/rpmbuild/BUILD/heapsort-0.5_clang10/heapsort >& dyninst_debug.log

The output shows that the range has already adjusted and then is adjusted a second time.  Below are a couple examples from the heapsort program compiled with clang:

[/home/wcohen/rpmb

[2021-03-05 19:46] hainest commented on #1006
@ManojKumarChauhan golang is not officially supported. Any changes to behavior for handling those binaries would be incidental.

[2021-03-05 19:49] hainest commented on #893
@wcohen Thanks for chasing this down! I'll try to make this a priority after the 11.0 release. There is a lot going on in Dyninst right now, so it might be a while before I can get to it.

[2021-03-05 20:06] wcohen commented on #893
@hainest Thanks.  I can see see where things are going wrong in  DwarfWalker::decodeLocationListForStaticOffsetOrAddress where the base is always being added in the section of code below.  For the gcc generated code the base is 0, so it turns out things are okay.  However, for clang the ranges have already been adjusted to include the base as seen in the earlier comment and then it gets added agai

[2021-03-05 20:57] hainest commented on #893
@sashanicolas Could you take a look at this? From WIll's comments, it seems the fix should be fairly straightforward. We won't be able to test this thoroughly until I get more of the clang stuff working in Dyninst.

[2021-03-18 03:29] #607 closed

[2021-03-19 15:26] wcohen commented on #898
GCC provides DW_AT_entry_pc addresses for inlined function, but those appear to have incorrect values (https://gcc.gnu.org/bugzilla/show_bug.cgi?id=99654).

GCC provides .debug_rnglist section that lists the areas of code associated with each inlined function.  It would be useful to have dyninst expose the debug_rnglist information for inlined functions like the getLocationList() method for localV

[2021-03-26 18:43] #646 closed

[2021-03-26 18:43] #902 closed

[2021-03-26 18:43] #903 closed

[2021-03-26 18:43] #904 closed

[2021-03-26 18:43] #905 closed

[2021-03-26 18:43] #906 closed

[2021-03-26 18:43] #907 closed

[2021-03-26 18:43] #908 closed

[2021-03-26 18:43] #909 closed

[2021-04-01 20:31] #629 closed

[2021-04-07 19:28] #830 closed

[2021-04-12 19:49] hainest commented on #605
@kupsch We should also make sure the memory tests can be re-enabled once we get this working (see https://github.com/dyninst/testsuite/issues/40).