[2018-07-03 14:42] mxz297 commented on #471
Are you working with 32-bit binaries? If it is the case, I am guessing that there is a wrong value in ebx, which causes the crashes. Can you confirm this?

[2018-07-03 14:45] javiertejedorm commented on #471
Yes, I am working with 32-bit binaries in Ubuntu 16.04 32-bits.

[2018-07-03 14:50] mxz297 commented on #471
OK. On 32-bit platforms, there is no pc-relative addressing mode. So, to do any pc-relative operation, the code will first make a call to a special thunk function, which will move the return address into ebx, which is also the pc of the call instruction.

When Dyninst instruments code, dyninst will relocate the function to a different address. So, the value in ebx will change. Dyninst is supposed

[2018-07-03 17:33] javiertejedorm commented on #471
I have checked the ebx issue but I don't see anything related to it. I am convinced that there is something wrong when resolving the plt table.
I have compiled one small library from the project that I am having the issues. Again, when calling to the functions from the plt it jumps to non-mapped addresses.
I set a breakpoint in main(), I have fixed two addresses manually with gdb and it run perfec

[2018-07-03 17:39] javiertejedorm commented on #471
And this happens when I load a library into the binary:

`appBin->loadLibrary(instLibrary)`

If I skip the load, it runs perfectly.

[2018-07-12 16:32] schulzm opened #473 "Spack Build Fails with missing dependency on libiberty"
Trying to build dyninst with Spack, which fails with the error line:
No rule to make target 'libiberty/libiberty.a', needed by 'common/libcommon.so.9.3.2'.

System:
Linux i10se5 4.4.0-130-generic #156-Ubuntu SMP Thu Jun 14 08:53:28 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

Complete Spack build log:
==> Staging archive: /u/home/schulzm/software/spack/var/spack/stage/dyninst-9.3.2-7x6kw2ktas2thyivzs5

[2018-07-14 06:22] bwelton opened #474 "PCWidget::PCtoReturnAddr sets LR unnecessarily on non-x86 architectures"
PCWidget::PCtoReturnAddr will emit instructions (including creating a stack frame) to set the value of LR even in cases in which link register does not need to be set (i.e. a non-returning branch). This effects Power (and likely ARM).

On POWER, the result is a smashed LR value on non-returning branches. This may have a similar result on ARM. @sashanicolas you may want to test this on ARM by creat

[2018-07-16 18:24] sashanicolas commented on #474
@bwelton are you talking about this call: https://github.com/dyninst/dyninst/blob/70f036ce3e07a8566c6f7325dbcdd24bf290ff06/dyninstAPI/src/Relocation/Widgets/PCWidget.C#L119

It is not implemented yet for ARM.

[2018-07-17 02:37] bwelton opened #475 "Handling of Emulated Atomics on Power Architectures"
Background: The Power architecture does not have single instructions which can perform common atomic operations such as compare and swap. In order to facilitate these types of operations, the Power ISA uses a reserve/commit approach where a reservation is obtained using one instruction (such as lwarx) and then at a later instruction (such as stwcx) the reservation is used to commit the value to me

[2018-07-17 02:41] bwelton commented on #473
What version of Spack are you using? About 2-3 weeks ago, the guys over at OpenSpeedShop pushed up an update to the dyninst spack package. This may not solve your issue, but if you haven't updated in a while you should give it a try.

[2018-07-24 21:53] sashanicolas commented on #471
@mxz297 I checked the fixed I did, and it's not related to .bss or .dynamic

[2018-08-01 05:08] lcytxw opened #476 "Segmentation fault after instrument BasicBlocks"
When I use the example binary 'codeCoverage' to instrument mutatees such as nasm and dwarfdump with '-b' options,  I got Segmentation fault after execute such instrumented binary.

$ ./nasm-cov id0
Segmentation fault
But under normal circumstances, It doesn't contain any output:
$ ./nasm id0
$

[2018-08-10 17:27] jmellorcrummey opened #477 "SymtabAPI dumps core when reading an exception table for a KNL (provided) binary"
The binary: https://rice.box.com/s/0dik9l6lyngooiwms4inq2ekj38itjb0

 Symtab::openFile fails to open the binary available at the link above. The symptom:

open: /home/johnmc/pkgs-src/dyninst/symtabAPI/src/Object-elf.C:3552: int read_except_table_gcc3(const unsigned char*, mach_relative_info&, Dyninst::Elf_X_Shdr*, Dyninst::Elf_X_Shdr*, std::vector<Dyninst::SymtabAPI::ExceptionBlock>&): Assertion `

[2018-08-17 21:30] sashanicolas commented on #477
@jmellorcrummey  I know about this bug, but haven't fixed it yet, need to debug more the FDEs. This happens also with lulesh2.0.

[2018-08-21 15:19] jgalarowicz commented on #477
@sashanicolas Hi Sasha - is the lulesh2.0 issue, the one I sent in?

[2018-08-23 15:56] mxz297 commented on #461
Fixed by commit https://github.com/dyninst/dyninst/commit/b8369b5627eec1f7c7ab8ef461dae0b63e20b23d

[2018-08-23 15:56] #461 closed

[2018-08-23 16:02] mxz297 commented on #473
@sashanicolas: I remember that you have already fixed this issue. If it is the case, please go ahead and close this issue. Otherwise, please comment the status of this issue.

[2018-08-27 16:37] bwelton opened #479 "Handling Relocation of Power 8 Function Preamble"
There are three issues that must be addressed to properly handle function preambles on Power 8 for relocation:

1. Detect the presence of the preamble in a function.
    - Check for the two instructions that compose the preamble. An example can be found here: https://github.com/bwelton/dyninst/blob/f3f7f83a554b3dcaf39c2b8ab09d7a8f716b16ca/dyninstAPI/src/addressSpace.C#L1708

2. Prevent the relocat

[2018-08-27 16:40] bwelton opened #480 "relocation of branch +0x4 causes erratic behaviors on PowerPC"
The relocation of branch 0x4+ causes some erratic behavior during relocation. Some compilers (cough clang) seem to be creating noops using this instruction. The simple fix is to capture these during relocation and discard them (or make them noops). See Here: https://github.com/bwelton/dyninst/blob/f3f7f83a554b3dcaf39c2b8ab09d7a8f716b16ca/dyninstAPI/src/Relocation/CFG/RelocBlock.C#L100

[2018-08-27 16:50] bwelton opened #481 "Power support for code generation of long branch calls (i.e. branch with link to SPR)"
Long branch call support is non-functional in dyninst where if a long branch is needed to replace a call an attempt is made to use a trap (which is unsupported for calls on Power).

The solution I have devised for this uses a new Power 8 SPR called TAR (target address register) to create scratch register space to construct the jump address. The fix in question can be viewed here: https://github.co

[2018-08-27 16:53] bwelton opened #482 "Codegen gen.point() fails in most cases on Power (returns NULL)"
gen.point() fails to return an inst point under most circumstances, resulting in very limited ability to do liveness analysis. The current reason for this issue is unknown but a sometimes working (but mostly not) fix can be seen here: https://github.com/bwelton/dyninst/blob/f3f7f83a554b3dcaf39c2b8ab09d7a8f716b16ca/dyninstAPI/src/codegen-power.C#L450

A better fix should be created such that codege

[2018-08-27 16:59] sashanicolas commented on #473
As soon as my PR is accepted in the Spack repository, I will close this issue.

[2018-08-27 17:09] bwelton opened #483 "Missing Vector Instructions and Reused Opcodes in Power 8"
The new category of vector instructions have been added to Power that are currently not detected by dyninst (decoded as invalid instructions).

Some of these instructions however reuse opcodes of existing instructions that were deprecated sometime between Power 2 and Power 8. This list is the most pressing since it will break relocation when these instructions are encountered (if they are instrume

[2018-08-27 17:17] bwelton opened #484 "Power 8 Instrimentation stack frame generation destroys vector register values"
The save/restore of FPR in stack generation when inserting instrumentation results in the vector register overlapping the FPR to be wiped. i.e. FPR0 (8 byte size) overlaps VSX0 (16 byte size) on the first 8 bytes. A restore of FPR0 will result in the bottom non-overlapping 8 bytes of VSX0 to be reset to 0.

The only way I have discovered to save the FPRs without this side effect is to save the vec

[2018-08-27 21:37] sashanicolas commented on #473
Now fixed and merged with https://github.com/spack/spack/pull/8806

[2018-08-27 21:37] #473 closed

[2018-08-30 16:07] seth4618 commented on #456
I am having exact same problem.  What is the libelf issue?

[2018-09-06 19:59] tmaric opened #486 "Build fails on Arch Linux"
I'm trying to build hpctoolkit-externals on the current master branch
(ab50b065ada2545938abae2...), and I am getting a failed dependency when
building "symtabAPI":

I am using Arch Linux and the "types.h" is located here:

What would be the cleanest way to fix this?

I have tried modifying the <rpc/types.h> into <tirpc/rpc/types.h> in
"linuxHeaders.h", but then it fails at the system level:

/usr/

[2018-09-06 22:20] sashanicolas commented on #477
@jgalarowicz This issue has been fixed.

[2018-09-06 22:20] #477 closed

[2018-09-07 16:27] mxz297 commented on #484
Closed by #485

[2018-09-07 16:27] #484 closed

[2018-09-07 16:28] mxz297 commented on #481
Closed by #485

[2018-09-07 16:28] #481 closed

[2018-09-07 16:28] mxz297 commented on #479
Closed by #485

[2018-09-07 16:28] #479 closed

[2018-09-07 17:17] cspiel commented on #436
Same problem here with elfutils-0.173 compiled from their git
repo (version 08ed26703d658b7ae57ab60b865d05c1cde777e3) in combination
with dyninst-9.3.2 also compiled from its git repo (version 7ead1e045f1e7d69e95e7e76a6c6e053ba5ab9cb).

My system is
[code]

The segfault occurs at the same position as @vanhauser-thc
has reported:
[code]
where `shdr` points into the memory region
[code]
as revealed

[2018-09-10 08:45] cspiel commented on #436
OK, I changed my mind upon running into another, unrelated segfault.  Sorry.  :wink:

[2018-09-11 14:14] mxz297 commented on #486
I am sorry that I do not have any experience with Arch Linux either.

A quick google search points me to the following post, which seems to address the same problem you are having:

https://forums.gentoo.org/viewtopic-t-1073204-start-0.html

[2018-09-11 16:30] #328 closed

[2018-09-21 08:17] cspiel opened #489 "Segfault (nullptr deref) in getCalledFunction()"
My applications run into segfaults with code like
[code]
The problem is that `BPatch_point::getCalledFunction()` dereferences `_func` *before* the pointer was checked for `NULL`.  Reversed software-engineering!  :stuck_out_tongue_winking_eye:

The fix is simple, just reverse the order:
[code]
The additional `assert()` was inspired by `BPatch_point::getCalledFunctionName()`.

Branch with fix to fol

[2018-09-25 00:14] sashanicolas commented on #423
@stanfordcox I believe I fixed this issue with commit 0c3eb945180d2643858a4b303343356a10f07075. You can test and let me know.

[2018-09-25 00:14] #423 closed

[2018-09-25 19:23] #449 closed, assigned to sashanicolas

[2018-09-26 16:26] valour01 opened #491 "Compilation Error"
I downloaded the [CFGTool] (ftp://ftp.cs.wisc.edu/paradyn/tools/CFGTool.tar.gz)

I think I have already installed the dyninst successfully. I have the `/usr/local/include/Instruction.h`, `/usr/local/include/InstructionDecoder.h`

I also have the `/usr/local/lib/libparseAPI.so`, `/usr/local/lib/libsymtabAPI.so`,`/usr/local/lib/libefl.so`,`/usr/local/lib/libdynElf.so` and all the needed dynamic libr

[2018-09-26 21:56] sashanicolas commented on #491
@valour01 The problem is that CFG.cpp is after the libraries. Also -ldwarf will not work.
Change your Makefile to:
[code]

This tool will get an update. Thanks!

[2018-09-27 01:42] valour01 commented on #491
Thanks for your suggestions @sashanicolas
However, it doesn't work. I changed my Makefile. The compiling error is below:
[code]
The same error occured after I add the  -lsymtabAPI.

[2018-09-28 14:01] valour01 opened #492 "[ARM Decoding] Abort using cfg_to_dot"
I am using Dyninst to do binary analysis in ARM architecture

I download and compile the latest version of Dyninst and use the cfg_to_dot inside the examples to analysis one ARM binary(400.perbench, which is a binary in SPEC CPU2006).

However, I come across the following crash message
[code]

Is it because that dyninst doesn't have a very good support on ARM at this moment? I would like to use th

[2018-10-02 16:33] sashanicolas commented on #491
@valour01 This is now a known recent problem: when you install dyninst the cmake configuration misses copying the libdw.so to the same folder the other dyninst libraries will be copied. You will have to do this manually in order to solve it momentarily until we solve it in the cmake.
You will have to enter your dyninst build directory and search for elfutils/lib/, and copy libdw-0.{VERSION}.so and

[2018-10-02 16:40] rockybulwinkle commented on #438
I'm seeing this issue as well when trying to build for Artix. Did you find a workaround?

[2018-10-02 16:47] rockybulwinkle commented on #486
I'm using Artix Linux (Arch Linux w/o systemd), and I am currently getting around the issue by doing
`cp /usr/include/tirpc/{netconfig.h,rpc} /usr/local/include`
I admit this is pretty hacky. Has anyone found a better way for Arch and Arch based distros?

[2018-10-02 16:50] bwelton commented on #483
Expect a patch to this issue in the next two or so weeks. We currently have someone working on adding the new power 8/9 vector instructions (and removing the deprecated older instructions).

[2018-10-02 16:54] valour01 commented on #492
I would like to use dyninst to analysis ARM binaries. I use the latest version by `git clone https://github.com/dyninst/dyninst.git`
I need to extract the control flow graph, call graph, function start address and the instruction boundary.
Using the `cfg_to_dot` is just the first try to get the control flow graph. I only get the below exception

[code]
Feel free if you need more information. Thank

[2018-10-02 16:59] bwelton commented on #438
The change is likely simple (conversion to void * instead of char *). However the fix may break compilation on systems without this non-standard xdrrec_create function definition. I can give this a spin and see what happens.

[2018-10-02 17:02] valour01 commented on #491
Thank you very much. I can compile it successfully. However, the same exception is raised like what I describe in [this issue](https://github.com/dyninst/dyninst/issues/492). Many Thanks

[2018-10-02 17:03] afaerber commented on #438
Maybe some preprocessor check can be used to support both? I think this was about code moving from glibc to libtirpc?

[2018-10-02 21:21] sashanicolas commented on #492
ARM is still being developed. You should `git checkout` the branch `arm64/feature/relocation` to get to the latest implementation of ARMv8.
To get the complete backtrace you should run with gdb.

[2018-10-02 21:21] #491 closed, assigned to nobody

[2018-10-02 21:38] sashanicolas commented on #455
Closing cause commit a58103f fixed it.

[2018-10-02 21:38] #455 closed

[2018-10-04 11:17] thomasdullien opened #493 "Assertion failure disassembling mpengine.dll"
Hey there,

while disassembling mpengine.dll from a recent windows (input file SHA256 is 4679E6E7379C4CB8191951031286F5DF3DE6E1B411E397AC4688B4C5B368702B, I can provide the file if required) I am hitting an assert inside Dyninst 9.3.2:

/usr/local/google/home/thomasdullien/Desktop/sources/dyninst-9.3.2.orig/dyninst-9.3.2/dataflowAPI/src/../rose/x86InstructionSemantics.h:664: void X86InstructionSem

[2018-10-04 15:41] bwelton commented on #438
Maybe, we generally like to avoid preprocessor checks if possible for code maintainability purposes. However, it may be required in this instance.

[2018-10-11 06:45] LER0ever commented on #486
Hi @tmaric and @rockybulwinkle , this happens when dyninst is compiled under a platform with a relatively newer glibc, like Archlinux, Gentoo, Solus, etc.
Normally tirpc and its related files (namely `rpc/types.h` and `rpc/xdr.h`) is not necessary on the above platforms.

To fix the problem, you can simply apply the following patch:
[code]
by running in the terminal
[code]
And before building, ple

[2018-10-12 12:45] reenanair opened #494 "Mutator 'Aborted' when injecting BPatch_while"
Hi,
I have been trying to insert a BPatch_whileExpr() code snippet into a function  entry point. However the mutator aborts after a while without instrumenting the function. If the same code snippet uses a BPatch_ifExpr() instead, it works fine. Also could not find any test suites with BPatch_whileExpr() to cross check. I have enclosed the code so that it will be easier to reproduce the result.

M

[2018-10-12 14:02] mxz297 commented on #494
Thanks for the report. @sashanicolas Can you try to reproduce the error first on x86, and then power and ARM? Ideally, we would like to know whether BPatch_while is ever correctly implemented on any platform. In addition, it looks like we miss a test for BPatch_while in the testsuite and we will need to add it as well.

[2018-10-16 00:50] almariah opened #495 "Modify return of function"
is it possible to modify return of function (attach mode) by `BPatch_dynamicTargetExpr` and `BPatch_stopThreadExpr`? If possible how can I do it.

[2018-10-21 21:35] pbst opened #497 "build error (clang6 on ubuntu 18.04)"
Building with clang/clang++ (version 6.0) fails on x86_64 Ubuntu 18.04 system.

I configured it using:
`cmake .. -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_C_COMPILER=clang -DCMAKE_INSTALL_PREFIX=$HOME/.local`

After a while it fails with:
[code]
Inserting explicit casts solves the error-throwing part, but there is probably a nicer looking way to patch this.

[code]
[code]

[2018-10-24 15:08] mxz297 commented on #483
Fixed by #498

[2018-10-24 15:08] #483 closed

[2018-10-24 16:51] #482 closed

[2018-10-24 16:51] #480 closed

[2018-10-24 16:51] #474 closed

[2018-10-24 18:57] mxz297 commented on #438
Closed by #496

[2018-10-24 18:57] #438 closed

[2018-10-24 18:59] mxz297 commented on #119
Obsoleted

[2018-10-24 18:59] #119 closed

[2018-10-25 20:44] mxz297 commented on #399
Closed by #425

[2018-10-25 20:44] #399 closed

[2018-10-25 20:45] mxz297 commented on #390
Closed by #396

[2018-10-25 20:45] #390 closed

[2018-10-25 20:55] #454 closed

[2018-10-25 20:58] #149 closed

[2018-10-25 20:59] mxz297 commented on #326
Obsoleted

[2018-10-25 20:59] #326 closed

[2018-10-25 21:00] mxz297 commented on #145
Closed by #488

[2018-10-25 21:00] #145 closed

[2018-10-26 06:48] geanoeban opened #499 "'repfunc' error"
Testing with dyninst often results in the following error:

mutator: /home/.../dyninst-9.3.2/dyninstAPI/src/binaryEdit.C:979: bool BinaryEdit::replaceTrapHandler(): Assertion `repfunc' failed.
Aborted (core dumped)

How can we solve it?

[2018-10-30 21:42] stevenagy opened #500 "Intel TBB install"
As far as I can tell this isn't discussed in the readme nor is it included in the Cmake installation. I'm seeing the following error when attempting to install the latest Dyninst version from Github:

`/home/osboxes/Desktop/dynCurVer/include/Type.h:37:35: fatal error: tbb/concurrent_vector.h: No such file or directory`

Any ideas?

[2018-10-30 21:47] #500 closed

[2018-11-05 11:41] vysocky opened #501 "function return value destroyed when instrumented function access the input parameters at return statement only"
I have inserted printf functions at the selected functions BPatch_locEntry and stored a new binary.
If the instrumented function contains just a return statement, the function return value get lost.

Example instrumented function works fine only when compiled with -DDEBUG:
[code]

Instrumentation:
[code]

Linux Dyninst-9.3.2

[2018-11-05 17:43] richinseattle commented on #120
Can someone give us an update on what the status is of merging this work into current trunk? It was stated on the Dyninst release notes that Windows support was targeted for 9.3.1 but I don't think that happened. The above fork was done as part of work on my team at Cisco Talos and we would like to see forward progress with our efforts. I know there have been additional patches submitted by Van Ha

[2018-11-08 13:14] huaguang commented on #419
me,too

[2018-11-15 17:29] stanfordcox opened #502 "dyninst 10 hangs on ppcle at bpatch.processAttach"
Given the example below
% make
% make clean
% make test
./mutatee & DYNINSTAPI_RT_LIB=/usr/lib64/dyninst//libdyninstAPI_RT.so ./mutator $!
FUNCTION EXECUTED. VALUE = 0
before bpatch.processAttach
<HANGS>
^Z
% /usr/bin/gdb -p 10173
(gdb) bt
#0  0x00007fff9f93227c in futex_wait_cancelable (private=0, expected=0, futex_word=0x0)
    at ../sysdeps/unix/sysv/linux/futex-internal.h:88
#1  __pthread_cond

[2018-11-15 17:46] mxz297 commented on #502
From the stack trace, it looks like Dyninst has a deadlock inside proccontrolAPI. We do not have any major changes to proccontrol between Dyninst 9.3.2 and Dyninst 10.0.0.

To proceed, can you test older version of Dyninst on your upcoming RHEL 18 release? At the same time, can you test Dyninst 10 on your older systems?

We will have to first identify whether the changes on RHEL system exposes the

[2018-11-23 14:24] vysocky opened #503 "Dyninst-10.0.0 undeclared EM_AARCH64"
When building Dyninst-10.0.0 on our x86 cluster the compilation fails on undeclared EM_AARCH64.
[code]
Using GCC/6.3.0, Boost/1.66.0. Compilation of Dyninst-9.3.2 works fine.

[See complete build output.](https://pastebin.com/rswJvDNF)

[2018-11-26 13:52] vysocky commented on #501
This error happens also with Dyninst-10.0.0. I have prepared [basic Dyninst tool and minimum test case](https://github.com/vysocky/testcases) so you can debug it.

I have disassembled the binaries to see the difference in the funcC:

# No instrumentation
[code]
# Instrumented (cause error)
[code]

# -DDEBUG, No instrumentation
[code]
# -DDEBUG, Instrumented
[code]

[2018-11-26 15:10] mxz297 commented on #501
Thanks! I will take a look today.

[2018-11-26 15:39] vysocky commented on #501
here's the complete [dump](https://github.com/vysocky/testcases/blob/master/dumpWithError.S)

[2018-11-26 15:42] vysocky commented on #501
Here is the output I have:
[code]

[2018-11-26 16:00] vysocky commented on #501
And here is the output from our x86 cluster:
[code]
Also tested with gcc6.3.0. Which compiler do you use?

[2018-11-26 16:04] mxz297 commented on #501
I am using gcc5.4.0. I know what's wrong based on your dump: dyninst did not save/restore the values of esi and edi, which are used for passing parameters.

However, on my side, Dyninst indeed saved/restored esi and edi.

While I am using gcc5.4.0, the func in the test program has the same instruction sequences as the ones posted by you.

[2018-11-26 16:10] vysocky commented on #501
Do you have an idea what may cause the difference? I may try to recompile Dyninst with different set of modules, however recompilation of the application didn't help.

[2018-11-26 16:16] mxz297 commented on #501
Not sure what caused the difference yet... Can you run the following command on your system:

```DYNINST_DEBUG_PARSING=parsing_log ./dyninst_bug dynstTest```

This will generate a bunch of parsing_log files. Send those files to me and I will take a look.

Meanwhile, can you try compile Dyninst itself with different compilers and see if the same problem shows up?

I appreciate your helps on debuggi

[2018-11-26 16:46] vysocky commented on #501
Here is the [log](https://www.dropbox.com/s/pipr23odzceqeoh/dyninst_parsing.log?dl=0). Let me know when I may delete it.

I am trying compilation of Dyninst-10.0.0 with different set of modules (I will see if it overcome #503 ), let you know what is the result (it might be tomorrow).

[2018-11-26 16:56] mxz297 commented on #501
Thanks! I have downloaded the log file and you can delete it now.

[2018-11-26 17:09] mxz297 commented on #501
@sashanicolas @bwelton Hi guys, I cannot reproduce this issue on a ubuntu 16 machine with gcc 5.4.0 or on a Red hat 7 machine with gcc 7.3.1. Can you try and see if you can reproduce this problem with dyninst 10.0.0 on your machines? Thanks!

[2018-11-26 17:42] bwelton commented on #501
I have not been able to reproduce this issue on my machine. However, the problem might be with liveness analysis instead of parsing (which may be caused by a parsing issue).

If this isn't in the log files already, @vysocky should run with the environment variable DATAFLOW_DEBUG_LIVENESS set to 1 to dump this information.

[2018-11-27 12:45] vysocky commented on #501
Btw if I compile the application to instrument with Intel compiler, than it works fine. I know that it is totally different story, but if you would like to see the dumps or anything else, just say.

[2018-11-27 14:18] mxz297 commented on #501
@vysocky Do you generate the liveness and parsing logs with Dyninst 9.3.2 or Dyninst 10.0.0?

[2018-11-27 14:30] vysocky commented on #501
Dyninst 9.3.2 on the CentOS, I can generate it with Dyinst 10.0.0 on Ubuntu.

[2018-11-27 14:32] mxz297 commented on #501
Can you generate the same logs with Dyninst 10.0.0?

[2018-11-27 14:41] vysocky commented on #501
here is the [log for Dyninst 10.0.0](https://github.com/vysocky/testcases/blob/master/dyninst10_liveness.log).

[2018-11-27 15:00] mxz297 commented on #501
Is it possible that you have multiple different versions of Dyninst installed on your system and at runtime different versions of dyninst components are loaded?

In your liveness log for Dyninst 10.0.0,  instructions are printed in an old format:

```push RBP, RSP @ 400526```

Dyninst 10.0.0 should print instructions in AT&T syntax, such as

```push %rbx @ 4005aa```

In addition, the parsing log o

[2018-11-27 15:20] vysocky commented on #501
You are right, I have in my system 9.3.2 and 10.0.0. I have specified LD_LIBRARY_PATH, but linker found the 9 anyway. Is there a script in the repository, that will remove all Dyninst files from the system?

[2018-11-27 15:33] mxz297 commented on #501
Unfortunately no... You probably have to find where Dyninst 9.3.2 is installed and delete it.

[2018-11-27 16:47] mxz297 commented on #503
@sashanicolas Are you able to reproduce this error?

[2018-11-27 16:48] mxz297 commented on #499
Hi, Sorry for the late response. Can you try with Dyninst 10.0.0 and see if the same problem exists?

[2018-11-27 17:02] mxz297 commented on #489
A similar fix has been committed. Dyninst 10.0.0 and master will not have this problem.

Thanks for your patches.

[2018-11-27 17:02] #489 closed

[2018-11-27 17:09] mxz297 commented on #476
Hi, Dyninst 10.0 is released. If you still see the same problem with Dyninst 10.0, please let me know and I will fix it. Thanks!

[2018-11-27 17:15] mxz297 commented on #327
@jmellorcrummey Is there a branch somewhere related to parallel DWARF parsing?

[2018-11-27 17:18] mxz297 commented on #321
Outdated because Dyninst 10.0 and master can be compiled with GCC 7

[2018-11-27 17:18] #321 closed

[2018-11-27 17:19] mxz297 commented on #360
This is part of the larger issue of parallel dwarf parsing. #327

[2018-11-27 17:19] #360 closed

[2018-11-27 17:20] mxz297 commented on #375
@sashanicolas You were working on fixing copying installation files. Is this now fixed?

[2018-11-27 17:22] mxz297 commented on #386
Close due to no activity

[2018-11-27 17:22] #386 closed

[2018-11-27 22:41] bwelton opened #504 "Proccontrol int_process::waitAndHandleEvents ignores block flag"
int_process::waitAndHandleEvents takes a paremeter to specify whether or not to block. However this setting is ignored and it seems to result in a deadlock on process exit in certain circumstances.

Is there any particular reason why this parameter is ignored?

[2018-11-28 04:30] jmellorcrummey commented on #327
It hasn't been pushed back to GitHub yet. I expect to push this to GitHub over the next few days and will let you know when I have done so.

[2018-11-28 09:41] vysocky commented on #501
OK I have finally install removed all the dependencies to Dyninst-9.3.2 and run the the instrumented app:
[code]
So it looks that this problem is solved. Thank you for your time you have spent with this issue!
I would like to ask you to focus on #503, because otherwise I cannot compile Dyninst-10.0.0 on our CentOS system, thank you.

[2018-11-28 09:41] #501 closed

[2018-11-28 13:40] vysocky commented on #503
On Ubuntu the compilation was fine. Btw we are going to upgrade CentoOS 6.9 to CentoOS 7 next week, so the environment may change at my side.

[2018-11-28 13:58] mxz297 commented on #503
A quick potential fix is to add the following three lines to symtabAPI/src/Object-elf.C

[code]

Give it a try and see what we got.

[2018-11-28 14:16] vysocky commented on #503
Then there are another missing variables:
[code]

[2018-11-28 14:56] mxz297 commented on #503
@vysocky These missing declarations are all about ARM. On ubuntu, even if the architecture is x86, the system header files define those ARM related macros (and macros for other architectures). It looks like that on CentOS, the header files installed on x86 will not include the macros for ARM, causing these compilation errors.

I will ask around and create a CentOS environment to see how to fix it.

[2018-11-28 14:59] mxz297 commented on #503
@vysocky Meanwhile, since the missing declarations are about ARM binaries, you can work around them by just commenting out those missing variables.

[2018-11-28 16:07] vysocky commented on #503
Changes only in these two files have been necessary to compile the Dyninst-10.0.0 successfully
[code]

[2018-11-28 16:33] mxz297 commented on #503
@vysocky  Thanks!

@sashanicolas I think we should refactor the involved code from the architecture independent source file (emitElfStatic.C) to architecture dependent source file (emitElfStatic-aarch64.C).

[2018-11-28 18:04] vysocky opened #505 "Dyninst-10.0.0 boost::shared_ptr<Dyninst::InstructionAPI::Instruction> instead of Dyninst::InstructionAPI::Instruction"
Example from [dyninstAPI.pdf](https://github.com/dyninst/dyninst/blob/3e1921c771861bdbb89b6370cd7a3d1217d6bf87/dyninstAPI/doc/dyninstAPI.pdf) page 5 shows how to count number of instructions per basic block:
[code]
Under Dyninst-9.3.2 it works perfectly, however under Dyninst-10.0.0 declaration of `std::vector<Dyninst::InstructionAPI::Instruction::Ptr> insns` creates   `std::vector<boost::shared_p

[2018-11-28 18:11] mxz297 commented on #505
Basically, in Dyninst 10.0, Instruction::Ptr is replaced with Instruction. So, change the line:

[code]
to
[code]

We will update the manual accordingly.

[2018-11-29 09:17] vysocky commented on #505
Thanks, it helps

[2018-11-29 17:33] mxz297 commented on #494
Hi, we are working on adding a test for BPatch_whileExpr() and make sure it works as designed.

[2018-12-04 14:50] fche commented on #354
A possibly-related problem is that with dyninst 10, boost::system link dependencies appear when a dyninst mutator just uses some of the header files.  It's not enough to link against -ldyninstAPI; one has to link clients against -lboost_system too.  (This on fedora rawhide/30 and its linker defaults.)

[2018-12-04 21:53] jgalarowicz opened #508 "Abort in Dyninst 10.0.0 when trying to open file: libcublas.so.9.2.88"
When running OpenSpeedShop on rzansel at LLNL (Power 9 with GPUs) I get this abort in Dyninst 10.0.0.

[code]

[2018-12-04 22:08] mxz297 commented on #508
Hi Jim, can you send me and @sashanicolas this binary "libcublas.so.9.2.88"?

@sashanicolas We crashed inside SymtabAPI when creating dwarf handles. We need to reproduce and fix this issue.

[2018-12-04 22:10] bwelton commented on #508
@mxz297 I likely already have the binary. Jim, can you confirm that the version of libcublas.so.9.2.88 you are using has an md5sum of 4c007c74b0d382f5ad1e17142bc344f8.

[2018-12-04 22:19] bwelton commented on #508
@sashanicolas the binary is located in /p/paradyn/welton/libcublas.so.9.2.88. If Jim confirms this is the same binary, Try and reproduce this locally. I will attempt to see if I can reproduce this on ray later tonight.

[2018-12-04 22:20] jgalarowicz commented on #508
Hi Ben,

That is correct, but this is on a LLNL system.  They must have the same
exact software as the SC18 Power 9 small cluster was running.  We saw
this on the SC18 cluster, but I don't think you could reproduce it.  I
didn't remember that that was the exact same file.

Jim G

On 12/04/2018 04:10 PM, Benjamin Welton wrote:

[2018-12-04 22:32] bwelton commented on #508
I likely do have access to rzansel. So under the worst case scenario I may be able to directly run dyninst on that machine with that binary to reproduce the problem.

@sashanicolas see if you can reproduce this with a standard binary open locally. I will see if I can reproduce this on LLNL's ray machine. If we can't reproduce either locally or on ray, I can go through the process of trying dyninst

[2018-12-04 23:52] bwelton commented on #508
I am not able to reproduce this issue on ray with this binary (either by using direct injection into an existing process or via symtab::openFile).

Ray however is Power 8. I have not tried this on a Power 9 machine. Given that the binary is identical, I am not sure what could cause this issue unless it is something specific with the system software on certain Power 9 systems.

[2018-12-04 23:57] mxz297 commented on #508
Given that it is crashing when creating dwarf handles, libdw could certainly play a role here. @jgalarowicz Can you find out the elfutils version on this Power 9 machine?

[2018-12-05 01:33] jgalarowicz commented on #508
We are building 0.173 as part of our externals build.

On 12/04/2018 05:57 PM, Xiaozhu Meng wrote:

[2018-12-05 15:01] jgalarowicz commented on #508
I can run successfully  on sierra using the same build of O|SS and Dyninst.  So, this must not be a Dyninst issue.   rzansel and sierra are supposed to be running the same software stack.

On the SC18 cluster, when I backed off to a version that was a few days before the parallel parsing merge, I didn't get this abort.   That is another data point.

[2018-12-05 16:44] bwelton commented on #508
Jim, it is entirely possible that rzansel is behind on updates. It used to trail about a week but recently it seems like updates are being sent to non-seirra systems much slower.

What compiler was used to build OSS on anzel vs seirra? It looks like GCC but I want to double check that.

As for running on anzel, I will check if I have access and start setting up over the next week or so.

On Wed, D

[2018-12-06 17:36] mxz297 commented on #508
@jgalarowicz Can you check that it is indeed the libraries you built locally executed on the execution node?

[2018-12-06 18:04] bwelton commented on #508
You may be able to do this through the core file by typing info sharedlibrary (which you should try).

However we would also like to check what jsrun is doing as well. So if possible could you run the following as well:

jsrun -n 4 -g 1 `which ldd` <dyninst_so_directory>/*

(jsrun being used with -n 4 because I believe it launches differently if n=1).

[2018-12-06 19:03] jgalarowicz commented on #508
Hi Ben,

When I do the ldd's on the dyninst libraries, I'm seeing the path to the
libdw.so that was built by our O|SS external packages build.

Jim G

On 12/06/2018 12:04 PM, Benjamin Welton wrote:

[2018-12-06 21:55] jgalarowicz commented on #508
@mxz297

    Do you compile dyninst and its dependencies on the front end?
Yes.
    When the application is executing on the back end, does all the dyninst libraries and its dependencies copied to the back end?
No, they are referenced through the module file for O|SS.   We are setting LD_LIBRARY_PATH.
    If one dependency (for example, libdw.so) is already installed on the back end, will the copi

[2018-12-06 22:02] jgalarowicz commented on #508
@mxz297   LD_LIBRARY_PATH looks good - only library paths to the tool and components built by our build.

[2018-12-06 22:09] mxz297 commented on #508
@jgalarowicz Thanks Jim!

@bwelton Then it looks like on this one, you have to login in rzansel to see if you can reproduce this issue.

[2018-12-07 17:49] bwelton commented on #508
@jgalarowicz I will start the process of getting setup to log into rzansel to reproduce this issue.

However this may take a few days, there are one thing you could try to see if it fixes the issue (though its a longshots at best). Update elfutils to 0.175.

[2018-12-07 20:12] jgalarowicz commented on #508
@bwelton  I will try elfutils-0.175 <https://github.com/bwelton>

Thanks for your help!

<https://github.com/bwelton>
On 12/07/2018 11:49 AM, Benjamin Welton wrote:

[2018-12-07 23:18] #494 closed

[2018-12-08 01:08] bwelton opened #514 "Inst frame crashes if DYNINST_unlock_tramp_guard called via PLT stub"
Effects: Power Systems in Dynamic instrumentation mode (ProcAttach/ProcCreate).

Crash in instrumentation frame when calling the PLT stub for DYNINST_unlock_tramp_guard.

Reason: TOC is incorrectly set to a module that does not contain a PLT entry for DYNINST_unlock_tramp_guard.

Why does it work sometimes? AddressSpace::findOnlyOneFunction is used to search for DYNINST_unlock_tramp_guard.  Someti

[2018-12-08 15:44] jgalarowicz commented on #508
@bwelton   I get the same abort with elfutils-0.175.

[2018-12-17 07:47] geanoeban commented on #499
Thank you. Currently, no errors occur and it works very well. Thank you very much!!!

[2018-12-17 07:48] #499 closed

[2018-12-19 19:34] mxz297 commented on #502
Closed by #519

[2018-12-19 19:34] #502 closed

[2018-12-19 21:09] mxz297 commented on #508
I cannot reproduce this problem on summit (Power 9 machine at ORNL).

[2018-12-27 00:03] sashanicolas opened #520 "When array is volatile being char or short type is wrong"
Adding modifier **volatile** to _src/dyninst/snip_ref_shlib_var_mutatee.c:59_
```char gv_srsv3[2] = {'A','B'};```
on testsuite the following happens:

BPatch_snippet.C:223: AstNodePtr generateArrayRef(const BPatch_snippet&, const BPatch_snippet&): Assertion `0' failed

It happens for short array too, not only char.

[2018-12-27 19:51] sashanicolas opened #521 "emitCall with more than 8 parameters"
allow at ARM to make calls with more than 8 parameters.

[2018-12-27 19:54] sashanicolas opened #522 "Add relocation entry for external functions"
Allows ARMv8 instrumentation to make call to external functions.

[2018-12-29 08:13] pres1er opened #523 "segfault"
Hello! I built current master branch, and get segfault from codeCoverage:
[code]

[2019-01-03 05:02] bwelton opened #524 "Bpatch_effectiveAddress truncates memory addresses to bottom 32 bits (PPC Only)"
On PowerPC, Bpatch_effectiveAddress only copies the bottom 32 bits of the memory address used in a load/store operation in certain circumstances.

The problem is a result of how the memory address are captured by Bpatch_effectiveAddress. The effective address calculated using the following approach (for POWER):

1. Set the immediate value of the load/store instruction into a scratch register.
2. A

[2019-01-04 10:42] vanhauser-thc opened #525 "Update README for build help"
I was able to build dyninst10 and then update my afl-dyninst project to build with dyninst10.

it was painful and I would have hoped to have some guideance in the README.

So these were my steps, and maybe it makes it easier for others to build or to grab some of these things to update the README.

Building dyninst 10:
1. remove elfutils if installed as distribution package
2. download the newest

[2019-01-07 15:22] jgalarowicz opened #526 "Dyninst errors when building with boost-1.69.0"
Hi all,
Seems like the newer versions of boost cause compiler errors in dyninst.  These errors are from a build with boost-1.69.0 on a Power 9 system at LLNL:

[code]

[2019-01-07 16:41] jgalarowicz commented on #526
No, but spack is picking the newest version of boost.   Our install-tool
build tool is set to use 1.67 and that works, but the spack dyninst
package.py file will choose the latest version of boost.

On 01/07/2019 10:29 AM, Xiaozhu Meng wrote:

[2019-01-08 22:21] hainest commented on #525
It looks like you are building from source. We strongly recommend installing DynInst using spack as the number and specific versions of the dependencies are cumbersome to get correct. That said, I recently installed dyninst:HEAD from source on Linux Mint, and didn't encounter these issues. Could you describe your build environment in more detail?

Which version was installed as a system package?

[2019-01-15 19:22] alvarofe opened #529 "After instrument with dyninst binary exports functions from libc"
I was testing out dyninst more specifically with version 10. I took as an example afl-dyninst to get acquaintance with the API and learn how it works - implementing minimal logic to instrument and print random id for each basic block visited. However, after instrumenting `/bin/ls` I noticed an infinite loop with the binary instrumented.

After a bit of researching I noticed that the binary instrum

[2019-01-15 19:49] mxz297 commented on #529
Hi,

I just downloaded your example code and it runs fine on my machine:

[code]

My machine is x86-64, running ubuntu 16. What's your machine's architecture, OS distribution, and version?

[2019-01-15 21:10] alvarofe commented on #529
My machine is debian x86_64 and I compiled myself dyninst.

[code]

[code]
But when executing I get the infinite loop

[2019-01-17 15:51] alvarofe commented on #529
I tried to clean up my system with unstable versions with stables ones (libboost and such), however the issue persist on `ls` which was my binary test. For instance, I tried with cat and it did work out well.

[code]

So there must be something special with that `ls`. Attached in case you wanna test with your installation.

![ls](https://user-images.githubusercontent.com/3474042/51330539-0a236400-

[2019-01-17 16:37] mxz297 commented on #529
I am able to reproduce this infinite loop by using the ```ls``` binary you provided.

Your OS is debian, which seems to, by default, have position independent executable. My OS is ubuntu which does not install PIEs. So, my first guess is that Dyninst has some problem rewriting PIE.

Thanks for reporting this problem and I will get back to you later when I fixed it.

[2019-01-17 18:02] sashanicolas commented on #503
fixed by commit 58985e9c66d0bfb56a8e26442c07c67564968837

[2019-01-17 18:02] #503 closed

[2019-01-17 22:58] alvarofe commented on #529
`cat` is also PIE on my machine so dunno if that will be the reason honestly  - although talking completely without knowledge about the framework. My guess is that it is related to some extent to how relocations are handled just by seeing the differences between the two binaries.

[code]
In `ls` `malloc` goes to the `.got` section instead of the `.plt.got` so it will be patched by the loader at la

[2019-01-22 23:19] sashanicolas commented on #375
This suggestion was implemented in March 2018 (1c068645ed65b7686d3f4fe0268edb30a3f9a2fc). And d87dae5a72b2afbe621738241f708f8c7c87f812 fixes the same problem for libdw*.

[2019-01-22 23:19] #375 closed

[2019-01-23 21:45] sashanicolas opened #532 "issue test for webhook"

[2019-01-23 22:41] sashanicolas opened #533 "issue test for webhook 2"

[2019-01-23 22:42] sashanicolas opened #534 "issue test for webhook 3"

[2019-01-23 22:46] sashanicolas opened #535 "issue test for webhook 4"

[2019-01-24 15:17] yuedeji opened #538 "Any support for ARM32 and MIPS"
Great works on the Dyninst project! Thank you all for sharing this.

I was using Dyninst for a while. Recently, I plan to analyze some binaries under different architectures. I realize you are actively developing an ARM64 branch, but do you have any versions to support ARM32 and MIPS?

Thanks,
Yuede

[2019-01-24 17:17] sashanicolas commented on #538
@yuedeji You're welcome!
For aarch32 you should checkout @rchyena fork of Dyninst. https://github.com/rchyena/dyninst
I can't tell you anything about that porting, but maybe Ray can help you.

Sasha

[2019-01-24 17:22] sashanicolas commented on #538
@yuedeji We don't support MIPS anymore. You could try older versions of Dyninst.

[2019-01-24 17:39] sashanicolas opened #540 "issue test"

[2019-01-25 00:00] mwkrentel commented on #526
I've submitted PR #541 with a patch to fix this.

The problem was g++ barfing on some implicit conversions from
boost::tribool to bool.  I'm not sure why this fails in the first
place.  Tribool clearly tries to allow seemless integration of tribool
with bool.  I can only guess the implementation is flawed in some way.

Anyway, the solution is simple: add an explicit cast to bool in a few
places.

[2019-01-28 01:53] yuedeji commented on #538
Hi Sasha,
Thanks so much for the response. I will look into that and see.

[2019-01-28 02:11] stanfordcox opened #542 "separate debuginfo failures"

[2019-01-28 19:18] sashanicolas commented on #542
Hi @stanfordcox, I have seen once aborting at that line (BPatch_snippet.C:223) but couldn't reproduce it. But it wasn't with separate debuginfo files.

In your case, what binaries had their debug info separated, the system dependencies or the testsuite mutatees?

Are you using the master branch last commit? Is it x86_64?

[2019-01-28 19:18] #538 closed

[2019-01-28 20:14] stanfordcox commented on #542
@sashanicolas  So I forced the testsuite to use separate debuginfo for all the tests by using:
% rpm -q /usr/lib/rpm/find-debuginfo.sh
rpm-build-4.14.2.1-2.fc28.x86_64
# find-debuginfo.sh creates separate debuginfo in /usr/lib/debug, so this forces it to create
# the separate *.debug files in the working dir
% cd .../dyninst-testsuite/install/bin/testsuite
% ls -dl usr lib debug
lrwxrwxrwx. 1 scox

[2019-01-29 14:18] pres1er commented on #523
It was kali rolling release. On ubuntu 16.04 works fine. Could you help me: how can you build statically codeCoverage from examples?

[2019-01-29 18:10] huqy opened #544 "Spack Build Failed with errors about variable not declared in the scope"
Hi, I am using Spack release/v0.12 to install `dyninst`, I got the following error:

[code]
Any hints to resolve this? Thanks!

[2019-01-29 18:36] sashanicolas commented on #544
This issue has been solved by commit 58985e9c66d0bfb56a8e26442c07c67564968837, which is after the release 10.0.
You should select master branch to compile it. I think the parameter should be "develop", see https://github.com/spack/spack/blob/67a1e56e4dee367a45be0c8e3f7a892d915a089c/var/spack/repos/builtin/packages/dyninst/package.py#L17

[2019-01-29 18:36] #544 closed

[2019-01-29 19:44] sashanicolas commented on #523
@pres1er can you send me your binary `_main`?

[2019-01-29 19:51] pres1er commented on #523
https://yadi.sk/d/dpSucENTU1lKXA
It simple "hello world".

[2019-01-29 21:04] sashanicolas commented on #523
Are you saying you want to compile codeCoverage statically? You would need to compile Dyninst too statically. Are you using master branch?

[2019-01-29 21:07] pres1er commented on #523
Yes

[2019-01-29 21:33] sashanicolas commented on #523
Given your backtrace, Dyninst is trying to open the binary dependencies. In you case, libc.so.6:
`#15 0x00007ffff7e707c7 in BinaryEdit::openFile (file="/lib/x86_64-linux-gnu/libc.so.6", mgr=..., patch=0x7ffff68f4ea0, member="")
    at /root/dyninst/dyninstAPI/src/binaryEdit.C:339`

Then it will try to open the debuginfo file of it:
`#4  0x00007ffff72f6863 in Dyninst::DwarfDyninst::DwarfHandle::ini

[2019-01-29 22:43] sashanicolas commented on #542
@stanfordcox it seems that something is wrong with:
`% RPM_BUILD_ROOT=$(pwd) /usr/lib/rpm/find-debuginfo.sh . >& tee /tmp/,fdbi`
this `>& tee ` creates a text file called tee with the following:
[code]
It seems it's trying to start stripping them but fails. Did you mean to redirect to the program `tee`?

[2019-01-30 01:55] stanfordcox commented on #542
Ah sorry, cut and paste error:   Yes I meant to redirect via tee

RPM_BUILD_ROOT=$(pwd) /usr/lib/rpm/find-debuginfo.sh . |& tee /tmp/,fdbi

[2019-01-30 21:38] mxz297 commented on #508
@jgalarowicz Recently when I encountered a bug with a similar stack trace, I was able to fix the problem. The fix is available in this branch:

https://github.com/dyninst/dyninst/tree/ppcle_rhel8_fix

If you have time, can you rerun your test with the branch and see if my fix also resolves this issue?

[2019-01-30 21:59] jgalarowicz commented on #508
HI Xiaozhu,

Yes, I will do that very soon.

Thanks for letting me know!

Jim G

On 01/30/2019 03:38 PM, Xiaozhu Meng wrote:

[2019-01-31 00:00] sashanicolas commented on #542
Yeah, I tested that before assuming you meant that. But same result.

[code]

[2019-01-31 02:51] hainest opened #546 "linking old system libelf when found"
When the system elf is found, but the version is <0.173, the build system still populates LIBELF_LIBRARIES with the system version (in my particular instance, LIBELF_INCLUDE_DIR is _not_ being set). A version check is then done, the latest (>=0.173) libelf is downloaded and built, but the system library is still retained for linking. I _think_ the fix is to do the version check earlier so that LIB

[2019-01-31 16:41] stanfordcox commented on #542
Heh, not sure where that is coming from.  (The ln -s . usr;ln -s . lib;ln -s . debug; links are setup?)

@sashanicolas could you try:
 RPM_BUILD_ROOT=$(pwd) sh -x /usr/lib/rpm/find-debuginfo.sh .

[2019-01-31 21:35] sashanicolas commented on #542
@stanfordcox
[code]

[2019-01-31 22:11] stanfordcox commented on #542
...shopt: not found...
...Illegal option -o pipefail...
shopt and set -o are implemented by the bash shell (see below)

% help shopt
shopt: shopt [-pqsu] [-o] [optname ...]
    Set and unset shell options.
% echo $SHELL
/bin/bash

@sashanicolas  Are you using the bash shell?  Any chance you are using zsh or tsh?  The first line of find-debuginfo.sh is
 #!/bin/bash
so the shell should be interprete

[2019-01-31 22:32] sashanicolas commented on #542
[code]

[2019-01-31 22:41] sashanicolas commented on #542
It seems the first error occurs at line 76
/usr/lib/rpm/find-debuginfo.sh: 76: /usr/lib/rpm/find-debuginfo.sh: cannot open nout: No such file

But nout is a variable declared before, not a file.

Command set also works.

[2019-02-01 08:41] pres1er commented on #523
Thank you!

[2019-02-01 15:48] stanfordcox commented on #542
Something is odd here but it is not obvious to me what it is. What version of linux, bash and rpm-build?
% uname -a
Linux pulelehua 4.20.4-100.fc28.x86_64 #1 SMP Wed Jan 23 16:46:32 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
% rpm -q bash
bash-4.4.23-1.fc28.x86_64
% rpm -q rpm-build
rpm-build-4.14.2.1-2.fc28.x86_64

My find-debuginfo.sh is different at line 76 but based on context the complaint seems

[2019-02-01 17:12] sashanicolas commented on #542
Well, here's the reason.

[code]

[2019-02-01 17:35] #523 closed

[2019-02-01 19:15] hainest commented on #526
Fixed in 54a2debd94c3e8df3b6f1e579f1db02dae61cbb7

[2019-02-01 19:15] #526 closed

[2019-02-01 19:48] stanfordcox commented on #542
Hmm I am not sure about the debugedit complain.  I get a similar invocation for -b and -d  but no error:
++ /usr/lib/rpm/debugedit -b '' -d /usr/src/debug -i -l ./debugsources.list   /PATH/dyninst-testsuite/install/bin/testsuite/testdriver_wrapper
+ id=bffdeedecef3802a748a7d5e3f9346645e60caaf
...

Guess I can poke at the source and try to guess what is going on

[2019-02-01 19:57] sashanicolas commented on #542
I read about this dest dir and base dir fairly enough to know that it's just a way to avoid dealing with strings.
So now I made it work. The command line that I am using is:
[code]
My find-debuginfo.sh is somehow invoking sh which for Ubuntu is different from bash. And was complaining about the syntax use of nout.
I had to add RPM_BUILD_DIR since it will be used as the base dir, and was empty and

[2019-02-01 21:38] jgalarowicz commented on #508
Hi Xiaozhu,

Thanks for the fix!   With the ppcle_rhel8_fix branch the problem does
not show up and O|SS displays performance statistics for the power 9
application.

Thanks much!

Jim G

On 01/30/2019 03:59 PM, Jim Galarowicz wrote:

[2019-02-04 15:35] mxz297 commented on #508
Great! Thanks for verifying this. This branch will definitely be in Dyninst 10.1

[2019-02-06 16:42] hainest opened #547 "lib/libdw.so.1 not copied on install"
On Linux Mint 17 (Ubuntu 16.04), the installed lib/libdw.so symlinks to libdw.so.1 which is not present in the same directory. It looks like $(BUILD_DIR)/elfutils/lib/libdw.so.1 is not copied over during 'make install'. Not tested elsewhere.

[2019-02-06 22:07] mxz297 commented on #508
Closed via #543

[2019-02-06 22:07] #508 closed

[2019-02-08 20:51] mxz297 commented on #521
@sashanicolas @LER0ever Is this done, and in which branch?

[2019-02-08 20:52] mxz297 commented on #522
@sashanicolas @LER0ever Is this done in ARMv8, but not in master yet?

[2019-02-08 20:54] mxz297 commented on #520
@sashanicolas I thought your fix for this issue was already merged to master. Can we close this issue?

[2019-02-08 20:54] #505 closed

[2019-02-08 20:55] LER0ever commented on #521
This is not yet started.

What I've worked on before is to reference parameters from functions with more than 8 of them. And that was done through [0a1e8ba](https://github.com/dyninst/dyninst/commit/0c315286da36fbb09741e963fe0b5ecbf0a1e8ba). This task was assigned to me since it's similar to that one and is not yet implemented on ARM.

[2019-02-08 20:58] LER0ever commented on #522
This is essentially #545, which will be merged to ARMv8 soon.

[2019-02-08 20:59] mxz297 commented on #521
I see. This issue will not be a 10.1 blocker.

[2019-02-08 21:00] mxz297 commented on #522
Great! Thanks for associating the PR here.

[2019-02-08 21:15] mxz297 commented on #529
Closed by via #548

[2019-02-08 21:15] #529 closed

[2019-02-10 21:26] mxz297 opened #550 "Legacy test failures"
The Dyninst test suite has a couple of test failures that have been around for a long time, ranging from a few months to several years.

If the test itself is wrong, the test should be disabled. Otherwise, I will try to fix Dyninst.

Here is the list for x86-64:

[code]

[2019-02-11 08:05] bwelton opened #551 "Springboards can trample function data due to incorrect range"
When generating springboards within a single function (i.e. at entries to basic blocks),  the valid range calculation makes the assumption that any gaps between basic blocks within the function (i.e. ones that that do not contain valid instructions) are free to be used as spillover when writing a springboard (the springboard can extend into that region if necessary).

However, this behavior can ca

[2019-02-11 14:26] mxz297 commented on #551
On power, jump table data are typically put immediately after the indirect jump; so the jump table data are embedded in .text. This is very common on power, but not so for x86 or ARM.

I took at the related code in Dyninst. The code comments are describing the right thing to do, however the code after the comment does not match the comments.

https://github.com/dyninst/dyninst/blob/05cc087cf5adb3c

[2019-02-11 14:58] mxz297 commented on #524
@bwelton I believe that instrumentation frames by default are on, and can only be disabled by doing stack modification.

So, I think cherry-pick your commit should resolve this problem. I will do that soon.

[2019-02-11 17:26] sashanicolas commented on #520
@mxz297 not yet, it's recommended using volatile for the global variables in our mutatees so the compiler does not optimize them, but in this case adding `volatile` to an array cause that assert to fail. So the problem I saw was that the array type was being set as `volatile` and not the `char` that it is. I haven't come back to investigate more about it.

[2019-02-11 17:41] sashanicolas commented on #550
for aarch64:
[code]

[2019-02-11 18:54] bwelton commented on #551
This is the fix I am trying out (along with disabling all non-required springboards).

7+ instruction jumps are not that uncommon right now. In the best case for long jumps the loading of the immediate takes anywhere from 2-5 instructions + an instruction to load tar + the branch itself. In the moderate (and most likely case) we add an instructions to cache an r register to either lr or ctr (so we

[2019-02-12 21:01] hainest commented on #547
This is not an issue on the Ubuntu 18.04 machine 'cayenne.cs.wisc.edu'. I'm not sure if this is an intrinsic difference between Ubuntu 16.04 and 18.04, or if it is a deeper environment problem.

[2019-02-12 21:38] mxz297 commented on #550
@sashanicolas I found that test_pt_ls failed because it cannot find parseThat. I updated the test suite to properly search for parseThat and the test_pt_ls is now passing on my machine. Can you pull the test suite and run it on leela?

[2019-02-12 23:51] sashanicolas commented on #542
@stanfordcox I believe this commit will fix it c37102282b00b285f335c2981cab9327aa57dd11

[2019-02-12 23:51] #542 closed

[2019-02-13 15:23] stanfordcox commented on #542
Aha, was not looking at the right module; seems fine now, thanks!

[2019-02-20 19:29] bwelton opened #554 "Race Condition with inferior Malloc and Free"
There is a race condition with inferior malloc and free in proccontrol. The following checks in both infmalloc and inffree do not wait until event completion before returning. The change that is suggested is to call int_process::waitAndHandleEvents with the true flag (blocking) instead of false (non-blocking).

Offending lines:

https://github.com/dyninst/dyninst/blob/c37102282b00b285f335c2981cab9

[2019-02-26 21:27] hainest opened #557 "Homogenize cmake includes"
cmake/Modules/Find*.cmake do not all look in the same places.

[2019-03-04 18:41] vaibhavbsharma opened #560 "Assertion failure in LivenessAnalyzer::getLivenessIn(Dyninst::ParseAPI::Block*)"
On trying to do binary rewriting with the latest DynInst's PatchAPI by calling `Dyninst::PatchAPI::PatchModifier::insert()`, I keep running into an assertion failure. I wrote the binary rewriting in a program named `CMOVReplace` to run into the following assertion failure.

[code]

The source code for the `CMOVReplace` program can be found [here](https://github.com/vaibhavbsharma/binary-mutator/bl

[2019-03-04 20:17] hainest opened #561 "Unset library variables when building elfutils from source"
unset(LIBELF_LIBRARIES)
unset(LIBDWARF_LIBRARIES)

Currently, the "found" library location is being shown even when the decision is made to build from source (due to version check failing).

[2019-03-04 21:20] hainest opened #563 "Make boost available after 'make install'"
This was previous discussed and (possibly) fixed in https://github.com/dyninst/dyninst/pull/381, but is no longer in the codebase. In any case, we need to make the libs and headers of the version of Boost used to build Dyninst available after 'make install'. If built from source, this can be done with an 'install' target for Boost. If the system libraries were used, then we need to symlink to them

[2019-03-04 21:56] hainest commented on #560
Which version, specifically? Are you using HEAD?

[2019-03-04 22:06] vaibhavbsharma commented on #560
Yes, I reproduced this issue using the latest code on the master branch. The latest commit I have is c37102282b00b285f335c2981cab9327aa57dd11.

[2019-03-04 22:51] hainest commented on #560
Thanks. I need a few more details on your environment.

Which OS and version?
Could you provide the output of `gcc -v`?

---

After looking at your assembly in more detail, I see

`mov $output_buf, %rsi`

which currently Dyninst does not handle correctly under pic/pie mode. I don't see that you are using pic/pie explicitly in your Makefile, but some newer Linux distributions are shipping a gcc wit

[2019-03-04 23:09] vaibhavbsharma commented on #560
I am using Ubuntu 16.04.6 LTS and running `gcc -v` produces the following output.
[code]

Running file on my binary produces the following output.
[code]
I think this output shows that the executable is not compiled to be position-independent, but please correct me if I am wrong. If there are already in-flight fixes for this bug, that is wonderful news and I look forward to trying them out.

[2019-03-04 23:12] mxz297 commented on #560
@vaibhavbsharma This is the branch that Tims was mentioning (https://github.com/dyninst/dyninst/tree/pic_fix)

I personally doubt that this branch will fix your problem but you can definitely give it a try.

[2019-03-04 23:45] hainest commented on #560
Your compiler doesn't exhibit that behavior I was describing, so I agree with @mxz297 that the pic_fix branch will likely not fix this issue. We will continue to investigate.

[2019-03-05 15:08] mxz297 commented on #560
I get reproduce this crash locally and I will investigate this problem today.

[2019-03-05 15:27] mxz297 commented on #560
@vaibhavbsharma Here is a fix for the crash; just pull it and give it a try (https://github.com/dyninst/dyninst/tree/patch_cfg)

I got the following output on my machine:

[code]

But I don't know whether the rewritten binaries are good or not.

If you have further problems, just let me know. I will keep pushing fixes the above branch, and it will be merged to dyninst master soon

[2019-03-06 04:39] vaibhavbsharma commented on #560
Thanks for being prompt in fixing this bug. I was able to use this patch_cfg branch and find that liveness assertion failure to be fixed. However, I am running into a separate DynInst issue now.

I am trying to insert a snippet that converts a conditional move from a memory address to a move that loads the value from the memory address into the destination. I construct the snippet using the follow

[2019-03-06 14:03] mxz297 commented on #560
I see. So you ran into #524 on x86-64, while #524 is on ppc.

I then know how to deal with it. You can expect fixes for this soon.

[2019-03-06 15:02] mxz297 commented on #560
How can I reproduce this ebx problem?

[2019-03-06 15:21] vaibhavbsharma commented on #560
To reproduce this issue, please follow these steps.

1. Please checkout the latest code in the [binary-mutator](https://github.com/vaibhavbsharma/binary-mutator) repository and compile it.
2. Run the command `perl make-mutants.pl small-cmov-eg main 1`. This command uses DynInst to create mutants of `small-cmov-eg` binary by mutating instructions in the `main` function. The mutants can be found in

[2019-03-06 17:27] mxz297 commented on #560
Thanks. I pushed a new commit to the same branch. It looks like at least on my end the problem is fixed.

[2019-03-06 20:39] mxz297 commented on #524
The fix is in #564

[2019-03-06 22:10] vaibhavbsharma commented on #560
This patch fixes the previous issue but I think there is still a minor bug.
I can now use DynInst to mutate a `cmove 0x601030, %rcx` instruction to the following instruction sequence
[code]
Notice how DynInst can only populate a 32-bit address in the first instruction whereas the original `cmove` conditionally loaded a value from a 64-bit address. I think DynInst should be loading the address into

[2019-03-06 22:17] mxz297 commented on #560
I think if you have a 64-bit address or do operations based on 64-bit registers, Dyninst would generate registers with correct size.

Right now, BPatch_deref does not take a memory access size as a parameter, which is really an API flaw. I will try to fix this problem by augment BPatch_deref to accept a second parameter for representing the access size (the default size is going to be 8 bytes).  T

[2019-03-06 22:25] vaibhavbsharma commented on #560
That's awesome! I actually also verified this with a small tweak to my `small-cmov-eg` assembly program and found DynInst to be using a 64-bit register. Thanks still for your answer 👍  :-)

It would be wonderful if this feature could be provided. That would really simplify the mutation for me 👍

[2019-03-07 00:09] hainest commented on #550
Fixed by #549

[2019-03-07 00:10] #550 closed

[2019-03-07 00:11] hainest commented on #554
@mxz297 Is this a 10.1 blocker?

[2019-03-07 18:23] hainest commented on #524
Should this be included in 10.1?

[2019-03-07 18:56] bwelton commented on #524
Yes, EA calculations on Power will not function correctly without this change.

Ben

On Thu, Mar 7, 2019 at 12:23 PM Tim Haines <notifications@github.com<mailto:notifications@github.com>> wrote:

Should this be included in 10.1?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/dyninst/dyninst/issues/524#issuecomment-470638625>

[2019-03-08 02:52] josephjohnjj opened #565 "Cmake error /usr/bin/ld: cannot find -lboost_thread"
I am getting the following error when I trying to install dyninst

[  2%] Built target LibElf
[  3%] Built target LibDwarf
[  4%] Built target boost
[  4%] Building DyninstRT
[ 50%] Built target dyninstAPI_RT_static
[100%] Built target dyninstAPI_RT
[  4%] Built target DyninstRT
[  6%] Built target LibIberty
[  7%] Linking CXX shared library libcommon.so
/usr/bin/ld: cannot find -lboost_thread
/us

[2019-03-08 15:25] hainest commented on #565
This is a standard linker error- meaning that the compiler wasn't about to find the Boost libraries. Could you post the cmake/ccmake command you used to configure Dyninst?

[2019-03-08 15:35] mxz297 commented on #565
@josephjohnjj Dyninst 9.3.2 was about 2 years ago. We strongly recommend that you use current Dyninst master branch (which is going to be Dyninst 10.1 soon), or at least uses Dyninst 10.0.0 release.

[2019-03-09 18:25] mxz297 commented on #560
Sorry for not responding in the last few days.

I agree with you. What you described is better than what I originally thought. If ```BPatch_effectiveAddressExpr``` takes a ```size``` parameter, then ```BPatch_deref``` would have known what is size to dereference.

I should have this implemented soon.

[2019-03-10 18:30] mxz297 commented on #560
@vaibhavbsharma I have an implementation prototype. Can you update your repo to include a test case for this?

PS: there is a small-setcc-eg.S in your repo, but it does not have a setcc instruction in it.

[2019-03-10 21:15] vaibhavbsharma commented on #560
That's great news! [small-setcc-eg](https://github.com/vaibhavbsharma/binary-mutator/blob/master/small-setcc-eg.S) is a good initial example to test against. It contains a `sete` instruction on line 15. Mutating this `sete` involves changing it to either a `mov 0` or a `mov 1` that moves a 0 or 1 to a 1-byte destination operand. You can see it not working right now by running `perl make-mutants.pl

[2019-03-11 00:26] mxz297 commented on #560
Thanks for the testing example.

I pushed a new commit to the same branch.

You need to change your application as follows:

[code]

The first 0 represents that we are interested in the first memory operand (some instructions involve multiple memory operands). The second parameter represents the number of bytes for access (default is 8, and right now only 1, 2, 4, 8 are supported).

[2019-03-11 19:54] vaibhavbsharma commented on #560
Thanks for that fix. It is great to be able to be able to write smaller bitwidth operands to memory for mutating setCC instructions. The mutations using my `small-setcc-eg` and `small-cmov-eg` examples are all working correctly now.

However, and I apologize for being a consistent thorn in your side, I found a separate problem caused by DynInst when I made a small change to my `small-cmov-eg` exam

[2019-03-11 20:10] mxz297 commented on #560
Is the above line wrong? Do you want the memory load to be 64-bit or 32-bit? If you want the memory load to be 32-bit, then this is bug to fix.

Note that on x86-64, if we move a value to ```%ecx```, the upper 32-bit of ```%rax``` is automatically cleared to zero. So, if ```%rbx``` contains a 64-bit value, you cannot really move to ```%ecx```. If ```%rbx``` contains a 32-bit value, move to ```%ecx

[2019-03-11 20:33] vaibhavbsharma commented on #560
Ah, my comments in the text are misaligned with what I am pointing out in the disassembly. I apologize for the confusion.

I would actually like the memory load to be a 32-bit load. The way I am indicating it is by setting the `size` parameter in the `BPatch_effectiveAddressExpr` constructor to 4. But, I don't see that 4-byte restriction on the memory load reflected in the rewritten binary. So it

[2019-03-11 20:35] mxz297 commented on #560
I see. So obviously my change to `BPatch_effectiveAddressExpr` is not complete. If the case you mentioned in your repo?

[2019-03-11 20:40] vaibhavbsharma commented on #560
Yep, this change is already in the binary-mutator repo. I added a [recent change](https://github.com/vaibhavbsharma/binary-mutator/commit/b167c0fbddc37ac1a2541d62493d40b97d69e294#diff-1a1941de2a2fd41ee7abc6b47dbef4e9) to hard-code a `BPatch_effectiveAddressExpr` size parameter value to 4 which I think is not being respected by DynInst.

[2019-03-12 16:13] mxz297 commented on #560
@vaibhavbsharma I am sorry that I am a little bit stuck here. I feel Dyninst's current handling of `BPatch_effectiveAddressExpr` is a little bit weird: we need to use `BPatch_deref` to dereference the effective address to load the memory value, but we do not need to use `BPatch_deref` to dereference the effective address to store a value to the memory location. This really feels iffy to me about t

[2019-03-12 16:35] hainest commented on #554
@mxz297 @bwelton Is this a 10.1 blocker?

[2019-03-12 16:39] mxz297 commented on #554
@bwelton Is there a way to reproduce this problem?

[2019-03-13 18:26] djwatson opened #566 "isPCRelData: Assertion `res.defined' failed"
Trying to use afl-dyninst with dyninst v9.3.2 tag from github.  (I haven't gotten the correct deps to build current master yet (old boost version), but this codepath appears to be unchanged).

On one binary, I am hitting the assert in Movement-adhoc.C:isPCRelData : res.defined, ~line 285.

I added a cerr print of the insn->format():

Error: bind PC !res.defined in vpand XMM4, XMM4, [RIP + 1711723]

[2019-03-13 18:42] mxz297 commented on #566
The current master has the following code in the `isPCRelData` function:

[code]

I believe this assert will not hit any more. Whether Dyninst can continue to work normally afterwards is a different question... So, I would recommend that you try to use Dyninst current master which will soon be Dyninst 10.1.

In terms of old deps, Dyninst should automatically download missing dependencies. You can

[2019-03-13 20:23] mxz297 opened #722 "test_reloc rewriter mode is failing on x86-64, Red Hat 7.3.1-2, with libc-2.25"

[2019-03-15 18:14] mxz297 commented on #551
@bwelton After changing the size back to 1, it still has about the same amount of regressions.

[2019-03-20 17:48] hainest opened #568 "Using instrumentation library on statically linked binaries"
I am trying to instrument a statically linked binary and no matter
what I have tried the mutator code can't seem to find the functions in
my static instrumentation library. It returns with a cascade of the
following:
--SERIOUS-- #100: Image: Unable to find function: inst_func
Karl Ott submitted via the mailing list:

I have a dynamic version of the instrumentation library for operating
on dynamica

[2019-03-20 20:46] kaott commented on #568
1. Which version of Dyninst are you using?
10.0 built installed from Spack and built with gcc 7.3.0 with static libraries enabled.

2. Which compiler and version was used to build the mutatee?
The static version used gcc 5.4.0, built on Ubuntu 16.04.
However, the dynamic one was built with gcc 7.3.0 on Ubuntu 18.04.

3. What OS are you using?
Ubuntu 18.04

4. Which version of libc are you using?
T

[2019-03-22 21:04] sashanicolas commented on #568
@kaott What's the compile command that you used for the static mutatee on Ubuntu 16?
It's common to get the message:
[code]
when someone forgets to compile with `-g` to get debug info.

[2019-03-23 22:04] kaott commented on #568
@sashanicolas
The static mutatee and static instrumentation library was built with debug information. The specific command and relevant flags are: `musl-gcc -static -g -O2`. musl-gcc is just a wrapper program that automatically handles setting up flags used to tell gcc to use and link with musl libc.

The function I am trying to instrument can be found within the mutatee, but the instrumentation f

[2019-03-25 16:47] hainest commented on #557
Add /usr/lib64/gcc/aarch64-suse-linux/7 for Kachina.

[2019-03-27 14:14] mxz297 opened #573 "InstructionAPI fails to decode some vector instructions on x86-64"
HPCToolkit is missing performance numbers for some code ranges. It turns out that InstructionAPI failed to decode some vector instructions. which lead to incomplete function ranges.

Below are the unique opcodes we missed:

[code]

[2019-03-28 21:09] hainest commented on #565
@josephjohnjj Were you able to resolve this?

[2019-03-28 23:56] josephjohnjj commented on #565
Not really. I used the latest version, but I still ran into some issues. I
was trying to build OmpSS with dyninst. For the time being I have build it
without dyninst, but I will be trying it very soon. Thanks for getting back
to me.

On Fri, Mar 29, 2019 at 8:09 AM Tim Haines <notifications@github.com> wrote:

--

Joseph John

PhD Student

ANU College of Engineering & Computer Science
+61046844787

[2019-03-29 21:10] mxz297 commented on #573
Two more missing instructions are reported:

[code]

[2019-03-30 15:05] rvlsridhar commented on #174
Is this sipport in plan for next release?

[2019-03-31 21:36] hainest commented on #174
@rvlsridhar Windows is not officially supported in Dyninst. There is some machinery to try to build it on that platform, but it is unverified. It is unlikely a 64-bit port will be completed anytime soon- certainly not for the upcoming 10.1 release.

[2019-04-04 05:40] mwkrentel opened #577 "Symtab should not always demangle every function name"
When Symtab demangles symbol names in `P_cplus_demangle()` in
`common/src/linuxKludges.C`, it looks like Symtab automatically calls
`__cxa_demangle()` to demangle every name, whether it is mangled or
not.  This is not correct.

Instead, Symtab should lookup what module the name is from and
demangle if the source language is C++, ie, `lang_CPlusPlus` or
`lang_GnuCPlusPlus` in module-speak.  (I don'

[2019-04-04 13:10] mxz297 commented on #577
@mwkrentel The problem is reproduced on my end. Thanks for the example. I will fix it soon.

[2019-04-04 14:14] mxz297 commented on #577
@mwkrentel @jmellorcrummey After more thoughts, I feel this problem is more complicated and I don't think there is a perfect solution for it.

## Source language of the module did not really help

Let me start with Mark's suggested solution, which is to look at the source language of the module.

1. The binary is not guaranteed to be compiled with `-g`. In this case, symtabAPI says that the source

[2019-04-04 14:57] jmellorcrummey commented on #577
I think that this could be fixed in Dyninst in getTypedName.

I tried to demangle every single letter and number. Here is what I got. Based on my results, it seems that if the output contains a space but not a parenthesis, then the demangled result is bogus and the mangled name should be returned instead.
[code]

[2019-04-04 15:06] jmellorcrummey commented on #577
My test program:

`#include <cxxabi.h>
#include <stdio.h>

void
demangle_range(char first, int len)
{
  char in[2];
  char out[1000];
  size_t outlen;
  int status;

  for (int i = 0; i < len; i++) {
    in[0] = first + i;
    in[1] = 0;
    out[0] = 0;
    outlen = sizeof(out);
    char *result = abi::__cxa_demangle(in, out, &outlen, &status);
    if (result) printf("'%s' -> '%s'\n", in, out, res

[2019-04-04 15:46] mxz297 commented on #577
According to the Itanium C++ ABI (https://itanium-cxx-abi.github.io/cxx-abi/abi.html#mangling), the rule of mangled name is:
[code]

So, if the name does not start with "_Z",  `getTypedName` and `getPrettyName` should just return the name of the symbol without doing any demangling.

If the symbol starts with "_Z",  we perform the demangling, and do our best effort to check it is a legit demangled

[2019-04-04 19:19] mwkrentel commented on #577
I'm not sure where this leaves us.  I agree that we can't achive 100%
correctness and have to rely on heuristics.  But I still suggest that
Symtab should cover the common cases and do the best it can with
whatever info is available.  Is that what we're thinking?

In particular, for profiling and debugging, we tell users to use `-g`.
If they don't, then they're going to miss other things even more

[2019-04-04 19:29] mxz297 commented on #577
Yes, that's why I am proposing following the name mangling rule to determine whether SymtabAPI should or should not demangle the name.

In my long post, I have a specific section to discuss why `-g` is not helpful.

[2019-04-04 19:51] jmellorcrummey commented on #577
I thought that we could all agree on what Xiaozhu suggested last and repeated below:

[code]

[2019-04-04 22:27] hainest commented on #577
As a sanity check, c++filt does not have this issue.

I took a look at the source for c++filt, and it _always_ calls `cplus_demangle` from libiberty. Bizarrely, Dyninst does not support using libiberty on linux (it does on several other platforms, though). I would recommend a combination of the "_Z" trick with the assumption that Itanium is being used even on non-x86 platforms (here be dragons!),

[2019-04-04 22:47] mwkrentel commented on #577
c++filt and libiberty both have options for this.  I guess the default
must be not to decode type encodings.

[code]

These are the options available for libiberty `cplus_demangle`
from `demangle.h`.

[code]

And the **really** bizarre thing about Dyninst and libiberty is that
on Linux at least, cmake requires libiberty and the build fails without it.
But then, you don't actually use it.  :-)   Ol

[2019-04-04 23:04] hainest commented on #577
on Linux at least, cmake requires libiberty and the build fails without it.

This doesn't appear to be the case anymore. If you don't specify USE_GNU_DEMANGLER (default ON using ccmake, default OFF using cmake- I have a fix coming in for this), then it checks the system for libiberty or builds from source, if not found. In either case, we have libiberty, so the real question would be can we just g

[2019-04-05 20:51] mwkrentel commented on #577
If you decide to use libiberty, then one thing you could do is use a
full set of options for the typed name, something like
`DMGL_PARAMS | DMGL_ANSI | DMGL_RET_POSTFIX` and then a
reduced set of options for the pretty name, maybe `DMGL_RET_DROP`.

You could use that to replace de-demangle.
For example,

[code]

[2019-04-07 14:37] RosenZhu opened #579 "libboost_system.so.1.58.0: error adding symbols: DSO missing from command line"
When I used Dyninst to instrument, I got the following error. As I notice, it may be related to libboost_system.so,  which should be the libboost_system-mt.so.  But when I build Dyninst, I leave the PATH_BOOST empty, it seems that Dyninst doesn't automatically build libboost_system-mt.so.
So how can I build libboost_system-mt.so manually?
When I try to download it, it seems that the "-mt" version

[2019-04-08 21:23] hainest commented on #579
I recently ran into this same issue when using a custom-built Boost-1.69. For some reason, it sometimes fails to find the symbol for the `boost::system::system_category()` function. I don't yet have an explanation (I have used that install of Boost many times in the past without incident). The workaround for now is to force Dyninst to build Boost from source. The easiest way to do that is to add `

[2019-04-09 10:35] RosenZhu commented on #579
@hainest Thanks for your advice.
I have one more question, can I get the value of flag register (such as CF,ZF,SF) by instrumentation?
For example,

`cmp     eax, DWORD PTR [rbp-8]`
  `jge     .L5`

I want to instrument at the point between `cmp` and `jge`, and the code I inserted is intended to use the result of `cmp`, i.e. the state of flag register.

As I learn from dyninst papers, dyninst seem

[2019-04-10 00:47] RosenZhu commented on #579
@mxz297  Thanks very much.
 What we want to do is to check whether the conditional jump instructions jump successfully or not, and do something according to the result.
and as to the indirect jumps, we want to get the address that the jump instruction will jump to. and do something according to the result.

[2019-04-10 01:59] mxz297 commented on #579
Dyninst supports CFG edge instrumentation, meaning that you can instrument the condition-taken branch and condition-not-taken branch separately. You need to get `BPatch_edge` objects by traversing `BPatch_flowGraph`. From `BPatch_edge`, you can get instrumentation points for that edge.

For most indirect jumps, Dyninst can resolve them statically (jump tables). For indirect tail calls, you can ins

[2019-04-10 03:19] RosenZhu commented on #579
@mxz297 Thanks very much!

[2019-04-10 07:29] #579 closed

[2019-04-11 05:18] RosenZhu opened #580 "Is the possible to insert a snippet statically and then delete the same snippet?"
I want to do something like:
-- 1 get a binary
-- 2 insert some snippets (e.g. 100 snippets) into the binary
-- 3 save the instrumented binary
-- 4 execute the instrumented binary for several times and stop executing
-- 5 delete some of the instrumented snippets (e.g. delete 10 snippets)
-- 6 save the binary that was deleted some snippets
-- goto 4

So, my question is, how to find the inserted sni

[2019-04-12 21:45] mxz297 commented on #580
Based on my knowledge, Dyninst currently will not re-instrument binaries that have been rewritten by Dyninst.

You are right that it is possible to do dynamic instrumentation insertion and deletion, but to do iterative binary rewriting, there needs to be some changes made to Dyninst.

[2019-04-12 21:49] mxz297 commented on #580
By the way, I am happy to have a collaboration based on what exactly you plan to do.

[2019-04-13 01:05] RosenZhu commented on #580
@mxz297

That's great!  can I get your personal email?

[2019-04-13 01:53] mxz297 commented on #580
You can just contact me by my gmail, which is in my github profile.

[2019-04-13 16:34] ianamason opened #581 "SIGSEGV in codeCoverage example: dyninst/symtabAPI/src/emitElf.C:1186"
Hopefully user error, but some advise would be nice. I spack installed on a clean Ubuntu 18.04 vagrant box using gcc 7.3.0.
[code]

codeCoverage built fine, after some minor futzing with the `Makefile`. Only one warning in the build:
[code]

However
[code]
predictably crashes with a `SIGSEGV` at line 1186 of  `emitElf.C`. The offending line is
[code]
At this point in the computation we have
[code]

[2019-04-13 17:29] mxz297 commented on #581
An immediate patch is to add `if (dynamicSecData[tag].empty()) return;` before `emitElf.C:1186`. Not sure you will encounter other problems or not.

I am interested in what kind of binaries you are instrumenting. I encountered this problem before when dealing with statically linked PIE executable. But in my case, even if I went through this problem, instrumenting statically linked PIE executable w

[2019-04-13 17:33] ianamason commented on #581
Thanks I shall give it a burl, and see how much further down the track we get!

[2019-04-15 18:32] mothran opened #582 "RAX corruption in EmitterAMD64::emitStackAlign"
In emitStackAlign() the LAHF instruction is used to save flags to AH, before the registers are pushed onto the stack and saved.  This means that the RAX register is corrupted between original basic block executions.

If the scratch register used in emitStackAlign() is not RAX, then the register does not get saved correctly.  I was able to avoid the corruption by forcing the register to RAX if save

[2019-04-15 20:51] ianamason commented on #581
That did indeed allow the compilation to complete. Making way for a whole new can of worms.
Is this example supposed to work? Are there better, perhaps simpler, examples out there?

Here is one worm:
[code]

[2019-04-16 14:26] mxz297 opened #583 "Cleaning architecture ifdef in the code base"
Dyninst code base contains many architecture ifdefs. A big problem of such ifdef is that ARMv8 may implicitly use implementation designed for other architecture.  Consider the following example:

[code]

ARMv8 will use implementation for Power. We need to evaluate every such ifdef and determine the right implementation for ARM.

@sashanicolas has identified all potential locations of these ifdefs.

[2019-04-17 14:30] ianamason opened #585 "Cobwebs on the Documentation and boost 1.70.0 issues."
@mxz297 is there any updated documentation for the patchAPI classes?
The doc area looks quite old, and the only example findPoint looks to be
quite out of date.

As an aside, I tried spack installing on a clean ubuntu 18.0.4 box again yesterday,
but it failed this time. Seems boost has gone from 1.69.0 to 1.70.0 and dyninst no longer
compiles against this version.  I got around it with the `^boost

[2019-04-17 16:12] mxz297 commented on #582
@mothran Based on your post, it definitely looks like Dyninst is doing something wrong. Can you create a reproducer? I have not seen this issue before and a reproduce will be extremely helpful for debug.

[2019-04-17 17:14] hainest commented on #585
We just found this a couple of days ago. Someone is working on a patch. I hope to have it merged soon (definitely before the 10.1 release).

[2019-04-17 17:16] ianamason commented on #585
Thanks @hainest

[2019-04-17 18:32] mothran commented on #582
@mxz297 Sure, I have a small target .c program that expresses the issue when instrumented with a per-basic-block AOT instrumentation with dyninst.  I can provide the target but can't provide the instrumentation tooling.  I expect that there is nothing in the tooling that specifically causes the issue.  Any dyninst tooling that instruments each basic block should induce the issue.

Below is the tar

[2019-04-18 22:13] ianamason opened #586 "codeCoverage bugs seem to suggest API bugs."
I was trying to see why the codeCoverage.dir example was crashing.
If I don't pass the '-s' flag to `codeCoverage` nothing gets instrumented.
[code]
If I do pass the '-s' flag
[code]
I seem to instrument way more than I want. It seems that the
[code]
returns a vector of 1403 modules.  Every one claims to be a shared library.
Even the ones that obviously are not shared libraries such as: `testcc.c`

[2019-04-18 22:23] ianamason commented on #586
I note that if I flick the "openDependencies" to `false` in the `openBinary` call I get a simpler
picture, but they still ALL claim to be shared libraries.
[code]

[2019-04-18 22:47] mxz297 commented on #586
I cannot reproduce your problem. I just ran codeCoverage as what you did and got the following output:
[code]

What is your architecture, linux distribution, compiler version?

I am not sure why you got the impression that `BPatch_module` corresponds to shared library. `BPatch_object` corresponds to an a.out or a shared library. `BPatch_module` corresponds to a compilation unit.

Can you tell us h

[2019-04-18 22:53] ianamason commented on #586
I am working on a clean ubuntu 18.04 vagrant box.  I think you misunderstand what I meant
about being a shared library. I meant that the modules `isSharedLib` returns `true`.
So  I never instrument ` testcc` because it claims to be a shared library, and so is skipped
in the codeCoverage module loop.

[2019-04-18 23:06] hainest commented on #586
@ianamason could you post the output of `gcc -v`?

[2019-04-18 23:08] mxz297 commented on #586
I see. Does your compiler by default to generate PIE code?

[2019-04-18 23:08] ianamason commented on #586
[code]

[2019-04-18 23:10] hainest commented on #586
@ianamason The stuff I am curious about is in `gcc -v`, not `gcc --version`. As @mxz297 noted, you could be generating PIE code. This is the default on Ubuntu 18.04 with gcc-8. I was curious if your compiler was also built with `--default-enable-pie`.

[2019-04-18 23:11] ianamason commented on #586
Sorry
[code]

[2019-04-18 23:12] ianamason commented on #586
So yes. It looks to be generating PIE by default.

[2019-04-18 23:13] hainest commented on #586
Yup. You are building PIE code by default. Try adding '-fno-pie' to the compile commands. I have a feeling Dyninst might be confusing PIE and PIC and just saying they are both shared library code (which isn't entirely inaccurate, but we need to endeavor to do better).

[2019-04-18 23:23] ianamason commented on #586
@hainest  just the mutatee compiles, right?  It doesn't seem to fix the `isSharedLib`  but does alter the outcome (but not in a good way):
[code]

[2019-04-18 23:31] hainest commented on #586
I was afraid of that. You will need to use the HEAD of the Dyninst master branch to get the necessary fixes for PIC code. They will be included in the 10.1 release which we are diligently working hard to get out soon.

[2019-04-18 23:35] ianamason commented on #586
OK my spack-fu is not great. I guess I can't use spack to install the head right? I

[2019-04-18 23:46] mxz297 commented on #586
Can you try one more time where fno-pie is only applied to the executable, but not the .so?

[2019-04-18 23:50] ianamason commented on #586
Same outcome, no instrumentation, and an overflow.
[code]

[2019-04-22 23:14] ianamason opened #587 "Trying to get a very simple PatchAPI example working"
Hi there, Me again.

I'm trying to piece together a simple patchAPI example from the existing
documentation.  I have managed to succeed in getting it to compile,
but not to actually edit the given binary. I am sure it is something
simple (well actually, I am *hoping* it is something simple).

I put the code [here](https://github.com/ianamason/patchAPI), and be delighted if
someone could point out

[2019-04-24 00:27] ianamason commented on #587
Even it appears that I am talking to myself here, but for completeness I should mention that I added a hybrid approach (using both DyninstAPI and PatchAPI) that does seem to work.

[2019-04-24 01:18] mxz297 commented on #587
@ianamason I am really sorry that we are not being responsive. Mixing DyninstAPI and PatchAPI is indeed a good way to build a sophisticated mutator.

Are you willing to contribute your example by creating a PR? Again, I am sorry that this is something we should have done better, but we are hunting down bugs for Dyninst 10.1.

We would greatly appreciate your contributions of updating a PatchAPI ex

[2019-04-24 01:49] ianamason commented on #587
Sure @mxz297  I can do that sometime this week.

[2019-04-25 00:48] bwelton opened #589 "BPatch_addressSpace replaceFunctionCall does not set R12 on Power"
replaceFunctionCall appears to be using a different path than inserting a function call that does not set R12  (causing the TOC to be miscalculated by the replaced function call).

[2019-04-25 15:31] mxz297 commented on #589
@bwelton  test1_14 in the testsuite tests this functionality and that test is passing on power.  I just read the source code of the tests. I guess the problem of the test is that it only tests replaces function call with a call to a function in the same binary. It does not test replacing calls to a function in a shared library.

Are you replacing function call to a function in a shared library?

[2019-04-25 15:39] mxz297 commented on #589
@bwelton Which branch are you using? For your new project, do you think it may be better to use dyninst master?

[2019-04-25 16:56] bwelton commented on #589
This may effect master as well as my branch (i have not run the test suite with master).

The test suite's replace function test for shared libraries may be too simple. The function call that is being replaced is not accessing any static data within the shared object (either literals or globals). Thus it is very likely never trying to read anything from R2 (you can confirm this by objdumping libA

[2019-04-25 17:31] mxz297 commented on #589
@bwelton I see. I will then augment the test and fix the problem.

[2019-04-26 16:41] vahldiek opened #590 "Altering input operand of an instruction"
Hi,

I've been using DynInst in a project to rewrite certain x86 binary sequences.

The issue I've run into, is that I'd like to change the input operand of an x86 instruction lets say mov EDX, 0x55555555 into mov EDX, ECX. I've build instructions around it to make sure that the right value is in ECX, so don't worry about that. I've looked through the API and tried several ways to update the regis

[2019-04-26 20:20] vahldiek commented on #590
I thought that I found a way to get a BPatch_instruction out of a BPatch_point via getMemoryAccess, but mov instructions are not memory accesses it seems only load and stores. Is there anyway to use the BPatch_insnExpr for instructions different than memoryAccesses out of a BPatch_point?

Thanks.

[2019-04-29 14:13] mxz297 commented on #590
@vahldiek I looked into our code base. I only find code to modify the addressing mode of a memory operand, but I don't find any code to modify an operand from one type of memory operand, immediate, or register, to other types.

[2019-04-29 16:44] vahldiek commented on #590
Thanks, I'm now assembling a new mov instruction. I thought there may be a nice way to do it with the BPatch_insnExpr by overriding the source/destination.

[2019-04-29 16:44] #590 closed

[2019-04-29 21:59] mxz297 commented on #589
@bwelton Are we certain that this is not a problem for master branch?

[2019-04-29 22:43] mxz297 commented on #587
Closed via #588.

[2019-04-29 22:43] #587 closed

[2019-05-01 14:41] farzanehabazari commented on #387
I  have the same problem in running Typearmor: Segmentation Fault.
What should I do?

Thanks

[2019-05-02 20:49] #563 closed

[2019-05-02 20:54] #547 closed

[2019-05-02 20:54] #557 closed

[2019-05-02 20:54] #561 closed

[2019-05-06 18:52] #589 closed

[2019-05-07 20:21] mxz297 commented on #577
Fix for this issue is in #592

[2019-05-07 20:22] mxz297 commented on #573
The fix for this issue is in #575

[2019-05-10 17:13] #573 closed

[2019-05-12 00:22] #577 closed

[2019-05-12 00:22] #551 closed

[2019-05-13 12:41] #560 closed

[2019-05-13 12:41] #524 closed

[2019-05-15 15:06] #585 closed

[2019-05-16 19:25] hainest commented on #565
There were substantial changes in today's 10.1 release to how third-party libraries are handled. I would recommend trying again.

[2019-05-16 19:27] mxz297 commented on #580
Closed due to inactivity.

[2019-05-16 19:27] #580 closed

[2019-05-16 19:27] hainest commented on #525
The handling of third-party libraries has substantially changed in today's 10.1 release. The documentation has been substantially updated to reflect these changes.

[2019-05-16 19:27] #525 closed

[2019-05-16 19:28] #522 closed

[2019-05-16 19:28] #5 closed

[2019-05-16 19:32] mxz297 commented on #100
Will check if the same problem still exists in Dyninst 10.1

[2019-05-16 19:38] #103 closed

[2019-05-16 19:41] mxz297 commented on #125
Will see if I can reproduce it in Dyninst 10.1

[2019-05-16 19:42] #229 closed

[2019-05-16 19:42] #190 closed

[2019-05-16 19:43] mxz297 commented on #246
@sashanicolas  Can you double-check if this issue applies to Dyninst 10.1?

[2019-05-16 19:44] mxz297 commented on #252
@sashanicolas  Can you double-check if this issue applies to Dyninst 10.1?

[2019-05-16 19:44] #276 closed

[2019-05-16 19:45] #312 closed

[2019-05-16 19:45] #319 closed

[2019-05-16 19:48] #421 closed

[2019-05-16 19:52] mxz297 commented on #406
@stanfordcox Is this still a problem in Dyninst 10.1?

[2019-05-16 19:53] #448 closed

[2019-05-16 19:55] mxz297 commented on #450
@wangzhijun2005 Dyninst 10.1 is release. Can you try if the same problem exists?

[2019-05-16 19:56] mxz297 commented on #464
Closed due to inactivity

[2019-05-16 19:56] #464 closed

[2019-05-16 19:56] mxz297 commented on #466
@sashanicolas Is this issue resolved?

[2019-05-16 19:57] mxz297 commented on #398
A new patchAPI example is updated.

[2019-05-16 19:57] #398 closed

[2019-05-16 19:58] mxz297 commented on #383
@sashanicolas Is this issue resolved?

[2019-05-16 19:59] mxz297 commented on #468
Closed due to inactivity.

[2019-05-16 19:59] #468 closed

[2019-05-16 20:20] mxz297 commented on #100
No longer seen in Dyninst 10.1

[2019-05-16 20:20] #100 closed

[2019-05-16 20:29] mxz297 commented on #342
Dyninst 10.1's new build system has updated handling of libiberty

[2019-05-16 20:29] #342 closed

[2019-05-16 20:30] #422 closed

[2019-05-16 20:31] mxz297 commented on #354
Dyninst 10.1's new build system has significantly improvement on installing dependencies and setting RPATH.

[2019-05-16 20:31] #354 closed

[2019-05-16 20:32] mxz297 commented on #402
This issue is still applicable to Dyninst 10.1. This will be a future release item.

[2019-05-16 20:46] mxz297 commented on #387
@farzanehabazari Typearmor is a tool written by developers outside Dyninst. As Dyninst developers, we do not have the expertise for solving problems showing up in Typearmor.

It looks like that Typearmor is written with Dyninst-9.3.1, which was extremely old. I guess Typearmor is not longer maintained to keep up with new versions of Dyninst. We just release Dyninst 10.1, and since Dyninst-9.3.1, w

[2019-05-16 21:21] mxz297 commented on #351
@mwkrentel Is this still relevant?

[2019-05-16 21:24] #431 closed

[2019-05-16 21:26] mxz297 commented on #476
Closed due to inactivity.

[2019-05-16 21:26] #476 closed

[2019-05-16 21:33] mwkrentel commented on #351
@mxz297  Probably not still relevant.

This was from an earlier design, but as you know, we ended going in a
different direction.  Plus, there's the whole issue of convergence,
that is, when can you count on the answer.  The problem being, until
you know everything, you don't know anything.

So, feel free to close.

[2019-05-17 01:52] mxz297 commented on #351
Thanks!

[2019-05-17 01:52] #351 closed

[2019-05-17 15:59] stanfordcox commented on #406
@mxz297 it is okay as  AddressTranslateSysV::refresh() is skipping it now:
      if (obj_name == "linux-vdso.so.1" ||
          obj_name == "linux-vdso64.so.1" ||
          obj_name == "linux-gate.so.1")
      {
         continue;
      }

[2019-05-17 16:06] mxz297 commented on #406
Thanks!

[2019-05-17 16:06] #406 closed

[2019-05-21 07:25] hirouka opened #602 "Segementation fault"
I get this .
gdb ./instrumentFunc
GNU gdb (Debian 7.7.1+dfsg-5) 7.7.1
Copyright (C) 2014 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show warranty" for details.
This GDB was configured as

[2019-05-21 17:47] hainest commented on #602
I see you are using Dyninst-9.3.2. I would recommend upgrading to Dyninst-10.1 and trying again. If you see the same result, please also post a stack trace.

[2019-05-22 08:10] hirouka commented on #602
thank you, it works with  Dyninst-10.1, but I have another problem, my mutator does not create another executable,  it's supposed to
the  example ; https://github.com/dyninst/docs/blob/master/dyninstAPI/examples/instrumentFunc.C

[2019-05-22 11:24] #602 closed

[2019-05-24 11:46] hirouka opened #604 "Local variable"
Hello,
I have question,I want to get all the local variables in my function , and i have write this code
***********************************************************************************************
 std::vector<BPatch_point*>* routiPoint =
        findPoint(app, interestingFuncName, BPatch_entry); // trouver un point d'entree de la fonction
    if (!entryPoint || entryPoint->size() == 0) { // v

[2019-05-24 13:09] hainest commented on #604
Even at the lowest optimization levels, compilers will perform [DCE](https://en.wikipedia.org/wiki/Dead_code_elimination). Hence, `b` is never entered into the dwarf information. Try adding it to the `printf` statement in `interrestingProcedure`.

[2019-05-24 15:36] hirouka commented on #604
thank you , i have another question ,
I want to create a variable of type "struct timespec" but  it doesn't work with findType

[2019-05-28 21:27] hainest commented on #604
I'm afraid I don't know how to help with that. Could @bwelton, @sashanicolas, or @mxz297 jump in?

[2019-05-30 14:08] mxz297 commented on #604
@hirouka I don't quite understand what you try to do. Do you want to create a new variable in the mutatee with type "struct timespec"? If that is what you want to do, we recommend that you declare the variable in your instrumentation library, and use Dyninst to load that library into the mutatee.

Meanwhile, it is possible that you cannot find "struct timespec" if no such debugging information is

[2019-05-30 14:24] mxz297 opened #605 "Handling of PIE binaries"
On recent Linux distributions, the system compiler will by default generate position independent executables (PIEs). Dyninst currently has at least two issues when dealing with PIE:

1. A few interface checks whether a binary is a shared library. Such check will wrongly return that PIEs are shared libraries. The boundary between shared library and PIE is indeed blur. We need to come up with a reli

[2019-05-30 14:24] mxz297 commented on #605
#586 is a use reported issue on this topic.

[2019-05-30 15:39] mxz297 commented on #566
@djwatson Dyninst 10.1 was released a week ago. If after you update Dyninst and still see the same problem, please let me know and I will try to fix it.

[2019-05-30 15:44] mxz297 commented on #568
@kaott Do you know whether your static mutatee is PIE or not? If your static mutatee is PIE, correctly instrumenting static PIE is something we will address in the next Dyninst release.

If your static mutatee is not PIE, can you try dyninst 10.1 and see if the same problem happens?

[2019-05-31 07:30] hirouka commented on #604
thank you,
this code inject the snippets at the entry or the exit  of the interested function,
How can we inject a snippets at a specific  instruction?

#include <stdio.h>
#include "BPatch.h"
#include "BPatch_addressSpace.h"
#include "BPatch_function.h"
#include "BPatch_binaryEdit.h"
#include "BPatch_point.h"

int main(int argc, const char *argv[]) {

    // Use BPatch_* classes to initialize

[2019-05-31 18:14] lzhfromustc opened #606 "When using parseAPI, the file you read may need to be compiled without "-g""
I learnt from the examples in "ParseAPI Programmer's Guide" and wrote my simple program that could count the number of loops in a given program.
However, when I tried to run my program on a mysql program (/install/libexec/mysqld), the following error jumped out:
`Now abort() in libdwarf. No error argument or handler available.
Aborted`
Now I find out that whenever I want to run this program on a p

[2019-05-31 18:16] lzhfromustc commented on #606
Besides, the error is caused by `sts = new SymtabCodeSource(binaryPath);` at line 40 of the first example in "ParseAPI Programmer's Guide".

[2019-05-31 20:47] mxz297 commented on #606
@lzhfromustc Based on the error message that libdwarf is mentioned, I guess you are using Dyninst 9.3.2 or even an earlier version of Dyninst. These versions are at least 2 to 3 years old. I would recommend that you upgrade to Dyninst 10.1 and re-compile your code.

[2019-06-01 18:28] aalmamuncse commented on #456
Hi, I am trying to compile the example codes given in dyninstAPI.pdf (for dyninst version 10.1), on Appendix section. First example (instrumenting a function, example 1.1, page 67), I get segmentation fault error when I compile the example. I am trying to instrument a very simple hello.cc file with a hello function. Could you please point any direction to get rid of this error?

[2019-06-01 23:15] aalmamuncse commented on #359
Hi, I am trying to compile the example codes given in dyninstAPI.pdf (for dyninst version 10.1), on Appendix section. First example (instrumenting a function, example 1.1, page 67), I get segmentation fault error when I compile the example. I am trying to instrument a very simple hello.cc file with a hello function. Could you please point any direction to get rid of this error?

[2019-06-01 23:16] aalmamuncse commented on #471
Hi, I am trying to compile the example codes given in dyninstAPI.pdf (for dyninst version 10.1), on Appendix section. First example (instrumenting a function, example 1.1, page 67), I get segmentation fault error when I compile the example. I am trying to instrument a very simple hello.cc file with a hello function. Could you please point any direction to get rid of this error?

[2019-06-03 08:29] wrwilliams commented on #359
@aalmamuncse You're probably going to want to open a new issue for this one with a stack trace from the segfault; this particular issue shouldn't be relevant to your crash (unless things have changed greatly in the year since I left the project).

[2019-06-03 20:37] mwkrentel opened #607 "cleanup compiler warnings"
Building both Dyninst and a dyninst app produces a lot of warnings.
Of course, this depends on the compiler and rev, so I'll settle for
one data point.

This is on x86_64, Fedora 26 and gcc/g++ 7.3.1.

This is from today's master (fdc4d6a2) which is still 10.1.0 release.

I built Dyninst prereqs with spack: boost 1.66.0, elfutils 0.175, and
intel TBB 2018.6.

Run cmake manually with:

[code]

Comp

[2019-06-04 22:29] hainest commented on #607
On my home machine with gcc-8.2, I'm seeing similar results. The table below summarizes the warnings. The ones above the row with dashed lines are very likely bugs that should be fixed. Those below that row are likely caused by improper scoping of macro-specific code.

TBD: Determine severity of bug-likely warnings.

| Warning        | Count  |
| ------------- | -----:|
| overloaded-virtual | 178

[2019-06-05 21:08] mxz297 commented on #402
Capstone is able to correctly decode these instructions.

[2019-06-06 18:18] kaott commented on #568
The static mutatee binaries are not PIE. I will install 10.1 and try it in the coming weeks and report back.

[2019-06-08 15:44] pramodjayram opened #608 "Bpatch openBinary failed"
openBinary function for hex file compiled for ARMv8 (M23 processor) returns with error. Is there any solution for this?

[2019-06-08 15:56] mxz297 commented on #608
Dyninst can only understand ELF and PE formats. I don't think Dyninst currently supports HEX file.

Unfortunately, I am not familiar with HEX file and I am not sure whether you can convert a HEX file to an ELF file so that Dyninst can understand it.

[2019-06-08 15:59] pramodjayram commented on #608
Dyninst can read binary and executabl files. Hex files are similar to binary/executable files and most of the compilers generate either bin or hex files. Is there any work around?

[2019-06-08 16:09] mxz297 commented on #608
We use external libraries to understand binary format. For example, we use libelf from elfutils to parse ELF files. Therefore, Dyninst will need a similar library to understand HEX.  Or, if you can trick libelf to open a HEX file, then it is possible to workaround it.

However, the problem is more than just reading the file format. I am guessing you want to do binary rewriting with HEX file becaus

[2019-06-08 18:06] pramodjayram commented on #608
I converted the output file from hex to elf format but I get the following error:

Does Dyninst 10.0 version support ARMv8 binaries? I am trying for binary rewriting but it looks like it does not support ARMv8 architecture.

[2019-06-08 19:06] mxz297 commented on #608
Binary rewriting on ARMv8 is still under development, but Dyninst 10.1 (released a few weeks ago) has some initial support for binary rewriting.

Since binary rewriting on ARMv8 is our current development focus, if Dyninst 10.1 does not work for you, can you please share your binary with us for better debugging?

[2019-06-09 14:21] pramodjayram commented on #608
I have attached the binary file for ARMv8 architecture specifically M2351 processor. Please let me know if the below file works with the current dyninst version as it did not work for me.

[https://drive.google.com/file/d/1AhHOiOvmSG5j8vuB37BEu5W4stMHBY7u/view?usp=sharing](url)

Thank You

[2019-06-09 14:41] mxz297 commented on #608
@pramodjayram Thanks! I can download this file.

@sashanicolas Can you also download and try to repeat this problem?

[2019-06-12 20:26] mothran commented on #582
I recently wrote up a testsuite for some issues I have been encountering with basic block instrumentation.  Below are a set of instructions to replicate the issue mentioned above along with the dyninst tools to cause the issue.

Dyninst version:
fdc4d6a2a82726f1c2d71cac47ae66c204f9c1ea

cmake command:
cmake -DBUILD_RTLIB_32=ON -DCMAKE_INSTALL_PREFIX=/usr/dyninst ../..

System:
ubuntu 18.04
gcc:
Ub

[2019-06-12 20:51] mothran opened #609 "AMD64 ABI registers corrupted by BPatch_basicBlock instrumentation"
I recently opened a pull request (#603) that attempted to resolve the issue I was seeing.  That pull request was incomplete and below is a full reproduction of the issue I was running into.

It appears that the BPatch emitBT() code for AMD64 misses the liveness of some ABI registers during a callback, so registers used in the callback can leak into the instrumented context causing crashes / undefi

[2019-06-14 14:20] mxz297 commented on #609
Thanks! I am trying to reproduce this problem. But since I typically don't have "sudo" permission, it will take a little bit more time for me to do this. This issue is on my list.

[2019-06-14 18:38] mothran opened #611 "Memory Leak with DYNINST_DEBUG_DISASS enabled"
When running tooling to instrument a binary with the BPatch API, if the DYNINST_DEBUG_DISASS=1 env var is enabled a memory causes the program to OOM while printing instructions on large binaries.

Dyninst version:
fdc4d6a2a82726f1c2d71cac47ae66c204f9c1ea

cmake command:
cmake -DBUILD_RTLIB_32=ON -DCMAKE_INSTALL_PREFIX=/usr/dyninst ../..

System:
ubuntu 18.04
gcc:
Ubuntu 7.4.0-1ubuntu1~18.04

Refer

[2019-06-14 22:55] hainest opened #613 "Regressions on x86 with glibc 2.28"
https://bottle.cs.wisc.edu/hostname/localhost.localdomain

This isn't one of our usual test platforms. It was done on a machine at NMC by Don Maghrak.

[2019-06-16 01:29] jmellorcrummey opened #615 "Duplicate declaration of friend Parser in class Block"
class Parser is a friend of Block twice in CFG.h

line 307

line 408

This causes compiler warnings.

[2019-06-16 14:59] mxz297 commented on #611
We are aware that Dyninst uses more memory than we hope.  How much memory is on your machine and how large is binary?

[2019-06-17 00:11] mxz297 commented on #582
@mothran About RAX corruption, I think the right fix is indeed to just force rax as a scratch register, because flag is always restored through rax. I got this thing fixed locally and will later put up a PR after I resolve your latest problem.

[2019-06-17 16:55] mothran commented on #611
The cc1 binary is 22MB and the system has 16GB of memory.

Running the 'patcher' utility without the DYNINST_DEBUG_DISASS=1 does not OOM.  The issue is specifically when turning on 'DYNINST_DEBUG_DISASS=1', will it OOM and be killed.

It seems there is a memory leak somewhere in the code that is enabled by DYNINST_DEBUG_DISASS

[2019-06-21 17:01] rashawnLK opened #616 "dyninst.org points to older news about Dyninst version 9.3.2"
In the descriptive paragraph of Dyninst at dyninst.org, it would be helpful to mention the github repository there. The news section to the right has not been updated recently. There seems to be many pointers to Dyninst 9.x on the website which I think may cause a degree of confusion and mislead folks to acquiring up to date information or the current release.

[2019-06-21 20:16] rchyena commented on #616
I will update the website tonight and close this issue when complete.

[2019-06-22 02:26] rchyena commented on #616
Website is now up to date.  Thanks for the report, Rashawn!

[2019-06-22 02:26] #616 closed

[2019-06-24 19:23] hainest opened #617 "Deprecate/remove BG/Q support"
Seqouia: No longer receiving updates.
Mira: HPCToolkit uses Dyninst (9.3.2) on BG/Q
JUQUEEN: Powered off May, 2018

[2019-06-24 21:03] pramodjayram commented on #608
Any updates regarding the support for ARMv8 architecture for the aove binary?

[2019-06-27 21:45] mwkrentel commented on #617
Actually, hpctoolkit has two methods for installing on Blue Gene.
The simple method uses the existing GCC 4.4 compilers and Dyninst
9.3.2.

The advanced method involves building GCC 4.8 (via spack) and then
using Dyninst 10.x.  As of today (late June 2019), this method still
works, although it requires several extra steps.

When I visited Argonne in early May 2019, I installed the advanced
method

[2019-06-27 22:02] hainest commented on #617
I've not tested it, but will Dyninst compile on gcc-4.4? That's super old, and only supports -std=c++0x which is an incomplete implementation of the standard.

I want to double-check this because John mentioned that HPCToolkit froze Dyninst at 9.3.2 for BGQ. Is HPCToolkit officially supporting building with Dyninst 10.1 on BGQ?

[2019-06-27 22:08] bwelton commented on #617
What was not mentioned on the call but should be brought up.

If we are planning on adding a "deprecated" warning in the next release (10.X), we will have to leave BGQ specific code in place until that release takes place. This may change the approach to the elf work @sashanicolas is performing if his patch is needed in the release with BGQ support still around. We cant just ignore BGQ's corner ca

[2019-06-27 22:15] mwkrentel commented on #617
Dyninst 10.x no, but 9.3.2 does.

With our old hpctoolkit-externals (to build our prereqs), we tagged a
snapshot for Blue Gene that used Dyninst 9.3.2 and built with gcc 4.4.

Now that we use spack, we can support Dyninst 10.x on Blue Gene, but
it's on life suppport.  And it requires building the 4.8 compiler.

[2019-06-28 18:06] hainest commented on #617
@bwelton Sasha's work is precisely why I want to deprecate now, so that we don't have to continue to expend energy on a platform that we don't need to actively support anymore. The question is whether we can kick out a point release that deprecates BGQ support _before_ @sashanicolas's work goes into mainline. I was hoping @jmellorcrummey or @n738cu could give feedback on that idea.

[2019-06-29 22:51] lzhfromustc commented on #606
@mxz297 Sorry I missed this message because I temporarily changed my research project. I was using Dyninst 10.1.0 (2019-05-15) and a quite new libdwarf (2019-05-05). Maybe some other dependencies caused this problem since I was running it on a relatively old server.
I am not able to repeat this now because I am out for another project. However, I may go back for this two months later. Feel free to

[2019-07-02 18:21] sashanicolas commented on #608
@pramodjayram The binary you sent is:
[code]
It is not ARMv8, and we have not tested with 32 bit ELF. Also, statically linked is not supported yet.
We are currently only supporting ARMv8, ELF 64 bit, and dynamic linked.

Also, your binary misses some sections. I can't tell for sure it will be a problem but I'm mostly sure we would need at least a .text section in it.

[code]

[2019-07-10 22:27] woodard opened #619 "Variables in the BSS don't appear as variables."
int main(int argc, char **argv) {
        // Name the object file to be parsed:
        std::string file;
        if (argc == 1)
            file = "./raja-perf.exe";
        else
            file = argv[1];

        // Declare a pointer to an object of type Symtab; this represents the file.
        Symtab *obj = NULL;
        // Parse the object file
        bool err = Symtab::openFile(obj, file)

[2019-07-10 22:32] woodard commented on #619
It is my expectation that uninitialized variables would be included in the list of variables which are returned by getAllVariables().

It is fine that it the underlying symbol exists but that isn't as useful.

[2019-07-10 22:40] bwelton commented on #619
The variables in question are marked by Symtab as being of type ST_UNKNOWN. Because of this marking, they are never added the to the vector "everyVariable" in symtab (used by getAllVaribles to return all varibles, this vector is instantiated here: https://github.com/dyninst/dyninst/blob/896144c647d5ddb423bbfc6da338cda17ca24185/symtabAPI/src/Symtab.C#L887 ), resulting in them never being returned

[2019-07-10 22:50] mxz297 commented on #619
I believe ST_UNKNOWN is a direct translation from elf. readelf says the following about __bss_start:

[code]

Here, the type of the symbol is "NOTYPE", which is then translated as ST_UNKNOWN in Dyninst. Here 27 represents .bss section.

In my opinion, `_bss_start` is definitely different from a typical variable declared in the source code. I think other actual uninitialized variables will be inclu

[2019-07-11 02:20] woodard opened #620 "Type doesn't have a getType() function"
On page 49 of the SymtabAPI manual the function to get data class is getType but in the header the actual function is getDataClass().

dataClass getType()
This method returns the data class associated with the type. This value should be used to convert
this generic type object to a specific type object which offers more functionality by using the
corresponding query function described later in thi

[2019-07-11 03:07] woodard opened #621 "The name of the function is getTypedefType not getTypeDefType"
On page 51 of the SymtabAPI manual it talks about the function thusly:

typeTypedef *getTypeDefType()
If this Type object represents a TypeDef type, then return the object casting the Type object to
typeTypedef otherwise return NULL.

However, looking in the header file the name of the function is actually getTypedefType()
I only noticed this because I happened to cut and paste from the reference

[2019-07-11 21:29] woodard opened #622 "typo in symtabAPI docs"
On page 52 of the SymtabAPI docs it looks like there is a typo in the latex source file:

In section 8.3 it says:

static typeFunction *create(string &name,
Type *retType,
vector<Type *> &paramTypes,
Symtab *obj = \code{NULL})

that \code{NULL} probably shouldn't be there.

[2019-07-12 21:25] woodard opened #623 "dataTypeDefine no longer is a dataClass"
On page 49 in the docs for SymtabAPI it lists dataTypeDefine as part of the dataClass enum. However, that has been eliminated in the current Type.h

[2019-07-13 00:10] woodard commented on #619
Honestly, I don't have particular interest in __bss_start.
When I was constructing my example test case, I picked __bss_start because it was very obviously a global variable in the BSS and it would likely be in every binary that you would look at meaning that I wouldn't have to include a test binary.

[2019-07-15 18:33] mxz297 commented on #619
I guess my point is that __bss_start is a special case. I am fine with treating __bss_start not as a typical "Variable" because it is not. So, the fact that you did not find __bss_start in the variable list may not necessary be an issue. However, if you want to manipulate __bss_start, then it becomes an issue for leaving it out.

[2019-07-17 15:17] #608 closed

[2019-07-26 03:49] kaott commented on #568
The problem still seems to persist in DynInst 10.1

I have installed DynInst 10.1 via spack and rebuilt my mutator program and mutator libraries with the new version. I have also rebuilt the statically linked binaries with musl libc and glibc, but it makes no difference which libc is used. I have tried using the -fno-pie flags in various places to no effect.

Let me know if you need more informati

[2019-07-29 21:22] mplegendre opened #625 "Missing dwarf information from gcc 8.1.0 binary"
Dyninst is reporting that a build of lulesh with gcc 8.1.0 doesn't have line information associated with lulesh.cc:233, and that function CollectDomainNodesToElemNodes doesn't have a local variable named nd1i.  Based on other DWARF parsers, I don't believe either of these are true.

I've tested this with Dyninst^540b228 and 10.0.  I'll send an email to @sashanicolas @hainest and @woodard with this

[2019-07-29 22:08] hainest commented on #625
@mxz297 could you give us your thoughts?

[2019-07-29 22:31] mxz297 commented on #625
It is difficult to predict what's the problem. But based on what Sasha has described that Dyninst's DWARF parsing is not accurate for the new ARM machine, which has a very new libc and compiler, I guess that latest compiler is generating DWARF in a way that SymtabAPI does not expect.

[2019-08-07 19:26] hainest opened #626 "Missing PRIx64 macro on ppcle64 before Power9"
Regarding #517:

One of my cron jobs tripped an alarm for Dyninst master on powerpc this morning. This one is bizarre, but the last commit about the PRIx64 macros breaks the build on some systems, depending on the exact version of the <inttypes.h> header file. Here is a unit test that reproduces the problem.  This is a snippet from instructionAPI/h/Result.h, near line 453.

[code]

On one power8 s

[2019-08-08 18:12] mwkrentel commented on #626
To answer one of your questions, here's a quick inventory of a few
systems, where "broken" means that PRIx64 is not defined.

[code]

So, (1) yes it does happen on more than just powerpc.

(2) It looks like old glibc required __STDC_FORMAT_MACROS, but at some
point, the #if was removed, but it was removed from x86_64 before
powerpc.

Btw, I can tell that RedHat has completely moved on past RH 6.x.

[2019-08-12 14:22] mxz297 opened #628 "SymtabAPI::Function::getName() is non-deterministic"
`SymtabAPI::Function` aggregates all function symbols at the same offset and uses the "first" symbol name as the return value for `SymtabAPI::Function::getName()`.

SymtabAPI first extract all symbols and then enumerate all symbols to construct `SymtabAPI::Function`s. However, SymtabAPI uses `Symbol*` as the hash map key for storing symbol objects and for enumeration. So the order of enumeration d

[2019-08-12 14:24] mxz297 commented on #628
There are two general directions for resolving such problem.

(1) Enforcing a deterministic order. I don't prefer this one because it is possible in the future we parallelize the construction of `SymtabAPI::Function`s.

(2) Each `SymtabAPI::Function` maintains an order (for example, alphabetic order of the name) when inserting a symbol into a function. I prefer this one.

[2019-08-12 14:59] mxz297 opened #629 "Symtab::getContainingInlinedFunction() is generating non-deterministic results"
@mwkrentel has reported non-deterministic results where sometimes an instruction is reported as inlined, but sometimes that instruction is not. I believe the root cause of this issue is in `Symtab::getContainingInlinedFunction()`.

First of all, I agree with the comments at https://github.com/dyninst/dyninst/blob/7e6b7685bef61ca5465e3f17a5e6b014eb4a29b4/symtabAPI/src/Symtab-lookup.C#L900

stating

[2019-08-12 18:25] mxz297 opened #630 "Static variables in ARM instruction decoder cause crashes"
There are static variables in the ARM instruction decoder.

https://github.com/dyninst/dyninst/blob/29535f22c1a17581107140da3910ccf148b36372/instructionAPI/src/InstructionDecoder-aarch64.C#L96

They should be converted into `std::call_once`.

[2019-08-12 20:36] sashanicolas commented on #630
This variable was added because the instruction table was being filled repetitively every time an InstructionDecoder would be created. Theoretically it shouldn't cause a race condition, because the threads would be doing the same thing but multiple times.
I don't know why this is the way chosen with ARMv8 but the other platforms do it differently.

[2019-08-12 20:39] mxz297 commented on #630
Multiple threads can check `built_insn_table` at the same time; all threads see `false`; and all continue to do the initialization.

This is a standard case of why static variable is typically not thread safe.

[2019-08-12 21:02] blue42u commented on #630
@sashanicolas: To clarify, the instruction entries are inserted into a `std::vector`. If more than one thread decides to fill it, they will race on the memory management (in particular, growing the vector). In most cases this is an immediate crash as the threads double-free the old vector backing memory.

If possible it might be better to rewrite it as a `const` global initialized by a constant, t

[2019-08-12 21:36] hainest opened #632 "Use CMAKE_xx_COMPILER when building external dependencies"
Pass CMAKE_CXX_COMPILER and CMAKE_C_COMPILER to ExternalProject_Add

[2019-08-12 23:18] hainest commented on #626
Fixed by #627

[2019-08-12 23:18] #626 closed

[2019-08-15 19:06] stanfordcox opened #634 "ppcle detach removes snippets"
The Red Hat release process has a smoke test which essentially does:
insertSnippet
continueExecution
detach
This works fine on x8664 and aarch64 but not on a ppcle box (POWER8 kernel-4.1 8.0-112.el8 glibc-2.28-66.el8)
On ppcle there is no instrumented call to incr; the call to detach removes the instrumented call. If you add a waitForStatusChange before detach (or simply just sleep) then ppcle hit

[2019-08-15 19:09] mxz297 commented on #634
@stanfordcox I am really sorry that I have not got this issue. I will definitely start to debug this problem today. Thanks for reminding me.

[2019-08-15 19:15] stanfordcox commented on #634
@mxz297 Ah, I'm just catching up after 3 week vacation in Hawaii.

[2019-08-15 22:40] hainest opened #635 "Dyninst::SymtabAPI::Module::getAllVariables missing?"
Reported by Laksono Adhianto to @mxz297 and @hainest.
---

I am trying to gather the list of variables (name, size and the offset address):

[code]

This works nice before, but failed when linked with SymtabAPI in the master branch:

[code]

It seems Dyninst::SymtabAPI::Module::getAllVariables is not implemented anymore ? I looked at the source code, the closest API is Symtab::getAllVariables, or

[2019-08-16 02:37] mxz297 commented on #634
@stanfordcox Below is a run with the Dyninst master branch on the power vm (rh-power-vm07.fit.vutbr.cz). It seems like the instrumentation runs fine without waitForStatusChange. I only changed the makefile in smoke-test.zip.

[code]

[2019-08-16 02:57] stanfordcox commented on #634
@mxz297
mutator.cpp adds a call to incr(), which increments a, to function_name(), which is called n times.  So on x8664 and aarch64 I see:

% ./mutatee -v 10 & LD_LIBRARY_PATH=/usr/lib64/dyninst DYNINSTAPI_RT_LIB=/usr/lib64/dyninst/libdyninstAPI_RT.so ./mutator $!
[1] 7187
FUNCTION EXECUTED. VALUE = 0
FUNCTION EXECUTED. VALUE = 1
MUTATION DONE. MUTATOR IS GOING...
/work/scox/dyn/smoke-test/dynami

[2019-08-16 02:59] mxz297 commented on #634
I see. Thanks! I will start to debug this issue.

[2019-08-16 20:20] mxz297 commented on #634
Copied from the mailing list:

It turns out that in this case, a trap springboard is used to transfer program execution from original code to instrumentation. In dynamic instrumentation, all trap instructions generated by Dyninst are also considered as software break points by Dyninst, and Dyninst decides to remove all software break points when it detaches from the mutatee.

I am not sure how man

[2019-09-02 21:51] #634 closed

[2019-09-04 12:53] AmyZhang9 opened #640 "Dyninst::BPatch_function 's function bool isSharedLib() always return true"
when i used the function: bool isSharedLib() from Dyninst::BPatch_function , the Dynisnt manual says This function returns true if the function is defined in a shared library. but the return true for every function, even for main function. So is this any wrong with this function?
 I used it in Ubuntu 18.04 with Dyninst 9.3.1

[2019-09-04 21:39] hainest commented on #640
Dyninst 9.3.1 isn't really supported anymore since there have been so many changes since then. We recommend upgrading to the most recent version (10.1). Please let us know if the problem persists after upgrading.

[2019-09-04 21:53] #630 closed

[2019-09-16 17:57] sashanicolas opened #644 "Module seems to have repetitive _info entries"
_info is a vector containing references to compilation units (CU, i.e. Dwarf_Die), on systems that use DWARF as debug information.
This vector seems to be having duplicate entries of the same CU.

[2019-09-16 18:02] sashanicolas opened #645 "Object::parseLineInfoForCU seems to be adding duplicate filenames"
When Object::parseLineInfoForCU is called the LineInformation passed as parameter seems to already have its filenames filled somewhere else. The function then adds the same filenames, making them duplicated.

It's ought to be investigated why this happens.

[2019-10-02 22:15] woodard opened #646 "fetching local variables from a .debug file causes crashes in dyninst"
The easiest but not most minimal way to reproduce this is:
git clone https://github.com/woodard/dwqual.git
make it
then run on some debuginfo file for example one from binutils-debuginfo-2.31.1-29.fc30.x86_64
./whichvars.O2 /usr/lib/debug/usr/lib64/libbfd-2.31.1-29.fc30.so-2.31.1-29.fc30.x86_64.debug

this leads to a backtrace like:

#0  tbb::internal::concurrent_vector_base_v3::internal_push_back

[2019-10-02 22:45] woodard opened #647 "variables sometimes have erroneous location list entries"
while writing a little program to examine a file's debuginfo we discovered that the this parameters sometimes have incorrect location lists. We checked the DWARF using readelf --debug-dump=loc and couldn't find any location lists with these values and so it appears to be a fairly rare dyninst bug.

The values that are wrong is the lowPC is 0 and the highPC is 0xffffffffffffffff

The easiest way to

[2019-10-03 20:49] mxz297 commented on #646
@woodard Are you using the latest Dyninst? You stack trace says that Dyninst-10.0.0.

[2019-10-03 21:20] hainest opened #648 "Update boost download URL"
As of boost-1.70, they changed their host site.

old:
`http://downloads.sourceforge.net/project/boost/boost/${_boost_download_version}/boost_${_boost_download_filename}.zip`

new:
`https://dl.bintray.com/boostorg/release//${_boost_download_version}/source/boost_${_boost_download_filename}.zip`

[2019-10-03 21:32] hainest commented on #565
Cannot reproduce. Please submit a new issue, if this is not resolved for you.

[2019-10-03 21:32] #565 closed

[2019-10-03 21:33] hainest commented on #583
This should be bumped up. Those high-priority items could be part of the trouble with building on Zeroah.

[2019-10-03 21:42] hainest commented on #495
This thread is a year old with no activity. If this problem persists, please submit a new issue.

[2019-10-03 21:42] #495 closed

[2019-10-03 21:42] hainest commented on #493
This thread is a year old with no activity. If this problem persists, please submit a new issue.

[2019-10-03 21:42] #493 closed

[2019-10-03 21:44] hainest commented on #466
@jmellorcrummey Are you still experiencing this issue?

[2019-10-03 21:48] hainest commented on #436
A more restrictive fix was implemented for this in #624. Please submit a new issue if this continues to be a problem for you.

[2019-10-03 21:48] #436 closed

[2019-10-03 21:54] hainest commented on #125
@mxz297 Were you able to reproduce this in 10.1?

[2019-10-03 23:49] jmellorcrummey commented on #466
personally, i have not tested this since i provided you with the binary to test. sasha can test with my provided binary since he was working on this part of the code. see the prior comments for a link where the binary can be obtained.

[2019-10-04 05:26] hainest opened #652 "Test suite regressions on ARM64 with glibc-2.29"
On ARM64 (zeroah)
----

| Name        | mode   | link     | PIC     | result   |
| ----------- | ------ | -------- | ------- | -------- |
| test_pt_ls | create | dynamic | nonPIC | FAILED |
| test5_1 | create | dynamic | nonPIC | CRASHED |
| test5_1 | attach | dynamic | nonPIC | CRASHED |
| test5_1 | create | dynamic | PIC | CRASHED |
| test5_1 | attach | dynamic | PIC | CRASHED |
| test1_23 | cre

[2019-10-04 13:01] mxz297 commented on #652
@hainest I remember you created a VM for x86, which has libc-2.29 and we also have regressions. Can you remind me how to get access to it? I can debug that.

[2019-10-04 16:23] hainest commented on #652
@mxz297 The VM is a VirtualBox image on cayenne:/nobackup/"Ubuntu 19.04.vdi". You'd have to look up how to launch a vbox image from the command line, but you should have permissions to do that.

[2019-10-04 16:39] hainest commented on #652
@mxz297 The specific regressions and logs for that x86 run are [here](https://bottle.cs.wisc.edu/regressions?id=25).

[2019-10-04 18:41] #632 closed

[2019-10-05 15:21] mxz297 commented on #625
@hainest Why is this issue reopened? I thought the new issue is about separate DWARF file.

[2019-10-05 15:28] kcatss opened #655 "dereferencing is fail"
hi, I am new in dyninst.  I am learning by reading the DyninstAPI manual, Instruction API Manual and many examples.

the purpose of my mutator is printing readl value in cmp  in cmp instruction with binary rewriting

after check the binary function, make BPatch_snippet

my code can handle some case( immediate, register), but can't handle 'Dereference' case

the error instruction is "cmp 0x8(%ebp),

[2019-10-05 18:20] hainest commented on #625
@mxz297 This was closed prematurely- the corresponding PRs haven't been tested/merged yet.

[2019-10-06 23:31] #655 closed

[2019-10-07 17:37] hainest opened #656 "Test suite regressions on x86 with glibc-2.29"
https://bottle.cs.wisc.edu/regressions?id=25

All but one is a static rewriter issue.

[2019-10-07 18:48] sashanicolas commented on #625
The PRs linked here are to fix this issue. They were fixed in one platform and very likely to work on the others. Remaining the test phase on them. That's why I closed this issue.
Let's keep it simple. There's no need for this issue to be reopened besides to clutter up our issues page @hainest . If the fixes (unlikely) break in another platform, then reopen. Meanwhile we should test the PRs on the

[2019-10-08 19:39] #125 closed

[2019-10-08 19:39] #62 closed

[2019-10-08 19:39] #63 closed

[2019-10-08 19:40] #72 closed

[2019-10-08 19:40] #246 closed

[2019-10-08 19:41] #334 closed

[2019-10-08 19:41] #269 closed

[2019-10-08 19:41] #267 closed

[2019-10-08 19:41] #256 closed

[2019-10-08 19:42] #252 closed

[2019-10-08 19:42] #253 closed

[2019-10-08 19:43] mxz297 commented on #586
Closed via #605

[2019-10-08 19:43] #586 closed

[2019-10-08 19:48] #606 closed

[2019-10-08 19:48] mxz297 commented on #402
Closed via #638

[2019-10-08 19:48] #402 closed

[2019-10-08 19:49] #387 closed

[2019-10-08 19:56] mxz297 commented on #640
Closed via #605

[2019-10-08 19:56] #640 closed

[2019-10-09 13:03] #174 closed

[2019-10-09 13:04] #383 closed

[2019-10-09 13:06] #447 closed

[2019-10-09 13:06] #566 closed

[2019-10-09 13:07] #181 closed

[2019-10-09 13:08] #450 closed

[2019-10-09 13:11] #492 closed

[2019-10-09 13:13] #604 closed

[2019-10-09 13:15] #471 closed

[2019-10-09 22:25] euloanty opened #657 "How to statically compile this library since I want to run dyninst on android x86 emulator"
Thank you!!!

[2019-10-09 23:06] euloanty commented on #657
When I compile the code with -static

g++ -o counter counter.cc -O3 -std=c++2a -fconcepts /usr/local/lib/libdyninstAPI_RT.a
/tmp/ccyX2Heo.o: In function `printCount(BPatch_thread*, BPatch_exitType)':
counter.cc:(.text+0x2e): undefined reference to `BPatch_variableExpr::readValue(void*, int)'
/tmp/ccyX2Heo.o: In function `createCounter(BPatch_process*, BPatch_image*)':
counter.cc:(.text+0xd4): unde

[2019-10-10 16:31] mxz297 commented on #652
On my end, there is no failing test that can be easily reproduced. All hanging tests in a batch run do not hang when running them alone.

[2019-10-10 18:14] hainest opened #658 "Deterministic hang when handling user events"
Executing

    ./test_driver -64 -none -gcc -dynamiclink -create -pic -test pc_thread

works perfectly fine. But executing

    ./test_driver -64 -none -gcc -dynamiclink -create -nonpic -test pc_thread

causes a deterministic hang on a variety of platforms: Power8 with gcc7.3.1 and glibc-2.17, Power9 with gcc-7.3.1 and glibc-2.17, and x86 gcc-8.3 with glibc-2.23 (I haven't tried on ARM).

On x86,

[2019-10-10 18:39] hainest commented on #658
Confirmed this affects ARM, as well. Debugging shows the same sequence to recreate the issue as on x86.

[2019-10-10 19:03] sashanicolas commented on #652
This issue might be closed, since we don't see these regression anymore.

[2019-10-10 19:05] hainest commented on #652
@sashanicolas You don't need to manually close issues. They will be automatically closed when the referring PR is closed.

[2019-10-10 19:10] hainest commented on #657
You will also need at least include `/usr/local/lib/libdyninstAPI.a` when linking.

[2019-10-10 19:20] euloanty commented on #657
Thank you. However, it does not work. Even with statically compiled toggle with CMake.

[2019-10-10 20:15] mxz297 commented on #658
For me, `./test_driver -64 -none -gcc -dynamiclink -create -nonpic -test pc_thread` passes on zeroah, but it deterministically hangs on power 9 (llnl.cs.rice.edu).

[2019-10-10 20:20] hainest commented on #657
Please post the cmake command you are using to build Dyninst. What version of Dyninst are you using?

[2019-10-10 20:59] hainest commented on #658
@mxz297 Is it hanging at the same spot?

[2019-10-10 21:00] mxz297 commented on #658
Will debug it in the weekend.

[2019-10-10 22:21] hainest commented on #658
`./test_driver -64 -none -gcc -dynamiclink -create -pic -test test_thread_2` is also hanging on ARM and Power8.

[2019-10-10 23:00] euloanty commented on #657
Latest version cloned from repo.

g++ -o counter counter.cc -O2 -std=c++2a -ldyninstAPI_static -static -ldynElf_static -ldynDwarf_static -ldynC_API_static
//usr/local/lib/libdyninstAPI_static.a(BPatch_parRegion.C.o): In function `BPatch_parRegion::getInstructions(std::vector<Dyninst::InstructionAPI::Instruction, std::allocator<Dyninst::InstructionAPI::Instruction> >&) [clone .cold]':
BPatch_parReg

[2019-10-10 23:04] euloanty commented on #657
My build command:

cmake .. -DCMAKE_BUILD_TYPE=Release -DENABLE_STATIC_LIBS=true

BTW. this project does not work when build with cmake + ninja

[2019-10-11 01:27] #623 closed

[2019-10-11 01:39] #622 closed

[2019-10-11 02:13] AmyZhang9 commented on #640
the problem is solved in  the most recent version (10.1), thanks.

[2019-10-11 02:19] #621 closed

[2019-10-11 02:37] #620 closed

[2019-10-11 02:52] hainest commented on #357
No documentation mentions isA[Load|Store]_NP anymore.

[2019-10-11 02:52] #357 closed

[2019-10-11 03:23] richinseattle commented on #120
Issue closed without comment or status updates after we sent significant patches your way?

[2019-10-11 03:26] mxz297 commented on #120
I am really sorry. No human resource has been devoted to the development of the Windows support in the past a few years.

[2019-10-11 03:32] richinseattle commented on #120
Is that a reason to close this bug? Earlier comments and more recent activity indicated  this would eventually be taken up again since there was supposed to be work on the Windows DBI functionality though I haven’t seen much discussion or documentation of that and there hasn’t been a windows release in years.

[2019-10-11 03:38] mxz297 commented on #120
As far as I know, there is no Windows development plan in the near future unless there are going to be new developers. Unfortunately as I mentioned, there hasn't been a windows release in years exactly because no human resource has been spent on Windows.

I am fine to leave this issue open if we do have resource for Windows development.

Thanks for your feedback!

[2019-10-11 16:08] mxz297 commented on #658
This turns out to be test suite problem. The test suite fails to continue or terminate the mutatee when it decides to skip the test.

I posted a PR for this test suite issue (https://github.com/dyninst/testsuite/pull/107).

[2019-10-11 18:12] #615 closed

[2019-10-11 19:13] #617 closed

[2019-10-11 22:28] sashanicolas opened #663 "Multiple BPatch_funcCallExpr in instrumentation doesn't work on ARMv8"
If you try to insert two snippets of BPatch_funcCallExpr in the same instrumentation point it won't work.

[2019-10-11 22:43] sashanicolas opened #664 "Same constant literal is inserted multiple times to the binary"
Given this guy:
[code]
being used as the first parameter of two calls (BPatch_funcCallExpr) of "printf".

Say:
[code]

That will cause the string literal to be added to the modified binary multiple times, not just the amount of calls made, which would be the acceptable, but not the optimized scenario.

If you print out the strings you'll see it:
[code]

This is very likely platform-independent. Ob

[2019-10-13 16:46] hainest commented on #658
That PR fixes the `pc_thread` hangs. Now I'm seeing the `test_thread_2` hang on x86 in addition to ARM and PPC. Debugging shows that [`threadCreateCB`](https://github.com/dyninst/testsuite/blob/master/src/dyninst/test_thread_2.C#L125) is never invoked, so it gets an infinite loop [here](https://github.com/dyninst/testsuite/blob/master/src/dyninst/test_thread_2.C#L177).

Invoked with

[code]

gdb o

[2019-10-14 14:48] mxz297 commented on #658
@hainest I don't think your Dyninst installation finds `libpthread_db`. First of all, your gdb output only means that gdb finds `libpthread_db`; it does not mean Dyninst finds it. Then in your gdb output, there is the line `Thread DB process constructor`. See the code below:

https://github.com/dyninst/dyninst/blob/master/proccontrol/src/int_thread_db.C#L1801

The comment suggests that `Thread DB

[2019-10-14 15:17] mxz297 commented on #658
I think the build system of finding `libpthread_db` has a bug. On llnl.cs.rice.edu (Power 9), there is no `cap_thread_db` defined, however there is `libpthread_db` on the system. Interestingly, in the CMakeCache file, there are lines:

[code]
So, I think the build system for setting macros has a bug.

[2019-10-14 17:35] hainest commented on #658
@mxz297 In a fit of desperation, I reset the HEAD of Dyninst to the last known good state. Indeed, this fixed the hang issues. I moved the inclusion of `shared.cmake` above the global inclusion of `ThreadDB` to allow the compiler flags to be used when building the third-party dependencies from source. Unbeknownst to me, the `cmake/cap_arch_def.cmake` file conditionally sets `cap_thread_db` ([code]

[2019-10-14 18:23] mxz297 commented on #658
ThreadDB is an optional component for proccontrol. Proccontrol contains process level and thread level control. ThreadDB is necessary for thread level control, but not process level. The actual bug is in the test suite, where the test suite does not properly skip thread level tests when ThreadDB is not found.

The Dyninst build system change is orthogonal to the test suite issue.  The Dyninst buil

[2019-10-14 18:33] hainest commented on #658
Then proccontrol is broken because...

There are still hangs in `test_thread_2`, `test_thread_3`, and `test_thread_6` when the test suite is fixed (https://github.com/dyninst/testsuite/pull/107), but ThreadDB is not compiled into Dyninst (i.e., #665 is not applied).

[2019-10-14 18:38] mxz297 commented on #658
`test_thread_*` series of tests are implemented in `testsuite/src/dyninst` while my posted fixes are implemented in `testsuite/src/proccontrol`. They are not the same code.

Test `pc_thread` checks whether this test should execute or not, and will return SKIPPED if it should not. However, the proccontrol test infrastructure does not properly handle SKIPPED test.

I looked at the source code of `te

[2019-10-14 18:43] hainest commented on #658
Ok. I'll file an issue over there. Should we just fold any additional fixes into dyninst/testsuite#107?

[2019-10-14 18:47] mxz297 commented on #658
OK. I will push fixes to the same branch.

[2019-10-16 17:45] #658 closed

[2019-10-17 03:21] hainest opened #669 "localVar::getLocationLists always returns empty on Power8"
I've been experiencing [crashes](https://bottle.cs.wisc.edu/results/CRASHED/144) and [failures](https://bottle.cs.wisc.edu/results/FAILED/144) on Power8 (ray.llnl.gov) consistently and independent of which commit of Dyninst or the test suite I use. Debugging shows the common error is that [`localVar::getLocationLists`](https://github.com/dyninst/dyninst/blob/master/symtabAPI/src/Variable.C#L386) a

[2019-10-17 03:44] hainest commented on #652
@mxz297 I'm still seeing hangs on ARM that I don't see on other platforms with

[code]

I have verified that Dyninst was compiled with `cap_thread_db`, so the fix from #665 is working. I'm testing with the Dyninst [dev](https://github.com/dyninst/dyninst/commits/dev) branch that contains #667 and #653 and the test suite [dev](https://github.com/dyninst/testsuite/commits/dev) branch that contains h

[2019-10-17 14:05] mxz297 commented on #669
`getLocationLists` should get variables from DWARF. This seems like a DWARF parsing problem. Is ray.llnl.gov a big endian or a little endian power 8?

[2019-10-17 14:12] mxz297 commented on #652
I just ran it on `zeroah`. My Dyninst head is at #653.

[code]

I will try the dev branches.

[2019-10-17 14:26] hainest commented on #669
It's little endian, ppcle64. My P9 machine is back up today, so I'm going to try it there. I'll let you know what happens.

[2019-10-17 14:28] mxz297 commented on #652
With `dev` branch from both Dyninst and the testsuite on `zeroah`

[code]

[2019-10-17 14:39] hainest commented on #652
What is your `LD_LIBRARY_PATH`?

[2019-10-17 14:43] mxz297 commented on #652
[code]

[2019-10-17 17:24] sashanicolas commented on #652
It's passing for me too:
[code]

[2019-10-17 19:14] hainest commented on #652
@mxz297 Our git logs are identical and, using the `compile_commands.json`, I've verified that our Dyninst builds on Zeroah are identical, as well. So I rather doubt that is the problem. I think I've narrowed it down to a problem with my test suite build. I made a copy of your test suite build, and then ran it against my Dyninst.

[code]

As you can see, it's now passing. Doing the opposite (my tes

[2019-10-17 19:22] mxz297 commented on #652
@hainest My testsuite cmake command was `cmake ../testsuite -DDyninst_DIR=$PATH_TO_DYNINST`. How should I use `CMAKE_EXPORT_COMPILE_COMMANDS`? Setting to 1?

This means I am using the system compiler. Are you not using the system compiler?

[2019-10-17 19:24] hainest commented on #652
`cmake ../testsuite -DDyninst_DIR=$PATH_TO_DYNINST -DCMAKE_EXPORT_COMPILE_COMMANDS=ON` You don't need to run `make`. I just need the `compile_commands.json` that it generates to compare against mine.

I am using the system gcc.

[2019-10-17 19:28] mxz297 commented on #652
I ran the command as follows:

[code]

[2019-10-17 19:42] hainest commented on #652
@mxz297 It's not working for me, either. That's odd. I will try to find another way to compare our builds.

[2019-10-18 13:37] q642936448 opened #671 "How to install dyninst on windows 10 ?"
I am a new C++ coder.And I 've use cmake to install dyninst on windows 10,but it didn't work and I've encouter some error.Is it correct to install dyninst on windows 10 via cmake ?

[2019-10-18 16:06] hainest commented on #671
You cannot install Dyninst natively in Windows because one of its required dependencies, elfutils, will only compile with the GNU compiler. As such, you'll need to use Mingw or Cygwin.

[2019-10-18 17:00] hainest commented on #657
Ah, I see now. You'll need to include every Dyninst library you use. At a minimum, it looks like you'll need

libcommon
libinstructionAPI
libparseAPI
libpatchAPI
libsymtabAPI

[2019-10-19 21:18] hainest commented on #669
Rebuilding elfutils-0.176 from source on ray got rid of the issue. I will continue to test, but it appears to be fixed.

[2019-10-21 02:46] q642936448 commented on #671
Thx,I'll try

[2019-10-23 09:29] Roinard opened #672 "CodeCoverage example not working"
I am a new user of DyninstAPI and I wanted to test the example provided with the source code. I compiled and installed Dyninst in /usr/local and run CodeCoverage with the given example and got :
`
$ codeCoverage -sb testcc test2

Instrumenting module: libInst.C
Inserting instrumention at function entry of initCoverage
Instrumenting Basic Block 0xf50 of initCoverage
Instrumenting Basic Block 0xf92

[2019-10-23 20:22] hainest commented on #672
Which version of Dyninst are you using?
What compiler and version are you using?
Which version of libc are you using (if on linux, run `ldd --version` for this)?

[2019-10-24 04:28] Roinard commented on #672
I use Dyninst10.1.0 provided by the siteweb.
To compile codeCoverage I use this Makefile :

[code]
As compiler I use :
` gcc (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0`
` g++ (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0`
And my glibc version is : ldd (Ubuntu GLIBC 2.27-3ubuntu1) 2.27

Thank you in advance for your help.

[2019-10-26 01:53] Roinard commented on #672
And here is my compiler configuration :
[code]

[code]

[2019-10-26 03:41] mxz297 commented on #672
Your compiler is configured with `--enable-default-pie`. This is a known issue #605 . Before we get it fixed, you can work around this issue by adding `-no-pie` to the `testcc` compilation command line.

[2019-10-26 06:40] Roinard commented on #672
Thanks for your help !

[2019-10-26 06:40] #672 closed

[2019-10-28 15:35] euloanty commented on #671
Try this compiler :)
cmake + ninja

https://gcc-mcf.lhmouse.com/

[2019-10-28 17:06] euloanty commented on #657
cqwrteur@DESKTOP-9FNQ9OK:~/test$ g++ -o image image.cc -O2 -std=c++2a -lcommon_static -linstructionAPI_static -lparseAPI_static -lpatchAPI_static -lpcontrol_static -lsymtabAPI_static -static -ldyninstAPI_static -lpthread  -ldynC_API_static -ldynDwarf_static  -ldynElf_static -lstackwalk_static -lsymLite_static

I tried this. It still does not work. Unfortunately.

[2019-10-30 14:44] AmyZhang9 opened #673 "error while loading shared libraries: unexpected reloc type oxb2"
I used dyninst10.1.0 for static instrumentation, all i did is instrument a printf function in the entry point of the function main(). The binary rewrite file was successfully obtained, named test-re. but when i execute it ,
./ test-re
error while loading shared libraries: unexpected reloc type oxb2

nomarly, error like that will show the shared libraries'name,like :
"error while loading shared lib

[2019-10-31 00:56] sashanicolas commented on #673
Interesting, I couldn't even find where that kind of message could be in the code base.
Can you share your binary and/or test code?
What platform are you doing this?
Does dynamic instrumentation work?

[2019-10-31 01:48] AmyZhang9 commented on #673
i use dyninst10.1.0 in Ubuntu 16.04.6 LTS. the intrumentation code test.cpp is below
------------------------------------------------------------------------------------------------------------------------------
//test.cpp : static instrumentation
#include <stdio.h>
#include "BPatch.h"
#include "BPatch_addressSpace.h"
#include "BPatch_process.h"
#include "BPatch_binaryEdit.h"
#include "BPatch_poin

[2019-10-31 02:14] bwelton commented on #673
@sashanicolas The error message seen by @AmyZhang9 is likely being generated by the loader itself. @AmyZhang9 does this message appear when you run "ldd" on the binary outputted by dyninst?

[2019-10-31 07:25] Alex0Young commented on #671
Hey, Did you succeed? I also try to install it on windows 10.

[2019-11-01 01:50] AmyZhang9 commented on #673
this message didn't appear when i run "ldd" on the binary outputted by dyninst.
such error only appear in one test case, the function seems fine for other testcases. so i'going to ingnore it for the moment.thanks for all the help.

[2019-11-02 02:50] caihuali95 opened #674 "static instrumentation on statically linked ARMv8 binary and run without dynamic library"
I am trying static instrumentation on a statically linked binary on AArch64.
But the mutator is aborted on

It seems that it is not supported right now, right?

By the way, I am also trying to link libdyninstAPI_RT.a statically, rather than using libdyninstAPI_RT.so.10.1. I am not sure how to do it and I wonder whether it is possible.

I found this (https://github.com/dyninst/dyninst/issues/428) s

[2019-11-03 07:39] q642936448 commented on #671
No....I also used WSL and Visual studio 2019, and failed.The procedure was quite complicated.

[2019-11-04 03:35] hainest opened #721 "test1_36 fails on ARM"
https://bottle.cs.wisc.edu/details/161

Relevant log output

[code]

[2019-11-04 19:11] hainest commented on #674
ARMv8 support is a work in progress. I will ask our ARM developer if that should be working or not.

You need pass `-DENABLE_STATIC_LIBS` to the Dyninst CMake configuration. To link to the static libraries, you need to specify each one you use during the link step. This can be a pain as it's not entirely obvious which ones you'll need. If you are using linux, you can find all of the static librari

[2019-11-04 22:06] sashanicolas commented on #674
@caihuali95 Statically linked binaries are not supported yet. The function  `BinaryEdit::doStaticBinarySpecialCases()` has an `assert(0)` because it has not been implemented.

[2019-11-05 10:23] AmyZhang9 commented on #673
I didn't found any regularity about the appearance of the error. so this question still hopes to be anwered.

[2019-11-06 04:15] hainest opened #675 "Track git transactions"
Track clones, unique cloners, views, unique visitors, forks, and unique forkers.

The API only provides clone, view, and fork information for the past 2 weeks, so we need to set up a daemon to track this. Reading clone and view information from the API requires authenticating with an account that has **push** access to the repo. This will require creating a dummy account tied to each repo and then

[2019-11-06 05:34] hainest commented on #673
@AmyZhang9

1. What arguments are you passing to your mutator?
2. What compiler and version are you using?

[2019-11-06 10:38] wrwilliams opened #676 "Build error with gold linker on Power9 little-endian"
**Intention**
Attempted to build current head.

**Describe the bug**
Building the RTlib on Power9 triggers an internal linker error in gold:

[code]

`get_output_view` is trying to ensure that everything being linked has sane boundaries:

[code]
So something is somehow running off the end of the file according to `gold`--or it has a negative start, but that's much less likely than that our .S file

[2019-11-06 12:21] wrwilliams commented on #676
I should add that there is a workaround:
[code]
It seems like there should be a way to test for the broken `gold` behaviour and force BFD `ld` if needed, but I'm not entirely certain what broken behaviour (smaller than the runtime itself) we'd be testing.

[2019-11-06 16:32] stevenagy opened #677 "Some questions about edge typing"
So after going through the manuals the following edge types still aren't very clear to me:

- CALL_FT
- CALL

1. I assume CALL_FT are meant to be the fallthrough edges for conditional calls; but since I'm on x86 I can safely ignore these because conditional calls aren't supported. (Right?)

2. I assume CALL encompasses both direct and indirect call edges. Is there any way to precisely distinguish

[2019-11-06 16:46] mxz297 commented on #677
CALL_FT represents a control flow summary edge that the control flow will return to the call site after the function call. A call to a non-returning function will not have a CALL_FT edges. I am not sure about the correlation between CALL_FT and conditional calls. I have not encountered any conditional calls recent years. In most cases, you should not ignore CALL_FT edges.

An indirect call will ha

[2019-11-06 16:50] stevenagy commented on #677
If I'm understanding correctly, CALL_FT doesn't translate to an explicit CFG edge? Wouldn't the actual return edge from the function be encompassed by the RET edge type?

I'll take a look at the sink edge parsing. Thank you!

[2019-11-06 16:52] hainest commented on #676
I have been told by one RedHat person that the gold linker is no longer in active development. I have not verified that claim, though. Is there a particular reason you are using it? Does the ICE occur if you use the GNU linker?

[2019-11-06 16:53] mxz297 commented on #677
Yes, CALL_FT is not an actual CFG edge.

There are RET edge from return blocks to their direct call sites.

[2019-11-06 17:01] stevenagy commented on #677
Got it, thank you!

Something isn't making sense to me about sink edges. My end goal is to identify critical edges in the CFG; an edge can only be critical if its source block has 2 or more outgoing edges, and its target block has 2 or more incoming edges. So by definition this is limited to conditional jumps, or any indirect edge.

After separating direct/indirect call edges based on sinkEdge()'s

[2019-11-06 17:16] mxz297 commented on #677
Well... Based on your definition, for a direct call edge, its source block can have two outgoing edges, the CALL and the CALL_FT edge; its target block can have multiple incoming CALL edges, meaning the callee can be called by at multiple call sites.

You are getting what you defined. Whether this is what your want or not is under your discretion.

[2019-11-06 17:53] wrwilliams commented on #676
@hainest BFD==GNU in this context, no? If so, see comment--the libbfd (which should be the same as the binutils version I think) ld is fine.

This matters because at least at our site, gold is the EasyBuild package system default, and while one *can* build with a non-default linker, it requires knowing about this issue and workaround. If gold is in fact no longer being maintained, that would be re

[2019-11-06 18:14] stevenagy commented on #677
I think I see where I went wrong - I should have excluded CALL_FT edges because they aren't actual CFG edges. Thank you!

[2019-11-07 02:23] AmyZhang9 commented on #673
**1. What arguments are you passing to your mutator?**
the arguments i passing to my mutator is
./myMutator  binaryname  pid
for example, test1 is the binary that i want to instrument,
./myMutator  test1 42

**2. What compiler and version are you using?**
gcc version : gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.12)
dyninst version : dyninst10.1.0
linux version :  Ubuntu 16.04.6 LTS \n

[2019-11-07 02:27] AmyZhang9 commented on #673
my whole program is in [https://github.com/AmyZhang9/static-instrumentation-error.git](url),  there is much more details about the problem i 'm faceing

[2019-11-07 02:56] mxz297 commented on #673
32bit platform is likely the cause of this issue. We don't really have the resource to test 32-bit platforms in recent years. Do you have access to a 64-bit linux machine?

[2019-11-07 07:05] AmyZhang9 commented on #673
the binary i need to instrument is 32-bit, so i using 32-bit platform. can i instrument 32-bit binary in 64-bit linux machine?

[2019-11-07 15:02] mxz297 commented on #673
In principle you can execute 32-bit binaries on 64-bit systems, but I doubt binary rewriting will work. I guess Dyninst is always generating 64-bit relocation entries that 32-bit loader cannot work with.

[2019-11-07 19:53] hainest commented on #676
It would, indeed. For some reason, I had it in my head that `ld-gnu` and `ld-gnu-bfd` were separate linkers.

I will double-check with someone at RedHat on this.

Most assuredly. Eventually, I would like to get Dyninst's test suite into a position were it can test different linkers. Right now, Dyninst only *builds* with gcc, so that's a distant goal.

[2019-11-12 07:00] #673 closed

[2019-11-13 17:53] hainest opened #679 "Replace isSharedLib with is_external"
`isSharedLib` currently gets confused between executable shared objects and position-independent executables (see #605). The proposal is to replace `isSharedLib` with something like `is_external` which will reply "true" if the requested function is located in an binary object external to the current context. There are several definitions of `isSharedLib` throughout the codebase, so we need to make

[2019-11-16 20:22] #652 closed

[2019-11-17 06:43] hainest commented on #625
The corresponding PRs are closed.

[2019-11-17 06:43] #625 closed

[2019-11-17 21:32] hainest commented on #669
After many builds/runs on Power8 and Power9, I've not seen this again. Closing.

[2019-11-17 21:32] #669 closed

[2019-11-17 21:59] hainest opened #682 "Intermittent failures of test_thread_X"
`test_thread_5` is intermittently hanging on Zeroah. The most common case where the hang is seen is `test_thread_5 g++ dynamiclink create pic`. I've not seen any hangs or crashes on arm1.cs.rice.edu. `test_thread_{1,3,8}` is intermittently failing on x86. Power8 appears to be impervious, but Power9 has seen one failure ([295](https://bottle.cs.wisc.edu/details/295)) where re-running succeeds ([298

[2019-11-18 04:59] #582 closed

[2019-11-20 19:09] deepaksirone opened #683 "Writing out modified binary file using PatchAPI"
I have defined my own Snippet and have called the commit method on the patcher object. However, the binary on disk does not seem to be modified. How do I push my changes to a modified binary on disk?
[code]

[2019-11-20 21:02] #683 closed

[2019-11-23 09:54] hainest commented on #682
`pc_irpc gcc dynamiclink attach nonpic` hanged on Zeroah- a variant of which has crashed on [Power9](https://bottle.cs.wisc.edu/results/CRASHED/295).

[2019-11-23 19:23] hainest opened #741 "proccontrol hangs manifesting in test_thread_X"
## ARM
`test_thread_5` is intermittently hanging on Zeroah. The most common case where the hang is seen is `test_thread_5 g++ dynamiclink create pic`. I've not seen any hangs or crashes on arm1.cs.rice.edu. I've [skipped](https://github.com/dyninst/testsuite/pull/131) this test for now, and the test suite is now running to [completion](https://bottle.cs.wisc.edu/details/306). `pc_irpc gcc dynamicl

[2019-11-23 19:23] #682 closed

[2019-12-04 04:10] AmyZhang9 commented on #640
This problem arises because in compilation **gcc**  uses the default **pie** parameter, so generates the dynamic library instead of the ELF. When compiling file for instrumentation with gcc,  explicitly specifing the **-no-pie** parameter will not cause the same problem。thanks for all the help.

[2019-12-10 22:32] hainest commented on #656
Moved to https://github.com/dyninst/testsuite/issues/140.

[2019-12-10 22:32] #656 closed

[2019-12-18 18:04] mxz297 opened #684 "Demanged names leaked into mangled names"
Mark created a unit test for testing the parallel dwarf parsing PR.  His unit test shows that some demangled names are returned as mangled names:

[code]

The last mangled name is obviously a demangled name.

This bug shows up for both master branch and parallel dwarf branch. So, I will plan to fix this in master branch. This bug is found on x86, but the same problem is likely to show up on other

[2019-12-18 18:09] hainest commented on #684
Which demangler is this?

[2019-12-18 18:11] mxz297 commented on #684
I did not do anything at configuration time to the demangler, so it should be default one.

[2019-12-18 18:56] hainest commented on #684
That should be the GNU demangler, then. I'm curious if the Iberty demangler has the same problem, or if this is something more systematic (e.g., some symbols don't get `mangle` called on them)?

[2019-12-18 21:18] mwkrentel commented on #684
@hainest Why does the choice of demangler matter at all?  The unit
test just dumps the mangled, pretty and typed names directly from
symtab via mangled_names_begin(), etc.

Anything from mangled_names_begin() should never be run through any
demangler, right?

And yes, the problem happens on power9, probably all platforms.

I'll have my unit test pushed up to some repository within a day or
two.

[2019-12-18 21:34] mxz297 commented on #684
The choice of the demangler should not matter. This bug is related with DWARF. I stripped the DWARF sections and that demangled name went away.

@mwkrentel I remember you mentioned that DWARF sometimes encodes the mangled name, but sometimes encodes the demangled name. It is possible that Dyninst believes every name from DWARF is mangled.

[2019-12-19 00:34] mwkrentel commented on #684
Probably what I meant was the inline callsites, what I call the "FLP",
File name, Line num, Proc name.  I kinda remember the Proc name being
inconsistent wrt mangling, usually mangled, but sometimes demangled.
Note: inline callsites only give you one name (not separate mangled
and typed names from a Symtab Function) and no control over mangled vs
demangled.

I looked around for an issue where I re

[2019-12-19 05:46] mwkrentel commented on #684
I pushed my openmp-symtab.cpp unit test to the hpctoolkit-tests repo,
in case anyone wants to try it.

[code]

This is a proxy for the parallel symtab + elfutils phase of hpcstruct
with openmp threads.  It mostly tests that symtab doesn't crash and
produces deterministic output for symbol names and addresses, line map
info and inline sequences.

Build it as a dyninst app + openmp threads.

For thi

[2019-12-19 15:44] mxz297 commented on #684
`readelf --debug-dump=info openmp-symtab` shows that

[code]

So at least in this case, the name of a non-inline function in DWARF is encoded as a demangled name.

Dyninst source code indeed says that every function name from DWARF is a mangled name. This is  wrong and should be changed.

I don't think DWARF has any field to tell us whether the name is mangled or demangled. Still, we should be abl

[2019-12-19 19:11] expnkx opened #685 "Still not able to build dyninst statically. So sad :("
g++ -o dyn dyn.cc -Ofast -std=c++2a -s -ldyninstAPI_static -static -ldynElf_static -lpatchAPI_static -linstructionAPI_static -ltbbmalloc_static -ltbbmalloc_proxy_static -lpthread -ldl -lcommon_static -ldynC_API_static -ldynDwarf_static -lparseAPI_static -lboost_filesystem -lboost_system -lsymtabAPI_static -lsymLite_static -lelf -ltbb_static

[2019-12-19 20:48] hainest commented on #685
You have provided identically no information about what you have tried, how you built Dyninst, or what error messages you are seeing. I'm not sure how we will be able to help you.

[2019-12-20 23:25] mwkrentel opened #686 "issues with parallel symtab and latest elfutils 0.178"
I started looking at the parallel symtab support from @mxz297's
parallel-parse-symtab branch (PR #651) and the latest elfutils 0.178.
I wrote a unit test, mostly testing for non-determinism, but also some
correctness issues.

Xiaozhu's branch:
https://github.com/mxz297/dyninst

My unit test:
https://github.com/HPCToolkit/hpctoolkit-tests/blob/master/dyninst/openmp-symtab.cpp

I tested for: functio

[2019-12-30 16:34] expnkx opened #687 "How to build dyninst for android emulator??"
I still do not understand how to do this. Any good guidelines???

[2019-12-30 16:35] expnkx commented on #687
I want to instrument instructions on android.

[2019-12-30 16:36] expnkx commented on #687
I tried static linking but I failed. Can you make a video about how to do this???

[2019-12-30 16:39] mxz297 commented on #687
Android is not a supported platform.

[2019-12-30 16:45] expnkx commented on #687
Is that possible to support this? My research is all about android.

[2019-12-30 16:49] expnkx commented on #687
Are you Chinese?

[2019-12-30 16:50] mxz297 commented on #687
Dyninst works with native executables (applications written in C and C++). Android applications are mostly written in Java and executed by the JVM.

[2019-12-30 16:51] expnkx commented on #687
I am just working on analyzing C++ projects for android like zygote.

[2019-12-30 16:54] expnkx commented on #687
http://harmful.cat-v.org/software/dynamic-linking/

[2019-12-30 16:58] expnkx commented on #687
Here was the last issue I put 11 days ago. Unfortunately, no one could answer my question.
https://github.com/dyninst/dyninst/issues/685

[2019-12-30 16:59] expnkx commented on #685
Linker error. Cannot find xxx libs error.

[2019-12-30 17:04] mxz297 commented on #687
Dyninst currently supports x86, Power, and ARM64, and binary rewriting for ARM64 is not complete. In terms of operating system, Dyninst works best with Linux. I have no clue how Dyninst would behave on an Andriod OS.

Static linking of Dyninst is not a use case that we needed before. I personally have not tried to build Dyninst with static linking.

I feel adding support for Android is going to be

[2019-12-30 17:20] bwelton commented on #687
An emulator may be very different in terms of system structure than a native install. Getting dyninst to run on any emulator, even with a supported OS, would be challenging (if not impossible).

As for native android, I have in the past built Dyninst on Lineage OS ARM (using the normal build process). However I performed no testing and LineageOS is not a stock Android OS (the exact system I built

[2019-12-30 19:04] expnkx commented on #687
Then what about other tools like pintool?

[2019-12-30 19:39] bwelton commented on #687
To my knowledge, pintool only supports x86(-64). I have no idea on the support they have for Android in general though.

Android binary instrumentation/modification support is generally extremely limited. Xposed exists that allows simple interposition/interception instrumentation on Dalvik bytecode (but not native binaries written in languages like C/C++). Samsung's ADBI use to allow for standard

[2019-12-30 21:34] expnkx commented on #687
Well. They did say they have android support before. However, I've never tried that. Can you affirm this so I could tell my professor, no it is not possible?
https://software.intel.com/sites/default/files/article/256671/pindroid-tutorial-01_1.pdf

[2020-01-02 23:25] nisargshah95 opened #688 "Segfault when calling bpatch.processCreate with DYNINST_DEBUG_STARTUP=1"
**Intention**
Run a simple mutatee with DYNINST_DEBUG_STARTUP=1

**Describe the bug**
Got a segfault during call to processCreate (complete output - [dyninst-segfault.txt](https://github.com/dyninst/dyninst/files/4017655/dyninst-segfault.txt))

This does not happen without DYNINST_DEBUG_STARTUP=1 set:
[code]

**To Reproduce**
Mutatee file - [simple_class.txt](https://github.com/dyninst/dyninst/fil

[2020-01-03 00:53] mxz297 commented on #688
I encountered a similar problem recently. Please try the following patch:

[code]

[2020-01-03 02:11] nisargshah95 commented on #688
Thanks Xiaozhu! This fix addresses the issue.

[2020-01-03 02:11] #688 closed

[2020-01-11 20:27] mxz297 opened #689 "Redesign updating dynamic instrumentation"
For dynamic instrumentation, Dyninst allows the user to modify the instrumentation through the time. For example, a user can set up some initial instrumentation, and later remove the instrumentation, and then later add new, but different instrumentation.

The current design for this functionality is that when we install instrumentation version N, we install trampoline in instrumentation version N-

[2020-01-13 21:42] mxz297 commented on #327
Closed via #651

[2020-01-13 21:42] #327 closed

[2020-01-13 21:56] #674 closed

[2020-01-14 16:48] expnkx opened #690 "134|generic_x86_64:/data # ./ld-linux-x86-64.so.2 --library-path /data ./bpatch 18101 bpatch: /home/cqwrteur/dyninst/symtabAPI/src/SymtabReader.C:175: virtual Dyninst::Offset Dyninst::SymtabAPI::SymtabReader::getSymbolOffset(const Dyninst::Symbol_t&): Assertion `sym.v2' failed. Aborted"
**Intention**
Use dyninst on android

When I run dyninst

[code]

134|generic_x86_64:/data # ./ld-linux-x86-64.so.2 --library-path /data ./bpatch  18101
bpatch: /home/cqwrteur/dyninst/symtabAPI/src/SymtabReader.C:175: virtual Dyninst::Offset Dyninst::SymtabAPI::SymtabReader::getSymbolOffset(const Dyninst::Symbol_t&): Assertion `sym.v2' failed.
Aborted

[2020-01-14 17:01] expnkx commented on #690
root         18278  2893   11724   7196 sigsuspend          0 S sh
root         18287 17314    5920   2416 0                   0 R ld-linux-x86-64+
root         18302 18278   14596   7320 0                   0 R ps
inux-x86-64.so.2 --library-path /data/ ./bpatch 18287                         <
bpatch: /home/cqwrteur/dyninst/common/src/addrtranslate-linux.C:266: Dyninst::LoadedLib* Dyninst::Address

[2020-01-15 02:14] hainest opened #691 "Instrument function calls with more than 8 parameters on Aarch64"
This is causing test1_36 to fail (https://github.com/dyninst/testsuite/issues/122).

@mxz297 Could you add some details here? Tagging @sashanicolas.

[2020-01-15 02:23] hainest commented on #677
Solved issue; closing.

[2020-01-15 02:23] #677 closed

[2020-01-15 02:25] hainest commented on #685
Closing due to insufficient information. If you continue to have problems, please submit a new issue with [complete information](https://github.com/dyninst/dyninst/blob/master/.github/ISSUE_TEMPLATE/bug_report.md).

[2020-01-15 02:25] #685 closed

[2020-01-15 02:27] hainest commented on #690
As was noted [previously](https://github.com/dyninst/dyninst/issues/687#issuecomment-569735463), Dyninst does not support Android. As such, we cannot offer support for failures on that platform.

[2020-01-15 02:27] #690 closed

[2020-01-15 02:28] hainest commented on #687
Android is not a supported platform. Closing.

[2020-01-15 02:28] #687 closed

[2020-01-15 02:28] expnkx commented on #690
"Assertion `sym.v2' failed.
Aborted"

But what does this mean?

[2020-01-15 02:29] hainest commented on #671
@q642936448 @Alex0Young Were either of you successful in building Dyninst on Windows 10? If not, could you provide details of what you have tried (compilers, environments, versions, etc.).

[2020-01-15 02:31] hainest commented on #686
@mwkrentel Could you run this again? The latest head of master includes #651 and several updates since this was posted.

[2020-01-15 02:48] mxz297 commented on #686
@hainest @mwkrentel I don't think any of my recent changes impact this issue. In fact, most of the problems listed in this issue can reproduced by the master branch before the merge. This issue is a good summary of non-determinism caused by using pointers as the key in std::map or a hash map. I am going to rename this issue to correctly reflect the scope.

[2020-01-16 16:14] bin2415 opened #692 "Check the region is `readonly` before `ReadMemory` of global variable"
**Describe the bug**

When I want to `simplify` an AST with `<derefOp>(<global_val>)` [here](https://github.com/dyninst/dyninst/blob/master/parseAPI/src/SymbolicExpression.C#L196), it will try to read the `global_val` content if I understand the code correctly here.

My question is if the `global_val` is not in the readonly region such as `.data` section, the content of the `global_val` will chang

[2020-01-16 16:55] mxz297 commented on #692
I started with limiting to read from only readonly sections, but then I found that some compilers put jump tables in writeable sections. So, I have to allow reading writeable sections to not miss real code.

It is definitely a security concern that compilers emit read-only data in writable sections, and I am not sure if such issues have been fixed.

[2020-01-16 18:43] bin2415 commented on #692
I met the problem in `git` program compiled by gcc O2:

[code]
When slicing to 0x46cc94, dyninst will try to read the content of `push_default`, finds that the eax equals to a constant, which leads to wrong bounds of `rax`.

The binary of above example is attached:
[git_gcc_O2.gz](https://github.com/dyninst/dyninst/files/4073145/git_gcc_O2.gz)

[2020-01-16 19:54] mxz297 commented on #692
I am able to reproduce the bug. Will try to fix it. Thanks!

[2020-01-17 19:49] mwkrentel commented on #686
Originally, I opened this as a log of all issues related to the new
elfutils and parallel Symtab.  Not just non-det, but also correctness
and performance.

It's true that much of the non-det that affects Symtab was there
before adding openmp to elfutils and Symtab.  But I intended it to be
about all parallel Symtab, not just the non-det.

---------

There is one mostly correctness issue I'd like t

[2020-01-17 21:44] mxz297 opened #693 "Limiting default OpenMP threads"
Currently SymtabAPI and ParseAPI will use whatever default number of OpenMP threads, which is likely to use all the available cores and hardware threads. This is not a desirable default behavior.

I think that if the environment variable "OMP_NUM_THREADS" is set, we should respect that number and just do nothing. If "OMP_NUM_THREADS" is not set, how many threads should we use? My first impression

[2020-01-18 03:35] bin2415 opened #694 "`wrong` ip when expanding instruction to assignment ?"
[code]

Hi, When expanding instruction to assignment at `0x41274f`, the log of dyninst shows that the result of ` 0x2851cb(%rip)` equals to `0x69791a`, while the expected value is `0x697920`.

The log of dyninst is shown as below:

[code]
It seems that dyninst may treat `rip` as `0x41274f` not next instruction address `0x412755` when expanding instruction to assignment at address `0x41274f`?

The

[2020-01-21 17:52] hainest commented on #693
My recommendation would be either

1. Through CMake using [ProcessorCount](https://cmake.org/cmake/help/latest/module/ProcessorCount.html).

2. Using [`std::thread::hardware_concurrency`](https://en.cppreference.com/w/cpp/thread/thread/hardware_concurrency)

(1) assumes that the build machine and the run machine have the same number of cores. (2) may or may not be implemented as completely as (1)

[2020-01-21 22:15] mwkrentel commented on #693
It's a thorny issue, one without a clear, best answer.  Let's split
this into two questions and take them one at a time.

1. At a high level, what do you want openmp/symtab/dyninst client to
do?

2. What's the cleanest, most robust way to implement (1)?

I think (1) has a pretty clear answer: you want to allow the end user
to set the number of threads if s/he wants to, and if not, then
somebody so

[2020-01-21 22:25] stevenagy opened #696 "Obtaining module name from ParseAPI"
Hello all,

I'm using ParseAPI for some inter-/intra-procedural CFG analysis.

One thing I'm trying to do is blacklist shared libraries. In the BPatch API I could easily determine this via the `BPatch_module` class. How can this be done in ParseAPI?

Thanks,
-Stefan

[2020-01-22 19:04] mxz297 commented on #696
I actually can't find an interface for getting the name of an object in ParseAPI. I guess that's probably because to ParseAPI, you need to specify which path to open, so you should know which shared libraries you are dealing with.

[2020-01-22 19:07] mxz297 commented on #693
I don't think elfutils itself contains any openmp pragmas. We only make it thread-safe.

@blue42u is this the case?

[2020-01-22 19:50] blue42u commented on #693
Yes, Elfutils itself is only thread-safe. They use pthreads and atomics directly for synchronization.

[2020-01-22 21:37] stevenagy commented on #696
I'm not sure I understand. I'm just passing in the path to some binary, similarly how I do with the BPatch API.

ParseAPI-based snippet:
[code]

BPatchAPI-based snippet:
[code]

[2020-01-23 20:00] stevenagy commented on #696
I ended up just replacing the initial loop with the BPatch API with ParseAPI conversion. It works!

[2020-01-23 20:00] #696 closed

[2020-01-23 21:10] #694 closed

[2020-01-27 00:12] stevenagy opened #697 "Error building mutator program: "dependent using declaration resolved to type without 'typename'""
Hello all,

I've had success with Dyninst 9.3.2, but am trying to upgrade my program to the latest Dyninst. After installing and building, I've noticed that re-compiling my mutator program fails with the following error: `dependent using declaration resolved to type without 'typename'`. The source line it points to contains just `#include "BPatch.h"`.

Am I doing something completely wrong here? A

[2020-01-27 02:19] hainest commented on #697
Could you post the complete compiler output?

[2020-01-27 02:26] stevenagy commented on #697
Sure thing:

[code]

[2020-01-27 20:37] hainest commented on #697
That's strange. I've not seen this compile error before, and we compile on my platforms. Could you post a minimum snippet/example that replicates the error? Also, what compiler and version are you using? Sorry for the many requests, this is a strange one!

[2020-01-27 20:46] stevenagy commented on #697
No worries, sure thing! Attached is the code (`dynTool.cpp`) and the corresponding `Makefile`.

[dynTool.zip](https://github.com/dyninst/dyninst/files/4119271/dynTool.zip)

[2020-01-27 20:54] hainest commented on #697
Oh, we don't yet support Clang. I'm working on it, though (#631). What compiler did you use to build Dyninst?

[2020-01-27 20:55] stevenagy commented on #697
Ahh that makes sense, I'll try it with gcc. I think I just used the default option which was probably gcc.

[2020-01-27 20:57] hainest commented on #697
Great! Getting clang support onboard is high on my list of things to do.

[2020-01-27 22:14] #697 closed

[2020-01-29 15:07] wcohen opened #699 "The slicing and symbolic evaluation in the dataflowAPI.pdf manual do not compile"
When learning to use the dataflowAPI I copied the examples from the manual in the git repository and attempted to compile them with dyninst-10.1.0-4.fc30.x86_64 on Fedora 30.  The liveness example compiled, but the slicing and symbolic evaluation examples did not.

**Describe the bug**

Copied the body of code for the examples into slice.cc and symbol_eval.cc from Slice.tex and SymEval.tex.  The c

[2020-01-29 16:31] mxz297 commented on #699
@wcohen #700 contains the code changes needed to compile. Please copy the updated code from dataflowAPI/doc/Examples.tex. The PDF is not updated yet, but will be updated soon.

[2020-01-29 20:05] expnkx opened #701 "Any possibility to support C++20 module as a real VM?"
I think it would be interesting if C++20 module could be used as a real VM so we can dynamic linking the C++20 module?

[2020-01-29 20:23] stevenagy opened #702 "Trouble converting BPatch_module to PatchObject"
Hello all,

I'm trying to convert a `BPatch_module` object to a `PatchAPI::PatchObject` using the `convert()` functionality described in the PatchAPI manual: https://www.dyninst.org/sites/default/files/manuals/dyninst/patchAPI.pdf.

I'm parsing the binary as `BPatch_module`'s and converting each to a `PatchObject`, as follows:
[code]
However, compiling this fails with a ton of errors.

Interesting

[2020-01-30 21:27] mwkrentel commented on #693
I looked up how the Intel Math Kernel Library (MKL) handles this.

https://software.intel.com/en-us/mkl-macos-developer-guide-techniques-to-set-the-number-of-threads

They have several knobs, but basically they added their own MKL layer
for controlling the number of threads.  In sort, the order of
precedence is:

 1. mkl_set_num_threads() function call.

 2. MKL_NUM_THREADS environ variable.

 3.

[2020-01-31 00:49] hainest commented on #702
@mxz297 or @sashanicolas Could you take a look at this?

[2020-01-31 04:31] mxz297 commented on #702
It looks like the manual is wrong. Based on code at https://github.com/dyninst/dyninst/blob/master/dyninstAPI/h/BPatch_object.h#L69, we can convert `BPatch_object` to `PatchObject` instead of `BPatch_module`.

[2020-01-31 04:33] mxz297 commented on #699
Closed via #700

[2020-01-31 04:33] #699 closed

[2020-01-31 04:34] mxz297 commented on #692
Closed via #695

[2020-01-31 04:34] #692 closed

[2020-01-31 19:55] hainest commented on #701
Modules are still very much a work in progress by the compiler implementers. As such, the binary layout of modules has not been completed, and it's still way too early to consider this for Dyninst.

[2020-01-31 23:47] hainest opened #707 "Canonicalize platform support"
There is a lot of code floating around in both Dyninst and the test suite for antiquated platforms like AIX, Sun, and BlueGene (see #617 for this one). FreeBSD seems to be supported, but it's never tested. We've also been getting Github issues for Mac and Windows. What about 32-bit platforms (linux-32 is dead)? Do we want to support building with MSVC (it hasn't been tested in years), or just requ

[2020-01-31 23:56] hainest opened #708 "Remove exception specifications"
https://en.cppreference.com/w/cpp/language/except_spec

They were deprecated in C++11 and removed in C++17. Compiling in C++-17 mode will generate errors. This is fairly low priority since we default to C++11, but it's also low effort.

[2020-02-12 05:46] mwkrentel commented on #693
Here's a sketch of a couple ways of handling this.

(1) The Intel MKL approach.

[code]

In this approach, the client explicitly tells Symtab how many threads
it wants.  If it doesn't, then Symtab should step in and enforce a
default value.

The advantage of an explicit call is that if it's not called, then
Symtab knows the client did not act.  No need to guess if
the client set `OMP_NUM_THREADS`

[2020-02-12 06:19] jmellorcrummey commented on #693
If we use OpenMP tasking, then approach (2) is a bit different, which I think would be more comfortable:

My "orphaned parallel constructs" approach

[code]

In SymtabAPI
[code]

The difference between this and what Mark wrote previously is that instead of having K parallel threads all call Symtab::openFile, which is awkward, only one thread calls SymtabAPI::openFile and the parallelism forks a nu

[2020-02-12 23:49] geanoeban opened #709 "Can't find the strcpy() function?"
I simply want to find the strcpy() function from the binary.

The source code of the target binary is as follows :
[code]
The result of disassembling the target binary :
[code]
The assembly code shows that the target binaries obviously call strcpy ().

Then, I have written code to find strcpy () as the example in dyninstAPI documentation.
[code]
The above code outputs a message that strcpy () was

[2020-02-13 19:19] bwelton commented on #709
If I remember correctly, strcpy is an IFUNC in libc ( https://sourceware.org/glibc/wiki/GNU_IFUNC ) and doesn't exist as a callable function in a binary until application startup. At application startup, the loader selects an architecture specific variant of strcpy to use and sets that ifunc to point to it. If you want to instrument strcpy, you (likely) would need to instrument the functions imple

[2020-02-18 16:20] ret2libc opened #710 "Use After Free in PatchBlock.C"
**Describe the bug**
These defects were found with coverity and they look legit.
[code]
Function `PatchBlock::destroyPoints` calls `PatchCallback::destroy(Point *e)` on `points_.entry` (at line 423 of the above snippet of code), which calls `destroy_cb` (defined e.g. in `DynPatchCallback::destroy_cb(Point *p)`) and then it does `delete e`, which runs the destructor of the `Point` class. After that

[2020-02-18 16:36] bwelton commented on #710
Does `delete points_.entry;` deallocate entry and not points? If so, wouldn't`~Point` not be called here?

[2020-02-18 17:06] mxz297 commented on #710
@ret2libc Thanks for running an automated tool on our source code. This piece of code was written long time ago. None of the current developers are familiar with it. So, I appreciate your reports.

I just followed your report and it definitely looks like potential double free errors. Practically, users almost never delete instrumentation points, and that's why we have not encountered this before.

[2020-02-18 17:42] bwelton commented on #710
Ah i misread the tools output, i thought it was talking about lines 424/425 instead of what it was actually describing on 423/424.

[2020-02-19 02:34] hainest commented on #710
If `batching`, it's a use-after-free. Otherwise, it's a double-free. The [`BlockPoints::~BlockPoints`](https://github.com/dyninst/dyninst/blob/master/patchAPI/src/Point.C#L257) also tries to delete the objects that are being deleted on PatchBlock.C:452. This function is chock full of badness.

I don't follow. [`PatchCallback::destroy`](https://github.com/dyninst/dyninst/blob/master/patchAPI/src/Pa

[2020-02-24 18:55] stanfordcox commented on #710
Is this a problem though?  I notice the standard (1) says:
 "the value of the operand of delete may be a null pointer"
(1) http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2013/n3797.pdf

[2020-02-24 22:30] ret2libc commented on #710
@stanfordcox the problem though is that `points_.entry` is not NULL. It is already deleted inside `cb->destroy`, but it is not set to NULL. So the destrunctor is called two times.

[2020-02-25 02:45] stanfordcox commented on #710
ah yes I see that now.  @ret2libc by the way we have also done a coverity run of dyninst and I notice there are a lot of "Error: RESOURCE_LEAK"

[2020-02-25 16:16] wcohen opened #711 "A "make doc_examples_check" to verify that examples in documentation compile"
The examples are likely the first thing that people will try when learning to use Dyninst. It can be frustrating when they don't work as expected. It would be good to proactively check that the examples in the documentation work to avoid issues like:

The slicing and symbolic evaluation in the dataflowAPI.pdf manual do not compile #699

It would be really nice if there was a "make doc_examples_che

[2020-02-25 17:20] wcohen opened #712 "No registers live after x86_64 retq instructions according to liveness query"
I have been experimenting with Dyninst's liveness analysis described in the dataflowAPI manual and wrote a little program that provides a count of the registers live before and after each instruction:

https://github.com/wcohen/quality_info/tree/master/dyninsttools

One thing I noticed was that each retq instruction had zero registers live after the instruction executed. This seems odd with the x8

[2020-02-25 18:14] hainest commented on #711
How do you synchronize your compilable code with the documentation text? Do you have some sort of 'include' macro in your LaTeX?

[2020-02-25 18:46] wcohen commented on #711
Systemtap isn't using LaTeX and the examples are left as normal systemtap files with *.stp and there is a companion *.meta file that describes the example and is used to generate https://sourceware.org/systemtap/examples/.   I haven't thought through how this would be done in LaTeX.  Searching around looks like one can have separate source files pulled in:

https://en.wikibooks.org/wiki/LaTeX/Sour

[2020-02-25 19:05] wcohen opened #713 "Is there a simple way to iterate over the instructions in a basic block?"
It seems pretty easy to iterate over function and basic blocks in a parsed binary.  However, when trying to iterate over the instructions in basic block I didn't find it so easy to iterate over the instructions.  Below is outline of the code from https://github.com/wcohen/quality_info/blob/master/dyninsttools/liveness.C.  I ended up using an Instructiondecoder to find the size of each instruction

[2020-02-25 19:10] mxz297 commented on #711
@hainest We do a lot of different things for the manual...

For ParseAPI, the examples are stored in source files and directly included into latex:

https://github.com/dyninst/dyninst/blob/master/parseAPI/doc/3-Example.tex#L18

For other component libraries, it may directly write examples use source code listing:

https://github.com/dyninst/dyninst/blob/master/symtabAPI/doc/3-Examples.tex#L12

And

[2020-02-25 19:12] mxz297 commented on #713
The typical way I iterate all instructions in a block is illustrated here:

https://github.com/mxz297/dyninst-tools/blob/master/CodeDump/CodeDump.cpp#L30

It is not as clean as you would hope, but should be better than constructing the decoder.

[2020-02-25 19:30] wcohen commented on #712
So the analysis is limited to within a function.  How does the liveness analysis handle calls that leave a function and then return?

[2020-02-25 19:36] mxz297 commented on #712
Still rely on the ABI. For example, for a call instruction, registers that are used for passing the parameters are treated as read.

[2020-02-25 19:52] wcohen commented on #713
The link was very helpful.  I revised my code to use the getInsns() method. Thanks.

[2020-02-25 19:52] #713 closed

[2020-02-25 20:22] wcohen commented on #712
What about the register(s) used to return values for function calls?  Would the liveness analysis possibly get things wrong for a function that calls another function with no arguments but returns a value in register?

[2020-02-25 20:41] mxz297 commented on #712
Similarly, Dyninst treats call instruction reading %rax for this reason:

https://github.com/dyninst/dyninst/blob/master/dataflowAPI/src/ABI.C#L308

Without an inter-procedural analysis, Dyninst will over-approximate the live registers to be safe. An inter-procedural liveness analysis is on my to-do list, but I have not got there yet...

[2020-02-26 22:50] hainest opened #714 "test_reloc failing on x86"
I'm seeing this on the new [coriander](https://bottle.cs.wisc.edu/details/499) with Kernel 5.0 and glibc-2.29. @xmeng reported failures on [gpu.cs.rice.edu](https://github.com/dyninst/dyninst/pull/638#issuecomment-591657029). I will continue to test.

[2020-02-27 15:17] mxz297 commented on #714
gpu.cs.rice.edu has the following spec:

[code]

[2020-03-01 21:41] bin2415 opened #715 "Can't create Symtab object for PE file on linux"
Hi, I am trying to parse `PE` file on Ubuntu 18.04.

Piece of my code is attached:

[code]
 And I got this error:

[code]
Is there a proper way to handle `PE` file on `Linux` platform?

Thanks in advance!

[2020-03-02 22:51] mxz297 commented on #715
Unfortunately we do not support cross OS analysis. So, it is not possible to handle PE files on Linux platforms.

[2020-03-03 01:45] bin2415 commented on #715
Thanks! I will try to build dyninst on windows 10.

[2020-03-03 01:45] #715 closed

[2020-03-03 17:48] wcohen opened #717 "Questionable location list for main.cold function"
**Intention**

Trying to check that each of the location ranges match up with instruction boundaries and are within the function (or global).  Have example code at https://github.com/wcohen/quality_info/blob/master/dyninsttools/locrangechecks.C

**Describe the bug**

When running the locrangecheck tool on the binutils gold linker (ld-new) built on Fedora 30.  A number of the locations are marked a

[2020-03-03 23:48] bin2415 commented on #671
Hi, I built [9.3.2](https://github.com/dyninst/dyninst/tree/v9.3.2) on windows 10 successfully. But when I run dyninst to parse 32 bits PE program, it crashed on [this site](https://github.com/dyninst/dyninst/blob/v9.3.2/parseAPI/src/BoundFactData.C#L721).

It seems that the statements `b->obj()->cs()->getPtrToInstruction(memAddr)` returned zero.

#### Environments:

- compiler: visual studio 2015

[2020-03-04 20:57] sashanicolas opened #718 "Remove BPatch_Vector usage"
Just that! It's been deprecated.

[2020-03-09 23:49] hainest opened #719 "static rewriter failing on x86 with glibc-2.29"
https://bottle.cs.wisc.edu/results/FAILED/521

This is on the upgraded coriander machine with Kernel 5.0 and glibc-2.29. I believe this is the first x86 machine I've tested on using glibc-2.29.

[2020-03-12 15:43] hainest commented on #722
I re-ran current HEAD (4f6f3db) on cayenne three times using the same binaries, and found that test_reloc passed in two of them ([561](https://bottle.cs.wisc.edu/results/FAILED/56), [561](https://bottle.cs.wisc.edu/results/FAILED/561)) and failed in one ([562](https://bottle.cs.wisc.edu/results/FAILED/562)).

@mxz297 Could you try running your version on cayenne a few times to see if you can repro

[2020-03-12 15:45] hainest commented on #714
Merged into #722. Closing.

[2020-03-12 15:45] #714 closed

[2020-03-13 22:22] mxz297 commented on #722
@hainest You are right. I ran the rebased code 5 more times. They all passed.

[2020-03-16 20:36] mplegendre opened #723 "Bad DWARF line mapping for object file"
I'm getting junk line map info from SymtabAPI on a gcc 8.1 compiled object file.  I wrote a small symtab reproducer that opens my object file and prints the line info associated with a few addresses:

% ./symttest
0 -> /usr/tce/packages/gcc/gcc-8.1.0/include/c++/8.1.0/ext/new_allocator.h:140
0 -> /usr/tce/packages/gcc/gcc-8.1.0/include/c++/8.1.0/ext/new_allocator.h:140
1b -> /usr/tce/packages/gcc/

[2020-03-16 21:42] hainest commented on #723
@mplegendre What version of Dyninst are you using? Did you set OMP_NUM_THREADS?

@mxz297 Do you have any thoughts?

[2020-03-17 00:02] kaott opened #724 "Buggy register liveness detection, rdi gets clobbered"
**Intention**
The main intention is to insert instrumentation code at both the entry point of a function and the exit point of a function.  It only seems to be a problem in the instrumentation code that is inserted at the end of the function. Seems to be similar to issue #434.

**Describe the bug**
The instrumentation code involves some syscalls which make use of the rdi register, this register is

[2020-03-17 02:09] hainest opened #725 "Build failure with clang-9 libc++ on Power9"
I don't think this is specific to power, but it's the only platform where I have this variant of clang installed.

[code]

[2020-03-17 14:43] mxz297 commented on #723
I recall that around the scalable tools workshop last year, Matt reported a DWARF problem for a binary compiled with newer GCC. It looks like that since gcc-8, there are new encoding formats in DWARF. So, this is likely one of the new encodings that confuse Dyninst.

[2020-03-17 20:07] mplegendre commented on #723
This was with a Dyninst branch from late last calendar year, which had the (at the time) two pending DWARF fix branches merged in.

master isn't building on RHEL7 for me, so I wasn't able to test it.

[2020-03-17 21:02] mplegendre opened #726 "'make' acts like 'make install'"
While trying to build master to test the DWARF line bug report I made yesterday I did a 'make' command on an existing build area to see if it built.  This 'make' started installing files, as if I'd done a 'make install'.

The build then broke on RHEL7/x86_64--looks like it tried to use the system boost rather than the one DyninstAPI downloaded and installed.

But in the middle of the build it star

[2020-03-18 01:12] hainest commented on #726
Hi, Matt.

This has been [documented](https://github.com/dyninst/dyninst/wiki/Building-Dyninst) behavior since 10.1 was released. The behavior changed in order to have the test suite use the same dependency binaries as Dyninst to fix subtle linker errors that arose when the test suite and Dyninst didn't use the same version of a dependency. The underlying issue is that Dyninst cannot correctly rpa

[2020-03-19 03:31] sashanicolas commented on #724
@hainest do we have a system with libc 2.30?

[2020-03-19 20:13] hainest commented on #724
@sashanicolas No. Ubuntu 19.10 has it, but you'll need to install it in a VM.

[2020-03-21 05:11] bjchan9an opened #727 "BPatch_boolExpr with long type operands."
I have a global variable `` target_inst`` in the shared library, which is given an instruction address at runtime. I use ``BPatch_ifExpr``  at  ``Bpatch_point`` to check if the current address is equal to ``target_inst``. When consulting the documentation, I found that ``BPatch_originalAddressExpr()`` is used to represent the address of the current instrumentation point, but when I created a Boole

[2020-03-21 08:05] bjchan9an commented on #727
I do type conversion on rvalue in instrumentation code：
[code]
And in shared library to be loaded:
[code]
It failed again and the error information is:

[BPatch_addressSpace.C:915] - Type error inserting instrumentation

what is the difference between long unsigned int and unsigned long?

I found that when it comes to the type ``long``, even when using the same type on both sides, problems still o

[2020-03-23 23:19] hainest commented on #691
Moved to #721